[2022-04-14 18:54] Tony363 commented on #298
@LukeWood I would also like to write tutorials, how may I contribute?

[2022-04-14 18:54] Tony363 commented on #299
@LukeWood I would also like to write tutorials, how may I contribute?

[2022-04-14 20:04] LukeWood commented on #299
Thanks for offering @Tony363!  I’m compiling a list of keras.io tutorials that need to be updated to use our components.  I will create a tracking list and from there you can pick some up.

[2022-04-14 20:06] Tony363 commented on #299
I'm currently writing up a proposal for Google Summer of Code. Shall I write a new proposal specifically for documenting and writing tutorials or just add a sub section on my proposal?

[2022-04-14 20:19] LukeWood commented on #299
No need to duplicate the effort, just mention you're interested in contributing tutorials.

[2022-04-15 07:20] LukeWood opened #321 "Handle case where confidence > 1.0 in COCOMaP"

[2022-04-15 11:18] Tony363 commented on #311
@sayakpaul Hello again. I finished drafting the pipeline portion of this issue, "Video Data augmentation & Preprocessing Pipelines - Augmentations", for Google Summer of Code. I am now moving on to draft the portion of this issue on the theme of integrating the augmentor wrapper and the pipeline wrapper together with the main focus of tackling RAM memory requirements to make the final module a lig

[2022-04-15 12:44] sayakpaul commented on #311
Thanks for further thinking through this.

Honestly, I am myself a bit hazy about how does an efficient pipeline look like in this case. I will have consult libraries like `scenic` and also what @bhack shared to develop a general idea.

[2022-04-15 12:47] Tony363 commented on #311
@sayakpaul Shall we leave the final section of the proposal as an "agile" development approach where we leave the remaining time of the GSOC to optimize when issues come up? Because maybe some issues can only be understand hence getting our hands dirty?

[2022-04-15 12:48] sayakpaul commented on #311
Sounds good to me.

[2022-04-15 17:41] bhack commented on #319
@sebastian-sz Honestly It was the scope of https://github.com/keras-team/keras-cv/issues/74 to do this in an orderly manner but it seems that in the end it is quite recurrent to never manage this kind of things in a clean way.

[2022-04-15 18:55] LukeWood commented on #167
@Blank0043 will take this!

[2022-04-15 18:58] bhack commented on #167
Can we assign? It is easier to filter unassigned "contribution-welcome"..

[2022-04-15 19:00] bhack commented on #291
Do you have talked about this internally between teams? Any action item?

[2022-04-15 19:09] LukeWood commented on #167
not until they comment.

[2022-04-15 19:18] LukeWood commented on #321
This might actually error out right now.

[2022-04-15 19:24] LukeWood commented on #299
https://github.com/keras-team/keras-io/pull/852

[2022-04-15 19:24] #299 closed

[2022-04-15 19:24] LukeWood commented on #298
https://github.com/keras-team/keras-io/pull/852

[2022-04-15 19:24] #298 closed

[2022-04-15 19:24] LukeWood commented on #298
https://github.com/keras-team/keras-io/pull/852

[2022-04-15 19:25] LukeWood commented on #206
https://github.com/keras-team/keras-io/pull/852

[2022-04-15 19:25] #206 closed

[2022-04-15 20:51] wangpengmit commented on #291
We (the TF core team) don't monitor keras-team/keras-cv . The issue needs to be reposted to tensorflow/tensorflow to be under our radar.

[2022-04-15 20:58] bhack commented on #291
@wangpengmit I understand but here it is really a boundary topic.  What kind of ticket do you want for TF (core)? Just for the missing converters?

[2022-04-15 21:06] blank0043 commented on #167
I will take this one

[2022-04-15 21:10] wangpengmit commented on #291
It can be just a title and a link to this one. TF has a system for alerting TF developers of tensorflow/tensorflow issues.

[2022-04-15 21:15] bhack commented on #291
Ok let see what we can do in TF at https://github.com/tensorflow/tensorflow/issues/55639 and what we need to change in Keras-cv

[2022-04-16 14:14] bhack commented on #245
We could close this

[2022-04-16 18:07] LukeWood opened #323 "COCOMaP does not actually handle cases where bounding boxes are not equal in all images! (ragged)"
Discovered this yesterday, will need to fix asap.

[2022-04-16 19:38] #245 closed

[2022-04-16 22:14] GustavoElizarraras commented on #225
Hi! I will submit this as my GSoC proposal (with the related issues). Before the program starts I would like to start familiarizing on how this should be done. I have seen related issues that have links to the code implementing visualizations, but I don't undestand what the differences are going to be. Any ideas about how I can start would be really helpful, thanks in advance!

[2022-04-16 23:33] innat opened #324 "Convolutional Block Attention Module"
https://arxiv.org/abs/1807.06521
Cited by 4701

[2022-04-16 23:41] bhack commented on #324
https://github.com/tensorflow/models/blob/master/official/vision/beta/projects/yolo/modeling/layers/nn_blocks.py#L1333

[2022-04-17 15:28] Tony363 commented on #311
@sayakpaul Sorry for asking again. I contemplated whether to add an embedding visualization aspect to the Video preprocessing data pipeline. Would you know of any existent keras native embedding visualization tools? Im exploring tensorboard right now, but it seems most of its feature are for training model callbacks?

Im also wondering if there are ways to speed up feature extraction from base cnn

[2022-04-17 18:58] Tony363 commented on #311
I think i finished my rough draft of my proposal. Please check it out~

[2022-04-17 20:10] LukeWood opened #325 "Design dataset loading utilities"
Recently I went through the process to load a bounding box dataset from a CSV file and a directory of images.  I think there are some nice abstractions we could offer to help in this process.

I’ll post more details after thinking more about API design.  Feel free to leave comments of ideas here.

[2022-04-17 20:12] bhack commented on #325
Like https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/object_detection/kitti.py ?

[2022-04-17 20:18] bhack commented on #325
We we start to talk about dataset adapters I think a lot will have to be thought about whether, with the limited resources available, we want to compete with TFDS in the ecosystem or cooperate.

[2022-04-17 23:18] LukeWood commented on #325
The goal of KerasCV is to offer the most cohesive, pleasant user experience possible for training state of the art computer vision models.  TensorFlow datasets is a full featured powerful API that is quite nice to use.  To me, doesn’t mean that there’s no space for a layer of abstraction that fits together coherently with KerasCV.

I think this comment represents my thoughts on all of the discussi

[2022-04-17 23:27] LukeWood commented on #325
Regarding TFDS: I’m not envisioning utilities for specific datasets, but rather utilities to load custom datasets that abide to specific formats with tf.data.

[2022-04-17 23:31] bhack commented on #325
Let see what do you want to introduce pratically here when you have detailed this idea.

Keras has a BDFL governance so I just share  an opinion.

My opinion Is that if you start to overfit coherence you could go to duplicate/overlap more then cooperate as you need to stay inside your perimeter to maintain the API design control.

[2022-04-17 23:35] LukeWood commented on #319
No, this is a good issue to have open.  TFA is not the same as the Keras API, even if some of the objects are in fact Keras `Layer` objects.  TFA is a great place to look at reference implementations, but we should not expect users to install TFA to use KerasCV.  Users should be able to coherently use KerasCV end to end using only KerasCV, Keras core, and TensorFlow core components (i.e. tf.data).

[2022-04-17 23:37] LukeWood commented on #74
@bhack It is organized to keep discussions regarding duplication to this issue.  Re: the focal loss discussion here:

What do you have in mind regarding a clean and orderly way to manage migration?  As it stands now, we are opening PRs here, holding API design reviews, and pulling ideas from various reference implementations.  To me, this is organized, orderly, and *most* importantly delivers the

[2022-04-17 23:40] LukeWood commented on #309
Hey @Tony363!  Thanks for your excitement about the project!  As of now this is assigned to @divyashreepathihalli  as of now as she will be working on adding bounding box augmentation to many KPLs.  Check out our contributors guide on how to get started contributing!  I maintain a "Contributions welcome" label for contributors here:

https://github.com/keras-team/keras-cv/issues?q=is%3Aopen+is%3Ai

[2022-04-17 23:41] #292 closed

[2022-04-17 23:54] bhack commented on #74
I've a quite clear view on how to do this but I've reached the limit with my OSS/Gitbub visiblity.

I personally hoped not to make TF-addons slowly obsolete  PR after PR on this repository  just out of respect for the many years invested by its community of volunteers.

I've tried to open this to sit down and identify how many TF addons components we want to replicate/refactor here and to eventual

[2022-04-17 23:58] LukeWood opened #326 "Update README and ROADMAP"
We now have a much clearer coherent goal in mind for the repo.

the repo should reflect this.

[2022-04-18 05:51] innat commented on #259
Partially related. https://github.com/tensorflow/tensorflow/issues/55646

[2022-04-18 06:10] kartik4949 commented on #325
@LukeWood
I did similar work on this
https://github.com/kartik4949/TensorPipe

Features:

* Automatic loading of bounding box data, mask data, key points data, classification data.
* State of the art augmentation
* prefetch, optimised pipeline, caching, etc optimisation inbuilt pipeline
* custom injection of lumpy function in your tf dataset pipeline.
* extreme configuration and flexibility.

[2022-04-18 06:10] kartik4949 commented on #325
@LukeWood
I did similar work on this
https://github.com/kartik4949/TensorPipe

Features:

* Automatic loading of bounding box data, mask data, key points data, classification data.
* State of the art augmentation
* prefetch, optimised pipeline, caching, etc optimisation inbuilt pipeline
* custom injection of lumpy function in your tf dataset pipeline.
* extreme configuration and flexibility.

[2022-04-18 06:11] kartik4949 commented on #325
basically an advance Keras image generator but for mask, bboxes, etc.

[2022-04-18 06:19] innat commented on #296
@LukeWood @qlzh727
Could u please give some feedback on this and also https://github.com/keras-team/keras-cv/issues/297?

[2022-04-18 10:02] innat opened #327 "Run Length Encoding/Decoding utility"
## Describe the feature
Run-Length-Encoding or **RLE** is one of the encoded annotation formats mostly for the segmentation task. It would be nice to have a **utility** function to **encode** and **decode** segmentation mask to and from **RLE**.

(To whom it may concern: [What is RLE](https://www.youtube.com/watch?v=h6s61a_pqfM) - [Issue](https://github.com/cocodataset/cocoapi/issues/184))
(To who

[2022-04-18 13:12] Tony363 commented on #311
@sayakpaul Just submited my GSOC proposal! See you on the other end of things or I might as well start contributing now since Ill be working on my research project data pipeline anyways~

[2022-04-18 14:38] bhack commented on #259
https://github.com/tensorflow/tensorflow/pull/55529 was just merged, you need to wait the next nightly.

`while_loop` fallbacks are handled instead at https://github.com/keras-team/keras-cv/issues/291

[2022-04-18 15:35] bhack opened #328 "Mscoco: Sort bboxes before picking top detections"
bboxes are not sorted before picking top max_detections: https://github.com/keras-team/keras-cv/issues/222#issuecomment-1089073856

[2022-04-18 16:58] LukeWood commented on #259
Woot.  Great news.

[2022-04-18 17:28] qlzh727 commented on #296
Yea, I think we can host this here (adding this to keras repo might need more extended API review and requirement). We should put this to keras_cv/losses folder.

[2022-04-18 17:55] bhack commented on #296
@gamenerd457 Green light for a PR here.

[2022-04-18 23:18] LukeWood commented on #296
yeah seems like a great fit!

[2022-04-19 06:37] innat opened #330 "Hausdorff Distance / Loss function"
From wiki

It can be used for point cloud similarity metrics, keypoint detection, segmentation task, etc. For example, in an ongoing kaggle comp [**UW-Madison GI Tract Image Segmentation**](https://www.kaggle.com/competitions/uw-madison-gi-tract-image-segmentation/overview/evaluation), a 3D version of Hausdorff distance is used as one of the metrics to evaluate.

I think it's a useful loss functio

[2022-04-19 07:47] innat commented on #259
@bhack (cc. @LukeWood )
So, it will be ok with `tf.random.shuffle`? With the current implementation, as far as I remember, we have two issues, (a) `shuffle` function fallback to CPU, and (b). it requires wrapping with [`tf.stop_gradient`](https://github.com/keras-team/keras-cv/issues/259#issuecomment-1091127096). So, with [this](https://github.com/keras-team/keras-cv/issues/259#issuecomment-110146

[2022-04-19 10:25] bhack commented on #259
(a) It fallback on while_loop not a CPU fallback
(b) It Is solved but we don't have a gradient.

[2022-04-19 12:58] bhack commented on #259
@bhack Also if we don't have already XLA compile control API with its own CI coverage (last point in https://github.com/keras-team/keras-cv/issues/291) I propose to use `tf.random.shuffle` if the stateless nature of `tf.random.index_shuffle` isn't mandatory for this project (see https://github.com/keras-team/keras-cv/issues/258).

Both don't have a PFOR converter (see again https://github.com/kera

[2022-04-19 15:08] gamenerd457 commented on #296
So should I make a pr here

[2022-04-19 17:52] Tony363 commented on #309
@LukeWood where do i find the contributors guide? should I find it from the GSOC organizations information or the KerasCV repository readme?

[2022-04-19 17:58] Tony363 commented on #309
@LukeWood So the next thing i should do is the fork Keras-CV and start familiarizing myself with the code and communicate with possible individuals involved to understand the changes I should make?

[2022-04-19 18:32] LukeWood opened #331 "Update documentation for RandAugment"
Elie pointed out to me that more highly parameterized networks should have higher RandAugment magnitudes.  This needs to be documented

[2022-04-19 19:22] LukeWood commented on #309
Sure sounds great!  Picking issues up off that list is the way I would recommend starting your path to contributing!

[2022-04-19 20:37] LukeWood commented on #296
If the loss easily confirms to the Keras loss API (y_true, y_pred) then yes!

[2022-04-19 20:40] bhack commented on #296
@LukeWood The intention was to port/refactoring @gamenerd457's Addons PR https://github.com/tensorflow/addons/pull/2558/files

[2022-04-20 09:06] innat commented on #296
@gamenerd457 (cc. @bhack @LukeWood @qlzh727 )

Some refactoring may be needed, (i.e. subclassing the `tf.keras.losses.Loss` class). I think you can start working on it, either you can move PR from tf-addons or create a new one here. The implementation confirms the keras loss API.

Also please follow the implementation details from [segmentation_models/losses.py](https://github.com/qubvel/segmentat

[2022-04-20 09:53] innat opened #333 "Perspective preprocessing layer"
![sphx_glr_plot_transforms_008](https://user-images.githubusercontent.com/17668390/164201951-76e50e38-484b-475e-8162-45a1c3f5b3fb.png)

Reference.
- t[orchvision.transforms.functional.perspective](https://pytorch.org/vision/stable/generated/torchvision.transforms.functional.perspective.html)
- [albumentations.augmentations.geometric.transforms.Perspective](https://albumentations.ai/docs/api_refere

[2022-04-20 10:51] innat commented on #163
Some starters in python. https://gist.github.com/fmder/e28813c1e8721830ff9c

[code]
[code]

![download](https://user-images.githubusercontent.com/17668390/164215271-6681716b-d3c6-44b3-a2e5-05bf5d40b0e2.png)

[2022-04-20 16:33] LukeWood commented on #296
What are some use cases for per_image?

Also note that in keras we won't support `class_weights`; instead, we will support `sample_weights` in call.

[2022-04-20 16:34] #310 closed

[2022-04-20 16:38] LukeWood commented on #333
Interesting, do we have any research on the usefulness of this @innat ?  I ask because this produces a lot of black pixels which eventually are learned as features by CNNs.  This is NOT good and is a waste of parameters + a bad fit on the training distribution.  If KerasCV can implement this using our `transform` helper it will mirror, which may be better

[2022-04-20 16:44] innat commented on #333
Didn't look for yet. For me, as `torch` provides this feature, that's my reference for now.

TBH, if there is no research paper, we can't say it would be good or bad from common sense. We need to study. If we explicitly claim it's not good, we may need to provide an empirical study on it.

[2022-04-20 16:47] innat commented on #296
From [HERE](https://github.com/qubvel/segmentation_models/blob/94f624b7029deb463c859efbd92fa26f512b52b8/segmentation_models/losses.py#L70).

        else loss is calculated for the whole batch.

Enabling it to `True` provides a performance boost depending on the task.

[2022-04-20 17:35] LukeWood opened #336 "CutOut should support fill_mode="mirror""
This is actually a great "research" project in that this should strictly be better than using noise and black pixels.

[2022-04-20 17:46] LukeWood opened #337 "[Design] Video support for augmentation layers"
Some major considerations:

- augmentations like jitter, shear, etc should be consistent (or slowly change) throughout videos.
- performance
- consistency with our ecosystem

[2022-04-20 17:50] LukeWood commented on #149
When we do this, we can add a parameter to determine the interpolation style.  This will allow us to preserve the numerical_tests/ directory.  Let's make the curve interpolation the default though, as it is the more mathematically correct approach.

AUC has an implementation of this:
https://github.com/keras-team/keras/blob/v2.8.0/keras/metrics.py#L2046-L2533

[2022-04-20 17:50] LukeWood commented on #149
This would be a great enhancement, but is significantly complex.  an experienced TF user could take this on!

[2022-04-20 17:53] innat commented on #336
Can you add some references, sounds interesting.

[2022-04-20 18:19] blackhat-coder commented on #330
Hi @innat, I'm interested in implementing this

[2022-04-20 18:35] bhack commented on #149
I think this is important:

1.  We still need to fix bugs that we have in there current implementation
2. We need this for reproducibility. I suppose that performance tables in papers are related to the `cocoeval.py` version.

[2022-04-20 18:39] innat commented on #330
@qlzh727 @LukeWood WDYT?

[2022-04-20 18:58] bhack commented on #330
It is not in the Keras loss API format but we could be inspired also by other TF ecosystem official implementations:

https://github.com/tensorflow/graphics/blob/master/tensorflow_graphics/nn/loss/hausdorff_distance.py

[2022-04-20 19:01] bhack commented on #163
We could take a look at:

https://github.com/tensorflow/addons/blob/v0.15.0/tensorflow_addons/image/sparse_image_warp.py

[2022-04-20 19:46] sebastian-sz commented on #295
I'm not sure if it's possible to use these layers "as is" with bounding boxes (or segmentation maps).

For example, one would have to determine whether the augmentation actually took place and we don't know this unless we look at image pixels. Also, in case of more complicated layers (RandomZoom) to transform boxes one would need to know "how much" is each of the images zoomed. We also don't know

[2022-04-20 20:00] innat commented on #295
All these layers are assigned to @divyashreepathihalli. I think they have a plan.

[2022-04-20 20:28] #254 closed

[2022-04-20 20:39] LukeWood commented on #336
There are references out there for mirroring in random translation and rotation, but not random erasing or cut out.   The logic *should* in theory extend to cutout, but I do not have definitive proof.  That's why this is also somewhat of a research effort.  Happy to collaborate with anyone on benchmarks if they are interested...

[2022-04-20 20:39] LukeWood commented on #295
Yep - closed.

[2022-04-20 20:39] #295 closed

[2022-04-20 20:49] bhack commented on #336
Are you talking about (https://arxiv.org/pdf/1708.04552v2.pdf):

![immagine](https://user-images.githubusercontent.com/1710528/164320214-b72a5a87-ab0c-469f-958a-b4ffc4781f00.png)

 or something else?

[2022-04-20 21:09] LukeWood commented on #333
There is research that CNNs learn the black pixels and sharp edges as features - even if not for this specific component.

[2022-04-20 21:10] bhack commented on #336
We have some experimental results with patch gaussian as an alternative "fill_mode" for cutout:

https://arxiv.org/abs/1906.02611

[2022-04-20 21:11] LukeWood commented on #296
Cool, we will need to include this in the docstring.  Seems like a match!

[2022-04-20 21:15] bhack commented on #333
https://github.com/tensorflow/tensorflow/issues/53384

[2022-04-20 21:17] innat commented on #333
I understand your concern. But I don't think this component is unfit here.

Having black pixel in image, and whether it's good or bad thing for CNN is totally a different topic to discuss. Gridmask, Cutout are also introduce black pixels but still it's fine to have them.

[2022-04-20 21:17] LukeWood commented on #74
Hi @bhack - I've done some reading, discussion, etc and have the following response to the issue about duplication of components.

The role of TF-Addons doesn't change -- a community-contributed set of extensions to TF and Keras APIs that are too niche to be included in core TF or core Keras (including KerasCV and KerasNLP).

It has always been the case that TF-Addons components are expected to po

[2022-04-20 21:20] LukeWood commented on #149
they are.  But their numbers can't truly be considered ground truth; if I understand correctly, they use the segmentation map to filter area for bounding boxes in ground truths.  This is clearly not correct.

[2022-04-20 21:21] LukeWood commented on #333
Sure; that is fair enough.  Here is a question: how does this compare to random translation + random shear?  Is it sufficiently distinct?  If so, happy to take it.

[2022-04-20 21:22] LukeWood commented on #326
Done.

[2022-04-20 21:22] #326 closed

[2022-04-20 21:43] bhack commented on #74
This was historically very confusing and we are full of examples in these years with components duplicated, in some case just after few weeks from when the component was reviewed and contributed in Addons.

Also we have almost the same papers citations threshold in Keras-CV and Keras-NLP and TF Addons so I have some strong doubt about the "too niche" claim as I think that not so much people are in

[2022-04-20 21:57] LukeWood commented on #149
This is a separate thread of work as this will not impact `numerical_tests/` at all.  If someone wants to pick this up, feel free!

[2022-04-20 22:25] bhack commented on #149
When I reimplement something I need to reproduce paper numbers. When we will have fixed the bugs we could reason about if we want to have a `cocoeval` compatibile flag or not if the drift Is still relevant.

My comment was strictly related to:

[2022-04-20 22:46] LukeWood commented on #149
My comment is that this should be an optional parameter.  This is distinct from the issue of accuracy of the original implementation.  Let's try to would like to keep discussions focused and issue threads related to the issue.

If we don't contributors will be confused by the massive amount of information.  A contributor who wants to tackle this issue needs to know that this should be implemented

[2022-04-20 22:52] bhack commented on #149
Ok, so what do you mean with this claim? It was meant that there was an hypotesis/evaluation to not preserve numerical_tests?

[2022-04-20 22:52] LukeWood commented on #222
Some comments from @bhack on this topic:

[2022-04-20 22:53] LukeWood commented on #149
cocoeval.py uses an averaging of points to compute the area under curve.  I am proposing we use a more sophisticated method for higher mathematical accuracy.  This will produce results different from cocoeval.py because they do not do this.

[2022-04-20 22:57] bhack commented on #149
Ok so my reproducibility comment was still valid and related to that comment as I was just forcing that it is better to preserve numerical test compatibility (eventually with an optional flag).

[2022-04-20 23:05] LukeWood commented on #149
API wise:

This should mirror the pattern used in the `tf.keras.metrics.AUC` metric.

Users can specify which summation method to use in the AUC interpolation:
https://github.com/keras-team/keras/blob/master/keras/metrics/metrics.py#L1646

[2022-04-21 00:51] quantumalaviya commented on #319
@LukeWood I can work on this!

[2022-04-21 00:51] quantumalaviya commented on #113
@LukeWood I can work on this loss as well!

[2022-04-21 06:05] LukeWood commented on #327
Great to know about this format @innat.  Thanks for the reference!  I will read up on this more in the coming weeks as we get closer to being ready to begin segmentation map support.

[2022-04-21 06:06] LukeWood commented on #325
Thanks @kartik4949 for the reference!  I think we can separate out data loading and augmentation to make things customizable, but we should provide easy to use documentation on how to combine them.

[2022-04-21 06:06] LukeWood commented on #321
Fixed in recent PR.

[2022-04-21 06:06] #321 closed

[2022-04-21 06:06] LukeWood commented on #323
Fixed in recent PR.

[2022-04-21 06:06] #323 closed

[2022-04-21 06:16] kartik4949 commented on #325
@LukeWood thanks for taking a look at the library, seems like ill work on the library again, and will refactor it a bit :)

and YES
data loading should be separated out from augmentations.

I feel like, its the api design that will make this stand out!

My thoughts:

[code]

[2022-04-21 06:18] LukeWood commented on #325
I'm still not fully sure what we want to offer here; this will require a lot of consideration with respect to:
- TPU distribution
- tfrecord preparation
- etc

Basically, we want to offer something useful and unique; not reinvent the wheel.  Its not clear to me exactly what this will look like, but my hope is that as we go through the process of creating some training templates this becomes cleare

[2022-04-21 06:19] LukeWood commented on #324
Yep, highly cited and used.  makes sense; perhaps as a part of the upoming training templates effort.

[2022-04-21 06:20] kartik4949 commented on #325
make sense!

[2022-04-21 14:01] innat commented on #333
Hmm, that's a tactic question. Not sure about translation but **shear** and **perspective** or projective transformation follow similar nature with a subtle difference I think. I need to look at the mathematical differences if any.

![image](https://user-images.githubusercontent.com/17668390/164472740-bc1ca995-cb79-491d-8bd8-9861b53d21a7.png)
[source](https://www.researchgate.net/publication/30971

[2022-04-21 14:12] innat commented on #327
Cool.
Let me know if anything is ambiguous, would love to break it down. This utility might be useful in the data loading pipeline.

[2022-04-21 15:19] #142 closed

[2022-04-21 15:50] bhack commented on #333
They are not the same as shear and transform are affine transformations.

It could be still expressed by Keras `transform` API.

IMHO I will evaluate this not on as a KLP layer:

https://arxiv.org/abs/2201.05706

[2022-04-21 17:08] LukeWood commented on #333
Thanks for the reference.  I see - there is definitely a subtle difference here!

Sorry for the quick "game of 20 questions" @innat - wanted to make sure I understand the component completely.  Seems like a good fit.  The layer can be based on RandomShear.

[2022-04-21 17:09] LukeWood commented on #142
Thanks again @innat !

[2022-04-21 18:08] qlzh727 commented on #341
Moved back to keras-cv. I think we would like this to be more cv specific, eg for bounding box etc. We will keep this in keras-cv for now, until we feel there are generic use case support in core keras.

[2022-04-21 18:13] qlzh727 commented on #341
Feel free to send PR to keras-cv/losses.

[2022-04-22 04:08] fchollet commented on #74
Hi Stefano,

Our key point here is that TF Addons serves a valuable purpose in the ecosystem, and the purpose of KerasCV is not to be replacement for TF Addons CV tooling. We hope that folks will contribute to TF Addons **and** KerasCV. We value all contributions.

It is inevitable that there will be some duplication of functionality. That's fine, and we can live with it. In any large ecosystem, t

[2022-04-22 05:43] sebastian-sz opened #343 "Fix Dropblock2d's serialization issue."
Two things:

1. I noticed recently most preprocessing layers have been decorated with:
`@tf.keras.utils.register_keras_serializable(package="keras_cv")`
this could also be added to DropBlock I think.

2. When attempting to deserialize a model with this layer, one will encounter error, most likely **kwargs are missing from init.
[code]

`TypeError: __init__() got an unexpected keyword argument 'tra

[2022-04-22 06:02] LukeWood opened #344 "Re-examine dropblock parameter names"
i.e. https://github.com/keras-team/keras-cv/blob/master/keras_cv/layers/regularization/dropblock_2d.py#L142

I think `rate` is probably actually more descriptive.

Similarly, https://github.com/keras-team/keras-cv/blob/master/keras_cv/layers/regularization/dropblock_2d.py#L143 dropblock_size can probably just be block_size.

[2022-04-22 06:02] LukeWood commented on #343
Definitely looks like a bug!  We should add a serialization test to its unit tests as well.

[2022-04-22 06:04] LukeWood opened #345 "Move serialization_test.py to a central location"
all components should support serialization; not just KPLs.  An example of where we failed to catch a component missing this is:
https://github.com/keras-team/keras-cv/issues/343

We can fix this 343 first, then refactor serialization_test.py to incorporate it later.

[2022-04-22 06:06] LukeWood commented on #227
Hey @innat - do you happen to know if GradCam++ is strictly better than GradCam and if the API would differ at all?

Thanks for any information!

[2022-04-22 06:24] sebastian-sz commented on #344
Personally I am ok with these changes. I can add them to #346 . Also if `**kwargs` are present, I guess explicit `name` argument can be also removed?

[2022-04-22 10:30] innat commented on #227
As far as I know, not strictly but it's kinda a generalized version of grad-cam. [Here](https://www.mdpi.com/2313-433X/7/7/106) is a review article regarding them, it shows that the results are comparable.

[2022-04-22 10:33] bhack commented on #74
I honestly don't think that cerry-picking arguments to support one's thesis that doesn't adhere to what happens every day in TF/Keras  repositories and Github Orgs will help us to solve real problems that don't want to be acknowledged.
I think we are not aligned as we have two different points of view:

the competition between internal teams is natural and also encouraged I presume but from the ex

[2022-04-22 10:36] #74 closed

[2022-04-22 15:00] LukeWood commented on #344
True on the second point.

Let’s keep your PR focused to the first change - smaller PRs tend to be a lot easier to review and require a different set of approvals (I.e. I also want Scott’s opinion on the parameter naming)

[2022-04-22 17:14] frostbyte012 commented on #333
I am interested in taking this and wanted to work on this layer cam I take this?

[2022-04-22 18:14] LukeWood opened #347 "Create a bounding box utility to pad bounding box batches to max size in batch"
So...

the output tensor shape will be:

[code]

None represents max # boxes in the batch.

[2022-04-22 18:15] LukeWood opened #348 "Document bounding box padding utilities thoroughly"

[2022-04-22 18:18] kartik4949 commented on #347
much needed utility for create object detection dataset iterable :)

[2022-04-22 19:03] #343 closed

[2022-04-22 19:26] pranavjadhav001 opened #349 "random shear demo input parameters wrong"
class RandomShear [https://github.com/keras-team/keras-cv/blob/master/keras_cv/layers/preprocessing/random_shear.py](url) takes x_factor and y_factor as parameters but in random_shear_demo.py [https://github.com/keras-team/keras-cv/blob/master/examples/layers/preprocessing/random_shear_demo.py](url) it is x and y, throws TypeError: ('Keyword argument not understood:', 'x') error

[2022-04-22 19:52] LukeWood commented on #349
Yes this looks like a bug.  Thanks @pranavjadhav001 for pointing this out!  Feel free to submit a fix.

[2022-04-22 19:54] pranavjadhav001 commented on #349
Sure @LukeWood . Will take it up.

[2022-04-23 00:53] LukeWood opened #351 "pad_bounding_box_batch_to_shape must support graph mode."
Currently it relies on .shape, so it does not support graph mode.

This also should be unit tested; this is a request from an early user.

[2022-04-23 02:15] LukeWood opened #352 "Expose `BaseImageAugmentationLayer` to users"
I'd like to offer BaseImageAugmentationLayer as a KerasCV API.  This will allow our users to subclass this layer and use their own BaseImageAugmentationLayers within `RandomAugmentationPipeline`s.

Additionally: this is fantastic for us as a library because if people start using this layer, we may integrate their implementations into the library!

I will write a keras.io tutorial on how to do this

[2022-04-23 19:43] Tony363 commented on #163
@innat is there a style guide or API method guide in which i should implement this feature to? I hope to follow up on this and look into what i can do about this after my midterms, after 2-3 days.

[2022-04-23 20:02] #349 closed

[2022-04-24 06:45] innat commented on #163
I'm not sure what you're looking for. For style guide or API method guide, is [this](https://github.com/keras-team/keras-cv/blob/master/.github/API_DESIGN.md) sufficient? For implementation references, you can follow the following reference implementation.

- [ElasticTransform](https://github.com/albumentations-team/albumentations/blob/master/albumentations/augmentations/geometric/transforms.py#L1

[2022-04-24 07:22] Tony363 commented on #163
I was just thinking if there are any strict coding style I should follow or any KerasCV API design pattern i should keep in mind during implementing the different object classes and methods. If there isn't, it's fine. I'll just be proactive, ask questions and aim to pass the unit tests

[2022-04-24 08:12] innat commented on #336
The `fill_mode="mirror"` sounds like a `fill_mode="reflect"`.

[2022-04-24 09:48] kartik4949 commented on #352
Yup, Really good idea!
 its like user can implement his niche augmentation layer, and use it.
while we can hook it up with library if it is useful.

[2022-04-24 10:04] bhack commented on #336
The patch gaussian has a good citations threshod (>100).

There is a TF implementation at page 15.

I don't know if It Is better to spent time on something that has already some experimental results already.

[2022-04-24 11:12] innat opened #355 "Add RandomRain preprocessing layer"
## Weather Augmentation

One of the real-world scenarios that pose challenges for training neural networks of Autonomous vehicles

![output_27_0](https://user-images.githubusercontent.com/17668390/164973608-66059cd2-9920-4447-99fa-a996fb94cd79.png)

Impl. Ref.

- https://github.com/UjjwalSaxena/Automold--Road-Augmentation-Library
- https://albumentations.ai/docs/api_reference/augmentations/transfo

[2022-04-24 11:13] innat opened #356 "Add RandomFog preprocessing layer"
## Weather Augmentation

One of the real-world scenarios that pose challenges for training neural networks of Autonomous vehicles

![output_30_0](https://user-images.githubusercontent.com/17668390/164973684-3b203d52-7e92-473f-b14c-877d0a88e5bb.png)

Impl. Ref
- https://github.com/UjjwalSaxena/Automold--Road-Augmentation-Library
- https://albumentations.ai/docs/api_reference/augmentations/transform

[2022-04-24 11:15] innat opened #357 "Add RandomSnow preprocessing layer"
## Weather Augmentation

One of the real-world scenarios that pose challenges for training neural networks of Autonomous vehicles

![output_20_0](https://user-images.githubusercontent.com/17668390/164973749-686a78cc-378f-4e76-b99f-cb488b76ae9a.png)

Ref. Imple.

- https://albumentations.ai/docs/api_reference/augmentations/transforms/#albumentations.augmentations.transforms.RandomSnow
- https://git

[2022-04-24 11:17] innat opened #358 "Add RandomSunFlare preprocessing layer"
## Weather Augmentation

One of the real-world scenarios that pose challenges for training neural networks for Autonomous vehicle

![output_39_0](https://user-images.githubusercontent.com/17668390/164973817-fee5266c-bbfb-4424-a502-6cb56f8b8b6d.png)

Ref. Imple.

- https://github.com/UjjwalSaxena/Automold--Road-Augmentation-Library
- https://albumentations.ai/docs/api_reference/augmentations/transf

[2022-04-24 11:19] innat commented on #43
Implementation Ref.
https://albumentations.ai/docs/api_reference/augmentations/transforms/#albumentations.augmentations.transforms.Superpixels

[2022-04-24 11:26] innat opened #359 "Add CLAHE preprocessing layer"
CLAHE is a variant of Adaptive histogram equalization (AHE) which takes care of over-amplification of the contrast. It's well-used in medical imaging practice.

![image](https://user-images.githubusercontent.com/17668390/164974125-050b7c10-4525-47a9-9441-335c00b08c17.png)

(original image (left) - HE (middle) - CLAHE (right))
[source.](https://chowdera.com/2021/09/20210930171712779O.html)

[2022-04-24 11:29] innat commented on #359
@isears
Isaac made a [PR](https://github.com/tensorflow/addons/pull/2362) about CLAHE on TensorFlow-Addons. It's not merged yet. I think we can move it to KerasCV. His implementation produced

![105634900-e98c0280-5e25-11eb-8ce7-ed7d7b09f5ec](https://user-images.githubusercontent.com/17668390/164974250-760f5223-11c1-416b-8363-16382add69c6.png)
(his o/p on the most right side).

[2022-04-24 17:15] bhack commented on #336
https://github.com/tensorflow/models/blob/master/research/object_detection/core/preprocessor.py#L2793

[2022-04-24 19:26] innat commented on #336
@bhack Thanks for sharing this information, very useful. It's definitely an effective option.

[2022-04-24 20:13] innat commented on #358
It can be broken down into two sub-task

- create synthetic flare programmatically
- add flare realistically

To add flare, one may check [Flare Removal](https://yichengwu.github.io/flare-removal/) project, and code [HERE](https://github.com/google-research/google-research/blob/cc541f305573bdac0ccd93420e797ac898e0b4d1/flare_removal/python/synthesis.py#L24).

(syth. data - flare added)
![image](htt

[2022-04-25 01:58] LukeWood opened #361 "Update the benchmarking script to accept an arbitrary BaseImageAugmentationLayer subclass"
This will allow us to make the decision on whether or not to JIT compile specific layers

[2022-04-25 01:59] LukeWood commented on #355
Great ideas @innat!  Thank you!

[2022-04-25 04:49] LukeWood commented on #359
Yep!   medical imaging is in scope.  Happy to take a PR for medical imaging related preprocessing layers.

[2022-04-25 13:50] isears commented on #359
@innat It will be at least a month before I can work on porting my tensorflow-contrib PR to keras-cv. If you would like, you could use my code to open up your own PR.

[2022-04-25 14:09] kartik4949 commented on #358
quite useful augmentation for Adas systems

[2022-04-25 17:58] innat commented on #358
yes, it's also useful for the agricultural-based solution, for example, [wheat detection.](http://www.global-wheat.com/2020-challenge/), [samples](https://www.kaggle.com/competitions/global-wheat-detection/data?select=train)

[2022-04-25 18:16] innat commented on #359
@isears thanks for the update. I'm screening some other components to send PR. So, I can move forward with clahe after that. In the meantime, if you start working on your implementation, please feel free to send PR. -)

[2022-04-25 20:35] pranavjadhav001 opened #364 "Batch testing for RandomShear bbox augmenation feature"
I've created RandomShear bbox augmentation feature and was testing. I'm not able to test batch feature since tfds object detection datasets produce padded images for a batch with no info of image's original shape which is required for unnormalizing bbox coordinates. Is there any other efficient way to test this?

[2022-04-25 23:53] blackhat-coder commented on #330
Hi @innat
Currently there's no `Losses` Folder in `keras-cv` to house loss functions
Do I have to create that ?

[113](https://github.com/keras-team/keras-cv/issues/113) @LukeWood stated to implement IoU Loss to set an example for loss functions

[2022-04-25 23:56] innat commented on #330
Yes, I think so. You need to create a loss folder.

[2022-04-26 00:03] #352 closed

[2022-04-26 01:11] LukeWood commented on #364
a great question!
Once we offer RandomCrop or RandomlyResizedCrop with BoundingBox support we should be able to RandomCrop first, batch second, then do the rest of the augmentations in a batched way.

[2022-04-26 05:49] pranavjadhav001 commented on #364
So, Patch for RandomShear bbox augmentation is almost done, working on unitests. Will be raising a PR soon.

[2022-04-26 06:36] LukeWood commented on #364
Sounds great @pranavjadhav001

[2022-04-26 17:27] LukeWood opened #366 "Expose FactorSampler API to end users"

[2022-04-26 17:29] LukeWood opened #367 "Change NormalFactorSampler stddev arg to `stddev`"
This matches Keras

[2022-04-26 18:19] LukeWood opened #368 "Make sure that `augment_bounding_box` method is plural"

[2022-04-26 18:26] LukeWood opened #369 "Hide docstrings for `augment_*` on BaseImageAugmentationLayer subclasses"

[2022-04-26 18:38] LukeWood opened #370 "include **kwargs in the augment_* methods of BaseImageAugmentationLayer subclasses"

[2022-04-27 03:51] sayakpaul opened #372 "Repeated augmentation layer"
Repeated augmentation layer [1] has also become an important recipe to train SoTA image classification models. The abstract of [1] pretty much sums up what it is:

**References**

[1] [Augment Your Batch: Improving Generalization Through Instance Repetition](https://openaccess.thecvf.com/content_CVPR_2020/papers/Hoffer_Augment_Your_Batch_Improving_Generalization_Through_Instance_Repetition_CVPR_20

[2022-04-27 05:25] sebastian-sz commented on #345
@LukeWood I think this can be closed.

[2022-04-27 09:32] kartik4949 opened #374 "Random Shadow"
Add artificial shadow on image.
![image](https://user-images.githubusercontent.com/38289341/165721723-e8abefb3-b98f-4dde-83c4-bd9242dc7f96.png)

[2022-04-27 09:35] kartik4949 opened #375 "Multiplicative Noise"
Multiplicative Noise is a Noise KPL which multiplies image with random number array

![image](https://user-images.githubusercontent.com/38289341/166055547-ad919e95-94cf-4e6d-895d-440116eb0517.png)

References:
https://albumentations.ai/docs/api_reference/augmentations/transforms/#albumentations.augmentations.transforms.MultiplicativeNoise

[2022-04-27 09:36] kartik4949 opened #376 "image temperature change"
Image temperature change is a KPL, which changes color of the image.

![image](https://user-images.githubusercontent.com/38289341/166004101-d9fe0caf-2959-44ae-beae-c09675beaa55.png)

factor can be -1 to 1

Reference:
https://brunokrinski.github.io/awesome-data-augmentation/

[2022-04-27 09:39] kartik4949 opened #377 "Image Contrast"
* sigmoid contrast
* log contrast
* linear contrast

This KPL can support multiple backend algorithms (like above)

preprocessing.RandomContrast(function=("sigmoid"/"log"/"linear") )

[2022-04-27 09:40] kartik4949 opened #378 "Image Embossing"
Image embossing augmentation
![image](https://user-images.githubusercontent.com/38289341/165721879-13a9d231-2e9f-44fb-af1c-5f56c997fa6b.png)

[2022-04-27 09:41] kartik4949 opened #379 "Image Noise with multiple backends"
![image](https://user-images.githubusercontent.com/38289341/165721536-544ddb74-7792-42f0-8c39-5dc6341f98ea.png)

[2022-04-27 09:42] kartik4949 commented on #379
Noise backend functions could be

* ISO
* Gaussian
* Multiplicative
* Shot

[2022-04-27 09:43] kartik4949 opened #380 "Canny Edge detection preprocessing layer."
![image](https://user-images.githubusercontent.com/38289341/165721353-247cf320-1fa9-4e1f-a259-426f7664c005.png)

[2022-04-27 09:46] kartik4949 opened #381 "Voronoi Image segmentation with multiple backends"
Average colors of an image within Voronoi cells
![image](https://user-images.githubusercontent.com/38289341/165721104-e4966201-026a-493c-aa41-ccd82040306e.png)

[2022-04-27 09:46] kartik4949 opened #382 "Jigsaw Distortion"
Move cells within images similar to jigsaw patterns.
![kitty_jigsaw](https://user-images.githubusercontent.com/38289341/165720846-42495c79-650b-46c2-a99f-8d57bf3020bc.jpg)

[2022-04-27 10:17] bhack commented on #372
We have talked about this some month ago at  https://github.com/keras-team/keras-cv/pull/146#issuecomment-1048315498.

At that time we have not received any feedback.

[2022-04-27 10:21] bhack commented on #372
P.s. We have still many performance  fallback related to the batch randomizzation strategy:
 https://github.com/keras-team/keras-cv/issues/291

[2022-04-27 10:24] sayakpaul commented on #372
Makes sense to have a dedicated issue for the layer rather than keeping it within comments. That way it becomes more visible and all the related concerns (like the ones you mentioned) can be discussed specifically.

[2022-04-27 10:53] bhack commented on #372
Probably, but as you can see we was in a design phase on Feb and comments emergerged in that context.
Now, at least, the history is complete also here for who is landing on this ticket directly.

[2022-04-27 11:21] bhack opened #383 "Title only Issues"
I understand that it is faster to open title only issues but I think that we could create a [minimal ISSUE template](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository) for brand new components.

I suggest to put in the template few elements:

- Short description
- Papers (with N. citations)
- Is a ref

[2022-04-27 12:12] bhack commented on #361
Also when will we have the new benchmark I hope that:

- We still let the user to control XLA jit compilation as discussed in https://github.com/keras-team/keras/issues/16403#issuecomment-1099591164
- We could maintain an update inventory txt (or MD) in the repository for the layers that could not be compiled for the missing XLA ops coverage as in the last point at https://github.com/keras-team/ke

[2022-04-27 15:34] pranavjadhav001 commented on #308
@LukeWood @divyashreepathihalli Didn't notice this issue was already created and assigned. I've implemented it. Let me know if this works.
https://github.com/keras-team/keras-cv/pull/373

[2022-04-27 17:15] #345 closed

[2022-04-27 17:17] kartik4949 commented on #380
Yup, ill add tonite
Thanks

[2022-04-27 18:02] divyashreepathihalli commented on #308
Thank you @pranavjadhav001, we will review it soon.

[2022-04-27 18:16] bhack commented on #181
TF IO has an useful extra text arg:

https://github.com/keras-team/keras-cv/pull/373#issuecomment-1111313645

[2022-04-27 18:17] kartik4949 commented on #181
very useful for multi class

[2022-04-27 18:44] LukeWood commented on #181
Yes lets just use tf.io in this repo.

[2022-04-27 18:44] #181 closed

[2022-04-27 19:05] bhack commented on #181
Are you sure? As generally I supposed we don't want to create dependencies on other SIGs.

[2022-04-27 19:33] divyashreepathihalli commented on #300
Due to inconsistent formats between `tf.image` and `kerasCV` having visualization utils for `kerasCV'  allows us:
- to have consistency between formats for our users
- ability to ship an extension type should we ever decide this is a necessity
- control of the drawing API

[2022-04-27 19:42] bhack commented on #300
@divyashreepathihalli Do you mean that we are going to just create a wrapper around the native ops here?

Cause if this is not the case, all these points are fantastic, but as we are a python only repo  what will be the Keras CV performance impact of this design choice against native TF kernels performance?

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/image/draw_bo

[2022-04-27 19:58] LukeWood opened #384 "Create a bounding box dataclass"
Bounding box format conversion is difficult to track, and could potentially be abstracted from users.  This is an opportunity to offer something better than other ML ecosystems.  I'll be designing this.

TF similarity does something similar:
https://github.com/tensorflow/similarity/blob/9803dc3ff9d4f9f434a0f02b0c0c57affb603726/tensorflow_similarity/types.py#L92

[2022-04-27 20:21] divyashreepathihalli commented on #300
We will have an implementation consistent with formats kerasCV works with. I don't think the visualization utils will have much performance difference compared to native TF kernels.

[2022-04-27 20:25] bhack commented on #300
I have some doubt on this point, but I will check this when it will land in the repo.

[2022-04-27 20:28] bhack commented on #181
It seems this is not the case as we are going to re-implement a python version https://github.com/keras-team/keras-cv/issues/300#issuecomment-1111401986

[2022-04-27 21:41] LukeWood commented on #300
It isn't out of the realm of possibility to just solve this with a where function and leave plotting to users.

i.e.
[code]

[2022-04-27 21:49] bhack commented on #300
If we leave the plotting to the users in the training loop what performance impact we will have when the user probably will require to use this for TB image summaries?

https://www.tensorflow.org/api_docs/python/tf/summary/image

[2022-04-27 21:52] LukeWood commented on #300
that is a plotting function.

tf.summary.write(result) works with the Tensor I have specified above.  performance concerns are valid.

[2022-04-28 09:18] kartik4949 commented on #384
https://github.com/keras-team/keras-cv/issues/154
:) @LukeWood we had similar discussion I guess

[2022-04-28 09:21] kartik4949 commented on #381
https://brunokrinski.github.io/awesome-data-augmentation/

[2022-04-28 09:25] kartik4949 commented on #378
https://brunokrinski.github.io/awesome-data-augmentation/

[2022-04-28 09:25] kartik4949 commented on #382
https://brunokrinski.github.io/awesome-data-augmentation/
reference

[2022-04-28 09:26] kartik4949 commented on #380
reference
https://brunokrinski.github.io/awesome-data-augmentation/

[2022-04-28 09:26] kartik4949 commented on #379
reference
https://brunokrinski.github.io/awesome-data-augmentation/

[2022-04-28 09:26] kartik4949 commented on #374
reference
https://brunokrinski.github.io/awesome-data-augmentation/

[2022-04-28 09:52] bhack commented on #293
A fresh Deepmind paper:
[A Fine-Grained Analysis on Distribution](Shifthttps://arxiv.org/abs/2110.11328)

[2022-04-28 11:25] adhadse opened #385 "`SetuptoolsDeprecationWarning`: `setup.py` install is deprecated. Use build and pip and other standards-based tools."
Following the issue, I resolved at Keras-NLP [#112](https://github.com/keras-team/keras-nlp/issues/112).

We need to remove the `setup.py` instruction for development environment setup, and recommend to add virtual environment directory.

[2022-04-28 12:42] bhack commented on #385
If can prepare a PR over https://github.com/keras-team/keras-cv/blob/master/.github/CONTRIBUTING.md#setup-environment

[2022-04-28 14:47] adhadse opened #386 "`shell/lint.sh` fails with exit code 1 without giving proper error"
Following the issue discussed in [#104](https://github.com/keras-team/keras-nlp/issues/104) for Keras-NLP (which is now resolved), there is a need for whitelisting directories and files which are needed to be linted and formatted, avoiding virtual environment directory.

[2022-04-28 14:51] adhadse opened #387 "Add WSL related link for Windows development environment."
As discussed in issue [#104](https://github.com/keras-team/keras-nlp/issues/104) for Keras-NLP, the bash scripts do not support windows shell/Powershell.

We need to recommend the developer to install WSL as the preferred terminal + LF is the default line ending.

[2022-04-28 15:41] innat commented on #387
For this purpose, I think, using `git bash` is more feasible than installing `WSL`.  But in general, it's good to have `WSL` installed.

[2022-04-28 15:45] adhadse commented on #387
That is also perfectly fine, but we can make sure that developers don't run the bash scripts in Windows CMD/PowerShell, letting them know either to use Git Bash or WSL.

[2022-04-28 20:11] bhack commented on #357
@LukeWood  Do we have any experimental evidence that KLP layers like this one are really going to improve the performance on real snow images?
In many of these KLP layers we don't have any academic reference and also it seems to me that they are going to create enough artifacts.
I suppose that we don't want to just collect as many augmentation we can but we want to give to the users a "curated" se

[2022-04-28 20:15] bhack commented on #357
I say this because I think that giving a false expectation to users about our confidence in the results of an augmentation operation is counterproductive for the library.

[2022-04-28 20:22] bhack commented on #357
I think also that my comments above are quite aligned with my interpretation of the [Keras-cv Roadmap](https://github.com/keras-team/keras-cv/blob/master/.github/ROADMAP.md#non-goals):

Researchers may use it, but we do not consider researchers to be our target audience. Our target audience is applied CV engineers with experimentation and production needs. KerasCV should make it possible to quickl

[2022-04-28 21:04] innat commented on #357
@bhack agrees for the most part. The weather-type image processing is very specialized. We may not think of it until heavily need them, i.e [weather classification](https://arxiv.org/pdf/1808.00588.pdf).

I hardly found strong academic work on them to provide experimental evidence. I did a test once on a [wheat detection](https://www.kaggle.com/code/ipythonx/keras-global-wheat-detection-with-mask-

[2022-04-28 21:18] bhack commented on #357
We have https://acdc.vision.ee.ethz.ch/ that is also part of CVPR [ACDC Challenge 2022](https://acdc.vision.ee.ethz.ch/news#challenge2022). Weather variations is subset of the advert challenges.

In the RGBD regime we had some results in 2019 for rain (30+ citations) https://www.embedded.uni-tuebingen.de/assets/publications/Volk-Mueller-vonBernuth-Bringmann_CNN_Augmentation.pdf.

[2022-04-28 21:21] bhack commented on #357
See also CVPR 2022 https://vision4allseason.net/

[2022-04-28 22:25] innat opened #393 "F2 Score metric for object detection."
The [F2-score](https://en.wikipedia.org/wiki/F-score) was used to evaluate the performance in [**TensorFlow - Help Protect the Great Barrier Reef**](https://www.kaggle.com/competitions/tensorflow-great-barrier-reef/overview/evaluation). It might be a good addition in keras-cv.

[2022-04-28 22:32] bhack commented on #393
https://github.com/tensorflow/addons/blob/master/tensorflow_addons/metrics/f_scores.py

[2022-04-29 01:52] #383 closed

[2022-04-29 02:23] LukeWood commented on #375
Hi @kartik4949 - we need a description on this!  Thanks!

[2022-04-29 02:24] LukeWood commented on #376
Hey @kartik4949! Please provide descriptions on all new issues.  Thanks a ton for the issue ideas :)

[2022-04-29 09:44] sebastian-sz commented on #344
Any update on this?
@LukeWood @qlzh727

[2022-04-29 10:14] bhack commented on #357
P.s. here we could monitor the ACDC dataset paper citations:
https://scholar.google.com/scholar?cites=8447842504056485417

[2022-04-29 10:19] frostbyte012 commented on #364
yes sir eagerly waiting for that !

[2022-04-29 10:29] adhadse commented on #28
@frostbyte012 Are you working on this issue? If not I would like to give this a try.

[2022-04-29 10:31] frostbyte012 commented on #28
I'm not currently working on this, but it was taken by @MrinalTyagi  I guess. I'm working on other issues.

[2022-04-29 10:34] adhadse commented on #28
@frostbyte012 Sure, Give this a try. Mrinaltyagi has left this issue as said in his PR. Good Luck.

[2022-04-29 10:49] frostbyte012 commented on #28
@adhadse Thanks!

[2022-04-29 13:37] quantumalaviya commented on #393
Wouldn't it be better to just write a general FScore metric and change the beta values?

[2022-04-29 15:55] LukeWood commented on #344
let me prepare a PR.

[2022-04-29 15:56] LukeWood commented on #344
Thanks Sebastian!

[2022-04-29 16:02] LukeWood opened #398 "List of GitHub supported files"
Opening this ticket to find out the best place to keep files like .github/CONTRIBUTING.md

I know github supports a specific set of files (i.e. LICENSE).  Any other files we should know about in this repo?  Thanks

@bhack

[2022-04-29 17:37] LukeWood opened #401 "RandAugment static method to compute magnitude from # of model params"
This is a suggestion from Elie.  RandAugment magnitude should scale to your models parameterization.  As such, we can add a static method to compute this for users.

[2022-04-29 17:47] bhack commented on #401
Do you mean to autodetect the model parameters and set magnitude?

[2022-04-30 03:09] zhiqwang commented on #398
Hi, as described in https://docs.github.com/en/communities/setting-up-your-project-for-healthy-contributions/setting-guidelines-for-repository-contributors#adding-a-contributing-file , the CONTRIBUTING guidelines can be placed in a repository's root, docs, or .github directory.

[2022-04-30 09:08] sebastian-sz opened #402 "[AutoAugment] Add Rotate operation."
**Short Description**
Rotate is one of the operations used by AutoAugment. Currently it's not present in `keras_cv`, so AutoAugment cannot be implemented.

**What it does**
From Tensorlfow Addons docs: Rotate image(s) counterclockwise by the passed angle(s) in radians.

**Papers**
AutoAugment: Learning Augmentation Strategies from Data
[arxiv link](https://arxiv.org/pdf/1805.09501.pdf)

**Existing

[2022-04-30 09:34] quantumalaviya commented on #40
I was looking to implement this but there seems to be no implementation of Dirichlet outside tensorflow_probability (which I assume can't be used). The only other option seems to be the implementation of the distribution as part of utils (which seems unnecessarily tedious).

I would love any suggestions here!

[2022-04-30 09:52] bhack commented on #40
There is also in Tensorflow but It is a v1 symbol (TF 1.x/compat) so we cannot use It:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/distributions/dirichlet.py#L44

I suppose that it was not maintained as an API in TF2 cause these kind of things are handled in TFP.

[2022-04-30 10:08] sebastian-sz commented on #402
It looks like linked implementation uses `ImageProjectiveTransformV3` which will fail with XLA: https://github.com/tensorflow/tensorflow/issues/55194#

[2022-04-30 10:22] bhack commented on #402
Yes it will also already fail on master to optimize the performance without XLA (as many other ops that we already use):

https://github.com/keras-team/keras-cv/issues/291#issuecomment-1112210556

See also my rationale at:
https://github.com/keras-team/keras-cv/issues/361#issuecomment-1110925900

[2022-04-30 10:28] bhack commented on #402
P.s there is a partial coverage effort (translation only) with https://github.com/tensorflow/tensorflow/pull/55335  but for MLIR (as XLA is still a different code path today in TF)

[2022-04-30 10:31] bhack commented on #398
Out code of conduct is just a small edit of the [code covenant](https://www.contributor-covenant.org/adopters/)

See:
https://github.com/tensorflow/tensorflow/pull/29090

[2022-04-30 15:12] kartik4949 opened #403 "Refactoring redundant code blocks in demo files."
@bhack @LukeWood @innat
Guys, You think it make sense to refactor demo py files
with something like

[code]
I think it might hurt the readablitity of demo file a bit!

[2022-04-30 16:04] innat commented on #403
Yes, I think there's room to improve the representation of the examples or demo files. But I'm wondering will it be continued to host `examples/*` in the future? (as `keras` repo doesn't provide such a thing in repo). Isn't this directory temporary?

[2022-04-30 18:42] quantumalaviya commented on #40
We can't use tfp here though, right?

[2022-05-01 07:10] frostbyte012 opened #404 "Implementing Adversarial Latent Autoencoders [CVPR2020]"
**Short Description**

Autoencoder networks are unsupervised approaches aiming at combining generative and representational properties by learning simultaneously an encoder-generator map.

**Papers**

https://arxiv.org/pdf/2004.04467.pdf

**Existing Implementations**

https://github.com/podgorskiy/ALAE

**Other Information**

One implementation will ensure creating 1024x1024
<br>
The resolution ca

[2022-05-01 07:12] frostbyte012 commented on #404
@innat, @LukeWood was looking by some awesome examples and came by it, can you all confirm the feasibility of this implementation to be added here in Keras CV ?

[2022-05-01 08:03] LukeWood commented on #404
I don't think that we have anything on the roadmap for offering algorithms like this.  I'd guess we are more likely to offer SimCLR or something like that than this in the near future.

[2022-05-01 08:05] LukeWood commented on #403
To be completely honest, I haven't decided what to do with this directory!  The visualizations for KPLs are definitely valuable; as are examples for things like visualization and model explainability tools.  We need *something* like this, but where to keep it - of that I am unsure.

For now we can probably keep it in the project root.

[2022-05-01 08:05] LukeWood commented on #403
Per the original issue - yeah I agree that setting up the tf.data.dataset and showing the samples for the KPLs could be extracted into a helper file.

[2022-05-01 08:07] LukeWood commented on #40
Good question.  I have not given the interaction with TFP any thought.  My instinct is if the only extra offering we get by adding it is Augmix that it may not be worth adding it as a dep.

[2022-05-01 08:09] innat commented on #404
@frostbyte012
It might possible to add if keras-cv start supporting GAN based model in the future, [LIKE](https://github.com/eriklindernoren/Keras-GAN).

@LukeWood
I think [TF-Similarity](https://github.com/tensorflow/similarity#supported-algorithms) already offers SimCLR and mutual algorithms.

[2022-05-01 08:15] kartik4949 commented on #403
Cool I have the helpers ready
Let me file a PR!
Thanks

[2022-05-01 09:00] Tony363 commented on #311
@sayakpaul  Hey, its been a while. I had Midterms the past week.  I'm rewriting a new pipeline for video classification problems and borrowed a lot of inspiration from your tutorials. Here is the [feature extraction script](https://github.com/hc07180011/testing-cv/blob/main/flicker_detection/flicker_detection/extract_embedding.py) I have so far.

These are the [BaseCNN & Serializer](https://github

[2022-05-01 10:04] innat commented on #40
@quantumalaviya

If using tfp is not an option, I think it may be needed to add this distribution as part of utils (sounds unpleasant, agree).
Because who knows, we may need it for other cases, [LIKE](https://github.com/keras-team/keras-cv/issues/250#issue-1189457586).

[2022-05-02 00:17] LukeWood commented on #402
Hi @sebastian-sz!  Is this different from the RandomRotation KPL?  We can use utils.transform however needed if we must.

[2022-05-02 00:19] LukeWood commented on #387
Maybe a section in the appendix of contributing or setup is fine; though I think it’s pretty standard in OSS for the default environment to be unix based.

[2022-05-02 05:38] sebastian-sz commented on #402
@LukeWood In terms of using the layer as a part of AutoAugment I do believe this is different. For instance, with default KLP we cannot directly control the probability as well as "angles" parameter at which the Rotation's are applied, which is necessary in the AutoAugment pipeline.

[2022-05-02 06:28] LukeWood opened #406 "Poly Loss"
**Short Description**
https://arxiv.org/abs/2204.12511

**Papers**
https://arxiv.org/abs/2204.12511

**Other Information**

still not clear if we want this or not, it looks promising from the abstract but we should probably do some sanity checking.

[2022-05-02 19:04] bhack commented on #406
It seems good, we have already [3 Pytorch third party implementations](https://paperswithcode.com/paper/polyloss-a-polynomial-expansion-perspective-1).
But I don't know if we want to collect all the bleeding edge as fast as possible without a minimum of "sedimentation" (E.g. See the experience we had with the optimizers proliferation https://github.com/tensorflow/addons/issues/2203#issuecomment-71

[2022-05-02 20:01] quantumalaviya commented on #402
I have added some utils from keras that are required for the rotation and the translation as part of #407, if that's any help. I too had to code the rotate operation for AugMix. This layer may be useful.

[2022-05-02 20:24] Nyandwi commented on #398
I am thinking that having `CONTRIBUTING.md` in the `docs` directory seems plausible since you may have other similar files that can go with it and hence avoid having many individual files in the `root` directory.

[2022-05-02 22:18] LukeWood commented on #406
Yeah I agree.  This issue is a good tracking issue; but contribution definitely not yet welcome in that we should wait to see how things unfold.

[2022-05-03 03:51] innat opened #408 "Support `RandomChoice` - randomly pick from list!"
**Short Description**

Let's say in your training, you want to use all of the follows:

- `cutmix-mixup-fmix-mosaic`
- `gaussian_blur-zoom_blur-motion_blur-median-blur`
- `optical_distortion-elastic-transform-grid_distortion`
- `equalization-clahe`
- `grid_mask-cutput`
- etc.

then it's required to randomly pick one among others (in general) in a single pass during training, for example: `[cutmix-

[2022-05-03 04:40] LukeWood commented on #408
Yeah this seems like a reasonable API to me.  Actually, `RandomAugmentationPipeline` could even use this under the hood.

[2022-05-03 04:41] LukeWood commented on #402
Is there any use case we can think of that requires this to be a layer; in particular: will you ever want to preprocess your inputs by ALWAYS rotating by X deg?  If not, maybe it is best as a preprocessing util

[2022-05-03 05:27] quantumalaviya commented on #402
True, it makes no sense to rotate images at a fixed angle.

This util may be useful*

[2022-05-03 06:41] sebastian-sz commented on #402
@LukeWood yes - this is actually the case in AutoAugment, where you want to rotate the image by X degrees based on subpolicy's magnitude:
![rotate_autoaugment](https://user-images.githubusercontent.com/58402418/166412649-a2c10ef4-4a2a-41fa-8056-a3639ee6cbf8.png)

@quantumalaviya Thanks for linking #407 I didn't know about it and it looks like exactly the thing needed.

I agree that this function *

[2022-05-03 07:30] LukeWood commented on #402
Cool, let’s leave it open until we can merge @quantumalaviya ’s PR and actually include the utility to rotate an image a fixed amount

[2022-05-03 07:30] innat commented on #259
Can we close this issue if the issue with `tf.random.shuffle` is fixed?
cc. @bhack

[2022-05-03 07:41] LukeWood opened #409 "Investigate feasibility of extended bounding boxes format"
This includes bounding boxes with rotations.  Essentially you just specify all four corners.  This is used in many application domains.

[2022-05-03 10:46] kartik4949 commented on #409
@LukeWood had an PR relevant to this :)
https://github.com/keras-team/keras-cv/pull/156

[2022-05-03 10:47] bhack commented on #259
The fallback is tracked in another ticket so if you don't care about the lack of differentiability of this op, as we don't care about the same on other ops that we have already used in this library, you could close this.

[2022-05-03 11:18] blackhat-coder commented on #330
Hi, sorry I haven't made a PR on this issue, I've worked on it but currently waiting for [Dice loss PR](https://github.com/keras-team/keras-cv/pull/371) to get merged to avoid conflicts from me creating `losses`.
I'm also writing test cases (noob ✌).

[2022-05-03 11:19] kartik4949 opened #410 "Base Test suite/class for KPLs"
I see lot of KPL test class have redundant blocks, we can create an base test class which takes care for all basic testing of a KPL

This also will allow consistent test across KPLs and less overhead on test case review on maintainers.

Example:

[code]

[2022-05-03 11:56] innat commented on #330
Don't worry about that. You can safely do your own. No conflict will happen on this.

[2022-05-03 15:58] bhack commented on #41
https://github.com/MSU-MLSys-Lab/DeepAA

[2022-05-03 16:54] LukeWood commented on #259
I think this one is unique in that ShuffleNet needs this layer to be differentiable.

Is there a Keras shufflenet implementation somewhere around?  We could try taking their shuffle logic.

[2022-05-03 17:12] bhack commented on #259
Isn't channel_shuffle in that case?

[2022-05-03 17:14] bhack commented on #259
https://github.com/tensorpack/tensorpack/blob/master/examples/ImageNetModels/shufflenet.py#L41

[2022-05-03 20:30] bhack commented on #259
@LukeWood What I meant is that, if I remember, correctly that `channel_shuffle` was not a random one an in the KLP semantic.

[2022-05-03 21:53] bhack commented on #74
https://github.com/tensorflow/tensorflow/issues/55824

[2022-05-04 10:04] quantumalaviya commented on #40
Yeah, turns out the implementation is rather trivial when implemented on its own. This shouldn't be a problem.
However, instead of adding it to the utils, I have added it as a static function inside the layer (see PR #407) similar to Beta sampling in `MixUp` and `FourierMix`.

[2022-05-04 12:02] sebastian-sz opened #411 "RandAugment implementation differences."
I'm reading `keras_cv` RandAugment implementation and feel like there are some differences with [TF implementation](https://github.com/tensorflow/tpu/blob/8aac591077e5781785aa6c22bc400472ba14dada/models/official/efficientnet/autoaugment.py#L672) referenced in the paper. I'm still reading this layer so I might not have understood everything, but here it goes:

* Missing `Posterization` op in RandAu

[2022-05-04 12:33] bhack commented on #411
I don't know how many points was covered in private threads https://github.com/keras-team/keras-cv/issues/84

[2022-05-04 12:53] sebastian-sz commented on #411
@bhack If those differences were discussed and accepted maybe they could be described in the docstring.

For example: the `Identity` operation is also missing but it's mentioned that this is substituted by the `rate` parameter.

[2022-05-04 13:34] bhack commented on #411
I've correctly updated the wrong mentioned ticket

[2022-05-04 13:43] sebastian-sz commented on #411
I see, #169 is closed but there is no mention whether it was decided to ignore or include `Posterize`. I still believe that a docstring mention would be good to have for such cases.

Also I can't find information/discussion regarding presence of other ops: `Sharpness` & `Rotate`.

[2022-05-04 13:46] bhack commented on #411
Yes, I think also that some underground information/choices could also be linked to this kind of arguments https://github.com/keras-team/keras-cv/pull/294#discussion_r848820525

[2022-05-04 23:07] LukeWood opened #412 "Keras.io tutorial on implementing PixMix data augmentation layer"
Dan recommended this to me:

https://arxiv.org/pdf/2112.05135.pdf

In his words:

"Also, it's worth mentioning that [PixMix](https://arxiv.org/pdf/2112.05135.pdf) (CVPR 2022) is faster and stronger than AugMix, even without using other images in my experience."

We can offer this as a Keras.io tutorial "how to implement PixMix using BaseImageAugmentationLayer" based on the tutorial https://keras.i

[2022-05-05 06:16] quantumalaviya commented on #412
Should the layer expect the path to the mixing set (location of the fractal dataset) as an input?

[2022-05-05 07:38] innat opened #413 "TrivialAugment image augmentation"
**Short Description**

From abstract,

**Papers**
Paper: TrivialAugment: Tuning-free Yet State-of-the-Art Data Augmentation
https://arxiv.org/abs/2103.10158

**Existing Implementations**
- https://pytorch.org/vision/stable/generated/torchvision.transforms.TrivialAugmentWide.html#torchvision.transforms.TrivialAugmentWide
- https://github.com/automl/trivialaugment

**Other Information**
- (from me,

[2022-05-05 13:25] bhack commented on #412
Yes, if we compare this with the other KPLs we have with a "pure online" approach this has a quite relevant offline asset (1.6GB).

Also it is still has only 2 citations (it is quite fresh).

[2022-05-05 17:03] LukeWood commented on #412
Yeah; this technique is also pretty complex so maybe we should hold off on implementing it for now until we see a few other implementations.  I'll also discuss this with Dan and go over the pros and cons a bit.

[2022-05-05 18:04] LukeWood commented on #413
Realistically, I'm not sure we want this given the citation count and usage.

[2022-05-05 18:10] LukeWood commented on #411
I actually discussed this heavily with Ekin and am confident that our implementation is correct and that the others are actually *NOT* correct!

I can take an action item to discuss this in a "why KerasCV doc"; I am actively working with several original authors to verify our implementations of various components.

[2022-05-05 18:13] LukeWood commented on #398
For now we can close as we've moved the license.  We can add a code of conduct and what not; mainly we should just link to governance.

[2022-05-05 18:13] #398 closed

[2022-05-05 18:41] bhack commented on #413
As we are and we have already invested enough community resources on KLP I suggest to strictly monitor/evaluate the impact of https://github.com/keras-team/keras-cv/discussions/93#discussioncomment-2540838 before accumulating too much other solutions in the repo.

[2022-05-05 19:00] bhack commented on #413
P.s. I've fixed the reference.

[2022-05-05 19:03] bhack commented on #393
...I think this is like my previous comment

[2022-05-06 07:39] sebastian-sz commented on #411
@LukeWood thank you for the answer.

I did not know about internal work or discussions and was simply worried that there are quite few differences between `keras_cv` and other existing implementations in various libraries. If they were discussed and even approved by original authors then it sounds solid to me.

[2022-05-06 19:52] frostbyte012 commented on #404
@LukeWood Sure Sir! But I'd love to see it implement in kerasCV soon someday!

[2022-05-07 00:40] bhack commented on #293
https://shift-happens-benchmark.github.io/

https://github.com/shift-happens-benchmark/icml-2022

[2022-05-08 09:58] innat commented on #319
prev implementation on kcv
https://github.com/keras-team/keras-cv/blob/98eae129b6795bb4bfbc888e9e7e916f5d418da3/keras_cv/losses/focal_loss.py

[2022-05-08 13:53] SamuelMarks commented on #319
@innat I just changed the docstring… @tanzhenyu did the rest I think

[2022-05-08 16:25] Tony363 opened #419 "Documentation or tutorial for .train_on_batch or .fit_generators"
Documentation or tutorial for .train_on_batch or .fit_generators is very hard to find for tensorflow keras. Might there be some already? May be I can learn to use them and write a tutorial?

[2022-05-08 22:30] #304 closed

[2022-05-08 22:32] #301 closed

[2022-05-09 10:41] bhack commented on #367
I think that we can close this.
We could use autolinking comments in PRs or just linking so we save ourselves this manual cleaning activity.

[2022-05-09 17:41] #26 closed

[2022-05-09 18:27] #367 closed

[2022-05-09 23:01] LukeWood commented on #419
Hey @Tony363!  This is a documentation issue with core Keras, right?  Fit generator I think is deprecated, but train_on_batch perhaps some better docs would be useful.

can you open an issue on the Keras repo?

[2022-05-09 23:02] LukeWood commented on #408
@innat should this always pick equally between augmentations, or should we support weighted sampling?

[2022-05-10 00:24] Tony363 commented on #419
okay, I'll do that! it's the very issue I'm having with building my keras pipeline right now

[2022-05-10 04:14] innat commented on #408
I think weighted sampling would be better.

[2022-05-10 08:22] sebastian-sz commented on #408
I think @chjort had something like that in his repository:
https://github.com/chjort/chambers/blob/b796f507b7353fb141b5c8b026b811a023d303e6/chambers/augmentations/image_augmentations.py#L549

[2022-05-10 10:39] chjort commented on #408
Thanks @sebastian-sz, you are right.

In order to have this layer support weighted sampling, the `transform_idx` at [L608](https://github.com/chjort/chambers/blob/b796f507b7353fb141b5c8b026b811a023d303e6/chambers/augmentations/image_augmentations.py#L608) should simply be drawn from the weighted distribution.

I would be happy to contribute this layer if we want it in Keras-CV.

[2022-05-11 05:28] LukeWood commented on #408
Awesome, thanks for the links @sebastian-sz and @chjort.

Here is my thought:
- right now, we have [RandomAugmentationPipeline](https://github.com/keras-team/keras-cv/blob/master/keras_cv/layers/preprocessing/random_augmentation_pipeline.py#L18), which couples two ideas: repeated augmentation, and Randomly selecting from a list
- we can extract this functionality into two separate pieces: a Random

[2022-05-11 05:31] LukeWood commented on #408
I like the way Albumnations `OneOf` works; but I don't like that they take a `p` parameter in their constructor for the augmentations themselves that behaves differently depending on context;  very unintuitive.

We should strive to support custom probabilities, but not in that way.

[2022-05-11 05:34] LukeWood opened #422 "`MaybeApply` high order abstraction"
We should consider an implementation for a `MaybeApply` layer:

[code]

https://github.com/chjort/chambers/blob/b796f507b7353fb141b5c8b026b811a023d303e6/chambers/augmentations/image_augmentations.py#L514

Notes:
- we can rely on this in RandomAugmentationPipeline
- this must be element-wise, not batch wise!

[2022-05-11 14:11] markub3327 commented on #393
FBetaScore should be accept the sparsely defined labels.

For example:
[code]

[2022-05-11 14:27] markub3327 commented on #393
@bhack

`tensorflow_addons/metrics/f_scores.py` to `keras_cv/metrics/f_scores.py` and my PR too?

[2022-05-11 14:31] bhack commented on #393
Yes and if you want also F2 with the related tests.
Note, that you could need or not to adapt/refactor these a bit for this repo standards, we have few metrics integrated at https://github.com/keras-team/keras-cv/tree/master/keras_cv/metrics/coco

[2022-05-11 14:33] markub3327 commented on #393
@bhack Okey, let's do it.

[2022-05-11 14:50] sebastian-sz commented on #422
@LukeWood I would like to work on this, if possible.

[2022-05-11 16:20] bhack commented on #393
@markub3327 Check the thread at https://github.com/keras-team/keras-cv/pull/371#discussion_r866306775

[2022-05-11 16:22] markub3327 commented on #393
@bhack Ok

[2022-05-11 19:05] LukeWood opened #424 "Give names to layers in `RandAugment.get_standard_policy()`"
right now we rely on the default names in the constructor for each layer.  This is unclear to users which layer is TranslateX, which is TranslateY, etc.

For better customization, we should pass a name parameter to the layers to clarify which layer is doing what.

[2022-05-11 19:17] LukeWood opened #425 "RandomAugmentationPipeline(layers=[]) does not work"
This might be a valid use case.

[2022-05-11 20:42] martin-gorner opened #427 "RandAugment.get_standard_policy should propagate value range to RandomBrightness and RandomContrasts"
When using RandomBrightness and RandomContrasts from RandAugment.get_standard_policy() with value_range=(0,1), two issues arise:
 - RandomContrast computes output values correctly but does not clip them to the (0,1) range
 - RandomBrightness computes incorrect output values that a massively out of range, and does not clip them either

This issue canot be fixed until TF 2.10

Please note that this

[2022-05-11 21:38] bhack commented on #427
I think that for `RandomBrightness` the `value_range` arg is already available with [TF 2.9rc2 right](https://github.com/keras-team/keras/blob/v2.9.0-rc2/keras/layers/preprocessing/image_preprocessing.py#L1478)?

For `RandomContrasts` instead it is still not available also in master.

[2022-05-12 00:27] LukeWood commented on #427
I think it came after the branch cut.  Tested it today in a local runtime.

[2022-05-12 00:31] LukeWood commented on #384
Ended up going with a different design.  I will publicize this when it is done.

[2022-05-12 00:31] #384 closed

[2022-05-12 00:31] LukeWood commented on #422
Let me confirm we want to take the approach of offering high order abstractions like this first!  Still brainstorming a bit

[2022-05-12 00:35] bhack commented on #427
If you click you can see that I'am on the rc2 tag.

[2022-05-12 01:48] LukeWood commented on #427
Weird, I just have installed the wrong version.  Good to know, with 2.9 we can fix 1/2 the issue.  We will do so before KerasCV 0.2.0

[2022-05-12 02:08] martin-gorner commented on #427
Great! This will fix the problem with RandomBrightness which outputs the wrong values. The lack of clipping is slightly less important because it is smaller in magnitude.

[2022-05-12 05:46] sebastian-sz commented on #422
Got it, please let me know if you decide.

Personally I wouldn't mind an option to create custom random layers.

[2022-05-12 06:21] LukeWood commented on #422
It seems to me this is such a common pattern that we should include it.

I've seen:

[code]

many times in my life, and this is actually incorrect if you are performing batched augmentation.  By providing a proper implementation that does this on an element-wise basis, we are providing some value.  I'm fairly sure we want this, let me confirm one more time tomorrow, but I am 90% sure this is an ab

[2022-05-12 10:18] bhack commented on #427
https://github.com/keras-team/keras-cv/pull/429

[2022-05-12 17:40] quantumalaviya opened #431 "`Equalization` channel dimension is not calculated during trace time"
There are a few issues I faced while trying to use the `Equalization` layer with AugMix in #407

The channel dimension is not calculated during trace time (I believe due to the `vectorized_map` from #201). This makes it incompatible with other layers in a chain. Moreover, this is the only layer that gets traced every time it's called. It's not ideal and repeated occurrences of this layer are very

[2022-05-12 18:01] LukeWood commented on #431
Definitely, Equalization should be updated.  Thanks for doing some digging here.

I believe these changes were introduced by my PR that adds support for dynamic channel sizes; but this behavior is very undesirable.

[2022-05-13 14:52] kartik4949 commented on #410
@LukeWood @bhack relevant?

[2022-05-14 06:22] LukeWood commented on #408
Labelled this contribution welcome, @chjort has a PR open and I think this will be a useful feature.  Thank!

[2022-05-14 06:23] LukeWood commented on #422
FYI @sebastian-sz I've tagged this contribution welcome.

These high order components that take other components are a nice pattern.

[2022-05-14 22:52] #408 closed

[2022-05-17 20:36] innat commented on #250
@artu1999 Great.
But note that, you may need to validate the creation of mosaic labels for the classification task. I'm not sure if there are any references (paper-work). The above approach (`dirichlet`) is just a pointer.

[2022-05-18 10:26] artu1999 commented on #250
@innat Yeah agree, as a starting point I can validate if the above approach is beneficial for classification. If there is any paper-work referencing this and adopting a different approach then we can compare the different methods to see which performs best.

[2022-05-18 16:03] innat commented on #250
I mean, whatever the approach would be (the label creation)), should be useful for the classification task (performance like cutmix and mixup).

[2022-05-18 16:04] innat commented on #250
cc. @AlexeyAB
Mentioning Alex, to give some advice here. It would be really helpful.

[2022-05-18 16:54] AlexeyAB commented on #250
We set the ground truth probability in proportion to the area occupied by each sample: https://github.com/AlexeyAB/darknet/blob/4ee3be7e68fb9c7eda5cc390e47e59f01e40dded/src/data.c#L1913-L1942
So if areas for: Car=10%, Table=20%, Cat=30%, Dog = 40%, then we set labels: Car=0.1, Table=0.2, Cat=0.3, Dog=0.4.

We have not tried using it in any other way.

Mosaic for Classifier reduces Top5-error from

[2022-05-18 18:40] bhack opened #440 "Upgrade action CI and .devcontainer to TF 2.9 final"

[2022-05-18 18:47] bhack commented on #440
more in general:
are we going to switch again on nightly between two TF releases or we will switch only to next RC and stable release?

[2022-05-18 20:26] LukeWood commented on #440
I hope that we don’t have to switch back to nightly.  Unfortunately the reality is we might have to which will freeze our releases (excluding cherry picks).  I hope this doesn’t happen, but it is possible.

[2022-05-19 01:23] johnypark opened #442 "import keras_cv fails"
First, thank you so much to all the contributors for their tremendous effort in building keras-cv.

Obviously, I would like to try it out, but in colab I could not load keras-cv:

https://colab.research.google.com/drive/1k-IrSJF-DlP_o27ohr7GvYsXliGRifTF?usp=sharing

[code]

Above is the error message I am getting. What am I missing? Any suggestions would be appreciated.

Thank you,
John

[2022-05-19 02:11] LukeWood commented on #442
Hey John!  You’ll need to install it in Colab.

can you try running:

!pip install keras-cv

in a cell?  Please note Colab may not have the newest version of TensorFlow yet, so we may need to wait on that.

I’ll try to get KerasCV included in Colab as well. Thanks for the feedback!

[2022-05-19 05:45] #422 closed

[2022-05-19 07:43] adhadse commented on #442
Run this cell:
[code]

The library is currently using a nightly version of TensorFlow and Keras for development. This is what we are using, give it a shot.

[2022-05-19 09:19] innat commented on #425
@LukeWood can you add some description of what's the issue about? By doing `RandomAugmentationPipeline(layers=[])` this, the program is falling?

[2022-05-19 11:27] innat opened #443 "Add cohen's kappa metric score"
**Short Description**

This function computes Cohen’s kappa, a score that expresses the level of agreement between two annotators on a classification problem. It is defined as

![image](https://user-images.githubusercontent.com/17668390/169282603-96865edb-8ac9-430b-a31c-128e6b0ff34c.png)

where `p_0`  is the empirical probability of agreement on the label assigned to any sample (the observed agree

[2022-05-19 11:30] bhack commented on #443
Is this a CV only metric?

[2022-05-19 11:39] innat commented on #443
ok, not sure, it may be general.
I mostly used it in ordinal regression-related CV tasks.
Curious, if it's general, what should be the approach to include this?

[2022-05-19 11:54] bhack commented on #443
I don't know https://github.com/keras-team/keras-cv/pull/30#issuecomment-1008685239

[2022-05-19 13:12] innat commented on #443
hmm, that's an issue.
@LukeWood thoughts?

[2022-05-19 13:33] bhack commented on #443
@innat We had a similar discussion at https://github.com/keras-team/keras-cv/issues/137#issuecomment-1042903162

[2022-05-19 13:36] bhack commented on #443
See also our threads at:
https://github.com/keras-team/keras/issues/16181#issuecomment-1064366843
https://github.com/keras-team/keras-cv/issues/137#issuecomment-1043585248

[2022-05-19 14:35] johnypark commented on #442
Hi @LukeWood @adhadse
Thank you for your prompt responses!

Upgrading TensorFlow to 2.9. worked.

So what is the difference between nightly version of keras-cv and the 2.9 version of keras-cv? Is it stable vs development? So for using the latest update should I go for the nightly build?

Thank you,
John

[2022-05-19 14:53] bhack commented on #442
More in general with https://github.com/keras-team/keras-cv/pull/417 we have removed the wheel/install dependency.

So now we have only rely to a runtime check:
https://github.com/keras-team/keras-cv/blob/master/keras_cv/version_check.py

But If tensorflow is not installed and we install only keras_cv in a fresh venv/container:
[code]

[2022-05-19 17:01] LukeWood commented on #442
p.s. @johnypark let me know what you use our RandAugment for!  Really interested in seeing it!

[2022-05-19 17:23] johnypark commented on #442
@LukeWood Thank you!

I would love to elaborate on what I am working on. We are doing a fine-grained classification task for herbarium specimen images (plant images), to help botanists with more efficient biodiversity discovery. Since herbaria around the world have about 30M high-resolution images of 400K plant classes, we think it is a very interesting dataset for the vision community as well. We

[2022-05-19 17:41] LukeWood opened #446 "make_grid visualization function for images"
https://pytorch.org/vision/stable/generated/torchvision.utils.make_grid.html

This is a great utility function.  I have something similar in a tutorial:

[code]

[2022-05-19 18:28] johnypark opened #447 "cut_mix output is in dictionary"
https://github.com/keras-team/keras-cv/blob/40a9fbf81a5a1689590885ceaefaf927b4a98292/keras_cv/layers/preprocessing/cut_mix.py#L52-L64

The current output of cut_mix is in dictionary form. Is this intended? I haven't tested it, but if the output is a dictionary, then I am not sure if it would work for the data pipeline.

I think
[code]

can be changed to
[code]

which would work fine. I wonder if t

[2022-05-19 18:28] LukeWood commented on #425
I believe so, yes. The idea is that this might be gridsearched, and layers=[] is a valid parameterization to search.  Basically layers=[] should be a passthrough.

[2022-05-19 19:26] LukeWood commented on #447
This is actually intended behavior.  All of the layers return either a single image if they only get an image:

image = RandAugment()(image)

or a dictionary in the above specified format:

outputs = RandAugment()({images: images, labels: labels, bounding_boxes: bounding_boxes})

[2022-05-19 19:26] #447 closed

[2022-05-19 19:41] johnypark commented on #447
@LukeWood  Thank you for the clarification.

[2022-05-20 01:27] adhadse commented on #446
Where should this function be residing?

[2022-05-20 05:02] mihirparadkar opened #448 "Layers, loss functions, datasets, and models for Single Image Super-Resolution (SISR)"
**Short Description**
Single-Image Super-Resolution describes the domain of enhancing image resolution for single images (as opposed to groups of images of a scene, for example). Solutions in this domain have applications in security, medical imaging, segmentation, and video enhancement.

**Papers**
Survey paper (2021): [From Beginner to Master: A Survey for Deep
Learning-based Single-Image Super-

[2022-05-20 12:00] artu1999 opened #450 "CutMix gives wrong error when input is not a dict"
When CutMix layer is executed as:

[code]

Rather than telling the user the input should be a dict it throws this error:

    File "<ipython-input-1-91c57220b1e3>", line 30, in None  *
        lambda x, y: cutmix(x, y),
    File "/usr/local/lib/python3.7/dist-packages/keras/utils/traceback_utils.py", line 67, in error_handler  **
        raise e.with_traceback(filtered_tb) from None

    OperatorN

[2022-05-20 12:23] bhack commented on #442
@LukeWood @qlzh727 I will reconsider this or please open a related ticket as this kind of behavior is really user unfriendly.
See again my comment at https://github.com/keras-team/keras-cv/issues/442#issuecomment-1131831501

[2022-05-20 13:14] innat commented on #443
It's really an intricate issue and needs separate discussion. @LukeWood could you please give some feedback on this?

cc. @fchollet @qlzh727

[2022-05-20 17:08] LukeWood commented on #442
Perhaps we should specify a >= relationship with 2.9.0.  Can we do this in setup.py dependencies?  Or will this require us to use requirements.txt

[2022-05-20 17:11] LukeWood commented on #450
Thanks for the error report.  I'm working on a PR to improve error messages and I'll add this to the list.

[2022-05-20 17:23] bhack commented on #442
Yes you could do this in `setup.py` or `requirements.txt` as you like:
https://packaging.python.org/en/latest/discussions/install-requires-vs-requirements/

The problem is more about CPU/GPU TF. If we don't want to publish two Keras-cv wheels alternatives are a bit ugly:
https://github.com/tensorforce/tensorforce/issues/31

[2022-05-20 17:36] LukeWood commented on #442
I see, maybe we can opt the root __init__.py out of linting so we can run the version check before we import layers.

[2022-05-20 17:46] bhack commented on #442
Keras totally ignore that we have two distinct upstream wheels (CPU/GPU) and depend on GPU:

https://github.com/keras-team/keras/blob/master/requirements.txt#L6

[2022-05-20 17:48] LukeWood opened #452 "CutMix and MixUp should support "targets" in addition to "labels""
we are renaming "labels" to "targets" as the one hot encoded labels are in fact targets, not labels.  This verbature distinction is made with respect to the fact that the target space is continuous, whereas labels represent the literal labels such as "cat", "dog".

CutMix and MixUp should support both temporarily via a helper method.  In Keras core we do this in BaseImageAugmentationLayer; we can

[2022-05-20 19:51] LukeWood commented on #442
From your perspective is this problematic or ok?  AFAIK tensorflow works on both GPU and CPU on unix based OSes.

[2022-05-20 19:57] bhack commented on #442
Honestly if you want my opinion it is mainly a disk space topic on your environment:

CPU+GPU:
tensorflow-2.9.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl **(511.7 MB)**

CPU:
tensorflow_cpu-2.9.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl **(207.5 MB)**

So compressed is already more then 2.5x.

[2022-05-21 12:05] beresandras commented on #131
Hi! I would love to work on this. I already have a batched, frame-wise random implementation for personal use [here](https://github.com/beresandras/image-augmentation-layers-keras/blob/master/augmentations.py#L30:L77).

My steps were the following:
- sample random aspect ratios from log-uniform(1/max_aspect_ratio, max_aspect_ratio) (so that it is centered around 1)
- sample random relative areas f

[2022-05-21 12:13] beresandras commented on #131
The issue with this implementation is that it only takes crops with the same resolution. If your input images are 448x448 for example, you will always see 25% of their area, resized to a higher resolution. We want to sample crops with different resolutions, and resize them to the same resolution.

[2022-05-21 14:54] bhack commented on #440
Also we need to consider that Keras master tracks `tf-nightly`:
https://github.com/keras-team/keras/blob/master/requirements.txt#L6

But it is still not clear what nightly >= version (/cc @qlzh727) so the dependency it could be "wrongly" satisfied also with years TF old nighties without a minimal constrain:
https://github.com/keras-team/keras/issues/14867#issuecomment-962123047

[2022-05-21 18:38] LukeWood commented on #131
Hey there!  Your starting implementation looks great.  Feel free to open a PR.  You don’t need to handle any inputs outside of  images and labels to get merged.  We can add boxes in a follow up.

Feel free to open a PR!

[2022-05-21 18:39] LukeWood commented on #131
The rescales should also be random, but feel free to push a starter implementation to a PR.  I am also happy to contribute some commits to this effort once the PR is open!  @beresandras

[2022-05-22 17:54] innat opened #454 "`ReviewNB` - for notebook PR`!"
**Short Description**

For the notebook PR, it's not possible to review but service can be used for this.

- [ReviewNB](https://app.reviewnb.com/)

**Existing Implementations**

For example, check: https://github.com/tensorflow/models/pull/10640#issuecomment-1127970171

[2022-05-23 14:58] artu1999 commented on #250
@innat @LukeWood  I'm working on an implementation based on what Alex suggested. I managed to get the values for the labels right but I am having a few issues with creating the mosaic. Looking at CutMix as a reference, I am using fill_rectangles to draw the mosaic images over the input. This works fine when I fill only a single one of the sub-images, however when I try to do it for all three image

[2022-05-23 19:50] innat commented on #250
Not sure but some suspicious feelings about the creation of `mosaic_x/y`, `s1-s4`, `center_x, center_y`. Can you check [this](https://github.com/tensorflow/models/blob/master/official/vision/beta/projects/yolo/ops/preprocessing_ops.py#L236) and [this](https://github.com/tensorflow/models/blob/2eb57715adeef7957589ebf2a457ae429a87462e/official/vision/beta/projects/yolo/ops/mosaic.py?rgh-link-date=20

[2022-05-23 20:39] qlzh727 commented on #442
Note that keras (as part of the tf API) doesn't list any dependency by itself. It always get its needed package from tensorflow. The requirements.txt in keras repo is purely for test purpose (local env setup). End user will always access keras package via pip install tensorflow package.

As of Keras CV, since it relies on tf/keras, we should config proper version dependency for it, so that CV nigh

[2022-05-23 20:48] bhack commented on #442
@qlzh727 Yes I know this but I've mentioned it cause we have already a parallel CI ticket at https://github.com/keras-team/keras-cv/issues/440

[2022-05-23 21:38] qlzh727 commented on #442
Ack. Will comment on #440.

[2022-05-23 21:54] bhack commented on #454
Already discussed some months ago https://github.com/keras-team/keras-cv/pull/147#issuecomment-1052867691

[2022-05-23 22:32] innat commented on #454
@bhack thanks for the info, didn’t know that. Closing it.

[2022-05-23 22:38] bhack commented on #454
I wasn't saying that to get you to close the ticket. They could have changed their opinion after 3 months.

[2022-05-24 23:17] bhack commented on #291
@qlzh727 Just an extra note, as you have already seen in https://github.com/tensorflow/tensorflow/issues/56242

We need to extend this analysis also to the Keras repo for:
https://github.com/keras-team/keras/blob/master/keras/layers/preprocessing/image_preprocessing.py

[2022-05-25 06:28] LukeWood opened #455 "Update performance benchmarking script to include a layer with ops that rely on fallbacks for autovectorization"
https://github.com/tensorflow/tensorflow/issues/56242

[2022-05-25 11:13] bhack commented on #455
https://github.com/tensorflow/tensorflow/issues/56242 was not going to importing keras-cv so it is related to Keras only.

I  think some preprocessing layers in Keras with 2.9 was refactored, like KLP layers in Keras-cv, on the new base class acquiring a randomization policy within the batch + vectorized_map (randomize the transformation for every single element in the batch).

Other then for miss

[2022-05-25 11:32] bhack commented on #455
P.s. just to make the history more consistent, for who is landing on this ticket directly, we started the discussion with @qlzh727 3 months ago at https://github.com/keras-team/keras-cv/pull/146.

[2022-05-25 18:59] qlzh727 commented on #291
Ack. Will take a look later this week.

[2022-05-25 22:57] LukeWood commented on #291
We could write a script to iterate the symbols in the keras_cv.layers.preprocessing namespace.  That should cover all KPLs from keras core and keras cv as we alias the core ones there

[2022-05-25 23:07] bhack commented on #291
Yes, I have used some quick and dirty bash command locally to produce these "reports".
A new CI Action it would be ideal so that we have also a detector for new introduced fallbacks in candidate PRs.

This also would be nice to have later when we have the mentioned API in Keras master.

[2022-05-26 21:08] LukeWood opened #456 "Produce marketing image for keras.io docs"
We can use this, but also should include CutMix and MixUp.

https://colab.research.google.com/drive/1cKAM7R7I2GO6OzfkxwLH6TTpXL5-_q7u?usp=sharing

[2022-05-27 04:17] ishangala16 commented on #456
Luke, can you provide something for reference? I'll make something similar

[2022-05-27 23:51] Suzan009 commented on #393
Any update on this?
Already asked. https://github.com/keras-team/keras/issues/15811

[2022-05-28 17:11] LukeWood commented on #456
Hey @ishangala16!  This is more of a tracking issue that I'll likely take on!  Check out our contributions welcome hotlist!

[2022-05-29 09:45] ishangala16 commented on #456
@LukeWood Okay no problem I'll check out the list

[2022-05-29 09:49] abhi-glitchhg commented on #113
Hey there!
Any plans to add Complete IOU loss (CIOU) and Distance IOU loss (DIOU) from this paper -  https://arxiv.org/abs/1911.08287

cc : @LukeWood

[2022-05-29 09:59] quantumalaviya commented on #113
Hey @abhi-glitchhg, I am planning to add these losses soon.

[2022-05-29 10:05] sayakpaul opened #458 "Implementation of Focal Cutout or Focal Masking"
Not sure if any other work has implemented and investigated this approach of Focal Masking before but [1] combines Focal Masking and Random Masking to improve self-supervised pre-training for learning visual features.

The idea of Focal Masking (and comparison to Random Masking) is demonstrated in the figure below:

<img width="1236" alt="image" src="https://user-images.githubusercontent.com/22957

[2022-05-29 18:37] LukeWood commented on #458
Thanks Sayak!  Looks like a great tool.  I'd love to be able to reproduce masked autoencoders using KerasCV components.  Thanks!

[2022-05-30 19:27] LukeWood opened #459 "Support `tf.image.combined_non_max_suppression()` output type in COCO metrics"
https://www.tensorflow.org/api_docs/python/tf/image/combined_non_max_suppression

The output type of `tf.image.combined_non_max_suppression()` is a custom object type with a specific set of keys.

We should support this output type in KerasCV for bounding boxes.

[2022-05-30 19:33] LukeWood commented on #459
to make coco merics work right now you have to do:
[code]

[2022-05-31 17:02] LukeWood opened #460 "Fix error message for when requirement does not meet tensorflow>=2.9.0"
[code]

Can be done via setup.py, or via the warning log.

[2022-05-31 17:22] LukeWood commented on #41
I've received numerous inquiries about AutoAugment, so I definitely think we want this component.

[2022-05-31 17:23] bhack commented on #460
Is this the same as https://github.com/keras-team/keras-cv/issues/442?

[2022-06-02 00:11] adhadse commented on #460
If users are getting this message, they have likely already gone through the installation procedure mentioned [here](https://github.com/keras-team/keras-cv/blob/master/.github/CONTRIBUTING.md#setup-environment).
How can then we handle the error there since it won't be in the traceback...

How about we handle this error in keras_cv/__init__.py.
This [line](https://github.com/keras-team/keras-cv/blo

[2022-06-02 00:38] bhack commented on #460
Isn't this problem also related  to the installed wheel other the the repo clone?

[2022-06-02 19:14] LukeWood opened #461 "NonMaxSupression Layer"
This should return a KerasCV bounding box format instead of a custom object.

https://github.com/LukeWood/reef-net/blob/master/reef_net/model.py#L247

[2022-06-02 23:00] #456 closed

[2022-06-03 00:03] #459 closed

[2022-06-04 11:22] quantumalaviya commented on #461
Hey @LukeWood I think you can assign this one to me.

[2022-06-04 17:58] LukeWood commented on #461
Cool, the idea here is to go from the format the NMSSuppression returns to a specified `bounding_box_format` using the API I created in my bounding box PR!

[2022-06-05 07:43] innat commented on #327
[HERE](https://www.youtube.com/watch?v=h6s61a_pqfM&t=152s) is a nice demonstration regarding the coco annotation format. It explains the RLE quite well. Placing it here for future reference.

[2022-06-05 21:04] #440 closed

[2022-06-06 06:47] LukeWood commented on #454
Is there some sort of action I need to take to opt our repo in?

[2022-06-06 07:41] innat commented on #454
I think demonstrating the [example or tutorials](https://github.com/keras-team/keras-cv/tree/master/examples/layers/preprocessing) in a jupyter notebook might be useful for visual look rather than script. If so, then ReviewNB would be helpful. What do you think?

[2022-06-06 22:15] #450 closed

[2022-06-06 22:15] LukeWood commented on #450
Fixed this

[2022-06-06 22:18] divyashreepathihalli opened #465 "Migrate BaseImageAugmentationLayer to Keras_CV"
Duplicate BaseImageAugmentationLayer in Keras_CV.

[2022-06-06 22:21] bhack commented on #465
Can you explain this for the community?

[2022-06-06 22:22] divyashreepathihalli opened #466 "Migrate RandomCrop KPL to Keras_CV"

[2022-06-06 22:23] divyashreepathihalli opened #467 "Migrate RandomZoom KPL to Keras_CV"

[2022-06-06 22:23] divyashreepathihalli opened #468 "Migrate RandomHeight KPL to Keras_CV"

[2022-06-06 22:23] divyashreepathihalli opened #469 "Migrate RandomWidth KPL to Keras_CV"

[2022-06-06 22:24] divyashreepathihalli opened #470 "Migrate RandomRotate KPL to Keras_CV"

[2022-06-06 22:25] divyashreepathihalli opened #471 "Migrate RandomFlip KPL to Keras_CV"

[2022-06-06 22:29] divyashreepathihalli opened #472 "Raise error from `augment_bounding_boxes()` in core Keras"

[2022-06-06 22:38] divyashreepathihalli commented on #465
@bhack , as Keras_CV continues to grow, we would like the package to be more self contained.  We want to make sure that updates to Keras_CV is not tied to Keras releases. BaseImageAugmentationLayer is subclassed by all Image preprocessing layers. Migrating BaseImageAugmentationLayer with help us make updates to Keras_CV easier and faster.

[2022-06-06 22:57] bhack commented on #465
This will imply that all the KLP layers still in Keras will migrate here. Are these going to be detracted over multiple releases in Keras or this will happen in a single release?

[2022-06-06 23:50] LukeWood commented on #465
They won’t be deprecated or removed.  Mirrored here, with the KerasCV layers being a strict superset of the Keras core layers.

[2022-06-06 23:57] bhack commented on #465
Ok probably we could rename all the "migrate" ticket.

[2022-06-07 12:02] AdityaKane2001 opened #473 "Implementing Stochastic Depth"
@sayakpaul @LukeWood

A continuation of #130, here I would like to clear some nitty-gritties regarding the implementation.

Abiding to the [original paper](https://arxiv.org/pdf/1603.09382.pdf), TFA has the most appropriate implementation ([here](https://github.com/tensorflow/addons/blob/v0.17.0/tensorflow_addons/layers/stochastic_depth.py#L5-L90)) in my opinion. The timm and tensorflow/tpu implem

[2022-06-07 12:29] AdityaKane2001 commented on #473
Great! In that case I will have a PR up by EoD today.

[2022-06-07 12:32] sebastian-sz commented on #473
Do we want to have both StochasticDepth (TFAddons like) and DropBlock variant or only one of the two?

[2022-06-07 12:34] sayakpaul commented on #473
Hi @sebastian-sz! Great suggestion.

This is a bit specific to Adtiya's contribution to GSoC. We haven't yet factored in DropBlock but that should be relatively easy to do. I don't mind including it. @AdityaKane2001 WDYT given DropBlock is more commonly used these days?

[2022-06-07 12:41] sayakpaul commented on #473
It should not be.

[2022-06-07 12:41] sebastian-sz commented on #473
@AdityaKane2001 yes, I meant DropPath not DropBlock. Sorry for the confusion.

[2022-06-07 12:44] AdityaKane2001 commented on #473
@sayakpaul which one do we want to include?

I think StochasticDepth (dropping entire batch) and DropPath (dropping some samples) are more relevant and can be easily implemented here. If it's okay, I'll implement these two and have the PR ready by EoD. Then we can move on to DropBlock.

[2022-06-07 12:48] sayakpaul commented on #473
I'd prefer separate PRs for the two. I think that would make the review a bit more streamlined.

[2022-06-08 03:42] #419 closed

[2022-06-08 04:19] #368 closed

[2022-06-08 21:31] quantumalaviya opened #477 "Equalization layer gets retraced on every call (even without any operations inside `augment_image`)"
I discovered this problem with equalization while trying to add changes for my AugMix PR. It was already known that the Equalization layer gets retraced on every call. While trying to find the reason, I realized how this problem persists even when all operations inside `augment_image` are removed (i.e. `augment_image` simply returns the input). This seems to be an issue with `BaseImageAugmentation

[2022-06-08 23:18] bhack commented on #477
Can we close this now?

[2022-06-09 00:31] LukeWood opened #478 "Introduce Ragged support to the bounding box utilities"

[2022-06-09 00:51] LukeWood commented on #477
No, it still gets retraced.  I think we fixed the dynamic shape issue, not retracing issue (the PR was improperly titled)

We need to verify the retracing issue is fixed.

[2022-06-09 02:55] LukeWood commented on #409
Someday we can support this, probably as a unique thpe

[2022-06-09 02:55] #409 closed

[2022-06-09 05:40] sebastian-sz commented on #477
I think this could be related to: https://github.com/keras-team/keras-cv/issues/241

[2022-06-10 05:24] LukeWood opened #479 "Review API names for StochasticDepth"
I merged this, but upon a last review I'd like to rename the constructor arg.  I'll take care of this before next release.

[2022-06-10 05:38] LukeWood commented on #479
My thoughts:

- survival_probability should probably be named `rate`
- we should be consistent with DropBlock2D as to whether the rate is the drop rate or survival rate
- we should probably remove the default argument of 0.5

[2022-06-10 06:20] LukeWood commented on #241
Ok, after lots more digging and time I agree with you @bhack  we should apply map_fn in eager, vectorized in graph.  We can tackle this after @divyashreepathihalli migrates  BaseImageAugmentationLayer to KerasCV.  It will be easier to update when in KerasCV

[2022-06-10 17:27] quantumalaviya commented on #477
I think this can be closed @LukeWood

#241

[2022-06-10 17:34] #477 closed

[2022-06-11 17:19] LukeWood opened #484 "Remove references to data_format"
There is no real use case for channels first anymore.  We can just drop this everywhere for simplicity.

[2022-06-11 17:34] kartik4949 commented on #410
@LukeWood might be useful, to standardise tests of KPI!

[2022-06-11 19:13] LukeWood opened #485 "Update all examples/layers/preprocessing/* examples to use demo_utils.py"
Currently, the canonical example of this in:

https://github.com/keras-team/keras-cv/blob/master/examples/layers/preprocessing/channel_shuffle_demo.py

[2022-06-11 19:17] kartik4949 commented on #485
cool, will update all demo files with this thanks :)

[2022-06-11 20:55] LukeWood opened #486 "Potential source of COCO Mean Average Precision error"
It is possible to make 25 correct predictions in a row right after achieving the recall threshold.  Our metric doesn't account for this, instead accounting only for the precision value exactly at the recall threshold:

https://github.com/keras-team/keras-cv/blob/master/keras_cv/metrics/coco/mean_average_precision.py#L339

I'll need to check this against the original MSCOCO implementation, and docu

[2022-06-11 20:57] LukeWood commented on #486
original logic:
https://github.com/cocodataset/cocoapi/blob/master/PythonAPI/pycocotools/cocoeval.py#L402

It should be noted that their state has a different structure so while this looks the same on the purpose they may pre-account for this.

[2022-06-13 21:24] LukeWood opened #487 "Add **kwargs to `augment_*` methods in all BaseImageAugmentationLayer subclasses"
In subclass layers we should add **kwargs to the augment_* methods in all BaseImageAugmentationLayer subclasses -> or at least recommend users do this in https://keras.io/guides/keras_cv/custom_image_augmentations/

The reason for this is that we will be adding new arguments to base image augmentation augment_* method with future label types, including segmaps, etc.

As a first step, lets add this

[2022-06-13 22:52] #465 closed

[2022-06-14 01:40] LukeWood opened #488 "[Meta] discussion about weight management: should we allow ported weights"
**Original Post by @sayakpaul***

I agree that rescaling to [0, 1] is way simpler and easier to do but a significant amount of models could be supported off-the-shelf with this consideration I believe.

Expanding more on this comment and also summarizing what we (@LukeWood and I) discussed offline.

While supporting a model with a training script to reach SoTA numbers is a great feature to have I

[2022-06-14 10:22] bhack commented on #488
If we are going in a direction where foundarional like models are going to be few-shot fine-tuned on the user task/dataset It Is more important that we have scripts and test for this.

The problem about converting the weights Is that It is often quite a collection of hacks. Do you think that we could organize some utils to support this activity?

[2022-06-14 10:37] sayakpaul commented on #488
It's a bit unclear. Could you elaborate?

Hugging Face has a pipeline in place. See https://github.com/huggingface/transformers/blob/main/src/transformers/modeling_tf_pytorch_utils.py. But it also requires users to write the models in Keras in a certain way so that the PyTorch params can be loaded into them (writing components as a `tf.keras.layers.Layer instead of a `tf.keras.Model`).

[2022-06-14 10:57] ariG23498 commented on #488
I feel like this is a _very_ important feature to welcome.

Some really relatable pointers:
- Pre-training the model (foundational model or any model for that matter) is really tricky. While there can be recepies mentioned in the paper, trying to recreate what the authors have done seems redundant to me.
- We would need to validate the implementation to the very core. The way @sayakpaul has valida

[2022-06-14 11:47] sebastian-sz commented on #488
It is hard to pick a side.

On one hand, requiring to reproduce the weights is a direct proof that the process can be reproduced using `keras_cv` components. It also helps to combat the reproducibility crisis - there is no case that the weights have been trained by someone somewhere and they only exist on e.g. Google Drive. We are also free to implement our own, standardized preprocessing - this i

[2022-06-14 11:48] bhack commented on #488
What I meant here is that if we are going in a direction of having quite general models that are too large to be trained from scratch also with a GCP or GKE CI training job it is more important if we have working scripts to few-shot/fine.tune these models on another dataset.

As we could not know what the users datasets are we could just have tests and scripts on a downstream proxy task/dataset.

[2022-06-14 11:55] AdityaKane2001 opened #489 "`requirements.txt` required"
Currently, the project does not have a `requirements.txt` file as in the core Keras repo. The current "Setup environment" section in CONTRIBUTING.md does not provide a good support for the same.

It would be great to have a requirements.txt as well as clear instructions for setting up the dev environment. Along with that it might be worthwhile to include versions for the formatters as well.

[2022-06-14 12:02] bhack commented on #489
Probably it is a semi-duplicate of https://github.com/keras-team/keras-cv/issues/442

[2022-06-14 12:14] bhack commented on #488
What I meant here is that if will not  have too much Keras reference models as a starting point from the research at the same time we don't want to require too much sparse hacks from contributors to converts these models weights.

So the point here is again what kind of tools or tutorials we could collected here to help and accelerate this recurrent activity?
Will think it will be a purely manual

[2022-06-14 12:22] sayakpaul commented on #488
Please note that I'm not talking about weight porting here anymore. It's purely about the implementation. Referring to the original model paper, framework documentation, official implementation, etc. -- these are anyway required for someone to implement an architecture. I don't know of other ways for references. Suggestions are welcome.

If we can set a limit on model size (1B parameter model for

[2022-06-14 12:31] bhack commented on #488
Instead I was still talking about the pure weight porting phase.
For rebuilding the arch I think we could just have few tutorial/examples or best practices on approach to the task especially as I suppose that we want to be modular in this repo.
So we could have also some basic policy on how to contribute missing components to the library when we are going re-implement or port a specific network ar

[2022-06-14 12:44] sebastian-sz commented on #488
@sayakpaul Yes, I think that in the case of weights transfer the reproducibility and preprocessing are both tied to the reproducibility and preprocessing used in the original repository. If the original scripts are not reproducible, I'm not sure if we can consider converted weights reproducible. This is not always the case.

If they use certain preprocessing, then the same preprocessing must be us

[2022-06-14 12:47] sayakpaul commented on #488
Right on! I agree.

Do you mean if the original parameters fail to produce the reported numbers? If so, I think a fair thing to do is to vet those parameters first before proceeding. In my experience, luckily, I haven't encountered non-reproducible original parameters.

For evaluation (on ImageNet-1k validation set, let's say), yes!

Oh absolutely. I can cite your work on [ResNet-RS](https://githu

[2022-06-14 12:55] bhack commented on #488
An extra point is:
if we have not trained the network from scratch with our job can the fine-tune/few-shot job test on the downstream task/dataset be a good enough proxy for testing the reproducibility?

[2022-06-14 13:00] sayakpaul commented on #488
If the models (ported with the original parameters) can

* yield the same metrics (drop of 0.5%-1% is still acceptable, happens all the time) on the validation dataset as reported in the official resources
* yield sufficiently good performance on a downstream task

I do think that's validation enough for the architecture and also the ported parameters. If not, I'd love to know about other ways. As

[2022-06-14 13:08] bhack commented on #488
What I mean is that if you have just ported the weight on your first point you can only use the second point to validate "the learning" part of the model (e.g. preprocessing and all the learning related hyperameters).

When the size of the model is too large  for the "learning reproducibility" we need to rely only on point two.

So my point is:
Can we just unify the learning reproducibility of the

[2022-06-14 13:10] sayakpaul commented on #488
If training from scratch can be done then no need to worry about this point in the first place.

I don't think so. Ensuring the ported model meets the desired number should also be considered.

[2022-06-14 13:32] bhack commented on #488
This requires that we could expect always traing job/scripts for model <= treshold flops/size.

Here I was talking about what it is exclsively related to the learning phase not the inference.

[2022-06-14 18:50] LukeWood commented on #489
Can we resolve all of these issues with the “install_requires” of our setup.py?

[2022-06-14 19:25] LukeWood opened #491 "Accuracy issue with MeanAveragePrecision"
for some reason, MeanAveragePrecision result depends on the specified class_ids - even if the class is missing!  This is a huge error!  I will need to address this.

[2022-06-14 19:30] LukeWood commented on #491
I will add test cases until I identify the source of the issue and then fix the behavior .

[2022-06-14 20:49] #40 closed

[2022-06-14 22:26] #328 closed

[2022-06-14 22:56] bhack commented on #488
Just to male another CVPR 2022 few-shot use case:
https://github.com/microsoft/GLIP

Can we verify, as a proxy, just the reproducibility of the few-shot task with a CI job?

[2022-06-14 23:36] #491 closed

[2022-06-14 23:36] #486 closed

[2022-06-15 04:12] ariG23498 commented on #458
Hey folks,

I took a look at the paper and the code. These are my thoughts:

- @AdityaKane2001 rightly pointed out

- The masking actually happens [inside the `encoder`](https://github.com/facebookresearch/msn/blob/main/src/deit.py#L250-L255)
- So we first augment the images and them mask the patches accordingly. But I am still not sure why the authors have used `RandomResizedCrop` as an augmentat

[2022-06-15 04:24] sayakpaul commented on #458
Thanks for your interest and for pointing that out, @ariG23498!

@AdityaKane2001 is actually implementing this as a part of GSoC, so I'm not too sure about the scope of taking another contributor on this one.

[2022-06-15 04:26] ariG23498 commented on #458
I understand! Can we have a label for `GSoC` so that we point out which issues are already taken?

@AdityaKane2001 all the very best for your contributions!

[2022-06-15 04:26] sayakpaul commented on #458
@LukeWood let's create a label for GSoC-22-related stuff to better separate them?

[2022-06-15 04:53] AdityaKane2001 commented on #458
@ariG23498

Thanks for the insight! I just have a small question. It looks to me that patches are getting masked randomly, and not in the order mentioned in the paper. As you said, the question of RandomResizedCrop also remains, since they have used it with a very low area factor (0.05 to 0.3) which seems quite unusual.

https://github.com/facebookresearch/msn/blob/main/src/deit.py#L250-L255

[2022-06-15 05:03] sayakpaul commented on #458
I guess it's best to clarify this with the authors of the paper.

@imisra @MidoAssran could you please help us with the doubts mentioned in https://github.com/keras-team/keras-cv/issues/458#issuecomment-1155090357 and https://github.com/keras-team/keras-cv/issues/458#issuecomment-1155985462?

Thanks!

[2022-06-15 17:22] MidoAssran commented on #458
Hi @AdityaKane2001, focal masking is just extracting a small-crop from an image-view. An image-view is created via random-data augmentations of an image. For efficiency, you can do both simultaneously in the data-loader with the RandomResizedCrop function in Pytorch.

*Key points:*
Notice that the crop-scale is very small (0.05, 0.3); meaning we are extracting crops that range between 5% to 30% of

[2022-06-15 19:43] LukeWood opened #494 "Add demo images to the KPL documentation pages"
We can generate these using the `examples/layers/preprocessing` scripts, host the images on imgur, and include these images in the docstrings.

[2022-06-15 20:00] AdityaKane2001 commented on #458
@MidoAssran

Thanks for the clarification! I just have one question. The illustration in the paper suggests involvement of patching, and contiguous patches in a grid are retained while dropping the rest of the image in the case of focal masking. However, the code as well as the procedure you mentioned does not take this into consideration. Could you please share your thoughts on this?

[2022-06-16 02:47] sayakpaul commented on #473
@AdityaKane2001 can we close it?

[2022-06-16 02:57] AdityaKane2001 commented on #473
I was hoping to close it after we merge DropPath.

[2022-06-16 03:27] LukeWood commented on #488
I have been wondering:

Is it mathematically possible to transform weights to expect a different value range and still function?  I believe that this should be possible, right?

[2022-06-16 04:00] sayakpaul opened #495 "A separate page to track pre-trained models and their details"
Once we have a collection of pre-trained models we can start preparing a Markdown page including the following details for each model:

(Note that I'm only assuming image classification models for now but these details could be amended to accommodate detection, and segmentation models too):

* Top-1 accuracy
* Top-5 accuracy
* Number of parameters
* FLOPs
* Number of images / sec (inference mode)

[2022-06-16 05:33] LukeWood commented on #495
Absolutely!  This will be fantastic.  Ideally, our scripts will autogenerate all of these metrics and export them to either JSON, markdown, some other format!  Then, keras.io can automatically load these at compile time and generate a nice leaderboard

[2022-06-16 06:00] sayakpaul opened #496 "Add MLP Mixer classes to the `models` module"
MLP Mixers [1] are a cool architecture that does not involve convs, attention, or transformers -- just `Dense` layers 🤯! I have worked with MLP Mixer before (see [here](https://github.com/sayakpaul/MLP-Mixer-CIFAR10) and [here](https://github.com/sayakpaul/MLPMixer-jax2tf)). Therefore, would love to contribute them to `keras_cv.models`.

## References

[1] MLP-Mixer: An all-MLP Architecture for Vi

[2022-06-16 06:03] LukeWood commented on #496
MLPMixer is a very unique architecture!  I think it would be great to offer this from keras_cv.models

[2022-06-16 06:08] sayakpaul commented on #496
In my experience of working with similar architectures (i.e., the ones that don't reply on convs to process images and build representations) usually benefit from the patch extractor module. For the first iteration, I will include the patch extractor in the model itself. But can do the changes necessary to offer it as a separate API.

[2022-06-16 06:10] LukeWood commented on #496
sounds good, as long as we write it as an independent layer it shouldn’t be hard to migrate it to the layers API should it turn out to be useful to do so.

[2022-06-16 08:20] AdityaKane2001 commented on #458
@MidoAssran

Thanks a lot for the clarification. It is clear now.

[2022-06-16 13:06] bhack commented on #495
Having tools for this in Keras It is one of the most popular FR of the last years:
https://github.com/tensorflow/tensorflow/issues/32809

[2022-06-16 14:09] bhack commented on #496
We could also expore if it is useful to access to surveys to have a good overview of the specific domain on reusable components/API design:

https://arxiv.org/abs/2111.04060

https://arxiv.org/abs/2112.04453

[2022-06-16 14:35] bhack commented on #496
We could also expore if it is useful to access to surveys to have a good overview of the specific domain on reusable components/API design:

https://arxiv.org/abs/2111.04060

https://arxiv.org/abs/2112.04453

![IMG_20220616_163457.jpg](https://user-images.githubusercontent.com/1710528/174094079-829ce418-f8b7-44d4-8530-73bdc35490ad.jpg)

[2022-06-16 19:42] LukeWood opened #500 "AugMix does not respect seed"
Two runs of `examples/layers/preprocessing/aug_mix_demo.py` on the same seed produce two different sets of images

[2022-06-16 19:51] LukeWood opened #501 "AugMix should use the get_random_transformation() API"
all random samples should be drawn inside of get_random_transformation()

https://github.com/keras-team/keras-cv/blob/master/keras_cv/layers/preprocessing/aug_mix.py#L282

[2022-06-16 19:58] LukeWood commented on #500
Root cause is here: https://github.com/keras-team/keras-cv/blob/master/keras_cv/layers/preprocessing/aug_mix.py#L100

@qlzh727 should we use [make_legacy_seed()] to seed this op?

[2022-06-16 20:06] #479 closed

[2022-06-16 20:10] qlzh727 commented on #500
yes. You could use make_legacy_seed() in this case. It could return None if user didn't provide any seed, which I think is ok.

[2022-06-16 20:42] LukeWood opened #502 "Add **kwargs to all `augment_*` methods in preprocessing layers"
The guide here explains why:

https://keras.io/guides/keras_cv/custom_image_augmentations

[2022-06-20 20:43] LukeWood commented on #502
Divya took care of this in https://github.com/keras-team/keras-cv/pull/493

[2022-06-20 21:14] LukeWood opened #506 "Include `yxyx` format in `converters.py`"
https://github.com/keras-team/keras-cv/blob/master/keras_cv/bounding_box/converters.py

[2022-06-20 21:14] LukeWood commented on #506
The yxyx format is used in model garden, tf.io and tf.image

[2022-06-21 08:24] innat opened #546 "Add ArcFace loss."
**System information**.

TensorFlow version (you are using): 2.8
Are you willing to contribute it (Yes/No) : No (but willing to provide starter if required.)

**Describe the feature and the current behavior/state**.

**ArcFace**, or Additive Angular Margin Loss, is a loss function used mainly in face recognition tasks. It is used to obtain highly discriminative features. This loss function can be

[2022-06-21 17:24] innat commented on #506
IMO, the `xyxy` notation is a bit more readable. Not sure why `yxyx` is followed there. And what about `xywh`?

[2022-06-22 01:22] LukeWood opened #511 "Document why we return compute_dtype for all inputs"
I should document why we don’t return the original type for images, bounding boxes, etc back to users

[2022-06-22 01:28] #470 closed

[2022-06-22 16:34] Rocketknight1 opened #512 "AdaptiveAvgPool2D layer"
**Short Description**
At Hugging Face we've seen a few PyTorch vision transformer models using `AdaptiveAvgPool2D`. In a lot of cases these are just resizing to `(1,)` or `(1, 1)`, in which case they're just a strange way to compute `torch.mean()`, but in some cases they're actually using this layer's full functionality.

The problem with `AdaptiveAvgPool2D` is that it computes the pooling windows

[2022-06-22 18:46] LukeWood commented on #512
Really interesting, is this layer required to get strong performing in vision transformer models?

I see no issue in including it, but I want to be sure it fits a use case.  Let me know if you have more information as to "why" it is used.

[2022-06-22 19:29] Rocketknight1 commented on #512
I suspect that the layer is never really necessary when you're designing a model from scratch - you could always just use normal pooling layers and just choose the strides and widths appropriately. The need for it in TF mostly arises when someone has trained a model in PyTorch and you want to reimplement their model and load their weights - then if you write a slightly different pooling layer you'

[2022-06-22 19:53] LukeWood commented on #512
I think this sounds like a good addition, I'm mainly just curious if the only reason anyone uses it is backwards compatibility.  Do people continue to use it a lot in the pytorch world today?

[2022-06-22 20:01] Rocketknight1 commented on #512
Yes, that's correct. However, it doesn't exactly have a 'stride' in the usual sense. It basically splats (potentially overlapping) pooling windows all across the input so as to get the desired output shape, but the spacing between these windows is usually not constant, unless the input size is an integer multiple of the output size.

[2022-06-22 20:31] LukeWood commented on #512
I see,  can you paste a snipped of the API we would want to use?  Do you specify output shape?

[2022-06-22 21:03] Rocketknight1 commented on #512
Sure, the API is just:

[code]

In other words, you specify the output shape at init, and then whatever `Tensor` you pass in gets pooled down to the desired output shape, with the required pooling windows being calculated in the `call()`. The same layer can handle multiple different input shapes without needing to be rebuilt.

[2022-06-22 21:34] LukeWood commented on #512
Gotcha, that is a pretty interesting feature.

One last quick Q, does it handle upscaling too?

[code]

[2022-06-23 00:29] #506 closed

[2022-06-23 00:30] LukeWood opened #514 "Include MobileNetv3 model"

[2022-06-23 00:37] LukeWood opened #515 "Ragged random resize"
We should be able to randomly resize image batches into a ragged batch with random shapes.  Perhaps randomheight and random width once migrated to KerasCV could support this via a ragged keyword

[2022-06-23 11:11] Rocketknight1 commented on #512
In Torch it might (though I don't think this is a common/intended use case), but because I implemented it using normal pooling layers in TF I don't think it would. If needed, I could add a different code path for upscaling, but I haven't seen any code in the wild where people use it for that.

[2022-06-23 17:30] LukeWood commented on #512
for sure, thanks.

My only real concern here is that this isn't idiomatic to Keras.  In pytorch you specify output features all the time, but in Keras that is computed for you.  So it is a little strange to have this in Keras, BUT I will say for compatibility purposes it could be valuable.

[2022-06-23 17:59] LukeWood commented on #512
thanks for the offer!

I'd like to hear @fchollet and @tanzhenyu 's opinion on compatibility layers like this.  Our long term goal is to not port weights, but perhaps this is low enough cost that the benefit outweights the cost.

[2022-06-23 19:05] Shahbazahammed opened #517 "Just an extra point, I hope that we could evaluate to have some free CI resource for training job resoruces community integrated with Github Action."
Just an extra point, I hope that we could evaluate to have some free CI resource for training job resoruces community integrated with Github Action.
But I know that it could be partially connected to this:
https://github.com/tensorflow/build/issues/61#issuecomment-991244641

_Originally posted by @bhack in https://github.com/keras-team/keras-cv/issues/71#issuecomment-1025765103_

[2022-06-23 19:22] LukeWood commented on #517
We’re definitely hoping to offer this at some point!

[2022-06-23 20:55] atuleu opened #518 "Adds support in augmentation for keypoints"
**Short Description**

I am interested to use RandAugment for object detection with keypoints. Instead of re-doing everything on my own, I would like to add support for keypoints in the augmentation present in this repo.

**Papers**

None I know off

**Existing Implementations**

Already have some PR

**Other Information**

I would propose to:

* Add `BaseImageAugmentationLayer.augment_keypoints(s

[2022-06-23 22:45] LukeWood opened #520 "Include EfficientNet models"
This should be ported from the core Keras API: keras.applications following the example set in: https://github.com/keras-team/keras-cv/pull/476

[2022-06-23 22:45] LukeWood commented on #514
This should be ported from the core Keras API: keras.applications following the example set in: https://github.com/keras-team/keras-cv/pull/476

[2022-06-23 22:45] LukeWood opened #521 "Include ResNetV2 models"
This should be ported from the core Keras API: keras.applications following the example set in: https://github.com/keras-team/keras-cv/pull/476

[2022-06-24 04:56] LukeWood commented on #250
mentioning https://github.com/keras-team/keras-cv/issues/21 to de-duplicate them.

[2022-06-24 04:56] #21 closed

[2022-06-24 04:59] LukeWood opened #522 "End to end object detection example"
I'll be bundling together all of our object detection components into an end to end object detection training pipeline.
I'll use the MSCOCO dataset, a RetinaNet, KerasCV augmentation layer to augment data, and KerasCV COCO metrics to evaluate the pipeline.

[2022-06-24 05:00] #130 closed

[2022-06-24 05:02] LukeWood opened #523 "ConvNeXT model architecture"
@sayakpaul will be doing this

[2022-06-24 05:03] sayakpaul opened #524 "Include ConvNeXt in keras_cv.models"
https://www.tensorflow.org/api_docs/python/tf/keras/applications/convnext

@LukeWood feel free to assign this to me.

[2022-06-24 05:03] #524 closed

[2022-06-24 05:03] sayakpaul commented on #524
In favor of https://github.com/keras-team/keras-cv/issues/523

[2022-06-24 05:04] sayakpaul commented on #523
All in. Please assign it to me.

[2022-06-26 05:05] #473 closed

[2022-06-26 08:25] quantumalaviya opened #528 "DenseNet docstring should be fixed"
There are some minor inconsistencies in DenseNet compared to the other layers and keras applications:

Firstly, in the argument description for `include_top`, it says,
[code]
However, for keras_cv there is no `num_classes` attribute. We use `classes`. Either the `classes` attribute name or this description needs to be changed. Personally, I feel that `num_classes` is more descriptive.

Secondly, t

[2022-06-26 10:18] AdityaKane2001 commented on #520
@LukeWood I'm interested to work on this.

[2022-06-26 10:18] AdityaKane2001 commented on #521
@LukeWood I'm interested to work on this.

[2022-06-26 10:21] AdityaKane2001 commented on #520
@sayakpaul @LukeWood I'm interested to work on this.

[2022-06-26 10:21] AdityaKane2001 opened #530 "Port RegNets from leras.applications"
@sayakpaul @LukeWood I'm interested in porting [RegNets](https://github.com/keras-team/keras/blob/master/keras/applications/regnet.py) from keras to keras_cv.

[2022-06-27 00:47] LukeWood commented on #521
Great Aditya!  Feel free to take it on!

[2022-06-27 02:20] ricardoprins commented on #484
This means dropping the kwarg as is, making everything behave as if all were `channels_last`?

[2022-06-27 05:22] LukeWood commented on #484
Yep @ricardoprins !!!

[2022-06-27 05:25] LukeWood commented on #528
Thanks for pointing this out!

[2022-06-27 07:48] innat opened #532 "Anomaly detection models (vision)"
**Short Description**

![164736543-0ef58c66-dfb0-47c5-8e6e-26774dbc6fd3](https://user-images.githubusercontent.com/17668390/175886639-69a3524a-5784-4d59-ad72-2a75a1df0acb.gif)

Anomaly detection is an important category of common problem mostly in manufacturing industry. There is a good amount of ML models (and active research) to automate the anomaly detection task. I think it would be good addit

[2022-06-27 08:17] old-school-kid opened #533 "Support for augmention in segmentation task"
**Short Description**
Sort of duplicate of [#16117](https://github.com/keras-team/keras/issues/16117)

RandomRotation has utility for [augmenting bounding boxes](https://github.com/keras-team/keras-cv/blob/master/keras_cv/layers/preprocessing/random_rotation.py#L139) which is again missing in random shear layer. Also there is no support for augmenting target in case of a segmentation task.

**Othe

[2022-06-27 09:23] bhack commented on #532
Some of this model are available in a TF/Keras version at https://github.com/Burf/tfdetection

/cc @burf If he Is interested to contribute.

[2022-06-27 09:26] bhack commented on #532
Is MVTec saturated?
https://paperswithcode.com/sota/anomaly-detection-on-mvtec-ad

[2022-06-27 09:40] old-school-kid opened #534 "Gradient visualization tool"
**Short Description**
Incuding gradient based saliency map as a visualization tool. [This paper](https://arxiv.org/abs/1810.03292) (citations: 1015) goes through some of the visaulization tool. TL;DR : "Of the methods we tested, Gradients and GradCAM pass the sanity checks, while Guided BackProp and Guided GradCAM fail".

**Papers**
https://arxiv.org/abs/1312.6034

**Implementation**
[tf-explain)(

[2022-06-27 10:03] innat commented on #532
Yeah, looks so. Models like patch-core, or fast-flow (transformer based) left less room for improvement on this dataset.

[2022-06-27 14:49] AdityaKane2001 commented on #521
Should I go for ResNetV1 and ResNetV2 both for completeness?

[2022-06-27 15:51] LukeWood opened #538 "Add `with_labels_test.py` to the augmentation directory"
This should be a parameterized absl test similar to `layers/serialization_test.py`.

It can live in the directory: https://github.com/keras-team/keras-cv/tree/master/keras_cv/layers/preprocessing

You'll basically want to test that all the layers that should run with labels can run with labels.

[2022-06-27 16:15] quantumalaviya commented on #528
@LukeWood Did you decide on whether the `classes` arg should be renamed to `num_classes`?

[2022-06-27 16:39] #538 closed

[2022-06-27 16:40] #485 closed

[2022-06-27 16:52] #484 closed

[2022-06-27 18:08] ricardoprins commented on #279
Is it just changing dtypes from `tf.float32` to `float32`?

[2022-06-27 18:35] LukeWood commented on #279
Yeah, it should be the string "float32".  Basically we shouldn't default arguments to an imported symbol.

[2022-06-27 19:17] LukeWood opened #540 "RandAugment has a memory leak"
RandAugment has a memory leak.  I've reproduced this by piping a tf.data.Dataset through a rand augment layer.

[2022-06-27 19:50] #528 closed

[2022-06-27 22:37] LukeWood commented on #250
hey @artu1999 any progress here?  Sorry I missed your comment.

[2022-06-27 23:52] LukeWood commented on #530
Awesome!  Go ahead!

[2022-06-28 01:00] LukeWood commented on #412
Reference impl:

https://github.com/andyzoujm/pixmix

[2022-06-28 10:13] Rishit-dagli commented on #520
Is this the umbrella issue for EfficientNet and EfficientNetv2?

If so, @AdityaKane2001 would you mind if each of us takes one up, I would love to contribute too?

[2022-06-28 14:42] atuleu commented on #518
Leaving this work for a few days leaved me with a few questions.

 * I think bounding_box augmentation is erronous for shear and rotation transform. This will lead to larger bounding boxes than the bounding box covering the sheared/rotated object. _Shouldn't the library show some kind of warning if approximative bounding boxes augmentation are made ?_

* When considering shear/translation/rotation

[2022-06-28 16:32] artu1999 commented on #250
Hey @LukeWood, sorry for the inactivity recently, I’ve been travelling in the last few weeks and didn’t really have time to sit down properly and wrap it up. At the moment, I’ve got the preprocessing function, but before pushing I would like to test it on a pre-trained model to see if it brings any benefits for classification. I am going back in London in two days, will push some updates in the ne

[2022-06-28 20:21] LukeWood commented on #540
@bhack
[code]

[2022-06-28 20:29] LukeWood commented on #518
Hey @atuleu! Thanks for your enthusiasm and contributions!

Keypoints is definitely in our roadmap, but I want to make sure we get the API right. I'll be sure to spend some time to look over this label type and how other frameworks handle it so we can compare the different approaches.

Are keypoints basically always xy pairs? Are they ever normalized to the image size? These are the questions we n

[2022-06-28 21:16] LukeWood commented on #412
@blank0043

[2022-06-29 00:45] sayakpaul commented on #518
In the past, I have used `imgaug` for keypoints. In fact, that is what I used in this tutorial: https://keras.io/examples/vision/keypoint_detection/.

You'll notice that the keypoints are normalized w.r.t the spatial resolutions of the input images.

[2022-06-29 05:39] innat commented on #518
@atuleu

Bounding boxes should be clipped in that cases and same goes to keypoint type as well. Isn't it take in account by already in shear transformation? Mentioning @pranavjadhav001 to comment on this as he's working on it now.

[2022-06-29 05:40] innat commented on #518
@LukeWood

I used `albumentation` for keypoint augmentation and if I remember correctly I didn't have to normalize keypoint to the image size. The keypoint are usually comes in `xy` pairs. You can go through the following `albumentaiton` blogs regarding their approaches and API.

- [Keypoints augmentation](https://albumentations.ai/docs/getting_started/keypoints_augmentation/)
- [Using Albumentati

[2022-06-29 06:57] LukeWood commented on #518
so maybe we should mirror the bounding box API, but instead of offering a ton of formats only two: `xy`, `rel_xy`.  Some augmentations (i.e. rotation) will behave a bit differently depending on format, so we cant just assume one.

Thoughts?

[2022-06-29 07:02] sayakpaul commented on #518
Nice one! Reducing the supported formats for this might actually be a better UX.

[2022-06-29 07:38] atuleu commented on #518
@innat

So there was no `augment_bounding_box()` for `RandomShear` ( I added it here aa4a178a60bbdccfb9c4881409a652363c51e45b ). There was last week some `augment_bounding_box()` for `RandomRotation` , but no clipping.

@LukeWood
I think we should go for a reduced amount of format of 'xy' and 'rel_xy'. Then if more format are needed, they could always be added afterwards. Should I go forward and a

[2022-06-29 17:14] bhack commented on #540
Are you sure that it is related to RandAugment?

Isn't this simply a dup of https://github.com/tensorflow/tensorflow/issues/43969 ?

[2022-06-29 20:10] #131 closed

[2022-06-29 20:14] LukeWood opened #545 "For Aditya: update RandomResizedCrop parameter checking"
Just to make sure we catch it, we still need checks for crop_area_factor and aspect_ratio_factor to prevent them from being single ints. Thanks!

Can you write a @parameterized.TestCase covering every instance of this error message?

[2022-06-29 21:15] Luvideria commented on #163
Hello, I recently posted an issue on tensorflow addons: https://github.com/tensorflow/addons/issues/2733

I created a repo containing and explaining a working implementation of the *catmull-rom* (quite similar to Lanczos-2) interpolation as well as a comparison and a test
https://github.com/Luvideria/tensorflow-dense-warp-catmull-rom

It behaves just like [dense_image_warp.py](https://github.com/t

[2022-06-29 21:36] innat commented on #163
@Luvideria I didn't try `dense_image_wrap` from tensorflow addons. Do you think that function or your *catmull-ran* address this feature request (elastic deformation)?

[2022-06-29 23:59] ashutosh1919 opened #548 "Class-Balanced Loss based on effective number of samples"
Currently, Keras has Focal loss which can be one of the options to handle the class imbalance issues. But I myself have faced problems in the case of some datasets like RecSys. IMO, Keras should have Class-balanced loss ([paper](https://arxiv.org/pdf/1901.05555.pdf))

I am interested in working on this issue. If you think we should add this, then please assign the issue to me and I can raise PR.

[2022-06-30 00:04] ashutosh1919 commented on #548
Sorry. Opened in wrong repo.

[2022-06-30 00:04] #548 closed

[2022-06-30 06:06] sayakpaul opened #549 "[For Aditya and RRC reviewers] Add a guide on RRC"
Now that https://github.com/keras-team/keras-cv/pull/499 is merged let's write a comprehensive guide on it. I'd want to include the following in the guide:

* Showing how changing different parameters of the layer affect the outputs.
* Provide recommendations from the literature. Here, we could provide recommended values for the important parameters of the layer for a given task at hand. For examp

[2022-06-30 06:45] LukeWood commented on #549
great idea Sayak!

[2022-06-30 06:54] old-school-kid commented on #324
Hi @LukeWood @innat
I would like to work on this!
I was thinking of something like this
[code]
We can also give option to pass their own attention module.
Thoghts?

[2022-06-30 08:08] innat commented on #324
@old-school-kid That would be cool. But I think according to keras design, it might want to include a separate class for each.. (SE block in currently in progress https://github.com/keras-team/keras-cv/pull/505).

[2022-06-30 16:54] LukeWood opened #551 "EfficientNet architecture"

[2022-06-30 16:54] LukeWood opened #552 "RegNet architecture"

[2022-06-30 16:55] AdityaKane2001 commented on #551
@LukeWood I'm interested to do this.

[2022-06-30 16:55] AdityaKane2001 commented on #552
@LukeWood I'm interested to do this.

[2022-06-30 18:33] AdityaKane2001 commented on #545
Can be closed since #550 is now merged.

[2022-06-30 18:46] #545 closed

[2022-06-30 20:51] atuleu commented on #551
Why not just use the keras one ? Or do you mean EffientDet ?

[2022-06-30 20:53] atuleu commented on #518
I won't be able to work on this for a few days, but would happily add keypoints format support to #519 in the end of next week

[2022-07-01 18:09] LukeWood commented on #500
yes absolutely, I only raised this because a specific user wants to use augmix internally with consistency between runtimes.

[2022-07-02 08:17] quantumalaviya commented on #500
Should it not be a static method, in that case?

[2022-07-02 08:20] LukeWood commented on #500
Good point,  yeah it won't be a static method anymore.

[2022-07-03 09:42] innat commented on #49
Any update on this feature? cc @blackhat-coder

[2022-07-03 11:10] AdityaKane2001 opened #560 "`RandomAugmentationPipeline` serialization test fails for `layers!=[]`"
@LukeWood

In [layers/serialization_test.py](https://github.com/keras-team/keras-cv/blob/master/keras_cv/layers/serialization_test.py), currently the `RandomAugmentationPipeline` serialization test is as follows:
https://github.com/keras-team/keras-cv/blob/92b4e16fa5686e861b2f2cd7d04a6c5d7d3c0921/keras_cv/layers/serialization_test.py#L98-L102

However, if we change it as follows the test fails.
[c

[2022-07-03 15:37] quantumalaviya commented on #560
I agree. I faced the same issue with my FPN PR #504. Although the serialization tests fail due to memory mismatch, I think it shouldn't have a problem serializing in a practical scenario.

[2022-07-03 19:12] AdityaKane2001 commented on #560
@quantumalaviya

I see. Yes I agree the problem is not in the serialization part but the tests (I checked if the layers in the list are getting serialized and deserialized correctly, they are). Hence we need to modify the test file only. Edited the comment accordingly.

[2022-07-03 20:25] LukeWood commented on #560
Awesome!  Thanks for digging this up, yeah we need to update the custom comparison function it seems.

[2022-07-06 15:20] blackhat-coder commented on #49
Hi @innat, This feature proposal wasn't accepted, however I can still work on implementing this architecture.

[2022-07-06 22:08] #500 closed

[2022-07-07 17:02] sebastian-sz opened #565 "Support for extra keys in dictionary input."
**Short Description**
Currently, preprocessing layers support dictionary input, but only if the dictionary contains a predefined set of keys.

[code]
For example, let's apply `RandomSaturation` to `data` and `extra_data`:
[code]

The above will remove my extra key from the input.

### Possible solution:
I was thinking about modyfing the `_augment` method od `BaseImageAugmentationLayer`, to preserv

[2022-07-07 17:37] LukeWood commented on #565
cool, me too.  Go ahead @sebastian-sz if you want to contribute this.

[2022-07-07 19:51] #167 closed

[2022-07-08 16:46] ayyucedemirbas commented on #514
What kind of modifications should be done on [the original file](https://github.com/keras-team/keras/blob/master/keras/applications/mobilenet_v3.py)?

[2022-07-08 20:28] LukeWood opened #566 "Support RaggedTensors in `bounding_box.convert_format()`"

[2022-07-10 02:01] ayyucedemirbas opened #571 "Include InceptionV3 model"
**Short Description**

Adding InceptionV3 model.

**Papers**
https://arxiv.org/abs/1512.00567

**Existing Implementations**

https://github.com/keras-team/keras/blob/master/keras/applications/inception_v3.py

[2022-07-11 17:58] LukeWood commented on #571
Do people still use Inception architectures today?  @sayakpaul may know

[2022-07-11 21:34] #461 closed

[2022-07-11 21:37] LukeWood opened #575 "Add serialization test for NSMLayer"
https://github.com/keras-team/keras-cv/pull/564/files

@quantumalaviya

[2022-07-11 22:15] LukeWood commented on #566
I'd love to take a contribution for this, thank you I'll check it out.

[2022-07-11 22:22] #566 closed

[2022-07-12 03:07] sayakpaul commented on #571
I think they still are used in applications like DeepDream, Style Transfer (earlier variants). Nevertheless, I think Inception is still an interesting architecture and helps in applications that focus on the interpretability aspects of CNNs.

[2022-07-12 14:17] ayyucedemirbas commented on #571
Cool, thanks @sayakpaul !
I can work on this.

[2022-07-12 14:28] ayyucedemirbas commented on #520
I added EfficientNet models with [this PR](https://github.com/keras-team/keras-cv/pull/570). Could you please take a look at it? @LukeWood @sayakpaul Thanks!

[2022-07-12 18:00] #575 closed

[2022-07-12 19:52] #565 closed

[2022-07-12 22:04] LukeWood commented on #571
Sounds good!

[2022-07-13 08:53] DavidLandup0 opened #581 "BUG: `RandomContrast` slows down training 6-fold"
Augmentation will obviously slow down training, but it shouldn't be a 6-fold slowdown. This happens with the `RandomContrast` layer, which makes the training per epoch grow from ~100s to ~600s.

I'd share a Colab notebook but there seems to be an issue with KerasCV on Colab on importing, so here are the steps to reproduce:

[code]

[code]

[code]

[code]

[code]

[2022-07-13 08:55] DavidLandup0 opened #582 "BUG: KerasCV on Google Colab"
There seems to be an installation/import issue on Colab:

https://colab.research.google.com/drive/1Rym9hVppHB52CiAB2jBvdFZCVcns2U-j?usp=sharing

KerasCV can't seem to import layers from the main TensorFlow package.

[2022-07-13 11:45] quantumalaviya commented on #582
I think it's because KerasCV requires TF 2.9+

https://keras.io/keras_cv/

[2022-07-13 11:50] DavidLandup0 commented on #582
It does, but so does KerasNLP and it works on install on Cokab. The correct TF version should probably be packaged as a dependency of KerasCV, hence I opened the issue :)

[2022-07-13 11:51] DavidLandup0 commented on #582
And I misclicked and closed it 🤦‍♂️

[2022-07-13 12:13] bhack commented on #582
It Is a duplicate of https://github.com/keras-team/keras-cv/issues/442

[2022-07-13 15:22] atuleu commented on #518
So in #519, I Added the following:

* Keypoint format listing ( atm only 'XY' and 'Rel_XY')
* Associated conversion function
* a `keypoint_format` option to layer affecting image geometry ( `RandomRotation`, `RandomTranslation` and `RandomShear`)
* a `clip_points_to_image_size` to the above layers, enabled by default that clips/discard bounding boxes / keypoints to the image size
* An example base

[2022-07-13 16:03] LukeWood commented on #560
This is fixed now I believe.

[2022-07-13 16:19] LukeWood commented on #582
We can't update Colab's TensorFlow version from the KerasCV end.  Colab will lag a bit on this and that is to be expected.  Sorry for any inconvenience :(.

No action item from KerasCV, so closing.

[2022-07-13 16:19] #582 closed

[2022-07-13 17:30] #496 closed

[2022-07-13 21:14] LukeWood opened #583 "Implement overfit test for models"
Something like:

[code]

_Originally posted by @sayakpaul in https://github.com/keras-team/keras-cv/issues/529#issuecomment-1179463713_

To make sure we can overfit a randomly generated dataset

[2022-07-14 03:12] sayakpaul commented on #583
@LukeWood assign me this issue.

[2022-07-14 06:53] atuleu commented on #518
Following the discussion in #519, here are the tasks to perform in single PR from [atuleu/keras-cv@dev/keypoints](/atuleu/keras-cv/tree/dev/keypoints):

  * [ ] create a PR adding support for keypoint formats & utilities (discard out of image, converters, etc)
  * [ ] update the BaseImageAugmentationLayer in a PR
  * [ ] add ALL of the no-op augmentations in a single PR; so all of the ones that ju

[2022-07-14 08:00] LukeWood commented on #583
Assigned!  Thank you Sayak!

[2022-07-14 09:19] AdityaKane2001 commented on #560
@LukeWood

No I still have to make a comprehensive serialization test. The other PR was just a temporary fix, I believe.

I'll make a separate issue for the same after I finish coding up the EfficientNets and RegNets PRs. WDYT?

[2022-07-14 11:58] bhack commented on #581
I think that it will more useful to brainstorm a solution for the old and more general problem at https://github.com/keras-team/keras-cv/issues/291 then pinning every single issue as this is already the 2nd one (https://github.com/tensorflow/tensorflow/issues/56242).

[2022-07-14 17:30] LukeWood commented on #560
Sounds good to me Aditya!

[2022-07-14 17:34] LukeWood commented on #533
Hey @ayulockin thanks for checking in on this.

If you can provide an in depth overview of the different segmentation map formats we can start with utilities to convert between formats.

Does that sound like a plan?

[2022-07-14 17:38] LukeWood commented on #518
Thank you @atuleu for breaking the problem down like this.  I appreciate your contributions greatly.  Pleasure working together, I'll review these as they come in!

[2022-07-14 17:44] ayulockin commented on #533
That sounds like a plan. Should we have a different issue to capture it? I can create one and self assign + assign Soumik.

[2022-07-14 18:14] LukeWood commented on #533
No thanks, I can just assign to you for now.  Lets keep it here.

[2022-07-14 18:14] LukeWood commented on #533
Soumik must comment to be assigned!

[2022-07-14 18:18] bhack commented on #581
As the superset of this issue is https://github.com/keras-team/keras-cv/issues/291 and the root cause is our choice of `vectorized_map` and within the batch randomization as we discussed in many early tickets on our augmentation design we could:

- Understand what to do with the missing `vectorized_map` converters and what kind of issue they could solve
- Understand also when we have converters co

[2022-07-15 01:18] innat commented on #533
@LukeWood

There may be three most common formats:
- png as image format,
- polygon and
- rle https://github.com/keras-team/keras-cv/issues/327.

cc. @ayulockin @old-school-kid @soumik12345

[2022-07-15 02:12] LukeWood commented on #533
Cc @sayakpaul @tanzhenyu @innat

[2022-07-15 02:43] sayakpaul commented on #327
Here's the exact URL when RLE starts: https://youtu.be/h6s61a_pqfM?t=687

Thanks @innat!

[2022-07-15 02:49] sayakpaul commented on #533
I agree with @innat.

The proposal that @innat made in https://github.com/keras-team/keras-cv/issues/327 is really solid. I see two ways:

* We first create the RLE utilities. Then work on supporting different Segmentation formats.
* We first develop utilities to support the first two formats - images and polygons as they are relatively easier.

This way we should be able to better isolate the com

[2022-07-15 04:38] ayulockin commented on #327
Thanks for sharing this @innat.

To quickly summarise, the RLE format contains a start position and a run length. E.g. '1 3' implies starting at pixel 1 and running a total of 3 pixels (1,2,3).

Usually, RLE encoding has a string dtype with a space delimiter between the start position and run length. Thus RLE  '1 3 10 5' implies pixels 1,2,3,10,11,12,13,14 are to be included in the mask. Also, not

[2022-07-15 04:41] sayakpaul commented on #327
Yeah, 2D masks are preferable to start with.

But I think before supporting RLE the users would want to have support for other more industry-standard formats like images as seg maps, polygon coordinates, etc.

@LukeWood WDYT?

[2022-07-15 04:41] ayulockin commented on #533
I agree with the suggestion @sayakpaul made. Supporting `rle2mask2d` and `mask2d2rle` should be an excellent place to begin.

[2022-07-15 04:45] sayakpaul commented on #533
Note we'd prefer `rle_to_mask2d()` and `mask2d_to_rle()` to the ones you mentioned. Minor nit but just wanted to mention.

[2022-07-15 05:00] ayulockin commented on #327
I might be wrong, but I think RLE is industry-standard. Basing this on multiple Kaggle competitions.

I would say RLE is ideal for storing the mask since it requires less memory. But for training quickly Seg masks are better suited. Thus format conversion utilities will come in handy. Nevertheless, we should support seg maps and polygons before RLEs.

[2022-07-15 05:54] LukeWood commented on #533
So, do we consider these two formats to both be segmentation map formats, or are they distinct label types?

[2022-07-15 05:55] sayakpaul commented on #533
@LukeWood could you elaborate more? Couldn't really get your question.

[2022-07-15 12:25] Luvideria commented on #163
I am not 100% sure. My use case is not elastic deformation but motion vector reprojection.

Earlier @bhack mentionned dense_image_warp which may or may not make fully sense for the specific use case of this thread.

I think that the dense_image can help with the last stage of elastic deformation. Dense_image_warp needs a list of sample points, which means the transform has to be computed by other

[2022-07-15 12:34] bhack commented on #163
If we see tensorlayer `elastic_transform` and  `elastic_tranform_multi` it makes sense.

https://tensorlayer.readthedocs.io/en/v2.2.4/_modules/tensorlayer/prepro.html#elastic_transform

@Luvideria Probably you could open a new ticket in this repo for porting/refactoring the `dense_image_warp` from TF Addons eventually with your new interpolation.

Then we could use it for build up the Elastic Defo

[2022-07-16 10:47] pranavjadhav001 commented on #518
For random shear bbox augmentation , we are clipping bboxes  to 0- image width/height.

[2022-07-17 15:29] ebursztein opened #592 "Fix documentation and test it"
The keras_cv starting documentation is broken as the code it contains is invalid:
[code]
There is a missing `,`  after rand aug,

I suggest to fix it and add a unit test to make sure the code used in the documentation pass.

[2022-07-17 17:50] LukeWood commented on #592
Thanks for the bug report Elie! There is also a bug that occurs when using a sequential model with dictionary inputs.  I will update both, and I like the idea to unit test these.

[2022-07-17 21:35] ebursztein commented on #592
Additionally be careful to not trigger the augmentation when in test mode (trainable will be false) - otherwise eval results are going to be interesting. Currently I do use two function but with KCV it should just work?

[2022-07-18 03:48] #386 closed

[2022-07-18 17:13] LukeWood opened #594 "nightly keras CV package"
https://github.com/tensorflow/similarity/blob/master/.github/workflows/nightly-publish.yml

[2022-07-18 17:27] LukeWood opened #595 "investigate the impact of changing arguments in map_fn/vmap for preprocessing layers"
https://www.tensorflow.org/api_docs/python/tf/map_fn

[2022-07-18 17:52] LukeWood opened #596 "RandomResizedCrop() is missing `augment_label()`."
FYI @AdityaKane2001 , please add this method and a unit test to with_labels_test.py

[2022-07-18 17:53] AdityaKane2001 commented on #596
@LukeWood Sure.

[2022-07-18 18:39] LukeWood commented on #596
fixed this

[2022-07-20 20:44] LukeWood opened #601 "Test case to ensure include_rescaling works"
We need to add a test to models_test.py to cover this case?

This unit test should check that for all models, if include_rescaling=True a Rescaling layer is present in the models, and if it is false a Rescaling layer is NOT true.

This came up in https://github.com/keras-team/keras-cv/pull/558

[2022-07-20 21:11] LukeWood opened #602 "Make quickstart code a code example"
This allows us to unit test the code too.

[2022-07-21 02:53] #601 closed

[2022-07-21 04:15] quantumalaviya opened #604 "The bounding box format converters should support rel->rel conversions without images"
As for now, xyxy is the default intermediate step in any conversion. When it comes to rel->rel conversions, this isn't ideal because if no image is passed, a `RequiresImagesException` will be raised.

[2022-07-21 04:53] ayulockin commented on #546
Hey, @LukeWood @sayakpaul I think this would be a great feature addition to KerasCV. It's especially popular in Kaggle competitions for reference.

Please assign it to me.

[2022-07-21 05:32] sayakpaul commented on #546
I concur. Especially for retrieval tasks, ArcFace loss is greatly beneficial.

[2022-07-21 11:17] atuleu commented on #518
Request For Comment @LukeWood, @inat, @sayakpaul

I think I am hitting an initial design choice issue at the moment, and I would need some input to help me choose the best options.

The issue comes from the handling of keypoints that may become invalid after an augmentation. My initial thought has suggested by #585 was to simply return in `augment_keypoints` a ragged tensor of the valid keypoints.

[2022-07-21 11:37] innat commented on #512
@Rocketknight1 Do you also implement 1D and 3D version of this layer?

[2022-07-21 16:26] Rocketknight1 commented on #512
Hi @innat I could, yes! If you look at the gist I linked above, the `pseudo_1d_pool` function is basically just a 1D `AdaptivePool`, so that would be very easy to implement as a separate layer. To do a 3D pool I would just do a 1D pool on each of the 3 dimensions.

[2022-07-21 16:50] AdityaKane2001 commented on #560
@LukeWood see #591.

[2022-07-21 17:07] #78 closed

[2022-07-21 17:09] LukeWood commented on #560
Thank you @AdityaKane2001 !

[2022-07-21 17:43] LukeWood opened #605 "Migrate iou_utils to the `keras_cv.bounding_box` namespace"
keras_cv/utils/iou.py => should be migrated to `keras_cv.bounding_box` as a user facing utility.

The utility will also have a required `bounding_box_format` argument.

we'll also need to update the COCO metrics to use this utility.

[2022-07-21 17:43] LukeWood commented on #605
@quantumalaviya

[2022-07-21 18:08] LukeWood commented on #33
Components should be done, we still need to bundle these intro training scripts.  @ianjjohnson is working on this.

[2022-07-21 18:08] #33 closed

[2022-07-21 18:09] LukeWood commented on #36
We aren't exposing blocks as an API

[2022-07-21 18:09] #36 closed

[2022-07-21 18:09] LukeWood commented on #37
We won't expose these as an API.

[2022-07-21 18:09] #37 closed

[2022-07-21 18:09] LukeWood commented on #38
We won't be exposing blocks as an API

[2022-07-21 18:09] #38 closed

[2022-07-21 18:12] #63 closed

[2022-07-21 18:12] LukeWood commented on #68
@sayakpaul we can migrate this to KerasCV when you are ready.

[2022-07-21 18:14] LukeWood commented on #114
this will be done as part of RetinaNet/Yolo not as part of the API itself.  https://github.com/LukeWood/KerasCV-RetinaNet/blob/master/retina_net/layers/decode_predictions.py#L7

[2022-07-21 18:14] #114 closed

[2022-07-21 18:15] #115 closed

[2022-07-21 18:16] #126 closed

[2022-07-21 18:16] LukeWood commented on #153
Closing due to lack of details, feel free to open a new issue and fill out the feature request template.

[2022-07-21 18:16] #153 closed

[2022-07-21 19:41] #224 closed

[2022-07-21 19:41] #225 closed

[2022-07-21 19:41] #226 closed

[2022-07-21 19:41] #227 closed

[2022-07-21 19:42] #228 closed

[2022-07-21 19:42] #229 closed

[2022-07-21 21:59] fcossio opened #606 "Include Light Weight Bottle Neck Attention Unet (LWBNA_Unet) architecture"
**Short Description**

I would like to add the architecture described in the paper mentioned below.

**Papers**

A lightweight deep learning model for automatic segmentation and analysis of ophthalmic images, May 2022. Sharma et al. No citations yet. Was mentioned by fchollet [here](https://twitter.com/fchollet/status/1542548569411837955)

**Existing Implementations**

[fcossio/LWBNA_Unet](https:/

[2022-07-22 00:58] sayakpaul commented on #68
Yes sure. I will start working on it very soon.

[2022-07-22 09:10] AdityaKane2001 opened #611 "Adding `Dataset` and `DataLoader`-like functionality in KerasCV"
@sayakpaul @LukeWood @ianjjohnson

Dataset loading and preprocessing in vision is generally a messy ordeal and the additional boilerplate code for TFRecords makes it worse. A probable solution for this can be to have classes which consolidate all preprocessing logic. Another set of classes can manage data augmentation. Concretely, I propose to have two kinds of classes: one for preprocessing and o

[2022-07-22 09:28] sayakpaul commented on #611
The overall structure looks good to me. Of course, we can incorporate all the `tf.data` specific optimization tricks ([reference](https://www.tensorflow.org/guide/data_performance)) but for kicking off the discussion, this code is sufficient, I think.

I would suggest you also provide a rough implementation of the TFRecord decoder utility. Becuase those of us who are familiar with it are going to

[2022-07-22 17:30] LukeWood commented on #611
Transparently: still working through the details of what we want to do with respect to data loading.  I appreciate your design work here, and will definitely consider this in any design work.

[2022-07-22 18:19] AdityaKane2001 commented on #611
@LukeWood great, thanks! Please let me know when these details are internally finalized, I'll be happy to contribute anything pertaining to this.

[2022-07-22 18:42] #604 closed

[2022-07-22 19:45] LukeWood opened #614 "Support Sample weight in COCO methods"
- discuss with Wayne and Tao on how to support sample weight in COCO metrics
- Tao will ping me the information on how to support this

[2022-07-22 20:50] sayakpaul commented on #611
+1 same here

[2022-07-22 21:03] LukeWood commented on #611
Cool, I’m beginning to flesh out the details of what I think we want to offer.

[2022-07-22 21:33] LukeWood commented on #546
interesting, can this be used with the existing models we have?  i.e. if we add this will we have the tools we need to support facial recognition?

[2022-07-22 21:49] sayakpaul commented on #546
Should be compatible with existing models.

[2022-07-22 22:33] LukeWood commented on #546
So theoretically, we include this, and use this loss to create a facial recognition tutorial with the other existing components?

[2022-07-22 22:49] sayakpaul commented on #546
Shoul be the case. We have a tutorial on few-shot learning and we coul definitely take some components from that too.

[2022-07-22 22:51] LukeWood commented on #546
ok, sounds good.  Then I think this is a great component.  Especially if we can include a tutorial on facial recognition.

[2022-07-22 22:58] sayakpaul commented on #546
@ayulockin take it for the grab if you're up.

[2022-07-23 04:39] ayulockin commented on #546
This loss is compatible with existing models.

I can take this up. Will start working on it soon. Also the idea of tutorial is great for this loss.

[2022-07-24 14:58] innat commented on #163
@Tony363 @Luvideria
Here is another tf implementation reference for elastic transform. Placing it here in case you're interested to contribute.

https://github.com/hirune924/imgaug-tf/blob/main/imgaugtf/augmentations.py#L253-L269

[2022-07-25 12:18] innat commented on #163
@LukeWood
Could you please follow @bhack's previous comment? It's needed to port `tfa..dense_image_warp` layer (with [your addition](https://github.com/Luvideria/tensorflow-dense-warp-catmull-rom)) first as elastic transform might depend on it.

[2022-07-25 12:32] DavidLandup0 commented on #57
May I sign up to port ResNet into KerasCV?

[2022-07-25 19:02] LukeWood commented on #57
Hey @DavidLandup0 ResNets are included in the library already.  This is specifically ResNet34, a smaller variant!

[2022-07-25 20:50] LukeWood opened #617 "TokenMix: Rethinking Image Mixing for Data Augmentation in Vision Transformers"
https://arxiv.org/pdf/2207.08409v1.pdf

[2022-07-25 21:48] wangpengmit commented on #291
CCing @ishark .

[2022-07-26 05:51] innat commented on #443
cc. @LukeWood
A gentle reminder here.

[2022-07-26 05:59] innat opened #621 "Add RetinaNet model"
**Short Description**

**RetinaNet**, an object detection as described in the following paper.

**Papers**

https://arxiv.org/abs/1708.02002
publish date: 2017
Cited by 14612 (until)

**Existing Implementations**

Here is one well known and strong reference:
[fizyr/keras-retinanet](https://github.com/fizyr/keras-retinanet)

**Other Information**
- https://github.com/srihari-humbarwadi/retinanet-te

[2022-07-26 06:04] innat opened #622 "Add YOLO-V3 model"
**Short Description**

AKA, You Only Look Once. A strong object detection model, described in the following paper.

**Papers**

https://arxiv.org/abs/1804.02767?fbclid=IwAR3A2nyK8EPa-JcoGp_N6tNqVkKOmy2J1ip5AYcEki5FzkZ62E3z6tbNSy0

Published on: 2018
Cited by 14236 (until)

**Existing Implementations**

Here is one well-know and strong reference

https://github.com/zzh8829/yolov3-tf2 by @zzh8829

*

[2022-07-26 06:19] innat opened #623 "Add Mask-RCNN model"
**Short Description**

A two stage object detection model, strongly well-known for its detection and instance-wise simultaneous output.

**Papers**
https://arxiv.org/abs/1703.06870

Publish date: 2017
Cited by **20059** (until now)

**Existing Implementations**

A very popular and well-know `keras (tf 1.5x)` implementation.

- https://github.com/matterport/Mask_RCNN (over **22K + star, 11K+ fork**

[2022-07-26 06:24] innat commented on #617
Here is another augmentation strategy for ViT model.
[TransMix: Attend to Mix for Vision Transformers](https://github.com/beckschen/transmix)

![pic1](https://user-images.githubusercontent.com/17668390/180937533-9f7d587d-7f27-4a00-8b85-67aafe7658be.png)

[2022-07-26 11:36] bhack commented on #617
RecursiveMix: Mixed Learning with History

https://arxiv.org/abs/2203.06844
https://github.com/implus/RecursiveMix-pytorch

[2022-07-26 12:34] bhack commented on #581
About my last comment /cc  @ishark @wangpengmit

[2022-07-26 16:45] LukeWood commented on #622
I'm not sure we'll be supporting the earlier YOLOs, such as v3

[2022-07-26 18:08] innat commented on #622
Is there any reason why v3 might not be supported despite having smart citation number? Also, recent yolo based models like yolo-v4, yolo-r, yolo-x, yolo-v7, all contains a reference of v3 model.

[2022-07-26 18:36] LukeWood commented on #622
is there ever a case where users would want to use v3 over v7?

[2022-07-26 19:42] #605 closed

[2022-07-27 17:41] #460 closed

[2022-07-28 09:08] DavidLandup0 commented on #622
I'm with LukeWood. There's no need to have v3 support over faster, more accurate models.

[2022-07-28 09:09] DavidLandup0 commented on #57
Whoops, thanks for the clarification! Still, offering to do ResNet34 if it's up for grabs :)

[2022-07-28 10:49] innat commented on #622
There's no need to have v3 support over faster, more accurate models.

IMHO, it's a bad argument. If v7 is included now, and in the future when more new yolo versions will be available, that doesn't mean we will remove the older version.

YOLO-V3 is maintained in the [tf-model-garden](https://github.com/tensorflow/models/tree/master/official/vision/beta/projects/yolo), and I don't see any reasonab

[2022-07-28 11:59] DavidLandup0 commented on #622
The garden isn't up to date. Here's an excerpt of the description there:

v4 isn't "official" (by Redmon et al.) so it's not like they limited themselves to the original authors. v5 should be in the list - it's been there since 2020. v7 is understandably not there, it was released a few weeks ago.

They seem to want to add the latest (even though they aren't). Just as YOLOv7 should be added now th

[2022-07-28 12:16] bhack commented on #622
I think that we are a little bit loosing the scope of Keras-cv manifesto in this thread.

The main goal here is to share reusable subcomponents to build the next network in the same/proxy family.

So I think it is not important if we start with V3 or V7 but is that tomorrow we have reusable components and the internal API (from V3/V4/V7 ?) to quickly build V8.

Cause here SOTA is really a quickly

[2022-07-28 16:59] LukeWood commented on #622
Great points Stefano!  I think thats a great take on the situation.

[2022-07-29 10:57] sebastian-sz opened #629 "Redundant bias paramter in ResNet's conv2d."
**Short description**
In `tf.keras` by default Conv2D has bias enabled. We should explicitly set `use_bias=False` if the convolution layer is followed by BatchNormalization.

This is the done in some existing Keras-CV implementations:
* DarkNet Conv Block - [link](https://github.com/keras-team/keras-cv/blob/f3e32b5d74d69419c5ec17b04f9ca96807474ed1/keras_cv/models/__internal__/darknet_utils.py#L28)

[2022-07-29 13:07] sebastian-sz opened #630 "Add EfficientNet Lite model variants."
**Short Description**
EfficientNet Lite models are lighter variants of EfficientNets more suitable for mobile deployment.

**Existing Implementations**
Original implementation - [link](https://github.com/tensorflow/tpu/tree/master/models/official/efficientnet/lite)
My reimplementation - [link](https://github.com/sebastian-sz/efficientnet-lite-keras)

**Other Information**
EfficientNet Lite's have

[2022-07-30 01:25] LukeWood opened #632 "Unit test NonMaxSuppressionLayer output shapes"
We should heavily cover the exact output shapes of the ragged tensors for this layer.

[2022-08-01 17:05] LukeWood commented on #632
Tests to cover:

1.) batch_size axis is preserved and does not turn into a Ragged None shape dimension

(i.e. [3, None, 6] is an expected shape for a batch_size of 3, [None, None, 6] is unexpected)

2.) test differing # of boxes per dimension, index into each dimension and explicitly check # of boxes

[2022-08-01 17:09] LukeWood commented on #632
3.) case where there are no boxes above confidence threshold.  Result shape should be [batch_size, 0, 6]

[2022-08-01 17:09] LukeWood commented on #632
4.) case where one image has no boxes above confidence threshold.  Result shape should be [batch_size, None, 6]

[2022-08-01 18:51] LukeWood opened #637 "Improve assertions in old test cases"
Examples:

[code]

the:

[code]

[2022-08-01 18:55] LukeWood opened #638 "Re-introduce `input_tensor` in the keras_cv.models codebase"

[2022-08-01 19:50] LukeWood opened #640 "NMSLayer currently silently accepts bounding boxes with extra axes, can lead to unexpected behavior."
the layer drops the extra axes anyways at the end, so lets write an assertion during trace time:

[code]

[2022-08-01 19:53] #308 closed

[2022-08-01 19:54] #300 closed

[2022-08-01 20:14] LukeWood opened #641 "Implement broadcasting according to TensorFlow rules in `bounding_box.compute_iou()` utility"

[2022-08-01 20:23] quantumalaviya commented on #632
@LukeWood Can this be considered covered under the existing shape check test cases?

[2022-08-01 21:36] #632 closed

[2022-08-01 21:36] #640 closed

[2022-08-02 01:48] #638 closed

[2022-08-02 06:54] LukeWood opened #643 "version check fails for TF 2.9.0, which is a valid version"

[2022-08-02 06:59] ayulockin commented on #643
To add more context, I got this when I tried running the RetinaNet example from Luke's fork of the repo.

<img width="930" alt="image" src="https://user-images.githubusercontent.com/31141479/182311698-429487b5-586d-4c25-9658-2c27eac6a318.png">

I resolved this temporarily by commenting out L18 in `./keras-cv/__init__.py` file (`version_check.check_tf_version()`).

[2022-08-02 07:01] ayulockin commented on #621
Hey @innat, @LukeWood already has an active PR #609 for this.

[2022-08-02 09:18] Luvideria opened #644 "Porting/Refactoring TFA dense_image_warp"
This ticket refers to already opened ticket #163 and https://github.com/tensorflow/addons/issues/2733

Currently tensorflow_addons.image.dense_image_warp(...) only supports bilinear interpolation, which is good enough for most, not enough for some. I implemented a higher order interpolation scheme: catmull rom (=Lanczos2) which gave better results (see: https://github.com/Luvideria/tensorflow-dens

[2022-08-02 09:18] Luvideria commented on #163
done

[2022-08-03 17:37] LukeWood opened #650 "Support no-op `augment_bounding_boxes()` method in all of the layers that do not modify bounding boxes"
These include:

- AutoContrast
- ChannelShuffle
- Equalization
- Grayscale
- GridMask
- Posterization
- RandomChannelShift
- RandomColorJitter
- RandomGaussianBlur
- RandomHue
- RandomSaturation
- RandomSharpness
- Solarization
- RandomJpegQuality
- RandomRescale
- RandomContrast
- RandomBrightness

After including `augment_bounding_boxes()` in all of these, we can also include a unit test suite "

[2022-08-03 19:59] #319 closed

[2022-08-03 22:49] LukeWood opened #653 "Renam `num_classes` to `classes` for API consistency"
Idea by @fchollet, we will need to update all instances of `num_classes` to be `classes` in API surfaces.

This issue also will be used to track keras.io updates as well.

[2022-08-03 22:52] LukeWood opened #654 "Introduce serialization test for models"
This should be based on keras_cv/layers/serialization_test.py

[2022-08-03 22:52] LukeWood opened #655 "serialization_test.py for keras_cv/applications"
This should be based on keras_cv/layers/serialization_test.py

[2022-08-04 07:03] MrinalTyagi commented on #653
@LukeWood Can I pick this up? If yes would surely appreciate some guidance on how to proceed.

[2022-08-04 07:39] MrinalTyagi commented on #654
@LukeWood can i pick this up? Also would love some guidance around this.

[2022-08-04 07:40] MrinalTyagi commented on #655
@LukeWood Can i pick this up?

[2022-08-04 20:02] LukeWood commented on #653
actually already fixed this!  Thanks

[2022-08-04 20:02] #653 closed

[2022-08-04 20:42] LukeWood commented on #654
Sure, feel free!

[2022-08-04 20:42] LukeWood commented on #655
hold off on this one

[2022-08-05 00:09] LukeWood opened #662 "Override fit() and train_on_batch() for OD models"
I will do this as a base object detection model class.  This will allow us to perform label encoding async on the host CPUs

[2022-08-05 06:27] MrinalTyagi commented on #654
@LukeWood Added a draft pr. Please have a look at it and let me know in case any modifications are required in the basic structure. I am having an issue in getting the init parameter of the model from config. Would appreciate some help from your end on this.

[2022-08-05 06:29] MrinalTyagi commented on #637
@LukeWood Can you describe how to proceed with this?

[2022-08-05 09:33] MrinalTyagi commented on #654
In all the currently written serialization test files, they are writing for a class where the get_config function is subclassed specific for parameter signature for that class and requirement but in models we are returning from function and hence there is no get_config function available for that. Is there any way to get hold of initialising parameter of a constructed model. Do i have to restructu

[2022-08-05 10:20] ariG23498 opened #664 "Specifying the probability of applying an augmentation layer"
**Short Description**
The idea is to specify the **probability rate** at which a generic augmentation layer will be applied to the inputs. This can be achieved in two ways:
1. Having a `RanomApply` layer which accepts the Augmentation Layer and the probability rate. The augmentation layer will be applied in accordance to the probability provided.

Pseudocode:
[code]
This would signify that we want

[2022-08-05 10:23] sayakpaul commented on #664
[code]

An extension of this could be to allow the users to specify a list of augmentation transforms and the ability to set their probabilities. If individual probabilities are not specified default will be picked.

[2022-08-05 11:22] sebastian-sz commented on #664
There is something similar in keras-cv: `MaybeApply`:
https://github.com/keras-team/keras-cv/blob/master/keras_cv/layers/preprocessing/maybe_apply.py

[2022-08-05 15:25] LukeWood commented on #637
Yes absolutely, basically in layers/prepreprocessing/*_test.py we can look for instances of “assertTrue” or “assertFalse” and attempt to replace them with more idiomatic assertions from the class tf.testing.TestCase.

Then re-run tests and send a PR!

[2022-08-05 15:25] LukeWood commented on #637
@MrinalTyagi this would be a great first issue

[2022-08-05 15:28] MrinalTyagi commented on #637
Cool. Picking this up.

[2022-08-05 16:07] #650 closed

[2022-08-05 16:08] LukeWood opened #665 "Ragged Tensor support in BaseImageAugmentationLayer"
In particular, lets focus on supporting RaggedBounding box Tensors for now.

Lets also add a unit test case for Ragged inputs in `with_bounding_boxes_test.py`

[2022-08-05 16:09] LukeWood opened #666 "RandomlyResizedCrop ragged tensor input support"

[2022-08-05 16:09] LukeWood opened #667 "RandomResizedCrop bounding box support"

[2022-08-05 16:36] #552 closed

[2022-08-05 16:53] ariG23498 commented on #664
Some pointers with `MaybeApply`:
- The `rate` parameter does not provide the probability of whether or not a layer is applied to the input
- The `rate` is a percentage of inputs on which the augmentation will be applied, the sample of selected inputs is random

If my understanding is correct, then `MaybeApply` deviates from the use case of `RandomApply`. The `RandomApply` or the `rate` parameter s

[2022-08-05 19:34] tanzhenyu opened #668 "Support ViT model"
Transformer models are becoming more and more relevant. Let's support it by having ViT first.
citing https://arxiv.org/pdf/2010.11929.pdf

[2022-08-05 19:35] sayakpaul commented on #668
Happy to work on it.

[2022-08-05 19:43] bhack commented on #668
/cc @yuanliangzhe

[2022-08-05 20:04] tanzhenyu opened #669 "Supporting FasterRCNN object detection model"
Other than RetinaNet, the library should support a heavier model that allows trade-off between performance / speed.
We will start with core components first, and decide what kind of meta architecture API we should provide that allows a keras.application-like experience.
For detailed design decisions, please comment on this [RFC](https://github.com/keras-team/governance/pull/38).

[2022-08-06 01:46] ariG23498 commented on #668
I am willing to work on this as well.

[2022-08-06 03:09] ariG23498 commented on #664
I am thinking of something like this. The code snippet is inspired from [TensorFlow blog-post on Augmentation](https://www.tensorflow.org/tutorials/images/data_augmentation#custom_data_augmentation).

[code]

[2022-08-06 03:52] tanzhenyu commented on #668
Thanks for providing the help! This is currently assigned, would you be open to contributing other transformer based vision models? for example, swin transformer

[2022-08-06 04:04] ariG23498 commented on #668
Sure!

[2022-08-06 04:09] tanzhenyu opened #671 "Support Swin Transformer Model"
Related to https://github.com/keras-team/keras-cv/issues/668, this is another transformer based model which we'd like to be supported. For simplicity, focus on only classification task, having in mind that future detection tasks might rely on it.

For contributors, please follow the [contribution guide](https://github.com/keras-team/keras-cv/blob/master/.github/CONTRIBUTING.md).

And specifically,

[2022-08-06 04:14] tanzhenyu commented on #668
https://github.com/keras-team/keras-cv/issues/671

Somehow I can't assign to you through user name...

[2022-08-06 05:11] ariG23498 commented on #671
I would like to work on this!

[2022-08-06 05:12] ariG23498 commented on #668
I think we need to comment on the issue to be assigned?

[2022-08-06 05:39] AdityaKane2001 commented on #664
@ariG23498

The rate is a percentage of inputs on which the augmentation will be applied, the sample of selected inputs is random
If my understanding is correct, then MaybeApply deviates from the use case of RandomApply. The RandomApply or the rate parameter should signify whether each input should be passed through a layer or not with a certain amount of probability.

It sounds that `RandomApply`

[2022-08-06 06:28] ariG23498 commented on #664
@AdityaKane2001

Could you elaborate on this point a little more?

I have provided a code-walkthrough of `random_apply` as I think of it in this [comment](https://github.com/keras-team/keras-cv/issues/664#issuecomment-1207134454).

If we can mould `MaybeApply` to `RandomApply` it would be a great!

[2022-08-06 06:38] sebastian-sz commented on #664
I think you mean that `RandomApply` works similar to `MaybeApply`, but `RandomApply` works on the entire batch, while `MaybeApply` works on individual inputs within the batch?

I think `RandomApply` would be interesting addition :)

[2022-08-06 07:23] AdityaKane2001 commented on #664
Exactly. MaybeApply works on individual samples in the batch, whereas RandomApply works on the entire batch. IMO MaybeApply seems a better approach. Hence I am not sure if it is a worthwhile addition. Please feel free to correct me if I'm missing something.

In case RandomApply is added to keras-cv, I believe a more object oriented approach is better than the functional approach. We would take a l

[2022-08-06 07:36] sebastian-sz commented on #664
I'm thinking, maybe extend `MaybeApply` with a "mode" parameter that specifies, whether the augmentation should happen on batch or sample level?

[2022-08-06 08:53] AdityaKane2001 commented on #664
Yes, the though crossed my mind as well, but I think it would be slightly unintuitive. A separate layer makes more sense IMO.

[2022-08-06 12:14] ariG23498 commented on #671
Hey @tanzhenyu

I got around reading the contriution guideline and the API design document. I was unable to find a guide to contribute a model inside of `keras_cv`.

My main doubts:
- Do we need to port the weights of the model (here SwinT in PyTorch)? If yes (which I hope should be the case), how would I do that?
- Do we also need to validate the weight porting process by validating it wrt the ta

[2022-08-06 12:25] bhack commented on #671
It would be useful to have something like:
https://github.com/keras-team/keras/blob/master/CONTRIBUTING.md#contributing-to-keras-applications

[2022-08-06 12:28] bhack commented on #671
Also do we have a duplicate ticket with https://github.com/keras-team/keras-cv/issues/636 ?

[2022-08-06 14:51] tanzhenyu commented on #671
Yes we do expect porting the weights and verifying the results against the original paper. For the guide, @bhack 's reference is most relevant.

[2022-08-06 14:52] tanzhenyu commented on #636
It seems I created a duplicate issue. Yes we'd like to accept the contribution as a keras-application style model.
Is there any way to split the work, for example, porting on SWIN-T Base first?

[2022-08-06 15:23] MrinalTyagi commented on #666
@LukeWood Would like to know more about this issue.

[2022-08-06 15:28] MrinalTyagi commented on #630
Would love to pick this up if noone else is currently working on this. @sebastian-sz

[2022-08-06 15:29] MrinalTyagi commented on #623
Any decision to implement this? Would love to contribute the model.

[2022-08-06 15:46] innat commented on #623
This needs to be first, I think.
https://github.com/keras-team/keras-cv/issues/669

[2022-08-06 15:54] MrinalTyagi commented on #669
@tanzhenyu Would like a lot to help on this issue.

[2022-08-07 06:10] ayulockin commented on #671
@ariG23498 will you mind if I join you on this PR?

[2022-08-07 06:21] ayulockin commented on #622
Great pointers by @bhack. To add two cents to this exact philosophy - @soumik12345 and I are working on implementing YOLOv2 (to learn and share mostly but also come up with modular APIs).

* Most research papers are built on top of each other. YOLOv3 was possible because of v2, and this can go on and on. As long as we have the subcomponent to build YOLOv2, with a few more subcomponents, we can bui

[2022-08-07 06:25] sebastian-sz commented on #630
@MrinalTyagi I actually wanted to add these models, but I'm waiting for:
1. Acceptance / contribution welcome tag from the repo authors.
2. When #570 is merged

There should also be some API discussion: do we want these as separate models, like `EfficientNetLiteB0` or kind of like `MobilenetV3` add a `minimalistic` or `lite` flag to existing implementation.

[2022-08-07 07:47] ariG23498 commented on #671
I have no issues collaborating with you on this one!

[2022-08-08 10:37] atuleu opened #672 "Possibly wrong implementation of focal loss in regard of label smoothing"
I think that there is a wrong implementation of focal loss in regard of label smoothing.

Here is the current implementation
https://github.com/keras-team/keras-cv/blob/35b9f9534fc193e00b4fa850963a05b331467065/keras_cv/losses/focal.py#L74-L90

as seen above, label smoothing occurs *before* the computation of `alpha` and `pt`. From the original paper, the value expected at this stage for `y_true` s

[2022-08-08 10:41] atuleu commented on #672
Here are the pytorch and facebookresearch implementations:

https://pytorch.org/vision/stable/_modules/torchvision/ops/focal_loss.html
https://github.com/facebookresearch/fvcore/blob/main/fvcore/nn/focal_loss.py

[2022-08-08 11:09] atuleu commented on #672
Possible fix available here https://github.com/atuleu/keras-cv/commit/ba35650bab435dcfe04000b0b7e68b7058829839 . Please tell me if I should open a PR

[2022-08-08 11:26] quantumalaviya commented on #672
I agree, I think the label smoothing issue should be fixed. Thanks for pointing it out.

As for the reduction, `keras.losses.loss` already takes in a reduction argument which is handled by kwargs. No need to add a new argument there.

[2022-08-08 11:34] atuleu commented on #672
I think it is not the same argument. Loss reduction in keras is per batch, to handle multiple device training properly. Here we are discussing of class reduction of the binary cross-entropy to implement a multi label / categorical cross entropy from binary cross entropy which should be handled at the FocalLoss level IMO.

[2022-08-08 16:42] LukeWood commented on #672
Looks like a legitimate bug!  Thanks for the report @atuleu.

@quantumalaviya would you mind introducing a fix?

[2022-08-08 16:42] LukeWood commented on #672
@atuleu lets do reduction in a separate issue!  one issue per thread is the easiest to discuss

[2022-08-08 18:03] #478 closed

[2022-08-08 18:05] LukeWood opened #675 "Introduce utility functions to convert between -1 padded bounding box tensors and ragged bounding box tensors"
@divyashreepathihalli this will help us support Ragged inputs to the BaseImageAugmentationLayer

[2022-08-08 19:23] LukeWood opened #676 "RandomResizedCrop API Change"
Currently, RandomResizedCrop is tuned by taking a crop_area_factor and aspect_ratio_factor.

The API should be updated to take a target_size, zoom_factor, and an aspect ratio factor.  At augmentation time, a value is drawn randomly from the Zoom factor and aspect ratio factor distributions.  a crop size is computed by multiplying each dimension of target size with the value drawn from zoom_factor.

[2022-08-09 09:18] atuleu opened #681 "Adds different class reduction scheme in `FocalLoss`"
**Short Description**

Currently `FocalLoss` reduces multi - label problems by a `mean` (see below):

https://github.com/keras-team/keras-cv/blob/ff20079aebe8e80bc355c279c9c5541a7c823535/keras_cv/losses/focal.py#L90

However a strictly correct formulation would be a `sum`. Original implementaion ( Facebook Research, pytorch ) lets the user decide for a `sum` or a `mean`. Other usage of focal loss

[2022-08-09 10:52] deepwilson commented on #668
If this is not assigned I would love to take this up or help if needed.

[2022-08-09 10:54] sayakpaul commented on #668
It's assigned.

![image](https://user-images.githubusercontent.com/22957388/183631170-ec90960f-77bc-46cb-902d-e1ce95f2da61.png)

[2022-08-09 11:11] deepwilson commented on #58
Is this closed? If not I can take this up.

[2022-08-09 12:16] deepwilson commented on #641
Could you elaborate more on this issue?

[2022-08-10 21:03] AdityaKane2001 commented on #676
@LukeWood

My understanding is as follows:

- Assume an input image of 300x400. (height x width)
- First we sample a zoom factor (would be <1 in a normal case?) and take a crop of that size. Assuming zoom factor is 0.5, we will take a crop of 150x200.
- Then a width and height are calculated and the image is resized to this new distorted size. Assuming the aspect ratio to be 0.5 (height : width),

[2022-08-10 23:39] LukeWood commented on #676
either less or greater than one.  150x200 zoomed by 2 should crop a 75x100 region, so it is zoomed to double the size

I guess to get the desired effect, zoom_factor => should be inversed before multiplying.  so a zoom factor of 2 => 0.5 and vice versa.  This means a zoom factor of 0.5 zooms out, 2.0 zooms in.

yep!  zoom_Factor 1.0 and aspect ratio 1.0 should just be the same as random crop basic

[2022-08-11 06:26] AdityaKane2001 commented on #676
Okay. Zoom factor is clear to me now.

Assuming we use a zoom factor of 0.5 (which will zoom out the image) we get a 600x800 image, right? How would the image look like? Will the image repeat itself or is it just a normal resize?

[2022-08-11 17:08] LukeWood commented on #676
you will get a 600x800 crop, but then it will be resized BACK to 224x244.  So zoom is computed based on crop size.

Imagine a 1000x1000 image with a crop size of 200x200.  If you sample zoom factor 0.5, your crop size will be 400x400, then you will be resized back to 200x200.

[2022-08-11 17:14] LukeWood commented on #681
Gotcha, so do mean and sum in focal loss provide different results?

[2022-08-11 18:05] LukeWood commented on #662
Note to self: Check with tf.data() team

[2022-08-11 18:25] LukeWood opened #684 "Difference to MaP and upstream pycocotools metrics"
Area range happens after matching/before, this can make a numerical difference.  Line reference:

https://github.com/keras-team/keras-cv/blob/master/keras_cv/metrics/coco/mean_average_precision.py#L237

[2022-08-11 18:29] LukeWood commented on #684
Can be either fixed or just documented in the white paper

[2022-08-12 17:10] LukeWood commented on #676
An exact process:

target_size, zoom_factor, aspect_ratio_factor.

the process starts and a value is sampled from zoom_factor:

target_size = (50, 50)
zoom = zoom_factor() # lets use 0.5
aspect_ratio = aspect_ratio_factor() # lets use 9/10

next, crop size is calculated using target size and zoom:

crop_size = target_size / zoom # (100, 100)

next, aspect_ratio is applied:

crop_size = distort_asp

[2022-08-12 17:28] AdityaKane2001 commented on #676
@LukeWood

Thanks for this, it really helps!

I have two concerns regarding this approach:
1. I understand that this is quite close to the current implementation, in terms of the end result. The gist is the same - we crop a random area and resize it to the given target_size. Given this, I am not sure why do we need to include `target_size` in the calculation of `crop_size`. `target_size` should id

[2022-08-15 16:54] LukeWood commented on #676
Thanks for this, it really helps!

I have two concerns regarding this approach:

Any reason why not?  If the goal of the layer is to take zooms with a level of distortion, it should be easy to tune the distortions relative to the result.

The nice thing about `zoom_factor` is that you can pass something like: 1.0 and reasonable reason that it has NO zoom, and you can tune it up or down in incremen

[2022-08-15 17:05] LukeWood commented on #676
@martin-gorner has more thoughts on this too

[2022-08-15 18:10] LukeWood opened #690 "Write script to diff the keras-io documentation generator from the keras_cv API installed locally"
Basically we can walk the tree, and look at what symbols are not being documented.

https://github.com/keras-team/keras-io/blob/master/scripts/cv_api_master.py

[2022-08-16 05:56] sebastian-sz commented on #629
Gently pinging @LukeWood for opinion / green light here.

[2022-08-16 10:48] sayakpaul opened #693 "Usage guidelines of the benchmarking script"
Would be nice to have a guide that discusses https://github.com/keras-team/keras-cv/blob/master/benchmarks/vectorization_strategy_benchmark.py.

* What is it?
* Different flavors vectorization shown in there.
* Performance comparisons.

It could be just a detailed REAMDE https://github.com/keras-team/keras-cv/blob/master/benchmarks discussion of the above (and other relevant) points.

[2022-08-16 11:01] bhack commented on #693
And also a reference in:

https://github.com/keras-team/keras-cv/blob/master/.github/CONTRIBUTING.md

[2022-08-16 14:55] sayakpaul commented on #676
I like this thought experiment. Tremendous one.

[2022-08-16 19:31] LukeWood commented on #629
Interesting, could you send a PR so we can verify this?  I think you're correct, but I would like to see the updated code.