[2020-05-27 19:58] bhack opened #1 "Anchor free models"
Please evaluate to extract common components/utils that could support Anchor free models:
https://github.com/tensorflow/hub/issues/424

See also:
https://github.com/google/mediapipe/issues/495#issuecomment-616721458
https://github.com/google-coral/edgetpu/issues/51

[2020-06-02 18:04] SunPaz commented on #1
Very naive questions here:
1) Why would you like to implement an anchor free model in an industrial context ?
AFAIK anchor model are widely used for label inspection as they give a very quick and reliable result.
2) Have you considered adressing vision inspection problems (detect defects on products) or labeling only (read and check label information) ?

I would be very happy to discuss further on

[2020-06-15 03:53] tanzhenyu commented on #1
Anchor free models are probably not in our immediate roadmaps yet. @fchollet WDYT?

[2020-06-15 18:29] bhack commented on #1
@tanzhenyu At least it would have a bit of a way to diversify keras-cv compared to the model garden since almost all official anchor free papers implementations are in pytorch

[2020-06-15 18:42] tanzhenyu commented on #1
True -- but we'll focus on things not TF2/Keras implemented yet, such as semantic segmentation, DeepLab, etc. If this is in the long run outperforming anchor-based models, (as well as DETR I guess), then we'd need to consider having re-useable layers for them.

So "long run" is the vague word here, would it make more sense to put in addons?

[2020-06-15 18:51] bhack commented on #1
If you are talking about official models is true. But there are many third_party very good impl related to your list on Github.

[2020-06-15 18:58] tanzhenyu commented on #1
Yes -- and I'd like to consolidate the efforts. If that's already very good impl we should ask the author to migrate directly to this repo (or Keras-applications if it's backbone)

[2020-07-10 23:05] bhack commented on #1
@tanzhenyu nevermind anchor-free just appeared in the new model garden object detection API (Centernet) https://github.com/tensorflow/models/tree/master/research/object_detection#tensorflow-2-support

[2020-07-10 23:11] bhack commented on #1
IMHO less reusable when we have utils in models repos https://github.com/tensorflow/models/blob/master/research/object_detection/utils/target_assigner_utils.py#L44

[2020-07-12 16:23] mkaze opened #8 "Purpose, scope and road-map of this repository"
I have explained my questions in more detail [here](https://github.com/keras-team/keras-nlp/issues/1). I would appreciate if you could answer them for this repository (i.e. keras-cv) as well.

[2020-08-16 08:07] #1 closed

[2020-09-05 12:10] swghosh commented on #8
https://github.com/keras-team/governance/pull/23

[2020-09-17 22:44] tanzhenyu commented on #8
Closing this as the RFC is merged

[2020-09-17 22:44] #8 closed

[2021-08-28 17:14] innat opened #917 "Add `ResNeXt [50, 101]` to keras.applications"
**System information**.

TensorFlow version (you are using): 2.5
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.

`ResNeXt` is a well-known classification model that is weirdly missing from the `keras.applications`. The idea that is presented [here](https://arxiv.org/abs/1611.05431) is great and I think it's fit for the model member in the

[2021-10-25 10:51] innat opened #636 "Add Swin-Transformer to keras.applications"
If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding features. Support

[2021-11-10 23:14] LukeWood opened #12 "Integrate pre-commit hooks"
based on tensorflow/tensorflow#48371

[2021-11-10 23:14] LukeWood commented on #12
@bhack

[2021-11-11 21:12] bhack commented on #12
Please check https://github.com/keras-team/keras-cv/pull/14

[2021-11-18 19:38] LukeWood opened #15 "Implement profiling for COCORecall"
Understanding which for loops are costing the most will guide the optimization/vectorization effort.  Profiling can be done using the TensorFlow profiler:

https://www.tensorflow.org/guide/profiler

[2021-11-18 19:40] LukeWood opened #16 "End to end model.fit() performance testing w/ COCO metrics"
Some comments on this:
- we can use a Keras callback to track the runtimes of each step
- we must omit the first batch, as this will include the Keras compilation step
- we can test the model runtime with/without each metric, this will give us a reference as to how expensive the metrics are.  No metric should increase runtime by more than a factor of 2x

[2021-11-18 19:42] LukeWood opened #17 "Vectorize/Optimize the COCORecall metric"
Lots of the for loops in the COCORecall update_state method could be reduced to `tf.einsum()` calls.  Additionally, we should be able to vectorize area computation in the iou function, along with some other operations in the overall computation of the metric.  tf.TensorArrays are quite slow, so we should look to remove those if possible.

[2021-11-18 20:29] bhack commented on #16
Can we reuse https://github.com/tensorflow/benchmarks/tree/master/perfzero ?

[2021-11-18 21:28] bhack commented on #17
What version do you want to implement? We have a vectorized IOU in:
https://github.com/tensorflow/models/blob/master/official/vision/detection/utils/box_utils.py#L643

It is quite the same of the old vectorized benchmarks in:
https://medium.com/@venuktan/vectorized-intersection-over-union-iou-in-numpy-and-tensor-flow-4fa16231b63d

[2021-11-18 21:33] bhack commented on #17
Also with the scope of having a reusable component library for CV we have also in TF Addons:

https://github.com/tensorflow/addons/blob/master/tensorflow_addons/losses/giou_loss.py#L107-L128

[2021-11-18 22:22] LukeWood commented on #17
Wow, thank you for the vectorized iou.  This will save me a lot of time?

[2021-12-02 21:35] LukeWood opened #18 "Implement numerical correctness test for COCO metrics"
This can be done by hard coding some predictions, running through cocoeval.py, then testing the known values against the Keras COCO metrics

[2021-12-03 21:24] LukeWood opened #19 "RandomCutMix, RandomMixUp augmentation"
These two well-known and very effective augmentation methods are widely used among ML practitioners. In keras, we can find some general augmentation . And these two augmentation methods can be included as advanced augmentation layers.

CutMix - [Paper](https://arxiv.org/abs/1905.04899) - Cited by ~ 865
MixUp - [Paper](https://arxiv.org/abs/1710.09412) - Cited by ~ 2675

Let's add these to
`keras_c

[2021-12-03 21:48] bhack commented on #19
We could port these from:
https://github.com/tensorflow/models/blob/master/official/vision/beta/ops/augment.py#L20

[2021-12-03 22:37] LukeWood commented on #18
Generated examples and some sample values here:
https://colab.research.google.com/drive/1hQaBY1u5PH5i8f-umSpLYzlEK9I8NAlT?usp=sharing

These can be adapted to a correctness test

[2021-12-04 17:47] innat commented on #19
@LukeWood
The above implementation of `mixup - cutmix` should be the most optimized. Here is another implementation, a very basic starter of it.  [CutMix - MixUp.ipynb](https://colab.research.google.com/drive/1x6fgPWm9SQmz4ams-9pmrYFbouUgPrQo?usp=sharing)

**rand_cutmix**
![download](https://user-images.githubusercontent.com/17668390/144719305-d462b19e-ce66-4e2b-8f10-274a78762412.png)

**rand_mixu

[2021-12-04 18:23] LukeWood commented on #19
Thanks @innat!  I’ll take a look at this early next week.

[2021-12-08 07:35] LukeWood opened #20 "Reorder channel layer for smooth native RGB - BGR"
This is a commonly performed operation in image processing making it a good fit for keras-cv.  While this is not a *super* complicated operation (it's really just a lambda into a tf.gather) the resulting code is more readable.  Let's include this in keras-cv.

Originally discussed here: https://github.com/keras-team/keras/issues/15705

Re the design of the layer signature...

The current proposal

[2021-12-08 11:42] bhack commented on #20
This seems only about reordering but more in general we have many colorspace conversione in:

https://github.com/tensorflow/io/blob/v0.20.0/tensorflow_io/python/experimental/color_ops.py#L20

[2021-12-08 12:46] piEsposito commented on #20
I see. The idea here is to enable BGR-RGB conversion on the model serving bundle, so we don't have to manipulate images "by hand" when serving it in any scenario.

[2021-12-10 13:15] innat opened #21 "Mosaic Augmentation for Object Detection"
**Mosaic Augmentation**
- Paper: [YOLOv4: Optimal Speed and Accuracy of Object Detection](https://arxiv.org/pdf/2004.10934.pdf) (Figure 3).
- **Yolo-V4** Citation: 3718

**What is it?**
The idea is to take 4 random samples and create a single sample of mosaic fashion with them. For example:

![mosaic](https://user-images.githubusercontent.com/17668390/145579025-cb51323d-d582-4984-895a-0844a6d34d52

[2021-12-10 13:19] bhack commented on #21
I think we have already in the official model garden:
https://github.com/tensorflow/models/blob/master/official/vision/beta/projects/yolo/ops/preprocessing_ops.py#L236
https://github.com/tensorflow/models/blob/master/official/vision/beta/projects/yolo/ops/mosaic.py

[2021-12-10 13:31] innat commented on #21
Oh, I see. Does it mean that we should use these from the `tensorflow/models` garden or all those relevant operations will be moved here to strengthen the high-level api? Also why the `mosaic.py` file is under `/yolo/ops/` directory? Shouldn't it be more general for all object detection models?

[2021-12-10 14:04] bhack commented on #21
This is the old long story about where to collect reusable CV components.
I suppose that we could port these from the model garden to keras-cv.

[2021-12-10 14:10] bhack commented on #20
I understand that this is at Keras layer level implementation but about lowlevel reusable components Remember that we had already another color space overlapping other then with Tensorflow IO SIG also with TF Graphics:

https://github.com/tensorflow/graphics/issues/107
https://www.tensorflow.org/graphics/api_docs/python/tfg/image/color_space

[2021-12-10 14:30] piEsposito commented on #20
I see. In that case, that’s just me trying to export and deploy my models
without rechanneling my images out of the model.

Thank you for the info thou.

Em sex., 10 de dez. de 2021 às 11:10, bhack ***@***.***>
escreveu:

--
--
*Pi Esposito | piesposito.github.io <http://piesposito.github.io>*

[2021-12-10 14:33] bhack commented on #20
without rechanneling my images out of the model.

I understand and it could be useful here. The only problem that I want ti highlight is that I prefer to not going again to have a proliferation/duplication of low level ops/API in every SIG.

[2021-12-11 13:56] piEsposito commented on #20
I agree with you. What do you think would be the best solution for that? I think that we should have a keras layer for that, but avoiding redundancy of implementations :D.

[2021-12-14 05:52] LukeWood commented on #19
Began in PR #22

[2021-12-14 19:26] LukeWood commented on #21
Think this looks like another good preprocessing layer.

yeah I agree, it's beginning to look like we are probably going to have a lot of code duplication between keras-cv and model garden.  In my opinion this is to be expected - We do not want keras-cv to depend on model garden, but some of the functionality is the same.

@bhack thank you for continuing to point out  the existing model garden imp

[2021-12-27 06:31] HLearning opened #23 "Can you tell me the road map of keras-cv？"
I'm very interested in this warehouse. Is it an upgraded version of keras app? Like torchvision?

[2021-12-28 17:57] LukeWood commented on #19
@bhack does label smoothing need to inherently be a part of MixUp & CutMix?  (I'm not intimately familiar with the operations)

[2021-12-28 22:26] bhack commented on #19
@LukeWood No but in the original papers they are using the label smoothing regularization as one of the experiment to improve the performance.

![immagine](https://user-images.githubusercontent.com/1710528/147611264-f239fb93-c1c4-4e69-ac06-01dc4873bbf6.png)

As you can see in the table Cutmix+Shakedrop has a better result in the original paper on CIFAR-100

We had Skaedrop in research at:
https://

[2021-12-28 22:31] LukeWood commented on #19
Thanks for the info, I'll see if I can figure out exactly what we would want this layer to do.

Keras loss functions already smooth labels, so perhaps we don't need to accept labels as an argument regardless?  https://www.tensorflow.org/api_docs/python/tf/keras/losses/BinaryCrossentropy

I'll do some further reading and look into everything the labels are used for internally.

[2021-12-28 22:51] bhack commented on #19
Do you need to apply the conditional at https://github.com/tensorflow/models/blob/master/official/vision/beta/ops/augment.py#L2219 ? I don't know if in the loss it is too late..

[2021-12-28 22:59] LukeWood commented on #19
Ah Yeah, I think you are right.

One issue I am attempting to account for is composability.  I.e.

preprocessing_model.add(RandomCrop())
preprocessing_model.add(RandomMixUp())

note randomCrop.call only receives images as an input, whereas right now RandomMixUp requires both images & labels.  The standard is to only receive the x to a preprocessing layer, but if MixUp and CutMix require labels the

[2021-12-28 23:18] LukeWood commented on #19
@mattdangerw are there any KPLS as of now that rely on label information?

[2021-12-28 23:48] bhack commented on #19
I think the problem is that generally sample and label pair manipulation was more relegated to the `tf.data` API.
But here ware are going to manipulate sample a label pairs to create virtual and a sort of `interclass` samples.

[2021-12-28 23:52] bhack commented on #19
E.g. check the dataset API example at:
https://keras.io/examples/vision/cutmix/

[2021-12-29 16:51] LukeWood commented on #19
@bhack I went ahead and created PR #24 this morning.  Since there's no way to avoid having to have two inputs & two outputs I went ahead and included label smoothing, with it disabled by default.  I think this is a happy medium as it won't surprise users, but it's still an option.  I'll create a RandomCutMix layer next.

[2022-01-03 16:37] LukeWood opened #25 "SaltAndPepper preprocessing layer"

[2022-01-03 16:37] LukeWood opened #26 "GaussianBlur preprocessing layer"

[2022-01-03 16:40] LukeWood opened #27 "RandomErasing preprocessing layer"

[2022-01-03 17:06] LukeWood commented on #19
Hey @bhack if you have any time a review here would be really helpful.  Thanks, and no worries if you don't have the time!

[2022-01-03 19:41] bhack commented on #26
Se have both 2d and 3d:

https://github.com/tensorflow/models/blob/master/official/vision/beta/projects/video_ssl/ops/video_ssl_preprocess_ops.py#L248

And:
https://github.com/tensorflow/models/blob/master/official/vision/beta/projects/simclr/dataloaders/preprocess_ops.py#L233

[2022-01-03 19:44] bhack commented on #27
https://github.com/tensorflow/models/blob/master/official/vision/beta/ops/augment.py#L2021

[2022-01-03 20:01] bhack commented on #25
Is this going to be another noise layer impl:
https://github.com/keras-team/keras/blob/master/keras/layers/noise.py

[2022-01-03 20:03] bhack commented on #25
Check also
https://github.com/keras-team/keras/pull/335#issuecomment-118661067

[2022-01-04 18:56] mattdangerw commented on #19
@LukeWood no we don't have any preprocessing layers that depend on layer information. We do have a hashed crossing layer which takes multiple inputs as a tuple, but not really the same.

I am not sure if it would better to accept two separate inputs as you are doing in the PR currently, or to take in a single input that needs to be a `(x, y)` tuple.

Either way, doing this would restrict this laye

[2022-01-04 19:07] LukeWood commented on #19
Perhaps a preprocessing model could be defined with an input for the labels as well here if the users want.

thanks for the heads up, I updated it to take a tuple.

yeah there are some interesting regularization losses that actually require label information that would be great to be able to add from inside of Keras layers instead of just at the end of the model.

[2022-01-06 00:15] innat opened #28 "Simple Copy-Paste Augmentation (Instance Segmentation)"
Demo:
![ds](https://user-images.githubusercontent.com/17668390/148637175-abb63833-85b9-4af9-ab67-0753212b89af.jpeg)

Ref: https://github.com/tensorflow/tpu/tree/master/models/official/detection/projects/copy_paste

[2022-01-06 05:08] LukeWood opened #29 "RandAug preprocessing layer"
https://keras.io/examples/vision/randaugment/

[2022-01-06 16:38] LukeWood commented on #29
This will require rewriting from numpy to TensorFlow

[2022-01-06 18:28] sebastian-sz commented on #29
I have been using this implementation. Maybe it can help:
https://github.com/tensorflow/models/blob/ded32f0500604928e52e27fd3f678e694e5133b7/official/vision/image_classification/augment.py#L905

[2022-01-08 08:30] innat opened #31 "GridMask Augmentation"
Paper: [GridMask Data Augmentation](https://arxiv.org/abs/2001.04086)
Citation: ~70
Code: https://github.com/google/automl/blob/master/efficientdet/aug/gridmask.py

Demo:

![image](https://user-images.githubusercontent.com/17668390/148650732-7045a49d-a60e-4f8f-8b5c-cf21551d1ae3.png)

---

@LukeWood Is it possible to add a Discussion tab, [like](https://github.com/facebookresearch/detectron2/discus

[2022-01-08 08:40] innat commented on #27
RadomErasing and Cutout augmentation are almost alike, except in RandomErasing, the cutout happens with random sizes.

cutout: [tfa.image.cutout](https://www.tensorflow.org/addons/api_docs/python/tfa/image/cutout)

![image](https://user-images.githubusercontent.com/17668390/148637871-fef66b41-5fad-4377-b0f5-7df1cec6a7ff.png)

![image](https://user-images.githubusercontent.com/17668390/148637876-12

[2022-01-08 09:05] innat commented on #19
hey @LukeWood. Just to add two cents on this augmentation.

Currently, this aug can be applied to classification tasks but as the `kerascv` sets the target to general vision task, that's why to support vision tasks like object detection, we may need to add utility to accept the `bbox_params` argument too.

**example of mixup-object-detection - region=full-images**
![image](https://user-images.gith

[2022-01-10 04:05] LukeWood opened #32 "RandomColorAffine preprocessing layer"
https://keras.io/examples/vision/semisupervised_simclr/

[2022-01-10 04:10] LukeWood opened #33 "Including All Components to Train State of the Art Imagenet-1k models"
https://pytorch.org/blog/how-to-train-state-of-the-art-models-using-torchvision-latest-primitives

Two papers to reference:
* ResNet-RS
* ResNet Strikes Back

[2022-01-10 06:22] LukeWood commented on #23
Hey @HLearning (and everyone who liked the comment).  We’re working on getting the roadmap ready still.  I have a PR for review with some readme updates that explain the general goals of the repo.  They can be best summarized as reusable components (layers, preprocessing layers, metrics, losses) that aid in the three big computer vision tasks: image classification, image segmentation, and object d

[2022-01-10 06:22] #23 closed

[2022-01-10 09:31] bhack commented on #33
https://discuss.tensorflow.org/t/resnet-rs-rewritten-in-tensorlfow-keras/5733

https://github.com/keras-team/keras/issues/15780

[2022-01-10 18:26] LukeWood opened #34 "Create a CONTRIBUTING.MD guide"
From a PR review:

We want an adoption metric of some kind, and a citation threshold (~50) is a convenient metric.

We'll try. Someone who contributes a component will be called to fix issues with it if any arise.

Deprecation decisions are always the result of cost/benefits analysis. The picture varies from component to component and over the lifetime of the repo. It's a case by case basis.

Yes,

[2022-01-11 01:11] #19 closed

[2022-01-11 13:25] innat opened #35 "CutMix augmentation for Object Detection task."
[Reposting from [here](https://github.com/keras-team/keras-cv/issues/19#issuecomment-1007919637) as a future reference for potential contributor].

CutMix - Paper - Cited by ~ 865
MixUp - Paper - Cited by ~ 2675

---

Currently, [this aug](https://github.com/keras-team/keras-cv/pull/24) can be applied to classification tasks but as the `kerascv` sets the target to general vision task, that's why t

[2022-01-11 15:25] bhack commented on #35
I suppose these are just sparse experiments. Do we have some reference paper for CutMix and Mixup for object detection?

[2022-01-11 15:29] bhack commented on #35
I found a reference in 2.3.9 section of:

https://arxiv.org/abs/2106.07085

[2022-01-11 16:57] innat commented on #35
@bhack
Thanks for bringing up this reference, just skimmed through some content and it looks interesting. Also If you look at the original [cut-mix](https://openaccess.thecvf.com/content_ICCV_2019/papers/Yun_CutMix_Regularization_Strategy_to_Train_Strong_Classifiers_With_Localizable_Features_ICCV_2019_paper.pdf) paperwork, you would find that they have actually included object detection tasks too.

[2022-01-11 17:07] bhack commented on #35
I think in the original paper It was something different:

fine-tuned for object detection

[2022-01-11 17:09] bhack commented on #35
If you check the first in the list (2d object) was exactly the reference mentioned in the survey.

[2022-01-11 19:36] LukeWood opened #36 "ResNet-RS block/layer"

[2022-01-11 19:36] LukeWood opened #37 "ResNeXT block/layer"

[2022-01-11 19:36] LukeWood opened #38 "Efficientnet block/layer"

[2022-01-11 19:36] LukeWood opened #39 "CutOut augmentation"

[2022-01-11 20:17] bhack commented on #39
https://github.com/tensorflow/addons/blob/master/tensorflow_addons/image/cutout_ops.py

https://github.com/tensorflow/models/blob/master/official/vision/image_classification/augment.py#L267

[2022-01-12 06:08] LukeWood commented on #29
A batched implementation exists in imgaug:

https://github.com/aleju/imgaug

[2022-01-12 11:01] innat opened #40 "AugMix image augmentation"
Paper: https://arxiv.org/abs/1912.02781 Cited by 308
Code:
- src 1: https://github.com/google-research/augmix
- src 2: https://github.com/AakashKumarNain/AugMix_TF2

![](https://raw.githubusercontent.com/google-research/augmix/master/assets/augmix.gif)

[2022-01-12 11:05] innat opened #41 "AutoAugment image augmentation"
Paper: https://arxiv.org/abs/1805.09501 Cited by 832
Ref code. https://github.com/tensorflow/models/blob/ded32f0500604928e52e27fd3f678e694e5133b7/official/vision/image_classification/augment.py#L731

[2022-01-12 11:09] sayakpaul opened #42 "Random Erasing as a KPL"
Random Erasing [1] is another essential augmentation transform for controlling the amount of regularization when training models on ImageNet. It's also used by the recent line of papers [2, 3]. Short explanation: https://paperswithcode.com/method/random-erasing.

[1] Random Erasing: https://arxiv.org/abs/1708.04896
[2] ResNet Strikes Back: https://arxiv.org/abs/2110.00476
[3] A ConvNet for the 202

[2022-01-12 11:21] bhack commented on #29
But it Is not the best solution as it needs to be `tf.py_function` wrapped as It handle Numpy arrays not Tensor.

https://keras.io/examples/vision/randaugment/

[2022-01-12 12:04] innat commented on #42
I think It's already opened, here https://github.com/keras-team/keras-cv/issues/27

[2022-01-12 12:22] bhack commented on #40
https://github.com/google/automl/pull/362

https://github.com/google/uncertainty-baselines/commit/274772f3b379fc2f348d3efc3a5f71ef1edf382d

[2022-01-12 12:27] bhack commented on #38
It could be refactored from:

https://github.com/tensorflow/models/blob/master/official/vision/beta/modeling/backbones/efficientnet.py

[2022-01-12 12:38] bhack commented on #36
It could be extrapolated/refactored from https://github.com/tensorflow/models/blob/master/official/vision/beta/MODEL_GARDEN.md#resnet-rs-models-trained-with-various-settings

[2022-01-12 12:49] bhack commented on #34
I think that we need to add a `CODEOWNERS` policy to promote `Organizational Diversity`  and adopt a good `Issue Label Inclusivity`.

See pages 41 and 85 in: https://chaoss.community/wp-content/uploads/2021/10/English-Release-2021-10-21.pdf

[2022-01-12 13:14] old-school-kid opened #43 "SLIC Layer: Superpixel"
Image Augment layer using SLIC
https://ieeexplore.ieee.org/document/6205760 cited by 7880
Implementation in skimage https://github.com/scikit-image/scikit-image/blob/v0.19.0/skimage/segmentation/slic_superpixels.py#L110-L385

Sharpen images by using a unsharp mask or something better I am unaware of.

[2022-01-12 13:17] #42 closed

[2022-01-12 13:32] innat commented on #40
What is **Applies Confidence Adjusted Mixup ([CAMixup](https://github.com/google/uncertainty-baselines/blob/1de7aa452ce0d4364b98902177934c643ffacfba/uncertainty_baselines/datasets/augmix.py#L206))** regularization!

[2022-01-12 13:45] bhack commented on #40
Is `CONFIDENCE ADJUSTED MIXUP ENSEMBLES` in:

https://arxiv.org/abs/2010.09875

[2022-01-12 13:46] innat opened #44 "Channel/Spatial/Element wise Attention Modules"
In the [timm](https://github.com/rwightman/pytorch-image-models#models) package, it provides some soft attention modules to building network blocks and I think it's good fit here , for example:

- CBAM: https://arxiv.org/abs/1807.06521  Cited by 3530
- Squeeze-and-Excitation (SE): https://arxiv.org/abs/1709.01507  Cited by 10411
- Lambda Layer: https://arxiv.org/abs/2102.08602 Cited by 67
- Bottle

[2022-01-12 13:58] bhack commented on #44
I have not extensively checked about these in the model gardens components, but just picking the First One in the list:

https://github.com/tensorflow/models/blob/master/official/vision/beta/projects/yolo/modeling/layers/nn_blocks.py#L1170

[2022-01-13 05:15] innat commented on #44
@LukeWood
The above list isn't meant to be the replacement for the current priority list. The point is whether these cv components are fit in `keras-cv` or not.

It can be considered as a to-do list, an interested contributor can get references from here in the coming days. Let me know if I miss something.  Also, I think a few components should be already on the current priority list, for example,

[2022-01-14 14:58] bhack commented on #44
II think that in this specific field you need to always find a balance between popupalirity, state of the art, sedimentation and the available human and computing resources you have at a specific point on the time dimension in your community.
So you need to define a policy with an equilibrium over all these tensions expecially if you want try to growth your code contributor community and not just

[2022-01-14 17:07] LukeWood commented on #17
moved to https://github.com/tensorflow/models/blob/master/official/legacy/detection/utils/box_utils.py

[2022-01-17 02:34] LukeWood commented on #27
A comment from @sayakpaul:

[2022-01-18 04:57] LukeWood commented on #26
We can also use: https://github.com/google-research/simclr/blob/master/tf2/data_util.py#L326 if we want

[2022-01-18 20:36] bhack commented on #26
But If you need to support a 4d tensor with batch size you need to look at addons:

https://github.com/tensorflow/addons/blob/master/tensorflow_addons/image/filters.py#L232

[2022-01-19 22:41] LukeWood commented on #12
We ended up deciding against this as a team.  Apologies again @bhack for the miscommunication, I hope this doesn't dissuade you from contributing to the repository as your contributions thus far have already been extremely helpful.

[2022-01-19 22:41] #12 closed

[2022-01-19 23:45] bhack commented on #12
@LukeWood I supposed this was a green light with:

https://github.com/keras-team/keras-cv/pull/11#discussion_r747055087

I hope the we could make open  regular meetings soon like the other SIGs.

[2022-01-20 18:40] LukeWood commented on #18
Done for COCORecall

[2022-01-20 18:40] #18 closed

[2022-01-20 18:40] LukeWood opened #48 "COCOMeanAveragePrecision metric"

[2022-01-20 22:15] LukeWood opened #49 "WideResNet architecture"
Best resnet for Cifar10/Cifar100

 https://arxiv.org/abs/1605.07146

[2022-01-21 00:14] LukeWood commented on #34
Additional notes:
- I'll be creating guidelines on __init__.py management, performance considerations, style guide, etc.

[2022-01-21 20:07] LukeWood commented on #40
Thanks for opening this.  I'll be including this soon from tf similarity

[2022-01-21 20:07] LukeWood commented on #29
I'll be contributing this shortly

[2022-01-22 06:52] innat commented on #39
@LukeWood There is another augmentation similar to this one called [CoarseDropout](https://albumentations.ai/docs/api_reference/augmentations/dropout/coarse_dropout/#albumentations.augmentations.dropout.coarse_dropout.CoarseDropout). I think it's somewhat better to have than simple CutOut.

[TF Code. ](https://www.kaggle.com/cdeotte/tfrecord-experiments-upsample-and-coarse-dropout)

![output_13_0]

[2022-01-23 22:11] chjort commented on #29
If it could be to any inspiration, I also have a keras layer implementation of RandAug in my own toolbox:
https://github.com/chjort/chambers/tree/master/chambers/augmentations
specifically at this [line](https://github.com/chjort/chambers/blob/637be5ac8d76bb8d16adb53b5a1c6dd2b963b894/chambers/augmentations/augmentation_schemes.py#L175).

It is based on https://github.com/tensorflow/tpu/blob/master

[2022-01-23 22:15] LukeWood commented on #29
Thanks for the links!  I’ll let you know if I used them.  I’ll likely base mine on tensorflow similarity’s

[2022-01-24 07:14] sebastian-sz commented on #36
Currently, there are two implementations available:

1. Linked in the paper from [tensorflow/tpu](https://github.com/tensorflow/tpu/blob/cb119a8607ee9bb70542867579dc9b6e69a85c5a/models/official/resnet/resnet_model.py#L385) repository.
2. Independent implementation from [Model Garden](https://github.com/tensorflow/models/blob/master/official/vision/beta/MODEL_GARDEN.md#resnet-rs-models-trained-with

[2022-01-24 20:15] LukeWood opened #53 "Explore model visualization tools"
e.x.

https://tf-explain.readthedocs.io/en/latest/

[2022-01-24 20:19] bhack commented on #53
https://arxiv.org/abs/2012.09838

[2022-01-24 20:22] LukeWood opened #54 "COCORecall should support XLA compilation"
Current error when running in mirrored mode:

If we can compile to XLA we can also run on TPUs.

[2022-01-24 22:13] bhack commented on #54
You aren't alone:
https://github.com/tensorflow/tensorflow/issues/50407

https://github.com/tensorflow/tensorflow/issues/40366

[2022-01-25 06:37] innat commented on #53
This would be really nice to have. But I remember some folk requested such a feature ([issue](https://github.com/keras-team/keras/issues/15704)) but it was [closed](https://github.com/keras-team/keras/issues/15704#issuecomment-984897075) anyway. And it would be great to reconsider.

[2022-01-25 06:40] LukeWood commented on #20
I'd be fond of the API:
[code]

I think we could include this if someone wanted to contribute it.

[2022-01-25 06:42] LukeWood commented on #20
If the parsing of the einsum notation is too verbose, we can just have it work like a transpose op where you pass the channel ordering in a list.

[2022-01-25 21:41] LukeWood commented on #17
Profile trace of COCORecall:

![image](https://user-images.githubusercontent.com/12191303/151064395-8f517648-569f-4a4d-8bc5-5f80ccbf7dc4.png)

Looks like TensorScatterAdds make up for 20% of compute costs.  To fix this, I can use a TensorArray in COCOBase of shape (num_categories*num_thresholds) then reshape it after stacking.  This will be much more efficient.

Additionally, we should look into t

[2022-01-25 22:30] bhack commented on #17
Can you share the gist to reproduce this as we still don't have any CI infra for PR performance regression check?

I suppose one of the problem is that  `TensorSCattterAdd` and `Sum` are in the inner loop.
Is `StridedSlice` also coming from  `_match_boxes` innner loop?

The top 3 occurrences in the inner loops are going to take `48,5%` of the device time.

[2022-01-26 08:14] LukeWood commented on #17
Unfortunately no.  This uses an internal profiling tool.

Yeah, the sum operation I expect we can't improve.  The ScatterND add, I would bet we can improve this drastically.  I will be updating the results to TensorArrays, which should help a lot.

Re: StridedSlice and matching boxes:
I also expect this to take a lot of compute time, it may just be an inherent truth of the algorithm required to co

[2022-01-26 10:42] bhack commented on #17
I think we need to be on the same page to test this also the same (simulated/random?) input size. Can you share your benchmarking gist?.

Have you checked if you are ok with the constrains imposed by:
https://www.tensorflow.org/api_docs/python/tf/vectorized_map

[2022-01-26 19:08] bhack commented on #17
The new box and iou ops are in:
https://github.com/tensorflow/models/tree/master/official/vision/beta/ops

[2022-01-26 21:08] #15 closed

[2022-01-27 03:10] LukeWood commented on #39
Thanks @chjort

[2022-01-27 03:10] #39 closed

[2022-01-27 03:10] LukeWood commented on #27
Thanks @chjort

[2022-01-27 03:10] #27 closed

[2022-01-27 03:25] LukeWood opened #57 "ResNet34 architecture"

[2022-01-27 03:25] LukeWood opened #58 "ResNet18"
Note: Owen is already working on this.

[2022-01-27 08:04] ariG23498 commented on #20
Hey folks,

The RGB-BGR operation is very easily possible with the [`tf.keras.layers.Permute`](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Permute). Would we want to wrap with with the einsum notation as suggested by @LukeWood?

[2022-01-27 10:41] sebastian-sz opened #59 "Standardized / preferred way to implement blocks and models."
Given the models requirements are being gathered in the [discussion](https://github.com/keras-team/keras-cv/discussions/52), is there a preferred way to implement them?

There are multiple ways, to implement blocks and models:
1. `keras.applications` way -> Models and blocks are functional [Example](https://github.com/keras-team/keras/blob/2c48a3b38b6b6139be2da501982fd2f61d7d48fe/keras/application

[2022-01-27 12:29] chjort commented on #59
Personally, I would prefer the `keras.applications` way, where the model is purely functional. Functional models are validated and built during construction. So if a functional models is constructed, the forward pass is guaranteed to work. This also makes `model.summary()` available right away.

Some applications will require non-standard keras layers, so these can be implemented by subclassing `k

[2022-01-27 14:19] sebastian-sz commented on #59
@chjort Yes, personally I would also prefer `keras.applications` way. This works well with Tensorflow Model Optimization (I'm not sure about subclassed model's) and the flat structure allows for easy layer modifications.

[2022-01-27 18:09] LukeWood opened #60 "Create documentation for KerasCV API"
We can likely autogenerate this

[2022-01-28 02:02] LukeWood opened #62 "Make internal utilities private"
We don’t want people depending on, for example, fill_utils.  This is intended for internal use only

[2022-01-28 02:03] LukeWood commented on #59
We will be following the keras.applications standard.  For example, ResNetBlock will be a functional model.

[2022-01-28 06:17] sebastian-sz commented on #59
@LukeWood thank you, that answer's the question.

[2022-01-28 06:17] #59 closed

[2022-01-28 19:34] LukeWood opened #63 "Document "Auxiliary Tasks""
These are not the focus of KerasCV, but are in scope of creating state of the art models for one of the focus tasks.

A great example of this is model visualization

[2022-01-28 19:36] LukeWood commented on #31
@innat I added a discussion tab, let's discuss whether this augmentation is a good fit there.

[2022-01-28 19:37] LukeWood commented on #32
This is really useful for self supervised models.

[2022-01-28 19:42] innat commented on #31
@LukeWood that would be cool. I think you can create a new discussion post for collecting/discussing suitable cv augmentation methods in general.

[2022-01-28 19:45] LukeWood commented on #41
I've been weighing adding this layer.

Thoughts on what it adds over RandAugment?

It looks as though it's much more customizable, which could be good to have.

@innat

[2022-01-28 19:47] LukeWood commented on #43
Hey @old-school-kid any chance I could get a little more context as to how people tend to use this in the CV domain?  Particularly w/ deep models.

Thanks

[2022-01-28 19:55] bhack commented on #41
I think that we could also evaluate differentiable augmentations like:

https://arxiv.org/abs/2104.04282
https://arxiv.org/abs/2109.15273
https://openreview.net/forum?id=St-53J9ZARf

[2022-01-28 20:00] innat commented on #41
(AFAIK), the advantages of auto-augment over rand-augment also bring computational costs. I think both of them are used and maintained in research, so it's ok to have them both.

- [AutoAugment](https://paperswithcode.com/paper/autoaugment-learning-augmentation-policies) - [Code](https://github.com/tensorflow/models/blob/ded32f0500604928e52e27fd3f678e694e5133b7/official/vision/image_classification

[2022-01-28 20:36] old-school-kid commented on #43
Hi @LukeWood
SLIC isn't used in any CV model for image augmentation, afaik. But I have seen a lot of work using that as a pre-processing layer in my domain (material science) and even in medical imaging. In material science it helps in grain boundary detection and finding hairline fractures.
Do you want me to put links to some papers here using the preprocessing techniques? TIA.

[2022-01-28 20:38] LukeWood commented on #43
That would actually be great.  I'm really interested to see how it's used in both material science and medical imaging!

Thanks @old-school-kid

[2022-01-28 21:14] LukeWood commented on #43
Also, would you be interested in contributing this @old-school-kid ?

[2022-01-28 21:15] old-school-kid commented on #43
In Material Science
-  [Aluminum alloy microstructural segmentation](https://scholar.google.com/scholar_lookup?title=Aluminum+alloy+microstructural+segmentation+method+based+on+simple+noniterative+clustering+and+adaptive+density-based+spatial+clustering+of+applications+with+noise&authorName=Shiyue+Zhang&authorName=Dali+Chen&authorName=Shixin+Liu&authorName=Pengyuan+Zhang&authorName=Wei+Zhao&public

[2022-01-28 21:15] old-school-kid commented on #43
Sure, would love to.

[2022-01-28 21:46] bhack commented on #43
What is the final goal in your material science domain?  Semantic segmentation? Or something different?

[2022-01-28 21:50] bhack commented on #43
E.g. I am taking a look at https://github.com/Scientific-Computing-Lab-NRCN/MLography but I don't know if we still need some intermediate preprocessing like SLIC before the network learning stack.

[2022-01-28 22:00] old-school-kid commented on #43
@bhack
Mostly Semantic segmentation, yes.

I went through the repo. They have directly fed the image to an UNET which is fine, but generally we go for noise reduction and clustering (to separate matrix and grains) and this has proven to achieve better results.
[This repo](https://github.com/yafangy/Nanomaterial_DeepLearning) throws more light on this.

[2022-01-28 22:21] bhack commented on #43
You repo is a little bit old and I am not an expert in the material science domain. But I remember that a few year ago, at ECCV 2018,  there was a paper proposing a learning/differentiable approach ((currently 118 citations):

https://varunjampani.github.io/ssn/

But also if it was differentiable I don't know how much it is still popular today learning this intermediate representation.

[2022-01-28 23:26] LukeWood commented on #43
@old-school-kid I'm fairly sure this is a good fit and is something that we'd be interested in hosting as long as the contribution is well written & maintainable.

[2022-01-29 06:34] LukeWood opened #64 "Look into some quickstart guides"
for example:
"Looking to preprocess image data for classification?  Try this CutMix + RandAugment pipeline"

[2022-01-29 07:43] old-school-kid commented on #43
@bhack

https://varunjampani.github.io/ssn/

That was a nice article. Thank you for sharing! While that can be used as a intermediate representation in end-to-end learning, SLIC is just used as a pre-processing layer and in no way it is fused with learning. But the article you shared looks promising too.

The papers I have shared above under Material Science are from 2019, 2020, 2021. Moreover apa

[2022-01-29 07:58] LukeWood commented on #29
https://github.com/tensorflow/similarity/blob/906d141b75acf00d0e1d37dd0d88c432bbb30f57/tensorflow_similarity/augmenters/img_augments.py

[2022-01-29 13:13] bhack commented on #43
I think that this part could be a little bit out of the scope if not strictly functional to the learning step for this specific library.

But I still think that it is valid for a generic CV library (e.g. PIL, scikit image, Opencv, etc..).

[2022-01-30 02:24] LukeWood commented on #43
This is in scope.  The real question is whether or not the impact is high enough to justify maintaining the layer.

Medical image segmentation is an important domain with a lot of promise.  SLIC is clearly showing promise there, and in other image segmentation areas.

This is especially in scope if the SLIC layer is differentiable.  Then we can also use it as a preprocessing layer, or as it's used

[2022-01-30 03:54] LukeWood opened #66 "fill_utils tests"
This module came about due to some shared functionality that was originally tested within the layers.  As long as this is shared, it would be good to unit test it.

[2022-01-30 06:21] LukeWood commented on #20
@ariG23498, could you post an example of RGB->BGR w/ permute?  Thanks!  I believe Francois thought this layer would be useful, maybe we can just have some examples showing how to use permute though if it’s possible.

[2022-01-30 12:05] bhack commented on #43
In the last part of @old-school-kid comment It was quite clear that he mentioned that It Is useful also as is, without considering if It is useful or not in the learning pipeline.
For that specific part of the comment I think, but I could be wrong as I don't fully understand the Keras-cv policy, that we are not going to collect CV operations as is if they are not functional to the learning step or

[2022-01-30 14:03] ariG23498 commented on #20
Hey @LukeWood
I was wrong with my thoughts. `Permute` is a useful layer for converting between `channel_first` and `channel_last`. I apologize for my comment earlier.

The layer that I am thinking of should be structured like this.
[code]

WDYT?

[2022-01-30 14:27] bhack commented on #20
We have already this in SIG:

https://github.com/tensorflow/io/blob/master/tensorflow_io/python/experimental/color_ops.py#L36

[2022-01-30 14:29] bhack commented on #20
If don't want to depend on ecosystem we could just try to copy and adopt these ops chain in layers or in our private API.

[2022-01-30 18:13] LukeWood opened #68 "ConvNeXt Architecture"
Sayak is working on this

[2022-01-30 18:35] LukeWood commented on #20
No, we don't want to rely on the ecosystem.  We want first party keras extensions to cover common use cases.

[2022-01-30 18:48] bhack commented on #20
It  what I have suggested. I think copy these in private api in a colorspace utils file it could be useful.
E.g. If in another layer you need to do something more that color conversion or in visualizzation in could be still useful to have as an API other then only embedded as a layer componet.

[2022-01-30 19:36] LukeWood commented on #20
I don't think we need to copy these utils as I think we want to do something distinct.  This is a generic ReorderChannels layer.  It will take an arbitrary ordering and return a new one.  The linked function only does RGB->BGR.

[2022-01-30 19:41] LukeWood opened #69 "Re-evaluate the need for `label_smoothing` in CutMix"
I'm pretty sure we can remove this and rely on keras.losses.CategoricalCrossentropy's label_smoothing.  I don't think it makes any numerical difference to do it earlier in the pipeline.

[2022-01-30 19:42] LukeWood commented on #69
The implementation in keras losses is:
[code]

[2022-01-30 20:05] bhack commented on #20
I think that they do more as If you see the whole file they are covering also many color space conversions that It is more than just channel reordering (unstack, stack):

But probably we are not interested to have other colorspace transformations.

[2022-01-31 03:47] LukeWood opened #71 "Document weight management for KerasCV"
This includes:
- default values
- code locations
- GCS upload
- how to reproduce weights
- where to store reproduction scripts

[2022-01-31 06:19] LukeWood commented on #25
I'm closing this out for now, we can reopen if anyone requests this.

[2022-01-31 09:04] innat commented on #20
Feels like a mutual issue, https://github.com/keras-team/keras-io/issues/467

[2022-01-31 12:13] old-school-kid commented on #44
@innat @LukeWood
I have a two part question about this?

1.  Are we adding modules like [Spatial Attention Module](https://github.com/tensorflow/models/blob/master/official/vision/beta/projects/yolo/modeling/layers/nn_blocks.py#L1166) and [Channel Attention Module](https://github.com/tensorflow/models/blob/master/official/vision/beta/projects/yolo/modeling/layers/nn_blocks.py#L1246) or should we b

[2022-01-31 12:14] old-school-kid commented on #44
Ah, also can SWIN transformer be added to the list?

[2022-01-31 13:09] innat commented on #44
@old-school-kid
about **(1)**. I would prefer these as modules. For example, if I want to experiment with my custom model and channel-wise attention module I should do that with the API call.
about **(2)**.  I agree with those points. But it's not clear to me how to define promising things here. And what role [tfa.layers](https://www.tensorflow.org/addons/api_docs/python/tfa/layers) can serve here

[2022-01-31 13:53] bhack commented on #71
Some of this points are really important as they are really going to expand over the limited reporducbility of the train process. A topic that wasn't handled in the recent PR review at:
https://github.com/keras-team/keras/pull/15447

[2022-01-31 13:57] bhack commented on #71
As an extra point I hope that we could evaluate to have some free CI ltraining job resoruces for the community integrated with Github Action.
But I know that it could be partially connected to this:
https://github.com/tensorflow/build/issues/61#issuecomment-991244641

[2022-01-31 19:01] LukeWood opened #72 "Create nightly PyPi release"
The nightly release will be published every commit to master via a GitHub action

[2022-01-31 19:06] LukeWood commented on #20
Instead of Einsum notation, let's just use:

[code]

This is simpler to parse.

[2022-01-31 19:09] bhack commented on #72
Every commit or with a CRON?

[2022-01-31 19:42] innat commented on #20
@LukeWood @bhack
If it's only about rgb-bgr transformation, why if we just include `tf.image.rgb_to_bgr`  function - like we have [tf.image.rgb_to_grayscale](https://www.tensorflow.org/api_docs/python/tf/image/rgb_to_grayscale), [tf.image.yuv_to_rgb](https://www.tensorflow.org/api_docs/python/tf/image/yuv_to_rgb)?

[2022-01-31 19:50] #25 closed

[2022-01-31 21:14] LukeWood commented on #20
Ramesh will most likely take this task.

[2022-01-31 22:09] LukeWood opened #73 "Write up style guide"

[2022-01-31 23:33] bhack opened #74 "TF Addons CV components"
Are you interested to cover or migrate some of the CV components in the [TF Addons namespace](https://www.tensorflow.org/addons/api_docs/python/tfa)?

I suppose the starting point could be to review `tf.addons.image` as we are already duplicated in this repo things like coutout/randomcoutout etc..:
https://www.tensorflow.org/addons/api_docs/python/tfa/image

P.s. This is a parallel ticket of https

[2022-01-31 23:33] bhack commented on #74
/cc @seanpmorgan @yarri-oss @theadactyl

[2022-02-01 05:04] LukeWood commented on #69
Removed this.

[2022-02-01 05:04] #69 closed

[2022-02-01 11:21] sayakpaul commented on #68
I have implemented it: https://github.com/sayakpaul/ConvNeXt-TF/. Should be available here soon: https://tfhub.dev/sayakpaul/collections/convnext/1.

[2022-02-01 11:53] bhack commented on #68
I suppose that that one had an inital approach of converting the Pytorch reference impl weights.
It would be nice to see how we will handle this with the points we have at:
https://github.com/keras-team/keras-cv/issues/71

[2022-02-01 12:10] sayakpaul commented on #68
Yeah, absolutely. If you serialize the weights of the converted models you will have something similar to what's expected here.

[2022-02-01 12:35] bhack commented on #68
More ore less. I think that some of difference in this repo could be:

- As a library we could care to have a reusable components API of the network components. Probably more generic that just to build the original Networks and its variants that we could find in the same paper.

- The training scirpt, dataset interfaces API and markdown to reproduce the weights from scratch

- Extra (IMHO) finte t

[2022-02-01 12:40] sayakpaul commented on #68
I am not absolutely sure about any of these points. I am also not sure how individual contributors could run the models from scratch without any involved support from the maintainers.

For implementing architectures, there could be specific bits while generic bits could still benefit from what the library already offers. If you see what I have implemented, you'd probably notice there's not too man

[2022-02-01 12:56] bhack commented on #68
We don't have this infra right now inpalce. So i we cannot contribute a Github action orchestrating the training job for reproducibility.
It was just my perspective feature request (this why was tagget as extra++).

Yes other then thinking about obivious reusable components related to a specific network like new layers, optimizers, loss and metrics the It could introduce and that could be exposed

[2022-02-01 19:32] #66 closed

[2022-02-01 19:49] LukeWood commented on #74
Sure, I will do a pass over the components and see what we are interested in taking.

[2022-02-01 20:44] LukeWood opened #76 "COCO metric unit test over the `merge_state` method"

[2022-02-01 20:54] LukeWood opened #77 "Support RaggedTensor inputs to COCO metrics"

[2022-02-01 21:06] LukeWood opened #78 "Port ResNet50 to the new model architecture style"

[2022-02-01 21:50] LukeWood commented on #68
Hey @sayakpaul just a heads up, we are planning to hold off on incorporating models for a little bit longer.

@qlzh727 has some great ideas on changing the structure for Keras applications a bit, and we'd like to iron those out before adding any models.

[2022-02-01 23:36] LukeWood commented on #31
https://www.kaggle.com/c/flower-classification-with-tpus/discussion/132986

[2022-02-02 00:55] sayakpaul commented on #68
Thanks for letting me know. Does this also mean `keras.applications` will be held off from accepting new models for now?

[2022-02-02 00:59] LukeWood commented on #68
I'd guess so, this should only last a month or so before we have the new sample model ready though.

[2022-02-02 01:00] LukeWood opened #81 "AutoContrast preprocessing layer"
Reference implementation: https://github.com/tensorflow/similarity/blob/906d141b75acf00d0e1d37dd0d88c432bbb30f57/tensorflow_similarity/augmenters/img_augments.py#L542

[2022-02-02 01:00] LukeWood opened #82 "Equalize preprocessing layer"
Reference implementation: https://github.com/tensorflow/similarity/blob/906d141b75acf00d0e1d37dd0d88c432bbb30f57/tensorflow_similarity/augmenters/img_augments.py#L638

[2022-02-02 01:00] LukeWood opened #83 "Invert preprocessing layer"
Reference implementation: https://github.com/tensorflow/similarity/blob/906d141b75acf00d0e1d37dd0d88c432bbb30f57/tensorflow_similarity/augmenters/img_augments.py#L679

[2022-02-02 01:01] LukeWood opened #84 "Posterize preprocessing layer"
https://github.com/tensorflow/similarity/blob/906d141b75acf00d0e1d37dd0d88c432bbb30f57/tensorflow_similarity/augmenters/img_augments.py#L494

[2022-02-02 01:01] LukeWood opened #85 "Solarize preprocessing layer"
Reference implementation: https://github.com/tensorflow/similarity/blob/906d141b75acf00d0e1d37dd0d88c432bbb30f57/tensorflow_similarity/augmenters/img_augments.py#L444

[2022-02-02 01:01] LukeWood opened #86 "Color degeneration preprocessing layer"
reference implementation: https://github.com/tensorflow/similarity/blob/906d141b75acf00d0e1d37dd0d88c432bbb30f57/tensorflow_similarity/augmenters/img_augments.py#L465

[2022-02-02 01:02] LukeWood opened #87 "RandomBrightness preprocessing layer"
reference implementation: https://github.com/tensorflow/similarity/blob/906d141b75acf00d0e1d37dd0d88c432bbb30f57/tensorflow_similarity/augmenters/img_augments.py#L488

[2022-02-02 01:03] LukeWood opened #88 "Sharpen Preprocessing layer"
https://github.com/tensorflow/similarity/blob/906d141b75acf00d0e1d37dd0d88c432bbb30f57/tensorflow_similarity/augmenters/img_augments.py#L582

[2022-02-02 01:03] LukeWood opened #89 "Shear preprocessing layer"
https://github.com/tensorflow/similarity/blob/906d141b75acf00d0e1d37dd0d88c432bbb30f57/tensorflow_similarity/augmenters/img_augments.py#L518

[2022-02-02 01:03] LukeWood opened #90 "Solarize add preprocessing layer"
https://github.com/tensorflow/similarity/blob/906d141b75acf00d0e1d37dd0d88c432bbb30f57/tensorflow_similarity/augmenters/img_augments.py#L452

[2022-02-02 19:30] kartik4949 opened #94 "TensorPipe library integration in keras-cv"
Hi,
@LukeWood
I have built an library called TensorPipe, this is an ImageGenerator on steroids library.
Please take a look and let me know if we can integrate it :)
this is an input pipeline with all state of the art augmentation pipeline.
https://www.github.com/kartik4949/TensorPipe

So, idea is
We will have something called pipeline, like layers, which user can use to make computer vision tensor

[2022-02-02 22:24] LukeWood commented on #94
Hey @kartik4949 - very cool.

In particular, I think your libraries ability to work with bounding boxes is really impressive and a useful reference.

I'm not sure what would make far as far as integration goes - right now I'm planning to use `RandAugment` as the one stop shop for classification augmentation, perhaps we will introduce one for bounding boxes as well.

Please let me know if you have

[2022-02-02 22:27] LukeWood opened #95 "Move layer aliases to keras_cv.layers from keras_cv.layers.preprocessing"

[2022-02-03 04:13] kartik4949 commented on #94
Hey,
So by integration, we can copy the entire structure of tensorpipe.
And replace augmentations with layers in keras-cv.
We can start from scratch for this :)

Also let me know if you are free for brain storming over this as i have lot of ideas in the space :)
@LukeWood

[2022-02-03 11:57] old-school-kid opened #96 "Utilities for object detection"
Some ready to use utilitilites that could be useful during an object detection application:
- [ ] Label Encoder to transform raw labels into targets for training
- [ ] Anchor Box generation
- [ ] Conversion of anchor box from `[xmin, ymin, xmax, ymax]` to `[x, y, width, height]` and vice versa
- [ ] Anchor optimization for custom data set using [MetaAnchor](https://arxiv.org/abs/1807.00980) (citat

[2022-02-03 12:05] bhack commented on #96
We could  also double check what useful bbox ops could be copied/refactored from:

https://github.com/tensorflow/models/blob/master/official/vision/beta/ops/box_ops.py

[2022-02-03 12:23] old-school-kid commented on #96
https://github.com/tensorflow/models/blob/master/official/vision/beta/ops/box_ops.py

Thank you @bhack . Skimmed through the code and the first three tasks can be refactored from the code. Moreover `top_k_boxes` and `bbox_matching` from the code could prove to be useful too.

[2022-02-03 12:26] bhack commented on #96
Others are in:

https://github.com/tensorflow/models/tree/master/official/vision/utils/object_detection

[2022-02-03 12:49] bhack commented on #96
For the generation?
You could see:
https://github.com/tensorflow/models/blob/master/official/vision/beta/ops/anchor_generator.py
https://github.com/tensorflow/models/blob/master/official/vision/beta/ops/anchor.py

[2022-02-03 12:56] innat commented on #96
Weighted box fusion, an alternate of non-max impression.

- [paper](https://arxiv.org/abs/1910.13302)
- [official code](https://github.com/ZFTurbo/Weighted-Boxes-Fusion)
- [tf code](https://github.com/google/automl/blob/master/efficientdet/tf2/wbf.py)

[2022-02-03 13:21] old-school-kid commented on #96
I was talking about optiization of the hyperparameters that doesnt come integrated with tensorflow object detection API. [This repo](https://github.com/joydeepmedhi/Anchor-Boxes-with-KMeans) uses K means whereas MetaAnchor is SOTA afaik.

[2022-02-03 14:03] bhack commented on #96
Ah ok.. with enough resources we could review also this.  I suppose with that current PR/maintainer ratio it will be still not a problem.
When this repo will have more popularity probably and PR are going to have lags in the review probably we could try to figure out some priorities.

In that case we could evaluate how much coverage we want to have to all the features related to anchor based model

[2022-02-03 17:54] ma7555 opened #97 "Support a balanced image dataset generator for TripletLoss function"
I have been advised by @fchollet to open the proposed solution in `keras-cv` instead of `keras`.

The problem when training a neural networ using [TripletLoss](https://github.com/tensorflow/addons/blob/8cec33fcaaf1cf90aec7bdd55a0fcdbb251ce5c2/tensorflow_addons/losses/triplet.py#L191) is that as the number of classes increases, it is highely unlikely to produce postive pairs in every batch. This re

[2022-02-03 18:27] LukeWood commented on #97
Thanks for offering to contribute this!

I agree that this fits in the KerasCV library - alongside triplet loss.  We'll want to provide a coherent API for SSL pretraining.  This will likely need to be part of it.

As for the actual API and code:  I agree with Francois comments labelled 1.) and 2.) in the other PR.

Is there a way to work around this in triplet loss itself?  i.e. divide_no_nan and

[2022-02-03 18:37] LukeWood commented on #96
We could also consider adding some sort of a `non max suppression` layer.  The object detection API will definitely take a lot of design.

[2022-02-03 19:13] old-school-kid commented on #96
Yeah, agreed. Should we open a discussion for a that too?

Yeah, @innat provided a nice such example above.

[2022-02-03 19:56] ma7555 commented on #97
Hello @LukeWood,

So regarding your question of working around this in the loss function itself. I don't think it is a good solution as this will add a major convergence drawback due to the fact that most of the batches will yield no gradient:

* When working with a large number of classes, it is highly unlikely that any of the batches would contain triplets at all. You would be just wasting resou

[2022-02-03 21:07] chjort commented on #97
There is a project called [Tensorflow Similarity](https://github.com/tensorflow/similarity), which specifically provides an API for metric learning and self-supervised learning.

They have a module with different data samplers, designed to sample classes properly for these types of losses. Specifically they have the [MultiShotMemorySampler](https://github.com/tensorflow/similarity/blob/f3ad15199de

[2022-02-03 21:28] LukeWood commented on #83
https://github.com/keras-team/keras-cv/pull/91

[2022-02-03 21:51] ma7555 commented on #97
@chjort
Thanks for pointing out the [Tensorflow Similarity](https://github.com/tensorflow/similarity) project. The [MultiShotMemorySampler](https://github.com/tensorflow/similarity/blob/f3ad15199de08f16aca318e51771f256dc5832a0/tensorflow_similarity/samplers/memory_samplers.py#L30) indeed can be used. However, it expects `(x, y)` I beleive in form of tensors as called by [select_examples](https://g

[2022-02-03 21:59] bhack commented on #97
The not full in memory version Is:

https://github.com/tensorflow/similarity/blob/master/tensorflow_similarity/samplers/tfrecords_samplers.py#L22

[2022-02-03 22:36] ma7555 commented on #97
Using TFRecords shards is not very common in CV datasets. Creating one out of a directory of images is not worth it too as you would most likely follow the same pipeline in the previous comment. You need to read images, extract labels and then encode and save as .tfrec

[2022-02-03 23:28] LukeWood commented on #96
I’m also considering offering a bounding box extension type:

https://www.tensorflow.org/guide/extension_type

I’m not sure how useful this would be though compared to just using -1 padded tensors or ragged tensors.

[2022-02-03 23:28] LukeWood commented on #96
Are non-admin users able to open discussions right now?

[2022-02-03 23:31] LukeWood commented on #97
Yeah, tf similarity is happy to user KerasCV apis as we create them.  They’re going to adopt our CutMix and RandAugment once I finish it.

[2022-02-03 23:32] LukeWood commented on #97
If this functionality exists in TensorFlow similarity already as @bhack has pointed out maybe it is best to leave it there for the time being.  Once we breach SSL we can reconsider.

thoughts?

[2022-02-03 23:44] bhack commented on #96
Yes but admin can convert also an issue ti discussion:
https://docs.github.com/en/discussions/managing-discussions-for-your-community/moderating-discussions#converting-an-issue-to-a-discussion

[2022-02-03 23:59] ma7555 commented on #97
@LukeWood, I agree the [MultiShotMemorySampler](https://github.com/tensorflow/similarity/blob/f3ad15199de08f16aca318e51771f256dc5832a0/tensorflow_similarity/samplers/memory_samplers.py#L30) is a way to do it along with [tf.data.Dataset.list_files](https://github.com/tensorflow/tensorflow/blob/v2.8.0/tensorflow/python/data/ops/dataset_ops.py#L1292-L1362) while following a similar approach as this o

[2022-02-04 00:18] LukeWood opened #100 "Look into removing ‘rate’ argument from CutMix/MixUp"
If we want this to be an option for random augmentations, we should really incorporate this into a base preprocessing layer.

this depends on how our users are using these layers though

[2022-02-04 13:01] innat commented on #100
@LukeWood users may want to control the times of appearance of augmentation on the dataset during training, and that's why I think it's better to have an option like this. Also, if I'm not worng other augmentation libraries also provide `prob` params.

[2022-02-04 13:03] bhack commented on #100
Yes I think we could introduce this in the base class

[2022-02-04 13:07] chjort commented on #100
We could also move this into a separate layer like so:
[code]

This could be used to wrap preprocessing layers and allow
for a flexible API for defining preprocessing flows, e.g:
[code]

[2022-02-04 13:27] innat commented on #96
@LukeWood could you please convert this [issue](https://github.com/keras-team/keras-cv/issues/44) to the discussion too? I think it's better suited there.

[2022-02-04 18:22] LukeWood commented on #100
Yeah, I've considered the last one too and just don't know if it's a very "nice to read" API.

It does tell me that we might as well remove the `rate` argument though from these layers.

[2022-02-04 23:28] ma7555 opened #104 "add augmix to preprocessing layers"
Augmix: https://arxiv.org/abs/1912.02781

If it is needed, I have worked with it in the past and can submit a PR for it.

[2022-02-05 05:54] innat commented on #104
@ma7555 it's been requested https://github.com/keras-team/keras-cv/issues/40
I think luke [mentioned](https://github.com/keras-team/keras-cv/issues/40#issuecomment-1018822682) that he'll include it from tf-similary.

[2022-02-05 09:41] ma7555 commented on #104
Alright i missed that. Thanks

[2022-02-05 09:41] #104 closed

[2022-02-05 15:10] old-school-kid commented on #95
Can we have a boiler plate so users can add functionalities under right hood? Like preprocessing, attention units and so on.

[2022-02-06 13:05] Navan0 opened #105 "Change test cases to keras-cv/tests"
Currently the test cases for prepossessing are in the same directory. can we move it to a separate new directory ```keras-cv/tests``` ?

[2022-02-06 19:17] LukeWood commented on #105
We actually decided as a team we prefer to have them alongside the original files to improve discoverability.  Tests also serve as documentation, showing how to use them.  If this becomes problematic in the future we can reconsider, but for now we like this approach.

[2022-02-06 19:17] #105 closed

[2022-02-07 13:59] ma7555 commented on #97
An example of the full TripletLoss workflow: [Colab](https://colab.research.google.com/github/ma7555/kerasgen/blob/master/examples/triplet_loss.ipynb).

I guess I will close for now. If you feel this API is needed please reopen.
Thanks!

[2022-02-07 13:59] #97 closed

[2022-02-07 20:48] #100 closed

[2022-02-07 20:49] LukeWood opened #108 "Define the best API for users to apply augmentations in a probabilistic manner."
Maybe this will look like:
[code]

or maybe:
[code]

Either way, this is important for the composition of image augmentation pipelines.

[2022-02-07 21:09] bhack commented on #108
I think that we Need to think about this evaluating we want to achieve in:
 https://github.com/keras-team/keras-cv/issues/41

[2022-02-07 23:14] LukeWood opened #109 "Compute Precision/Recall pairs helper function"
This can just be a utility function

[2022-02-08 03:20] LukeWood commented on #95
Sure thing @old-school-kid - contributors shouldn’t sweat this for now, I’ll move all of these in a single PR pretty soon here.

[2022-02-08 08:49] kartik4949 opened #110 "feature: Mosaic Augmentation"
Hey,
I was thinking to add mosaic augmentation as a layer.
I have built this augmentation for google automl project
link: https://github.com/google/automl/blob/master/efficientdet/aug/mosaic.py
@LukeWood please have a look
Thanks

[2022-02-08 08:53] kartik4949 opened #111 "feature: Tilling a niche augmentation technique for small object detection."
Hi,
I was wondering to add tilling as a augmentation technique in keras cv as a layer
paper:
https://openaccess.thecvf.com/content_CVPRW_2019/papers/UAVision/Unel_The_Power_of_Tiling_for_Small_Object_Detection_CVPRW_2019_paper.pdf
@LukeWood let me know ur thoughts
Thanks

[2022-02-08 10:32] bhack commented on #110
Is this the same request as https://github.com/keras-team/keras-cv/issues/21 ?

[2022-02-08 10:34] kartik4949 commented on #110
Yes, just saw it
Will close this request then thanks :)

[2022-02-08 12:32] bhack commented on #41
https://arxiv.org/abs/2104.04282
https://arxiv.org/abs/2109.15273
https://openreview.net/forum?id=St-53J9ZARf

/cc @haifeng-jin

[2022-02-08 18:43] #110 closed

[2022-02-08 22:11] LukeWood commented on #94
Closing for now, we can discuss specific ideas in the future !

[2022-02-08 22:11] #94 closed

[2022-02-08 23:27] #76 closed

[2022-02-08 23:27] #77 closed

[2022-02-08 23:43] LukeWood opened #112 "SmoothL1BoundingBoxLoss"
This is used in RetinaNet:

Basic prototype from keras.io example:
[code]

[2022-02-08 23:44] LukeWood opened #113 "IoU Loss"
IoU loss is a simple, easy to understand bounding box loss function

Myself or Scott will probably write this to set the example for loss functions

[2022-02-08 23:45] LukeWood opened #114 "Create a `DecodeBoundingBoxPredictions` layer"
This one requires some design work, as the exact semantics of how this will work are unclear.  What is clear is that most bounding box prediction networks use some sort of prediction decoding, often including `tf.image.non_max_supression`.

[2022-02-08 23:46] LukeWood opened #115 "Introduce Bounding Box support to preprocessing layers"

[2022-02-09 00:28] bhack commented on #112
https://github.com/tensorflow/models/blob/master/research/object_detection/core/losses.py#L18-L21

[2022-02-09 00:30] bhack commented on #112
Now RetinaNet losses are at https://github.com/tensorflow/models/blob/master/official/vision/beta/losses/retinanet_losses.py

[2022-02-09 00:36] bhack commented on #113
https://github.com/tensorflow/models/blob/master/official/vision/beta/projects/yolo/losses/yolo_loss.py

[2022-02-09 07:25] innat opened #117 "RGBShift preprocessing layer"
ref: https://albumentations.ai/docs/api_reference/augmentations/transforms/#albumentations.augmentations.transforms.RGBShift

[2022-02-09 07:25] innat opened #118 "ColorJitter preprocessing layer"
ref. https://pytorch.org/vision/stable/auto_examples/plot_transforms.html#colorjitter

[2022-02-09 07:26] innat opened #119 "HueSaturationValue preprocessing layer"
ref https://albumentations.ai/docs/api_reference/augmentations/transforms/#albumentations.augmentations.transforms.HueSaturationValue

[2022-02-09 07:27] innat opened #120 "Grayscale preprocessing layer"
ref https://pytorch.org/vision/stable/auto_examples/plot_transforms.html#grayscale

[2022-02-09 07:31] innat opened #121 "Blur preprocessing layer"
Refs

- [GaussianBlur](https://albumentations.ai/docs/api_reference/augmentations/transforms/#albumentations.augmentations.transforms.GaussianBlur)
- [MedianBlur](https://albumentations.ai/docs/api_reference/augmentations/transforms/#albumentations.augmentations.transforms.MedianBlur)
- [MotionBlur](https://albumentations.ai/docs/api_reference/augmentations/transforms/#albumentations.augmentations

[2022-02-09 07:35] innat commented on #21
@bhack @LukeWood @qlzh727
What should be the **default target format** for object detection tasks? Will it be pascal format or coco format? In the object detection preprocessing layer, is it expected that the layer should support both formats as input?

[2022-02-10 11:16] innat opened #123 "ChannelShuffling preprocessing layer"
ref. https://albumentations.ai/docs/api_reference/augmentations/transforms/#albumentations.augmentations.transforms.ChannelShuffle

ref https://pytorch.org/docs/stable/generated/torch.nn.ChannelShuffle.html

[2022-02-10 13:26] kartik4949 opened #125 "Bounding Box weighted box fusion layer"
https://towardsdatascience.com/wbf-optimizing-object-detection-fusing-filtering-predicted-boxes-7dc5c02ca6d3
SOTA for box fusion, very useful layer.

[2022-02-10 13:33] kartik4949 opened #126 "Bounding Box | Ground truth encoder layer."
Hi,
Im unclear on how to generalise an encoder layer for object detection architectures.
but feature maps is something most of them have hence
we can take feature map size, classes and gt_boxes, etc and should be able to encode with encoder_layer.

[2022-02-10 13:39] kartik4949 commented on #114
1. Most networks have bounding box filtration, we can have it as layer.
2. Bounding boxes are predicted on different spatial feature maps into one prediction array, we can make a layer to decode prediction to original input image scale e.g.
https://github.com/kartik4949/TensorPipe/blob/main/tensorpipe/funnels/funnels.py

please refer `TFDecodeMixin` class
3. Bounding Box format layer- x1,y2, x2,y2

[2022-02-10 13:40] kartik4949 opened #127 "Bounding Box | top_left, bottom_right format to centre, (width, height) dimension utility"

[2022-02-10 13:54] #127 closed, assigned to nobody

[2022-02-10 16:42] innat commented on #125
@kartik4949 there is some interesting post-processing method for bbox. We can make a to-do list of them and timely include them in keras_cv. Here is the ongoing discussion regarding this. https://github.com/keras-team/keras-cv/discussions/101

[2022-02-10 22:30] qlzh727 commented on #74
Checked with @fchollet offline. It seems that we don't have an active owner for tf.image API, but in the same time, we can't easily remove the TF API due to backward compatibility contract. Deprecating certain duplicated tf.image API could be an approach, until keras-cv has enough API/feature coverage.

[2022-02-10 23:40] bhack commented on #74
Yes I  any TF API removal requires a deprecation window:

https://github.com/tensorflow/community/blob/master/governance/api-reviews.md

[2022-02-11 01:36] sayakpaul opened #130 "Implement Stochastic Depth layer"
Stochastic Depth [1] is used for regularization used to randomly drop layer path connections during training. It's used in many modern neural architectures (ConvNeXt [2] for example). So, I believe it'd be a good addition.

**References**

[1] https://arxiv.org/abs/1603.09382
[2] https://arxiv.org/abs/2201.03545

[2022-02-11 01:48] sayakpaul opened #131 "Implement RandomResizedCrop layer"
Randomly resized cropping is pretty much a standard augmentation transformation that is used to train vision models. Recently, a team at Facebook also showed why it's often necessary to include this transformation for better generalization [1].

An implementation of this layer in PyTorch is available as [`RandomResizedCrop`](https://pytorch.org/vision/main/generated/torchvision.transforms.RandomRe

[2022-02-11 01:52] sayakpaul commented on #130
I'd be keen to work on this one.

[2022-02-11 01:54] LukeWood commented on #90
This can be an internal RandAugment thing.

[2022-02-11 01:54] #90 closed

[2022-02-11 01:54] LukeWood commented on #85
Fixed :)

[2022-02-11 01:54] #85 closed

[2022-02-11 05:23] LukeWood commented on #130
A reference implementation: https://www.tensorflow.org/addons/api_docs/python/tfa/layers/StochasticDepth

@qlzh727 @fchollet what do you guys think?  I'd be on board to accept this given its presence in many modern ConvNet architectures.

[2022-02-11 05:25] LukeWood commented on #131
Yeah, I agree RandomResizedCrop should be included.

[2022-02-11 05:27] LukeWood commented on #95
I did this earlier this evening.

[2022-02-11 05:27] #95 closed

[2022-02-11 12:04] Navan0 commented on #120
A reference implementation  https://www.tensorflow.org/api_docs/python/tf/image/rgb_to_grayscale

[2022-02-12 05:22] innat commented on #131
@sayakpaul
how about this one ?https://keras.io/api/layers/preprocessing_layers/image_augmentation/random_crop/

@LukeWood If the above layer is the desired layer for the above request, then you may want to take a look at [this](https://github.com/keras-team/keras/blob/v2.8.0/keras/layers/preprocessing/image_preprocessing.py#L225-L226).

[2022-02-12 09:55] navan0 opened #133 "Random flip preprocessing layer"
Ref https://www.tensorflow.org/api_docs/python/tf/keras/layers/RandomFlip

[2022-02-12 19:29] innat opened #134 "Add `num_cutouts` parameter to CutOut layer"
It's kinda an alternate of cutout augmentation but with more options.

tf-code reference. https://www.kaggle.com/cdeotte/tfrecord-experiments-upsample-and-coarse-dropout

Demo.
![output_13_0](https://user-images.githubusercontent.com/17668390/153725511-6070a4f0-d99a-4b6a-b184-922b7914aae6.png)

[2022-02-12 19:30] innat commented on #134
cc. @chjort

[2022-02-12 21:01] LukeWood commented on #131
that layer doesn't fill the need because the Resize portion is also important.  RandomResizedCrop basically stretch _and_ crop images randomly.

[2022-02-12 21:14] innat commented on #131
something like this?

[code]

[2022-02-12 22:29] chjort commented on #134
If we want to support this, I suggest we merge it into `RandomCutout` by giving it an additional argument like `num_cutouts` or something. @LukeWood wdyt?

[2022-02-13 02:46] LukeWood commented on #134
Yeah, I'd prefer a `num_cutouts` parameter... perhaps supporting a range to randomly sample from.

[2022-02-13 15:49] innat opened #135 "JpegCompression preprocessing layer"
Ref. https://www.tensorflow.org/api_docs/python/tf/image/random_jpeg_quality

[2022-02-13 23:18] LukeWood commented on #135
That's an interesting idea.

Do you know of any empirical data/papers on this technique?  It would be good to see some data on how useful it is.

[2022-02-13 23:51] bhack commented on #135
Not a so strong impact:
https://arxiv.org/abs/2007.14314

https://www.nature.com/articles/s41598-021-86726-w

[2022-02-14 00:25] bhack commented on #135
Probably a little bit more in:
https://arxiv.org/abs/2011.08932

[2022-02-14 06:34] sebastian-sz commented on #84
I think PIL implementation assumes uint8 dtype, and TF's `bitwise` ops only support integers.

Is it safe to assume that this layer's input will only accept integer values in range 0-255? Or should it accept any dtype, cast internally to uint8, posterize and cast back to original dtype?

[2022-02-14 19:13] LukeWood commented on #31
Thanks!

[2022-02-14 19:13] #31 closed

[2022-02-14 22:16] LukeWood commented on #123
Any numbers showing the usefulness of this in training?

[2022-02-14 22:18] LukeWood commented on #135
Yeah, if we can't find any references showing that this is in fact a useful augmentation I'm not 100% sure we want to add it.  That doesn't mean there aren't any references but I'd like to find some strong ones first showing that this does in fact help.  https://arxiv.org/abs/2011.08932 seems to point out a valid use case... I'm still not 100% convinced though

[2022-02-14 22:18] #120 closed

[2022-02-14 22:18] LukeWood commented on #120
Fixed :)

[2022-02-14 22:20] LukeWood commented on #135
On the other hand, this layer is trivial to implement so maybe it is worth having.

[2022-02-14 22:37] #17 closed

[2022-02-15 01:16] bhack commented on #123
In Pytorch it was not strictly a [vision preprocessing layer](https://pytorch.org/docs/stable/generated/torch.nn.ChannelShuffle.html)

If I remeber correctly it was intrdouced implementing Shufflenets:
https://arxiv.org/abs/1707.01083

[2022-02-15 06:40] innat commented on #21
@LukeWood could you please see the above query? I would most likely send a PR for mosaic if possible.

[2022-02-15 17:40] innat commented on #108
@LukeWood @bhack @qlzh727 @kartik4949

I think two types of functions need to be addressed regarding the processing layers.  For examples:

1. Randomly apply the layer

[code]

2. Randomly pick a layers

[code]

[2022-02-15 17:47] kartik4949 commented on #108
@innat
I think by RandomPick you mean RandAug in defined space!

[2022-02-15 18:14] innat commented on #108
It's like the `OneOf` method that is provided in [argumentation (cell 7)](https://albumentations.ai/docs/examples/example/) or img_aug libraries.

[2022-02-15 18:26] bhack commented on #108
I think that we need to reason a little bit more generally about what kind of access to the augmentation layers an [auto augmentation](https://www.ilfattoquotidiano.it/2022/02/15/dopo-due-anni-di-emergenza-covid-i-medici-sono-costretti-a-scioperare-turni-insostenibili-poche-tutele-carenza-di-personale-poi-lo-schiaffo-dei-mancati-ristori/6494438/) policy need to achieve.
Then I suppose we could thi

[2022-02-15 19:46] bhack commented on #108
Just a reminder, we had also https://github.com/keras-team/autokeras/issues/879

[2022-02-16 14:54] sebastian-sz opened #137 "Add DropBlock regularization layer."
DropBlock is a regularization technique that is more suitable for CNN's than regular dropout. Perhaps it would be beneficial to have it available in keras-cv?

[Paper](https://arxiv.org/abs/1810.12890)

[Example TF Implementation](https://github.com/tensorflow/tpu/blob/b24729de804fdb751b06467d3dce0637fa652060/models/official/detection/modeling/architecture/nn_ops.py#L191)

[2022-02-16 18:49] bhack opened #138 "Standardize preprocessing call signature"
https://github.com/keras-team/keras-cv/pull/124#discussion_r806759607

`grep -R "def call(" *`
[code]

Do we want to standardize over `images` or `inputs`?

[2022-02-16 19:47] chjort commented on #138
I agree we should standardize the signature. I think this should include both argument names, but also argument rank. I.e. I think we should decide on either `images` or `inputs`, but I also think we should standardize whether layers should expect 4D inputs only, or expect both 4D and 3D inputs.

[2022-02-16 22:42] artu1999 commented on #121
Happy to take on this one. Just a few question before jumping into it:

- Do we want to have a class with a method for each type of blur (ie preprocessing.Blur.GaussianBlur, preprocessing.Blur.MedianBlur....) or a class for each blur type?
- GaussianBlur and MedianBlur are provided in Tensorflow (see [MedianFilter](https://www.tensorflow.org/addons/api_docs/python/tfa/image/median_filter2d and [Ga

[2022-02-16 22:59] artu1999 commented on #26
Happy to look into this if no one has started working on it

[2022-02-17 00:28] LukeWood commented on #138
Good catch :)

we're working on a base augmentation layer that will resolve this.

[2022-02-17 08:23] LukeWood commented on #137
Hey @sebastian-sz - what would this API look like for users?  some of the implementation details for this preprocessing technique are a bit nuanced to me.

Does it rely on passing bounding boxes or segmentation maps to perform augmentation?  Does it rely on activations of specific layers of your CNN?

Please provide these details and comment back.  Thanks!

[2022-02-17 08:24] LukeWood commented on #133
This exists in Keras.

[2022-02-17 08:24] #133 closed

[2022-02-17 08:24] LukeWood commented on #133
We may alias it here, but in general we are part of the Keras ecosystem so we expect users to have keras installed.

[2022-02-17 08:25] LukeWood commented on #131
So: passing `Resizing` followed by `RandomCrop` does work, but you temporarily have a tensor with dimension `None, None` for `width, height` after the resizing.  This may be wasteful/undesirable to work with, so I think this may be a useful KPL to add it as a single operation .   It may also be more efficient.

[2022-02-17 08:27] LukeWood commented on #121
see issue https://github.com/keras-team/keras-cv/issues/26.

Closing in favor of that, leaving a comment to include support for these.

[2022-02-17 08:27] #121 closed

[2022-02-17 08:28] LukeWood commented on #26
@artu1999 thanks for offering to take this on.  Please feel free.

we may also want to support:

- [MedianBlur](https://albumentations.ai/docs/api_reference/augmentations/transforms/#albumentations.augmentations.transforms.MedianBlur)
- [MotionBlur](https://albumentations.ai/docs/api_reference/augmentations/transforms/#albumentations.augmentations.transforms.MotionBlur)

but I consider these to be

[2022-02-17 08:29] LukeWood commented on #119
so this shifts the HueSaturationValue.  Seems useful enough.

The only question I have: is this actually distinct from color shift?  I believe that color shift and hue saturation value may have the same result if they are randomly sampled.

[2022-02-17 08:30] LukeWood commented on #86
This basically blends between grayscale and that original color image.

[2022-02-17 08:31] LukeWood commented on #108
We've decided to include a `rate` argument in a base augmentation layer.  This provides the best user API imo:

[code]

instead of:
[code]

Scott is working on this in his base augmentation layer.

[2022-02-17 08:31] #108 closed

[2022-02-17 08:39] innat commented on #119
I didn't check but do you think the requested layer can be achieved from this https://www.tensorflow.org/api_docs/python/tf/image/rgb_to_hsv

[2022-02-17 08:47] innat commented on #131
Sorry, didn't catch your concern. Could you elaborate? Like, are you saying that after passing the input to resize a layer, the shape of the output tensor becomes `(100, 100, 3)` to `(None, None, 3)`?

[2022-02-17 08:50] sayakpaul commented on #131
We do also need to remember that this layer needs to handle more than 1 sample i.e., an arbitrary number of images having a uniform shape.

[2022-02-17 11:24] artu1999 commented on #26
Awesome! After implementing GaussianBlur it should be fairly easy to implement the others as well. In terms of input args, I guess we want to keep it similar to this?

https://albumentations.ai/docs/api_reference/augmentations/transforms/#albumentations.augmentations.transforms.GaussianBlur

[2022-02-17 11:42] sebastian-sz commented on #137
@LukeWood

I thought it could be used similary to `tf.keras.layers.Dropout`. Example (rewrite from [here](https://github.com/tensorflow/tpu/blob/01b67067be64987e9519b35342ba91d3179daeed/models/official/detection/modeling/architecture/nn_blocks.py#L76)):
[code]
The user's would have to worry only about passing `block_size` and `keep_probability` parameters.

No, as far as I know it can be treated a

[2022-02-17 12:33] bhack commented on #137
It could be nice If we could support Google Autodropout that generally performed better then the fixef Dropblock:

https://arxiv.org/abs/2101.01761

https://github.com/google-research/google-research/issues/727

Also I don't think, as you can see in the above paper, that this is strictly preprocessing/CV specific:

also transfers to different tasks and datasets, such as from lan-
guage model on Pe

[2022-02-17 13:25] piEsposito commented on #20
I think reorder channels would have a more general purpose, so we could build that and on top of that the rgb to bgr to rgb transformations.

[2022-02-17 22:32] #16 closed

[2022-02-17 22:33] LukeWood commented on #26
I'd like to match the mathematical definition of GaussianBlur.  If theirs matches that, then that is a great reference.  Thanks

[2022-02-17 22:48] bhack commented on #26
Gaussian Blur Is already available in TFA. If you want you could port/adapt from there.

[2022-02-17 22:58] innat commented on #108
@LukeWood instead of giving its name as `rate`, how about `prob`?

[2022-02-17 23:05] LukeWood commented on #108
Historically, this is the sort of thing that isn't included in the Keras API and is delegated to users.  This is pretty trivial to implement:

[code]

with some tensorflow-friendly changes takes care of it.

[2022-02-17 23:05] LukeWood commented on #108
If we're already using this internally I don't see an issue with exposing it, but I don't particularly think it's a big value add to support is all.

[2022-02-17 23:11] bhack commented on #108
I still hope that we could work more in general with augmentation policiy classes or that we could actively coordinate with autokeras (If It Is still an active project)

[2022-02-17 23:17] innat commented on #108
@LukeWood
What you're referring trivial to implement, in the breath, you can also say that implementing `rate` is also trivial to implement to end-users. The feature request in no. 2 is not actually a random request. It's followed in practice.

If you see other popular augmentation libraries, for example, `img_aug` and `albumentation`, all of them offers such feature to users. In addition, if you

[2022-02-17 23:54] LukeWood opened #141 "XLA compile all possible for loops in COCOMeanAveragePrecision"
We may also be able to XLA compile some of the inner loops on COCORecall!

[2022-02-18 00:23] bhack commented on #141
I suppose that XLA has still some limits with `tf.math.bincount` op (at least on CPU):

But the list is of CPU and GPU ops is outdated:
https://github.com/tensorflow/tensorflow/issues/14798#issuecomment-350814888

[2022-02-18 00:38] LukeWood commented on #141
Ahhh man.  Yeah we can’t get around bincount.  Maybe we can use it for result though?

[2022-02-18 00:43] bhack commented on #141
I've tried also to give a run with the "next-gen" MLIR bridge compiler `tf.config.experimental.enable_mlir_bridge()`.
It seems that it fail to legalize it:

[2022-02-18 00:44] LukeWood commented on #131
Precisely, because each individual image should be augmented independently.  So they will have random sizes.

[2022-02-18 00:44] LukeWood commented on #131
They’d be a RaggedTensor really, which is a bad UX

[2022-02-18 00:46] bhack commented on #141
/cc @joker-eph any feedback here?

[2022-02-18 01:01] bhack commented on #141
Just to reference the code block for visibility:

https://github.com/keras-team/keras-cv/blob/a25ee77ab8466163322332a6d707606794ddf259/keras_cv/metrics/coco/mean_average_precision.py#L135-L253

[2022-02-18 01:12] sayakpaul commented on #131
With random resized crops, I think we are able to cover many different transformations composed into one: random zooming random translation, resizing, etc.

[2022-02-18 01:30] bhack commented on #141
Instead for result XLA without MLIR bridge is working

With MLIR:

https://github.com/keras-team/keras-cv/blob/a25ee77ab8466163322332a6d707606794ddf259/keras_cv/metrics/coco/mean_average_precision.py#L255-L316

[2022-02-18 01:45] bhack commented on #141
For result:
HLO graph CPU before optimization

![visualized_output](https://user-images.githubusercontent.com/1710528/154601409-90c4406b-069f-4c00-a447-44f3324e8798.svg)

HLO graph CPU after optimization
![visualized_output](https://user-images.githubusercontent.com/1710528/154601664-a6ec67df-8582-4ce0-ac6b-d51b23a50e7a.svg)

[2022-02-18 04:01] joker-eph commented on #141
If you can reduce this to a simple test case, please file a bug against TensorFlow, I can ping the bridge team.

[2022-02-18 10:08] innat commented on #131
@LukeWood  I passed some tensor to resize the layer, but it didn't give ragged output. What have I missed?

[code]

[2022-02-18 10:09] innat commented on #131
@sayakpaul @LukeWood
I am also on the board to have this layer, I also saw many use cases. But when I saw `layers.RandomCrop`, I thought it might be the possible alternative. I tested with the following setup, isn't the output equivalent of  `RandomResizedCrop`?

[code]
![download](https://user-images.githubusercontent.com/17668390/154661375-d526bb52-1e71-4637-9888-e4e9269885ab.png)

[2022-02-18 12:23] bhack commented on #141
@joker-eph Thanks it was just to explore what is the status with the next compiler stack but as you know we cannot use `tf.config.experimental.enable_mlir_bridge()` in an official API.

Do you know instead who is the maintainer of the XLA CPU/GPU ops list:
https://github.com/tensorflow/tensorflow/issues/14798#issuecomment-350814888

[2022-02-18 21:20] LukeWood commented on #141
![image](https://user-images.githubusercontent.com/12191303/154762775-85a8cf56-ce93-4256-91dc-44aed0b8c921.png)

@bhack

[2022-02-18 22:30] bhack commented on #141
Is this COCORecall without XLA?

[2022-02-18 23:45] LukeWood commented on #141
Its mean average precision w/o XLA

[2022-02-19 01:49] innat commented on #20
Yes, it should be general-purpose. It should support the basic color transformations listed here https://github.com/tensorflow/io/blob/master/tensorflow_io/python/experimental/color_ops.py

(shouldn't be limited to rgb/bgr, IMO)

[code]

[2022-02-19 09:25] sebastian-sz commented on #137
@LukeWood I think the implementation can wait for preprocessing layer API refactoring?

The layer mentioned by @bhack is also interesting. Should Autodropout be implemented instead of Dropblock, or should both layers coexist?

[2022-02-19 16:52] innat opened #142 "Add Color Jitter KPL"
**ColorJitter** is a type of image data augmentation where we randomly change the brightness, contrast, and saturation of an image.
[src. ](https://paperswithcode.com/method/colorjitter)
![output_35_0_DxAQHli](https://user-images.githubusercontent.com/17668390/154810353-7f206d68-0f16-43de-8916-ad365eac46fb.png)

basic

[code]

[2022-02-19 18:13] LukeWood commented on #137
Yes, let’s wait for the preprocessing layer refactor on this one.  It should be available soon

[2022-02-19 18:14] LukeWood commented on #137
I will need to read about the differences in detail before answering that one.  I’m not familiar enough with the techniques yet

[2022-02-19 18:53] bhack commented on #137
As I've mentioned the Github link of the reference implementaton in the Google paper is broken.

Both are landing in Pytorch vision:

https://github.com/pytorch/vision/pull/5416

[2022-02-20 12:15] innat commented on #86
Is there any reference paper for this technique or reference of widely used cases? I think JpegCompression is more suitable alternative of this https://github.com/keras-team/keras-cv/issues/135

[2022-02-20 12:26] bhack commented on #86
https://cvil.eecs.yorku.ca/projects/public_html/wb_emulation/index.html

[2022-02-20 12:33] bhack commented on #86
Instead what we have linked in the similarity repo It was there for Randaugment:

https://arxiv.org/abs/1909.13719

But if you check ablation study on Table 5 it didn't have a significative delta in performance.

[2022-02-20 13:41] innat commented on #86
It looks like a part of the RandAugment. Will it be included as a separate layer?

[2022-02-21 00:16] qlzh727 commented on #138
FYI, the BaseImageAugmentationLayer is proposed in https://github.com/keras-team/keras/commit/9628af85a0a2cb04cf433b1ad991017b70ae2005

[2022-02-21 00:17] qlzh727 commented on #138
We will make it available as public API soon.

[2022-02-21 01:41] LukeWood commented on #142
Hey @innat - please check the existing list of open issues before opening a new one!  This one has an existing issue.  Thanks!

[2022-02-21 01:41] LukeWood commented on #118
from another thread: @innat wrote:

[code]

(consolidating to this issue)

[2022-02-21 02:09] innat commented on #142
@LukeWood Uh, my bad. Sorry for this inconvenience. Closing the other one. Thank you.

[2022-02-21 02:09] #118 closed

[2022-02-21 02:19] LukeWood commented on #142
Don't sweat it - thanks for your contributions! 👍

[2022-02-21 06:29] sebastian-sz commented on #137
Interesting, I didn't know about torchvision PR. Their proposed API looks similar to what I described above. I think it would be beneficial to also have Dropblock implemented here.

[2022-02-21 18:01] LukeWood commented on #137
Thanks for providing so many references.  This looks like a great contribution.  I've added the contributions welcome label.

[2022-02-21 19:28] bhack commented on #141
@LukeWood  Do you have a performance test to run? What we have in master is too small.

[2022-02-21 19:47] LukeWood commented on #141
We can use random data to performance benchmark.  I can probably throw a script together.

[code]

[2022-02-21 20:01] LukeWood commented on #20
sure, as far as implementation goes maybe a
[code]
makes more sense.  In this case, the layer is more of a `FormatChange` than a `ReorderChannels`

[2022-02-21 21:43] LukeWood commented on #141
What does HLO stand for here?

[2022-02-21 21:45] joker-eph commented on #141
HLO is the set of operation XLA operates on: https://www.tensorflow.org/xla/operation_semantics

[2022-02-21 21:46] bhack commented on #141
HLO is https://www.tensorflow.org/xla/architecture#how_does_xla_work

For MLIR stack see https://github.com/tensorflow/mlir-hlo#overview

[2022-02-21 21:52] bhack commented on #141
You can see the fused  grey boxes, with a debug view of the fused ops, in the "after optimization" graph.

[2022-02-22 03:44] LukeWood commented on #141
Thanks for the answers.

[2022-02-22 12:23] bhack commented on #141
It could be really nice if you can contribute your reference performance test where we could conditionally enable the public Tensorflow profiler:
https://www.tensorflow.org/guide/profiler

In this way we could be on the same page with the community on performance evaluation without relying only on internal tools that are not available to the community.

[2022-02-22 13:50] bhack commented on #141
We have now an XLA tf.bincount ticket at https://github.com/tensorflow/tensorflow/issues/54479

[2022-02-23 23:08] #82 closed

[2022-02-23 23:35] LukeWood commented on #123
That's fine.  Users can use it however they like.

[2022-02-23 23:36] LukeWood commented on #141
@bhack https://github.com/keras-team/keras-cv/pull/147

[2022-02-25 17:23] Suzan009 opened #148 "keras cv slow progress!! pls reinforce workers."
I start my ml journey with keras but for the time being, I have to move to pytorch. But after seeing such steps from the keras team with keras-cv, I would love to try keras once again.

The current goal stated [here](https://github.com/keras-team/keras-cv/blob/master/.github/ROADMAP.md#image-classification) is a nice start. But the progress of developing this keras-cv is overly slow compared to ot

[2022-02-25 19:15] LukeWood opened #149 "Interpolate AUC in COCOMaP"
the original implementation actually does NOT do this, but it is more accurate with respect to the mathematical definition of MaP.

[2022-02-25 19:17] #148 closed

[2022-02-25 19:21] LukeWood commented on #149
I'd argue that this is better because we already diverge numerically from cocoeval.py.  No point in not sticking closer to the mathematical definition.

[2022-02-26 11:01] kartik4949 opened #151 "Bounding Boxes get_corners utils function"

[2022-02-26 11:02] kartik4949 opened #152 "Create makefile with existing shell/ cmd"

[2022-02-26 11:02] kartik4949 opened #153 "Letterbox image utils function"

[2022-02-26 11:14] sebastian-sz commented on #153
I think the `tf.image` equivalent could be [tf.image.resize_with_pad](https://www.tensorflow.org/api_docs/python/tf/image/resize_with_pad)

If you mean the YoloV5 implementation, the difference is they pad with 128 instead of zeros.

[2022-02-26 11:21] kartik4949 opened #154 "Refactor bounding_box utils with `BoundingBox` class to represent box."
[code]

@fchollet @LukeWood
thoughts?

[2022-02-26 11:31] kartik4949 commented on #153
@sebastian-sz hmm..
resize_with_pad will require additional user implementation of providing padding, to maintain the aspect ratio of image,
but this one won't require that, just pass desired image_size and image tensor,
output will be resized image with maintained aspect ratio

[2022-02-26 11:34] sebastian-sz opened #155 "Adopting newer tf.random API?"
Most of [current layers](https://github.com/keras-team/keras-cv/search?q=tf.random) are using `tf.random` ops. From Tensorlfow's [RNG tutorial](https://www.tensorflow.org/guide/random_numbers):

Are there plans to migrate `tf.random` ops to newer API of `tf.random.Generator` or `tf.random.stateless` ops?

### Context
As far as I understand: the newer API focuses more on reproducibility. For exampl

[2022-02-26 11:35] kartik4949 commented on #153
yeah this is indeed similar, just saw your reference api,
idk if this takes fill_value as well...

[2022-02-27 00:45] LukeWood commented on #154
The other alternative we can consider is a tf extension type:
https://www.tensorflow.org/guide/extension_type

I'm not fully sold on any of the solutions, and think this is an important choice to make.

If we do go for a class based solution, I'd probably want to wrap a tensorflow tensor in a `BoundingBoxes` class with a `xywh` and `corners` property - no need for anything more complex than that.

[2022-02-27 00:46] LukeWood commented on #152
I'm not sure we really want this.  The current shell setup is lightweight and easy enough.  makefiles get less and less readable as time goes on.

The problem a makefile solves is managing a multi-step build process.  We don't have that right now.  If we do end up with that, we can adopt `make`.

[2022-02-27 00:46] #152 closed

[2022-02-27 00:48] LukeWood commented on #138
Once: https://github.com/keras-team/keras/pull/16130

lands in nightly we can begin using it.  I will begin migrating layers to use it.

[2022-02-27 06:06] kartik4949 commented on #154
Hi,
Yeah class based solution makes sense to me, we can discuss more than see which way to go, if we are making it a class then i can contribute on this :)

And i see u are using area in coco utils so thought we can have area as property anyway we can have minimum properties

Thanks

[2022-02-27 18:07] LukeWood commented on #155
In our BaseAugmentation layer @qlzh727 included a RNG.  We should make use of the RNG he created in the base layer.

https://github.com/keras-team/keras/blob/d4480e8525440de6211c57c8df6c85d1aa168085/keras/engine/base_layer.py#L3424

`self._random_generator`

[2022-02-27 18:10] LukeWood commented on #155
This falls under the same effort as migrating to the new `BaseImageAugmentationLayer` API

[2022-02-27 18:10] #155 closed

[2022-02-28 06:52] sebastian-sz commented on #153
@kartik4949 no need to close, I think this was a good issue and good idea :)

Maybe reopen and we can see what people from the Keras team think?

[2022-02-28 06:53] sebastian-sz commented on #155
@LukeWood got it, thanks!

[2022-02-28 19:57] #151 closed

[2022-03-01 19:37] LukeWood opened #160 "Plot runtime of map_fn, vectorized_map, and a true vectorized implementation for RandomErasing"
This will help us determine which flows we need to support/how important each improvement is on the previous.

[2022-03-01 19:53] bhack commented on #160
Do we need to add also XLA `jit_compile`? As nobody clarified on https://github.com/keras-team/keras-cv/pull/146 if it was or not orthogonal to   `vectorized_map` and to a true vectorized implementation.

[2022-03-01 20:13] bhack commented on #160
For `jit_compile` we could check if we want to suggest users to enable with `tf.config.optimizer.set_jit` like in `https://www.tensorflow.org/xla/tutorials/autoclustering_xla` instead of enforcing ourself in the `@tf.function` decorator.

We have already some layers performance tests in Keras with `tf.function` vs XLA `jit_compile` matrix in:

https://github.com/keras-team/keras/blob/master/keras/

[2022-03-01 21:37] LukeWood commented on #160
The purpose of this experiment is to gather performance numbers so we can make a decision.  I'll be doing benchmarking as thoroughly as possible to get this data.

[2022-03-01 21:38] bhack commented on #160
Yes I just meant if we want to collect also some performance with `jit_compile` in the performance matrix.

[2022-03-03 08:20] chjort commented on #160
@LukeWood
I have made some performance improvements to `keras_cv.utils.fill_utils` in PR #159. So I would recommend benchmarking with these improvements. I could include these performance improvements in its own PR without the GridMask changes if you would like.

[2022-03-03 19:07] LukeWood commented on #160
the goal is to determine how good `vectorized_map` is more than anything, so I think the benchmark is fine.

[2022-03-06 12:34] innat opened #162 "Add ShiftScaleRotate for KPL"
What does it do?

Reference. https://albumentations.ai/docs/api_reference/augmentations/geometric/transforms/#albumentations.augmentations.geometric.transforms.ShiftScaleRotate

(not sure if it's already added)

[2022-03-06 12:39] innat opened #163 "Add Elastic Deformation for KPL"
This type of augmentation is mostly sued in 2D and 3D image augmentation, especially in medical imaging.

<img src="https://user-images.githubusercontent.com/17668390/156923480-b2c9cc71-e8a5-4bcd-8291-a6492413893c.png" width="200" height="200" /> <img src="https://user-images.githubusercontent.com/17668390/156923493-9a5fca93-2ee3-4977-86fc-baa210d1ca4c.png" width="200" height="200" /> - [Source](h

[2022-03-06 12:45] innat opened #164 "(On Hold) Color Augmentation"
# Apply the Lookup Table to the Image

( Skeptical about this processing layer. I better post this to [discussion](https://github.com/keras-team/keras-cv/discussions/93) but the activity there seems limited. )

Post: https://github.com/deepmind/multidim-image-augmentation/blob/master/doc/color_augmentation_colab.md

![image](https://user-images.githubusercontent.com/17668390/156923735-c06d43e4-323

[2022-03-07 03:25] LukeWood opened #165 "Augment benchmarks/vectorization_strategy_benchmark.py to include XLA compilation"

[2022-03-07 16:28] bhack commented on #165
Check:
https://github.com/keras-team/keras-cv/pull/161/files#r820872659

[2022-03-07 22:56] bhack commented on #165
It seems that in faster `jit_compiled` version all the `tf.cast` we have are still quite relevant

![immagine](https://user-images.githubusercontent.com/1710528/157131716-9bc840cc-5ff6-4ba5-a90e-6e2d6a7f5988.png)

![immagine](https://user-images.githubusercontent.com/1710528/157132032-467636b7-6fd6-47f2-9834-e8bc387d8102.png)

[2022-03-08 19:31] frostbyte012 commented on #28
Can you explain a bit more I wanna know how this issue can be solved I want to contribute and I'm a first time contributor

[2022-03-08 19:34] bhack commented on #28
You need to read the related paper at https://arxiv.org/abs/2012.07177

[2022-03-09 12:58] parikshit14 commented on #134
hi, I would like to contribute to this task.
So from the reference link provided above, does ```num_cutouts``` stand for **number of cutouts** that must be cut from the image provided?

[2022-03-09 16:33] LukeWood commented on #134
absolutely!  And I'd also like this to support a range.

So you can have

[code]

Then it will randomly sample from 1, 10 and perform that many cutouts.

[2022-03-09 16:53] LukeWood opened #167 "Squeeze and Excitement Block"
https://arxiv.org/abs/1709.01507

[2022-03-09 16:56] LukeWood commented on #167
This is used in:

- efficientnet
- mobilenet

I will base my implementation on these

[2022-03-09 18:45] LukeWood commented on #137
@sebastian-sz have you looked at the increasing DropBlock schedule that the paper recommends?

[2022-03-09 19:35] bhack commented on #137
Just a reminder in the case we want to extend to the 3d case:
https://github.com/pytorch/vision/pull/5416/files

[2022-03-10 02:05] LukeWood commented on #167
https://github.com/tensorflow/models/blob/229e43e8b4578f4e69e02b35a5b33e655b6be3e8/official/vision/beta/modeling/layers/nn_layers.py#L89

[2022-03-10 02:33] LukeWood opened #169 "Determine if Posterize should be included in RandAugment:"
It is not clear, I will be emailing a paper author to find out.

[2022-03-10 04:00] innat commented on #130
https://github.com/tensorflow/models/blob/229e43e8b4578f4e69e02b35a5b33e655b6be3e8/official/vision/beta/modeling/layers/nn_layers.py#L227

[2022-03-10 06:48] sebastian-sz commented on #130
I am a bit confused regarding this layer naming:

It seems like the names `DropPath` and `StochasticDepth` are used interchangeably, but their implementations should be different?

For example:

Drop path in `tensorflow/tpu`: [link](https://github.com/tensorflow/tpu/blob/b24729de804fdb751b06467d3dce0637fa652060/models/official/amoeba_net/network_utils.py#L164)
Drop path in `timm`: [link](https://g

[2022-03-10 06:49] sayakpaul commented on #130
From `timm` docstrings:

[code]

[2022-03-10 07:26] sebastian-sz commented on #137
@LukeWood
Yes, the example is [here](https://github.com/tensorflow/tpu/blob/01b67067be64987e9519b35342ba91d3179daeed/models/official/resnet/resnet_main.py#L385). It seems one would need access to `total_steps` and `current_step`. I'm not sure if there is an easy way to access those without having the user explicitly pass `total_steps`.

@bhack
Yes, 3d case is similar. It could be added in this PR

[2022-03-10 12:05] bhack commented on #137
Yes, 3d case is similar. It could be added in this PR or with a separate issue + PR. I can add it here, what are your opinions?

As you like.

[2022-03-10 18:47] sebastian-sz commented on #137
@bhack I'd prefer 3D variant to be added in a separate PR (perhaps separate issue). There is still some work with 2D variant.

[2022-03-13 14:46] innat commented on #28
@frostbyte012 In addition to the above-mentioned paper, you can also look into pytorch implementation.

- [implementation 1](https://github.com/RocketFlash/CAP_augmentation)
- [implementation 2](https://github.com/conradry/copy-paste-aug)

![all](https://user-images.githubusercontent.com/17668390/158065025-27e02e19-36eb-4074-9ae9-2004130a6252.png)

[2022-03-14 03:40] MrinalTyagi commented on #131
Hi team. If no one is working on this, I would like to work on the same.

[2022-03-14 03:43] MrinalTyagi commented on #78
Hi. I would like to work on this issue if it's open for contributions.

[2022-03-14 03:44] MrinalTyagi commented on #57
Hi. @LukeWood. I would like to add the model to the library.

[2022-03-14 03:46] MrinalTyagi commented on #53
@innat Here I am requesting it [issue](https://github.com/keras-team/keras/issues/15704). Would love to work on this if it's available for contributions. Also proposed this as my GSoC idea proposal. :)

[2022-03-14 03:48] MrinalTyagi commented on #112
Would like to work on this. Thanks :)

[2022-03-14 05:20] MrinalTyagi commented on #49
Would like to work on this.

[2022-03-14 07:03] AdityaKane2001 commented on #131
I agree. The most difficult part is to come up with a batched implementation. Correct me if I'm wrong, but I believe this is the procedure:

1. Get random boxes, in which each box needs to have random aspect ratios.
2. Get the respective crops of the image.
3. Resize the images.

These tasks are straightforward for a single image, however are difficult for a batch of images.

The torch implementat

[2022-03-14 09:11] bhack commented on #131
@AdityaKane2001 we had a discussion about the randomizzation in the batch at https://github.com/keras-team/keras-cv/pull/146

[2022-03-14 17:51] #87 closed

[2022-03-15 04:33] AakashKumarNain opened #170 "Support for TFLite"
Given that we are building models in a much better way, are we going to support TFLite model conversion as well as quantization-aware training here?

[2022-03-16 16:51] mradul2 commented on #78
Hey, I would like to work on this issue, what exactly do you mean by porting into the **new model architecture style** ?

[2022-03-16 17:17] bhack commented on #78
@qlzh727 A we have already discussed about this but I don't know if we are ready:

- Training scripts to reproduce the results
- [TFDS integration](https://github.com/tensorflow/datasets) when available instead of populating the repo of custom scripts for dataset adaptation/loading.

[2022-03-16 17:57] bhack commented on #78
Yes I hope that we are not going to accumulate too much single shared scripts that in the end over the time are quite complex and always under a combinatorial explosion risk.

I suppose that some json/yaml/etc metadata overlay/override design could be required to customize/specialize training jobs.

[2022-03-16 18:10] qlzh727 commented on #78
True. I think we will need some design for the overall input pipeline and training logic for this case, so that it will configurable, composable and sharable.

[2022-03-16 18:17] bhack commented on #78
@qlzh727 At at the end one day it could be really nice if, with an approval label, we could schedule the training job from CI directly on GKE (sponsored) internal resources.

[2022-03-17 04:10] LukeWood opened #171 "GradCam implementation"
https://keras.io/examples/vision/grad_cam/

The call signature should be something like:

overlaid_result_images = gradcam(model, images, classes)

[2022-03-17 04:56] MrinalTyagi commented on #78
@qlzh727 I am able to understand all the points you highlighted in the new model style and would like to proceed with it if you allow.

[2022-03-17 04:58] MrinalTyagi commented on #28
@innat @bhack Can I pick this up if no one else is working on it currently? Thank you

[2022-03-17 07:44] AdityaKane2001 commented on #78
@qlzh727

I believe if the central requirement is reproducibility, there can be a one-to-one mapping between a data input pipeline and model. For example:

[code]
This is just me thinking out loud. Please correct me if I'm wrong.

[2022-03-17 08:40] leondgarse opened #172 "Corners bounding box format"
I got an issue when trying to port two of my currently using bounding box augment related functions [resize_and_crop_bboxes](https://github.com/leondgarse/keras_cv_attention_models/blob/main/keras_cv_attention_models/coco/data.py#L23) and [bboxes_apply_affine](https://github.com/leondgarse/keras_cv_attention_models/blob/main/keras_cv_attention_models/coco/data.py#L45). I think we better set a defa

[2022-03-17 09:41] innat commented on #28
@MrinalTyagi of course, anyone can. That would be great.

[2022-03-17 09:42] innat commented on #172
Similar query: https://github.com/keras-team/keras-cv/issues/21#issuecomment-1033435207

[2022-03-17 09:50] innat commented on #172
@leondgarse no, you don't need to close, I didn't mean that. You should re-open it.

( I just mentioned that I've asked a similar query as a comment there but sadly still no response from the keras team. Maybe they didn't decide yet. )

[2022-03-17 09:52] innat commented on #171
Relevant issue: https://github.com/keras-team/keras-cv/issues/53

Under which directory the visualization tools will be live?

@MrinalTyagi you may like to contribute this. https://github.com/keras-team/keras/issues/15704

[2022-03-17 09:54] leondgarse commented on #172
Ya, personally, I cannot move on without a clarify. :)

[2022-03-17 09:55] innat commented on #53
Some reference implementation
https://github.com/keisen/tf-keras-vis#overview

[2022-03-17 09:56] innat commented on #172
same here.

[2022-03-17 10:13] MrinalTyagi commented on #171
I feel like creating a new directory named visualization would be a good option as it would be a separate section. If that's not the case adding it to utils can also be a good option.

[2022-03-17 11:01] innat commented on #171
or, maybe a directory like `keras_cv.utils.grad_cam`.

[2022-03-17 12:46] frostbyte012 commented on #28
@innat @bhack  is it possible to get the starting template / implementation in TensorFlow or Keras ? Any source or link?

[2022-03-17 12:49] innat commented on #28
It's mentioned already
ref. https://github.com/keras-team/keras-cv/issues/28#issue-1094848083

[2022-03-17 13:06] innat opened #173 "Repurposing Masks into Bounding Boxes."
**Convert the Segmentation masks into Object localization annotations for different tasks, e.g. Instance and Panoptic segmentation.**

Reference: [torchvision.ops.masks_to_boxes](https://pytorch.org/vision/stable/generated/torchvision.ops.masks_to_boxes.html#torchvision.ops.masks_to_boxes)
Details and Code: [Mask-to-BoundingBox](https://pytorch.org/vision/stable/auto_examples/plot_repurposing_anno

[2022-03-17 13:21] innat opened #174 "Draw utility for common CV task."
I remember one of a MOOC course on coursera, drawing bounding boxes on samples/samples were needed. I think it would be good to have some **utility functions** to do this. For example:

[code]

As a reference, all of these functions/utilities are available in other frameworks too, [HERE](https://pytorch.org/vision/stable/utils.html).

[2022-03-17 13:25] bhack commented on #174
Some of these could be ported/adapted from the TF ecosystem:
https://github.com/tensorflow/models/blob/master/official/vision/utils/object_detection/visualization_utils.py

[2022-03-17 13:30] MrinalTyagi commented on #28
@innat @bhack If I am not wrong, in this we will be adding a new data augmentation layer named CopyPasteAugmentation. In that, we will have initialization of parameters including sigma, blend, max objects that we can paste in an image, paste images, source images, x and y from which we have can apply copy-paste augmentation. This is the current scenario in my mind regarding it. Will update it acco

[2022-03-17 13:37] bhack commented on #28
@MrinalTyagi use existing merged layers as a reference to grasp some code conventions.

@frostbyte012 Please coordinate with @MrinalTyagi you could collaborate on his branch if you are both interested.

[2022-03-17 13:38] MrinalTyagi commented on #28
Got it. @frostbyte012 will share details of the draft pr with you soon with a basic template.

[2022-03-17 13:40] frostbyte012 commented on #28
@MrinalTyagi I'm a newbie. Having a little difficulty in understanding it. If you can kindly help me together we can contribute and learn.
@bhack I'd love to coordinate.

[2022-03-17 13:43] bhack commented on #28
@LukeWood Can we temp. assign to them? So we could keep track on `contribution-welcome` assigned ticket vs the ones still looking for contribution.

[2022-03-17 18:54] frostbyte012 commented on #134
@LukeWood  what will those cutouts do?  From the link provided, I understood it's done to reduce overfitting . If I'm not wrong. And how will those have an impact on the accuracy though? And is this kinda data augmentation?

[2022-03-17 18:56] frostbyte012 commented on #134
@LukeWood  what will those cutouts do?  From the link provided, I understood it's done to reduce overfitting . If I'm not wrong. And how will those have an impact on the accuracy though? And is this kind of data augmentation?
I want to try this one and contribute if this is still open.

[2022-03-18 05:53] MrinalTyagi commented on #171
@innat @LukeWood Is it possible to delay this feature for some time as I wanted to propose this as an idea submission for this year's GSoC. Here is a basic draft as well for the proposal.  https://docs.google.com/document/d/1k6vI4X1INUUsbVwL5E2fgKy8UgT0mRKKFlDY-LB7iSE/edit?usp=sharing . Wanted to propose the addition of a whole visualization section in the project. Do let me know if you guys are f

[2022-03-18 16:05] MrinalTyagi commented on #109
Do describe more about the feature as I would be willing to contribute. Thanks

[2022-03-18 17:50] LukeWood opened #176 "Support dynamic setting of DropBlock.dropout_rate"

[2022-03-18 17:50] LukeWood commented on #176
Currently the constant value is baked into the graph, I suggest a schedule parameter to support this.

[2022-03-18 19:57] LukeWood commented on #171
I think visualization is deserving of its own directory

[2022-03-19 10:27] kartik4949 commented on #154
@LukeWood if we are good with class based solution as wrapper around (extension type) or may be plain class solution

I can contribute on the above :)

[2022-03-19 10:34] kartik4949 commented on #173
Well,
I had made an utility already in one of my project, if needed I can contribute in above

usecases

converting mask dataset to bbox

[2022-03-19 10:36] kartik4949 commented on #174
draw should be under `visualization`

Also we can get some implementation from efficient det (automl) https://github.com/google/automl/tree/master/efficientdet/visualize

[2022-03-19 10:39] kartik4949 opened #177 "A TFRecord inspector for cv tfrecords files"
I have implemented an inspection tool for cv tfrecords for (google efficientdet implementation)
link:
https://github.com/google/automl/tree/master/efficientdet/visualize

may be we can port it here,
also this is super useful for preinspection before training and general viz usage in cv.
@LukeWood @fchollet

[2022-03-19 11:38] innat commented on #173
That would be great. I think it will fall under utility function.

[2022-03-20 06:51] LukeWood commented on #154
Hey @kartik4949 !  I'm not convinced that we want to use the class based solution yet.  For now I think the utility functions do everything the class solution does just fine.

[2022-03-20 06:56] kartik4949 commented on #154
@LukeWood hmm ,for now it do make sense!
Closing for now

[2022-03-20 06:57] #154 closed

[2022-03-20 11:00] MrinalTyagi commented on #171
@LukeWood Would you allow me to work on this during GSoC? I have updated the above proposal deck to be more in TensorFlow template format. Do have a look at it and let me know if I can take this whole visualization section during GSoC. Apart from that if you agree or not I would love to work on the same. Thanks for your time.

[2022-03-21 06:20] kksinghal commented on #176
I want to look into this.

[2022-03-21 06:33] sebastian-sz commented on #176
@LukeWood What could this API look like? Do we want to support only linear schedule, mentioned in the paper?
`layer = DropBlock2D(schedule={"total_steps": 100, "starting_rate": 0.0}`

Or maybe accept a separate class that will handle scheduling in it's own call method?
[code]

Or maybe something completely different?

[2022-03-21 16:31] LukeWood commented on #21
Good question, probably corners?  This can have its own issue to discuss.  I'll re-open!

[2022-03-21 16:44] bhack commented on #172
Could be a bounding box a specialized type of a bounding polygon that it could be also more precise aproximation of a segmentation mask? See https://github.com/cocodataset/cocoapi/issues/131

[2022-03-21 16:47] LukeWood opened #179 "StyleTransfer Data Augmentation Layer"
I'll write a design for this

[2022-03-21 18:12] kartik4949 commented on #177
https://github.com/google/automl/blob/master/efficientdet/dataset/inspect_tfrecords.py

[2022-03-21 19:51] LukeWood commented on #173
yeah I think this is a reasonable utility function to have

[2022-03-21 19:52] LukeWood commented on #172
I think we want to special case bounding boxes and explicitly support them.

[2022-03-21 19:55] LukeWood commented on #135
ok, happy to take this.  we can implement this.  Feel free to use BaseImageAugmentationLayer - an example in https://github.com/keras-team/keras-cv/runs/5633736287?check_suite_focus=true

[2022-03-21 19:59] kartik4949 commented on #173
Let me contribute for the same.

[2022-03-21 20:20] LukeWood opened #181 "Utility function to visualize bounding boxes overlaid on images"

[2022-03-21 20:20] LukeWood opened #182 "Utility function to visualize segmentation maps on images"

[2022-03-21 20:22] LukeWood commented on #176
I think we want to also support something like lambda functions:
[code]

or something

[2022-03-21 20:22] #137 closed

[2022-03-21 20:23] LukeWood commented on #162
I think this is just a composition of 3 layers we have:
- translate
- resize
- rotation
lets leave this to users.

[2022-03-21 20:23] #162 closed

[2022-03-21 20:24] #141 closed

[2022-03-21 20:47] LukeWood commented on #170
It depends what is needed to support these.  Some models it may not be possible

[2022-03-21 20:51] LukeWood opened #183 "Port RandomCutout to use BaseImageAugmentationLayer"
Sample layer:
https://github.com/keras-team/keras-cv/pull/180

[2022-03-21 21:39] kksinghal commented on #176
@sebastian-sz, I don't think it's worth making a separate DropoutRateScheduler class since it is a very generic function, it returns a linear function of a value. Otherwise, we could also use any scheduler function, like tf.keras.optimizers.schedules.PolynomialDecay, with power=1.

Instead,
1. The user can pass the initial dropout rate, end dropout rate, total train steps as arguments, and we can

[2022-03-21 21:46] LukeWood opened #184 "Implement a Schedule object that can be passed to `rate` or `magnitude`"

[2022-03-22 01:35] leondgarse commented on #172
My option is strict the input / output format of these bbox augment functions. Other not matching format or segmentation mask should be transformed before calling these functions. It can also benefit further `anchor` / `anchor assign` / `detection lossses`, that we don't need to consider other format.

[2022-03-22 04:37] kksinghal commented on #176
@LukeWood, Regarding #184,
Do you want me to add arguments of linear scheduler to DropBlock2D? or do you want to pass the scheduler function only.
About #184, Do you want to create a new class of schedulers like tf.keras.optimizers.schedules?
Please mention if you are working on it. Otherwise, I would like to work on both of these.

[2022-03-22 05:57] innat commented on #181
@LukeWood It's been opened.
https://github.com/keras-team/keras-cv/issues/174

[2022-03-22 05:57] innat commented on #182
@LukeWood It's been opened.
https://github.com/keras-team/keras-cv/issues/174

[2022-03-22 15:15] kartik4949 commented on #182
@LukeWood @innat
Hey,
so I was thinking to have something like

[code]

[2022-03-22 15:18] kartik4949 commented on #182
[code]
Alternative

[2022-03-22 16:41] bhack commented on #171
@lucasdavid I think you could start somewhere with a PR.
as @MrinalTyagi  has still https://github.com/keras-team/keras-cv/pull/175 under early review.

[2022-03-22 18:18] LukeWood opened #187 "Migrate channel_shuffle.py to use BaseImageAugmentationLayer"
example available in:
https://github.com/keras-team/keras-cv/blob/master/keras_cv/layers/preprocessing/random_shear.py

[2022-03-22 18:19] LukeWood opened #188 "Update Solarization to use BaseImageAugmentationLayer"
https://github.com/keras-team/keras-cv/blob/master/keras_cv/layers/preprocessing/solarization.py

Example in RandomShear

[2022-03-22 18:19] LukeWood opened #189 "Migrate RandomCutout to use BaseImageAugmentationLayer"
https://github.com/keras-team/keras-cv/blob/master/keras_cv/layers/preprocessing/random_cutout.py

Example in RandomShear

[2022-03-22 18:20] LukeWood opened #190 "Migrate GridMask to use BaseImageAugmentationLayer"
https://github.com/keras-team/keras-cv/blob/master/keras_cv/layers/preprocessing/grid_mask.py

Example in RandomShear.

[2022-03-22 18:20] LukeWood opened #191 "Migrate Grayscale to use BaseImageAugmentationLayer"
https://github.com/keras-team/keras-cv/blob/master/keras_cv/layers/preprocessing/grayscale.py

[2022-03-22 18:20] LukeWood opened #192 "Migrate Equalization to use BaseImageAugmentationLayer"
https://github.com/keras-team/keras-cv/blob/master/keras_cv/layers/preprocessing/equalization.py

[2022-03-22 18:22] qlzh727 commented on #123
https://github.com/keras-team/keras-cv/pull/124

[2022-03-22 18:22] #123 closed

[2022-03-22 20:41] LukeWood opened #195 "Implement a tf.version check"
https://github.com/keras-team/keras-tuner/blob/master/keras_tuner/utils.py#L57

We need 2.8.0>

[2022-03-22 20:43] qlzh727 commented on #138
The BaseImageAugmentationLayer is available as Keras internal API for keras CV to use.

[2022-03-22 20:43] #138 closed

[2022-03-22 20:44] qlzh727 commented on #138
https://github.com/keras-team/keras/pull/16130

[2022-03-22 20:47] qlzh727 commented on #81
@LukeWood, Is this related to RandomContrast in core keras? or we need to implement a new KPL.

[2022-03-22 20:48] qlzh727 commented on #89
Assume this is closed by https://github.com/keras-team/keras-cv/pull/180

[2022-03-22 20:48] #89 closed

[2022-03-22 21:06] qlzh727 commented on #81
oh I see https://github.com/keras-team/keras-cv/pull/194

[2022-03-22 21:33] kksinghal commented on #191
I want to work on this. I don't think it's just changing the parent class, but it passed the grayscale_test with that.
Also, I can't find any code for this tensorflow.keras.__internal__.layers, not even on google search. So, can anyone give me a reference to that?

[2022-03-22 22:03] qlzh727 commented on #88
https://github.com/keras-team/keras-cv/pull/197

[2022-03-22 22:42] bhack commented on #195
The problem is also that depending only on  `tf-nighlty` doesn't enforce anything if we don't define `>` date
e.g: ` tf-nightly 2.9.0.dev20220322`.

Currently with only `tf-nighlty` will mean that any nightly dependency satisfy `keras-cv` and so also a pre 2.8.0 or a 2 years old `tf-nighlty`

https://github.com/keras-team/keras-cv/blob/master/setup.py#L35

[2022-03-22 23:21] qlzh727 commented on #32
Looking at https://keras.io/examples/vision/semisupervised_simclr/, it seems that the layer has quite some overlap for what we are about to have in https://github.com/keras-team/keras-cv/issues/142. @LukeWood let me know if we want to keep this layer or not.

[2022-03-23 05:58] kartik4949 commented on #174
@innat uhm, if we are thinking to have a separate visualise module then it make sense to have it in visualise it self, may be utility of it.

[2022-03-23 10:19] quantumalaviya commented on #191
@kksinghal I think [this is the definition](https://github.com/keras-team/keras/blob/dd0f1f480613ceffd994658e5632d54c660d1e73/keras/layers/preprocessing/image_preprocessing.py#L213) of this class. At the very least, it provides an in-depth description of what needs to be done to port a layer to `BaseImageAugmentationLayer`. Moreover, I suggest going through the [API Design Guidelines](https://gith

[2022-03-23 13:54] Simardeep27 opened #199 "Gaussian Blur in regularization"
I wanted to add Gaussian Blur layer to layers.regularization. It is widely used in downsampling images and is pretty helpful in basic edge detection and noise reduction.

Would love to work on this.

[2022-03-23 14:13] bhack commented on #199
We have already https://github.com/keras-team/keras-cv/pull/143

[2022-03-23 14:20] Simardeep27 commented on #199
Ahh okay. Just saw that it was added in for the next release. Will close the PR thanks.

[2022-03-23 14:20] #199 closed

[2022-03-23 16:01] innat commented on #171
@lucasdavid Here is one reference, https://github.com/keisen/tf-keras-vis. It may help.

[2022-03-23 17:43] AakashKumarNain commented on #170
Agreed that it won't be possible to support all but for detection, and segmentation use-cases, are we:
1. Going to allow the end user to extend the models in a modular way (surely not the way it is done in TF Object Detection Zoo)
2. Convert the common models to tflite

[2022-03-23 18:19] LanceNorskog commented on #115
I'm looking at doing a "Crop and Resize" layer based on the Resizing layer. It receives two inputs (image, bbox).
You then need a custom Dataset iterator that supplies (image, bbox) as inputs.

[2022-03-23 18:29] #81 closed

[2022-03-23 18:42] #84 closed

[2022-03-23 18:44] LukeWood opened #200 "Implement `BasePreprocessingLayerTest`"
This can handle things like `tf.function` compilation, output shape preservation, etc.

FYI @bhack

[2022-03-23 18:46] LukeWood commented on #84
Thanks so much @sebastian-sz

[2022-03-23 20:38] qlzh727 commented on #200
I think we have similar items in https://github.com/keras-team/keras/blob/793620ae1bdda7e37edd485b034e8962fff57f3e/keras/layers/preprocessing/image_preprocessing_test.py#L1896, and might be able to be reused.

[2022-03-23 20:43] #32 closed

[2022-03-23 20:44] qlzh727 commented on #172
1. Currently I don';t think we assume any default format for bbox, but I think we should have one default format (probably the corner bbox format).
2. I don't think we should normalized the bbox value to [0, 1], otherwise it will require the original image to decode the actual pixel.

[2022-03-23 20:53] LukeWood commented on #86
yes - I will be working on this next!

[2022-03-23 20:55] qlzh727 commented on #86
Ack. Assigned to you.

[2022-03-23 20:58] bhack commented on #200
We could check also if need to user internal style:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/autograph/impl/api.py#L501-L531

[2022-03-23 21:05] LukeWood opened #202 "Make MixUp and CutMix input formats conform to the API standard"
this is:
[code]

Additionally, they should do all of the casting/etc the other layers do.

[2022-03-23 21:13] qlzh727 commented on #119
Should we have different KPL for Hue and Saturation? (They produce different math results).

On a side note, the color jitter layer seems to contain both Hue and Saturation adjustment.

[2022-03-23 21:16] qlzh727 commented on #179
Let me know if you want to include this in the 0.1 release.

[2022-03-23 21:22] bhack commented on #172
@qlzh727 Check also https://discuss.tensorflow.org/t/are-bounding-box-bbox-definitions-consistent-across-datasets/8468

[2022-03-23 21:25] qlzh727 commented on #172
Thanks for the context, will take a look.

[2022-03-23 22:58] #88 closed

[2022-03-24 18:46] #169 closed

[2022-03-24 18:54] LukeWood opened #206 "Generate API docs for keras.io"
Example: https://github.com/keras-team/keras-io/pull/483/files

need to:
- make a 5 line change to make in scripts/autogen.py
- add a KERAS_CV_MASTER file that lists the symbols we want to document
- add any extra non-autogenerated content, like guides

[2022-03-25 02:15] LukeWood opened #208 "Implement `compute_pr_curve` utility function"

[2022-03-25 12:31] innat opened #209 "`input.dtype != output.dtype` with BaseImageAugmentationLayer!"
I've tried all the layers, [HERE](https://github.com/keras-team/keras-cv/tree/master/keras_cv/layers/preprocessing),  that have migrated to `BaseImageAugmentationLayer`. And found that the outputs are always cast to `float32`, regardless of any input `dtype`.

In API Design Guidelines, it's stated:

The decision to support inputs of any `dtype` is made based on the nuance that some Keras layers ca

[2022-03-25 16:26] quantumalaviya commented on #134
I think this can be closed now

[2022-03-25 16:54] LukeWood opened #210 "Correctness check Equalization"

[2022-03-25 16:55] LukeWood commented on #209
Updated.  Thanks the docs @innat .  You don't need to worry about that.

[2022-03-25 17:11] #86 closed

[2022-03-25 17:15] innat commented on #134
@quantumalaviya Thanks for this PR. One query and concern on this

[code]

Isn't loping through the num of cutouts causing performance issues?  It's the same if you use `tf.map_fn`, under the hood, it also does something like that, I think. @parikshit14 did some benchmark, [HERE](https://github.com/keras-team/keras-cv/pull/178#issuecomment-1075135062), is it reproduced?

cc. @LukeWood @bhack

[2022-03-25 17:17] innat commented on #209
@LukeWood Thanks. So, by subclassing the `BaseImageAugmentationLayer`, the output will auto re-cast back to the original input type? Currently, it doesn't do that, so will there be a fix?

[2022-03-25 17:23] LukeWood opened #211 "Solarization must support value_range"

[2022-03-25 17:23] LukeWood opened #212 "Equalization must support value_range"

[2022-03-25 17:25] quantumalaviya commented on #134
Yeah, I mentioned it in the PR (#207). I was waiting on @parikshit14 for the changes.

I'll just go ahead and try to implement the changes myself based on #186.

[2022-03-25 17:29] parikshit14 commented on #134
i have the changes ready with me just needed a green signal to push them.
The changes to vectorize `num_cutouts` in `fill_rectangles` and `rectangle_mask` will make it incompatible for `CutMix`. So to counter that we can create **FLAG** sort of a variable to separate both of these(RandomCutout and CutMix) inside `fill_utils` or we can create a separate file for the vectorized `fill_utils`, whichev

[2022-03-25 17:40] quantumalaviya commented on #134
I wonder if the changes can be generalized to include only 1 rectangle.

[2022-03-25 18:05] bhack opened #214 "Skip value_range in a preprocessing chain"
https://github.com/keras-team/keras-cv/pull/198#issuecomment-1076669016

[2022-03-25 18:36] quantumalaviya commented on #191
This seems to be trivial. If you are not working on this, I can finish this up and make a PR @kksinghal.

[2022-03-25 18:37] kksinghal commented on #191
@quantumalaviya Yeah, please go ahead.

[2022-03-25 19:27] kartik4949 commented on #214
may be useful for #193

[2022-03-25 21:11] LukeWood commented on #214
Can you provide a thorough description of the issue here and a proposed solution?  Thanks

[2022-03-25 21:51] qlzh727 commented on #135
I feel this is more useful as a util function to compress the jpeg input, but I am not sure how this is fitting for model, eg compress tensor doesn't actually reduce the amount of data sending to the model. And also from the paper, the heavy compressed data does affect the model performance.

[2022-03-25 22:07] qlzh727 commented on #119
Chatted with Luke offline, we will have two layers, one for Hue and one for Saturation.

[2022-03-25 22:22] LukeWood commented on #135
Comments per an offline conversation:

so the layer is RandomJpegQuality - and it will create jpeg artifacts randomly by actually performing jpeg compression to a random quality - it is simulating the effects of compression, not actually attempting to compress.

[2022-03-25 22:37] bhack commented on #214
https://github.com/keras-team/keras-cv/pull/198#issuecomment-1076711598

I prefer to have something better than just an user warning. Can we find a way to communicate between a KLP chain that we have already converted the value range?

[2022-03-25 23:14] #211 closed

[2022-03-26 00:58] #191 closed

[2022-03-26 07:03] quantumalaviya commented on #188
@LukeWood this can be closed due to #213?

[2022-03-26 09:56] kartik4949 commented on #181
@LukeWood
a wrapper around this?

[code]

[2022-03-26 10:30] innat commented on #181
cc. @bhack

[code]

( Isn't it possible to **unify** the similar functions in TensorFlow? )

[2022-03-26 17:36] blackhat-coder commented on #49
Hi @LukeWood ,I would love to implement WideResNet duing GSoC. I'm currently drafting my proposal and would love to know if I could implement this during GSoC ?

[2022-03-27 14:12] quantumalaviya commented on #183
Isn't this issue already mentioned at #189?

[2022-03-27 23:47] bhack commented on #214
I suppose that we need to find some kind of extra input arg for KLP to tell that it is the final in a chain (or leaf).
I don't know if the KLP layer can be self-aware of its position.

[2022-03-28 03:26] LukeWood opened #222 "Tighten error margins in metrics/coco/numerical_tests"
currently the margins are 0.05. Ideally, this will be <0.01.  This is likely caused by some errors in rounding, or a inherent logic difference from the original COCO metrics implementation.

If someone wants to perform a deep dive here and figure out how to reduce these error margins, the contribution will be welcomed.

This will likely be an extremely challenging task, good for a true TensorFlow

[2022-03-28 04:29] LukeWood commented on #176
Lets create a schedule that works like tf.keras.optimizers.schedules.

Feel free to create a class in the PR and I will provide API feedback in the code review.  Thank you @kksinghal.

So...

DropBlock will take a `Schedule` class optionally as a parameter.  Another option would be to offer a keras Callback similar to https://github.com/keras-team/keras/issues/16234

@fchollet thoughts on using th

[2022-03-28 04:29] LukeWood commented on #176
FYI @kksinghal ^

[2022-03-28 07:43] LukeWood opened #223 "Conform random_shear factor parameters to the api design guidelines"
these should be renamed to `x_factor`, `y_factor`.  additionally, they should support the range [0, 1].  Perhaps in this case we can exceed [0, 1] but this must be explained.

https://github.com/keras-team/keras-cv/blob/master/keras_cv/layers/preprocessing/random_shear.py#L25

[2022-03-28 07:59] LukeWood commented on #209
No, as of now we don't re-cast back to the original dtype.  This is wasteful if all of the computation will be done in the `self.compute_dtype` realm anyways.  If there is a good reason to cast back we can start doing that, but  I'm not convinced that casting back to the original dtype is valuable to users.

Thoughts?

[2022-03-28 08:00] LukeWood commented on #188
yep!  Thanks

[2022-03-28 08:01] LukeWood commented on #72
People can just install from github actually - we don't have a complicated build process so users can just `pip install git+https://github.com/keras-team/keras-cv`.  This isn't needed

[2022-03-28 08:01] #72 closed

[2022-03-28 08:01] LukeWood commented on #73
Done.

[2022-03-28 08:01] #73 closed

[2022-03-28 08:02] LukeWood commented on #34
Done.

[2022-03-28 08:02] #34 closed

[2022-03-28 08:02] LukeWood commented on #53
Thanks for the proposal.  I think model visualization tools belong in this repo.  Lets start a subdirectory `visualization`.  GradCam can be a first component.

[2022-03-28 08:06] LukeWood commented on #112
@MrinalTyagi feel free to add this and get started.  create a `losses` directory under `keras_cv/losses` and feel free to try it out!

[2022-03-28 08:08] LukeWood commented on #171
Thanks for the proposal, we really appreciate it @MrinalTyagi.  There are many visualization tools available that we can write and implement, so even if one is picked up (GradCam) by a contributor we can still find others to keep adding.  there are many with unique value.  Thanks for your understanding.

[2022-03-28 08:09] LukeWood commented on #171
@lucasdavid can you open up unique github issues for each of these components?  I'd love to begin collecting visualization components that we would like to add.  Thanks a lot for your help

[2022-03-28 08:10] LukeWood opened #224 "Smooth-Grad visualization tool"

[2022-03-28 08:10] LukeWood opened #225 "Full-Grad visualization tool"

[2022-03-28 08:10] LukeWood opened #226 "Guided-Grad visualization tool"

[2022-03-28 08:11] LukeWood opened #227 "Grad-CAM++ visualization tool"

[2022-03-28 08:11] LukeWood opened #228 "Score-cam visualization tool"
https://github.com/lucasdavid/algorithms-in-tensorflow/tree/main/notebooks/explaining

[2022-03-28 08:11] innat commented on #209
@LukeWood I think I didn't understand [this](https://github.com/keras-team/keras-cv/blob/master/.github/API_DESIGN.md#color-based-preprocessing-layers) instruction clearly. I thought it was encouraged to keep the `input.dtype` and `output.dtype` same.

Anyway, I don't have any particular cases where such things are required heavily, i.e. `dtype` consistency. So, if this is the API design choice, g

[2022-03-28 08:18] innat commented on #226
guided-gradcam: https://stackoverflow.com/a/66189774/9215780

[2022-03-28 08:20] innat commented on #228
https://github.com/haofanwang/Score-CAM

[2022-03-28 08:22] innat commented on #227
- https://github.com/adityac94/Grad_CAM_plus_plus
- https://github.com/totti0223/gradcamplusplus
- https://github.com/samson6460/tf_keras_gradcamplusplus

[2022-03-28 08:24] innat opened #229 "Integrated Gradients - viz tools"
- https://github.com/sicara/tf-explain#integrated-gradients
- https://keras.io/examples/vision/integrated_gradients/

[2022-03-28 08:26] #209 closed

[2022-03-28 21:14] #119 closed

[2022-03-28 22:23] qlzh727 commented on #214
So far all the KPLs are independent and not aware of each other. If there is an API for teh container of all KPLs (eg a preprocessing stage that connect between raw input and model), then we could control the value range conversion logic there.

[2022-03-28 22:28] LukeWood opened #232 "COCO metrics should have native ragged tensor support"

[2022-03-28 22:28] LukeWood commented on #229
Thanks!  Great idea.  Added to the hotlist

[2022-03-28 23:07] qlzh727 opened #233 "All the KerasCV layers should register to tf.keras.utils.register_keras_serializable"
This will allow layers to be serialized and deserialized correctly by keras framework, and enable save model etc.

[2022-03-28 23:07] qlzh727 commented on #233
See https://www.tensorflow.org/api_docs/python/tf/keras/utils/register_keras_serializable for more details.

[2022-03-28 23:25] bhack commented on #214
@qlzh727 It is also that Keras never designed something like (optional) metadata to be passed between layers and that could be ignored other then of course encoding this info directly in an auxiliary output.
Another ugly alternative is that the user could pass an extra parameter to the "last" preprocessing layer to convert back to the original value range so that we will skip useless conversions i

[2022-03-29 00:03] LukeWood commented on #233
would this automatically occur?  Can we make it work in a first party manner where users don't have to provide layer implementations themselves when loading?

[2022-03-29 00:33] qlzh727 commented on #233
It won't happen automatically, usually the layer owner has to register it, otherwise the model loading will fail since it doesn't know what layer to map to when it see the string version of the config.

[2022-03-29 00:33] qlzh727 commented on #233
See #235 and all the related test failures discovered during unit test.

[2022-03-29 04:32] #233 closed

[2022-03-29 09:44] kksinghal commented on #176
Actually, tensorflow schedulers are exactly what we want, so we could these scheduler functions, but the problem is they are accessed by tf.keras.optimizers.schedules, and they are named as learning_rate, and it isn't right to use them, so maybe we can use [this](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/optimizer_v2/learning_rate_schedule.py), and make the neces

[2022-03-29 16:52] qlzh727 commented on #183
Yes, this seems to be a duplicate of #189

[2022-03-29 18:03] #192 closed

[2022-03-29 18:07] #212 closed

[2022-03-30 06:06] #177 closed

[2022-03-30 13:41] quantumalaviya commented on #189
I believe this can be closed now due to #236

[2022-03-30 15:28] sebastian-sz opened #241 "`vectorized_map` causes `tf.function` retracing."
### Problem description
It seems like applying some layers that use `BaseImageAugmentationLayer` and `self.auto_vectorize=True`, over batched input are causing `tf.function` retracing:
[code]
raises
[code]
### Benchmarks
Running simple benchmarks confirms performance degradation with `tf.function` and batched input:
[code]

#### Case 1: auto_vectorize=True

Without `tf.function` 0.067 ms.
With: 0.

[2022-03-30 15:46] bhack opened #242 "Devcontainer"
Can we have a `.devcontainer` like in Keras?

https://github.com/keras-team/keras/tree/master/.devcontainer

[2022-03-30 16:16] bhack commented on #241
I don't think we are going to be impacted by the autovectorizzation/retracing with real use cases:

[code]

See my comments in https://github.com/tensorflow/tensorflow/issues/42441#issuecomment-675654182

[2022-03-30 18:22] LukeWood opened #243 "Look into creating usage metric dashboard"

[2022-03-30 18:27] bhack commented on #243
What is this?

[2022-03-30 18:28] bhack commented on #243
Do you mean something like https://github.com/tensorflow/addons/issues/236?

[2022-03-30 18:52] bhack commented on #165
@qlzh727 What do you think about adding an extra parameter to the base class for `jit_compile`?
https://github.com/keras-team/keras/blob/master/keras/layers/preprocessing/image_preprocessing.py#L413-L414

So that we could optionally use
[code]

[2022-03-30 22:00] #189 closed

[2022-03-31 00:09] LukeWood commented on #243
Just a script that collects metrics like pypi downloads and such every few days on a cron job.  mainly for my own usage

[2022-03-31 00:12] bhack commented on #242
Can you double check this with the internally board before I start?

Honestly I had a not so good experience with another PR in this repo:
https://github.com/keras-team/keras-cv/pull/11#discussion_r747055087
https://github.com/keras-team/keras-cv/pull/14#issuecomment-1016937939

[2022-03-31 00:19] bhack commented on #243
Ah ok, so it is much simpler.

If you could find it useful these are my two boards on keras-cv:
https://cauldron.io/project/5989
https://pypistats.org/packages/keras-cv

[2022-03-31 00:44] bhack commented on #243
If you like badges:
Keras-cv Pipy stats (other configurations/customization at at https://shields.io/category/downloads)

https://img.shields.io/pypi/dm/keras-cv.svg
![image](https://img.shields.io/pypi/dm/keras-cv.svg)

Cauldron
https://cauldron.io/project/5989/stats.svg
![image](https://cauldron.io/project/5989/stats.svg)

[2022-03-31 04:53] LukeWood commented on #242
Understandable and still sorry about that.  Cheers - I will double check tomorrow for you.

Does .devcontainer impact anyone else's workflow or only those who opt in to using them?

[2022-03-31 04:55] LukeWood commented on #243
Thanks for the idea - I added the downloads badge!  Thats really cool!

[2022-03-31 04:56] LukeWood commented on #241
FYI @qlzh727

[2022-03-31 05:59] sebastian-sz commented on #241
@bhack fair point - using Sequential and `.predict` method silences the warnings and unifies inference time to be ~0.024ms regardless of whether `self.auto_vectorize` is True or False.

This is however a bit slower than calling the layer directly with `self.auto_vectorize=False` (0.013ms) or native vectorization (0.0016 ms).

Also, `model.predict` cannot be used inside `tf.data.Dataset` `map` func

[2022-03-31 06:15] sebastian-sz commented on #241
It seems like wrapping the entire layer in `tf.function` (even better if with jit_compile=True) also silences the warnings and provides decent performance in eager mode:
[code]
0.0015ms for `self.auto_vectorize=True`
0.0022ms for `self.auto_vectorize=False`
0.0015ms for native vectorization.

This issue can be closed from my end. If no further comments appear I will close this issue starting next

[2022-03-31 06:20] bhack commented on #241
Generally It Is not the best solution to benchmark in the loop with predict:

https://keras.io/getting_started/faq/#whats-the-difference-between-model-methods-predict-and-call

For controlling the XLA compilation see my prpoposal at:
https://github.com/keras-team/keras-cv/issues/165#issuecomment-1083502165

[2022-03-31 06:37] LukeWood commented on #241
I wonder if we should @tf.function our call methods by default to:

a.) mute warnings
b.) make performance consistent.

[2022-03-31 06:38] LukeWood commented on #165
I personally would support a jit_compile attribute on the BaseImageAugmentationLayer.

so in a constructor you'd do:

jit_compile = True

and it would work pass it to the tf.function wrapping `call`.

[2022-03-31 08:23] sebastian-sz commented on #241
@bhack Running with `2.9.0-dev20220329` gives very similar numbers and retracing persists.

I am however happy with the performance from `tf.function` wrapper.

[2022-03-31 08:51] bhack commented on #241
Vectorized map is going internally to trace the function of we are in the default eager mode but model are by default  tf.function wrapped.

If we want to maintain the critical section eager-compatible we need to automate the conditonal call on standard map_fn in the base class overload we have done (we are in eager mode).

[2022-03-31 09:11] bhack commented on #241
More in general I think that this use of "layer as op" is still a little bit confusing:

https://github.com/keras-team/keras-cv/pull/122#discussion_r803214729

[2022-03-31 17:09] LukeWood commented on #242
Hey @bhack yeah happy to accept this.  Just checked

[2022-03-31 17:11] LukeWood commented on #242
Lets mirror keras-tuner's, but I don't think we want the linter as a pre-commit hook from what we have generally discussed as a team.

So our setup.sh will just have:
[code]

Cheers - if anyone wants to pick this up happy to accept

[2022-03-31 17:34] LukeWood opened #245 "Ensure our bounding box format matches pycocotools'"
https://github.com/keras-team/keras-cv/blob/master/keras_cv/utils/bounding_box.py

FYI @bhack I will be double checking this and get back tp you.

[2022-03-31 18:13] LukeWood commented on #245
So, we took our conversion formulas from model garden.  I think (as you pointed out) this mismatches COCO's format.  I will need to update this.  The format of x and y being in the middle of the box is absolutely NOT canonical to image processing.

[2022-03-31 18:42] #190 closed

[2022-03-31 20:17] LukeWood opened #247 "Update bounding box utilities before v1 to convert from bbox"
We can use the following formats (we can drop albumentations):

We will only support utility, going from any format to corners format.

[2022-03-31 20:17] LukeWood commented on #247
<img width="628" alt="Screen Shot 2022-03-31 at 1 17 50 PM" src="https://user-images.githubusercontent.com/12191303/161142155-d8eb60b9-589d-479c-9219-52eb04da64d3.png">

[2022-03-31 20:59] LukeWood opened #248 "`value_range` must be required, not optional for all KPLs that use it."

[2022-04-01 06:37] innat commented on #248
why? can you explain more?

[2022-04-01 06:49] innat commented on #214
The input image for KPL should be in the range of `[0, 255]` by default, right? Why do we need a [values range](https://github.com/keras-team/keras-cv/pull/249) then?

[2022-04-01 08:39] innat opened #250 "Mosaic Augmentation for Object Detection"
Mosaic augmentation for object detection is used in Yolo-V4 literature, [FR](https://github.com/keras-team/keras-cv/issues/21). I'm not sure if it's used for classification tasks there. I was wondering if it's possible to do so for the image classification task.  Here are two issues:

 - **References. Not sure if it's ever used for classification only in any literature.**
 - **Creation of class la

[2022-04-01 10:50] artu1999 opened #252 "Utility function for efficient image pools"
See

- https://arxiv.org/pdf/1612.07828.pdf
- https://arxiv.org/pdf/1703.10593.pdf

Image pools are used often in adversarial training to provide the discriminator with some memory about what he got wrong/right before. Having an efficient implementation of this will be very useful as it can be quite a big memory bottleneck during training, especially when using accelerators.

[2022-04-01 14:32] innat opened #254 "Add FMix preprocessing layer"
Paper: [FMix: Enhancing Mixed Sample Data Augmentation](https://arxiv.org/abs/2002.12047)
Code: https://github.com/ecs-vlc/FMix

(both tensorflow and pytorch implementation are provided).

![fmix_example](https://user-images.githubusercontent.com/17668390/161284341-7bfb24fb-330a-4c6c-83d5-efcf0de20414.png)

![fmix_3d](https://user-images.githubusercontent.com/17668390/161284368-99d99bf1-6e7c-4d91-

[2022-04-01 16:40] LukeWood commented on #214
We want to avoid the possibility of silent failures.  Consider you have a data preprocessing pipeline with values [0, 1] - quite common after Rescaling.  If you passed this and didn't know about value_range, RandAugment would output gibberish

[2022-04-01 17:01] LukeWood commented on #254
That looks pretty cool.  So it is like CutMix but with much more organic looking shapes?

[2022-04-01 17:04] #187 closed

[2022-04-01 17:06] innat commented on #254
yes, it's just a variant of cutmix/mixup. It uses masks sampled from Fourier space to mix training examples.

[2022-04-01 17:48] LukeWood commented on #254
Thats so cool.  @innat would you like to contribute this or should I find a contributor?  I have someone in mind that might be a great match for this if you aren't hoping to add it.

cheers

[2022-04-01 18:12] LukeWood commented on #248
We want to avoid the possibility of silent failures. Consider you have a data preprocessing pipeline with values [0, 1] - quite common after Rescaling. If you passed this and didn't know about value_range, RandAugment would output gibberish

[2022-04-01 18:21] kartik4949 commented on #248
I can second this @LukeWood, silent errors are really tough to debug, really gives a bad impression on lib

[2022-04-01 18:26] kartik4949 commented on #250
this definitely useful layer

[2022-04-01 19:18] innat commented on #254
@LukeWood I would love to. But I'm busy with some other essentials. Please find some contributors.

[2022-04-01 19:20] innat commented on #248
@LukeWood yes, this makes sense. Thanks.

[2022-04-01 21:34] LukeWood opened #255 "Equalization should support a dynamic # of channels"
we shouldn't have to tell the layer this before hand.

[2022-04-02 03:59] LukeWood opened #256 "Update all KPLs to support `seed`"
We also need to update docstrings to support stateless_uniform

[2022-04-02 04:02] LukeWood commented on #256
FYI @qlzh727 we'll need to do this

[2022-04-02 05:47] LukeWood opened #257 "Unit test RandomHue with different value ranges"
We should ensure tf.image op works alright on images in [0, 255] with float32 input.

[2022-04-02 05:52] LukeWood opened #258 "Migrate to random.stateless_* api"
https://www.tensorflow.org/api_docs/python/tf/random/stateless_normal

[2022-04-02 05:52] LukeWood commented on #258
Bad news - this is non trivial. seeds require 2 numbers for the stateless_uniform API. This leaves us with inconsistent random seed behavior - some layes require 1 int as a seed, some two.

[2022-04-02 06:26] sebastian-sz commented on #258
@LukeWood regarding reproducible results across invocations - I'm wondering if `tf.random.Generator` class isn't good enough for this.
https://www.tensorflow.org/guide/random_numbers#the_tfrandomgenerator_class

This would also be consistent with seed as a single integer. Although I'm not quite sure about the exact differences between stateless ops and Generator.

[2022-04-02 08:49] sebastian-sz commented on #130
@sayakpaul sounds right. So, from what I understand
*  `DropPath` is a modification of `StochasticDepth` used in EfficientNet.
* Original `StochasticDepth` operates on batches, while `DropPath` operates on samples.
* `DropPath` introduces some additional operations (`tf.div`) in train time to simplifly the layer during test time.

Unless I misunderstood something. This comment explains it in more

[2022-04-02 09:07] sayakpaul commented on #130
Sounds right except this:

I didn't fully understand it.

[2022-04-02 09:18] sebastian-sz commented on #130
In the original `StochasticDepth` implementation the values had to be rescaled during test time. `DropPath` introduced some modifications so that it's no longer needed.

I think this comment by the authors explains it better:
https://github.com/tensorflow/tpu/blob/cd433314cc6f38c10a23f1d607a35ba422c8f967/models/official/efficientnet/utils.py#L157

[2022-04-02 09:31] sayakpaul commented on #130
Thanks!

[2022-04-02 10:07] quantumalaviya commented on #255
@LukeWood Isn't this covered as part of #201?  Or am I missing something?

[2022-04-02 14:36] innat opened #259 "LookupError: gradient registry has no entry for RandomShuffle"
## ChannelShuffle

[Issue: Details](https://github.com/keras-team/keras-cv/pull/218#discussion_r840739049).

[2022-04-02 19:05] LukeWood opened #260 "Mosaic augmentation"

[2022-04-02 19:05] LukeWood opened #261 "Bounding box support in MixUp augmentation"

[2022-04-02 19:06] LukeWood commented on #259
We should fix this by implementing a custom shuffle operation using get random transformation and gather

[2022-04-02 19:11] LukeWood commented on #258
I think @qlzh727 has a lot of context on this issue.  you input here would be appreciated - thanks!

[2022-04-02 19:51] innat commented on #259
Is such error espected? Why does it cause in the first place?

[2022-04-02 21:52] LukeWood commented on #261
this is used in YoloX training.

[2022-04-02 21:52] LukeWood commented on #260
used in yolox training.

[2022-04-02 21:53] LukeWood commented on #259
looks like TensorFlow doesn't differentiate over the random_shuffle operation.

[2022-04-02 22:12] LukeWood commented on #255
Ah awesome.  Looks like you’re right.  I just opened this when experimenting with the later a bit and encountering this with a grayscale image.

[2022-04-02 22:13] LukeWood commented on #255
Sorry that or slippedn

[2022-04-02 22:13] #255 closed

[2022-04-03 17:18] LukeWood commented on #241
I don’t want to close it yet because I feel we can need to figure out how to effectively communicate this recommendation to users 🤔

[2022-04-03 17:19] LukeWood commented on #241
We could also @tf.function the base layers call method if needed.  Or the augment batch method

[2022-04-03 19:07] artu1999 commented on #135
Is anyone working on this? Happy to take on it.

[2022-04-03 19:11] innat commented on #135
@artu1999 don't worry, just send the PR.

[2022-04-03 19:12] bhack commented on #241
It really depends.. do you want to silently be in graph mode with some functions?

As the end user/developer doesn't control the vectorization in the API it is something that you are going to do behind the scene without any notification.

At least `model.compile` still give the control  to the end user for both eager and jit_compile (XLA) with its own args:

[code]

[2022-04-04 11:19] innat commented on #259
I will raise an issue in tensorflow to get a more concrete reason.

Agree. But as the tensorflow is the backend of keras, it should be ok to use the existing operation from tensorflow. It's not violating any idiomatic rules (IMO).

[2022-04-04 11:53] bhack commented on #259
@innat Other in the case you have mentioned where it was working without problema have you tried to see the effect on the device placement with:

https://www.tensorflow.org/api_docs/python/tf/debugging/set_log_device_placement

[2022-04-04 12:28] bhack commented on #242
Do we want to depend on latest or nightly Tensorflow images?

https://github.com/keras-team/keras-tuner/blob/master/.devcontainer/Dockerfile#L1

See also out thread at:
https://github.com/keras-team/keras-cv/issues/195#issue-1177283651

[2022-04-04 12:45] innat commented on #259
@bhack no, I didn't use any `tf.debugging.*`, thanks for bringing it up. I will surely try next.

[2022-04-04 12:59] innat commented on #260
@LukeWood It's as first used or introduced in the yolo-v4 paper.

I've already made a post regarding the opportunity to have both [Object Detection](https://github.com/keras-team/keras-cv/issues/21) and the [Classification task](https://github.com/keras-team/keras-cv/issues/250). Is there any reason why you've opened a new one? Otherwise, it can be closed.

[2022-04-04 13:53] bhack commented on #259
Yes as I have some doubt also when it Is working if we are implcitly creating some constrain to be placed on CPU

[2022-04-04 16:30] innat commented on #259
@bhack
Okay, I test with `tf.debugging.set_log_device_placement` to check the placement of tf operation on devices in the backend. Shortly, I didn't find any suspicious behavior.  Here is the model

[code]

**Note:**

In the above model, there are 3 channel shuffling layers. The first one is right after the input. And the rest of them are in the middle.

- But. When I checked `ChannelShuffle` with

[2022-04-04 16:48] bhack commented on #259
I don't know if I've checked correctly but it seems that on GPU is always failing with:

`UnimplementedError: Graph execution error:`

With a CPU runtime is always ok.

I suppose that we don't have a random_shuffle GPU kernel.

[2022-04-04 17:15] innat commented on #259
Yes, if you use `tf-nightly` (version: `2.10.0-dev20220404`), it will give that error:`UnimplementedError: Graph execution error:`

But if we try the stable tf version (2.8), it works at least for the first channel shuffle of the above-mentioned model. You can verify this by running the above colab file.

[2022-04-04 17:45] qlzh727 commented on #258
The BaseImageAugmentationLayer has a `_random_generator` which will handle this under the hood. User just need to call `_random_generator. random_normal/uniform()` etc.

[2022-04-04 17:54] qlzh727 commented on #256
Ack. We already have that in the BaseImageAugmentLayer, and we should make sure all the subclass layer have that in the __init__().

[2022-04-04 20:52] LukeWood commented on #258
How should we handle this for the `FactorSampler` class?  Should we export `_random_generator` under `__internal__ for now?

[2022-04-04 20:53] LukeWood commented on #259
Is this still an issue?  I think we need to implement a custom random shuffle.  ShuffleNet is a legitimate use case.

[2022-04-04 20:53] LukeWood commented on #260
ah - can close this.

[2022-04-04 20:53] #260 closed

[2022-04-04 20:53] LukeWood commented on #242
we can use nightly for now, until the next tensorflow version comes out which will have BaseImageAugmentationLayer in the keras namespace.

[2022-04-04 20:55] bhack commented on #242
Do you have a minimal date for nightly?

[2022-04-04 21:04] bhack commented on #259
Other then opening a Ticket on Github for the GPU case can we check if we could workaround it with:

https://www.tensorflow.org/api_docs/python/tf/random/experimental/index_shuffle

[2022-04-04 21:40] LukeWood opened #264 "Mute warning messages on vectorized_map"

[2022-04-04 22:26] LukeWood opened #265 "Optimize RandAugment performance"
currently, it is incredibly slow.  This is not ideal.  I will need to benchmark and figure out how to optimize this layer.

[2022-04-04 22:39] LukeWood commented on #242
minimal in what sense?  A date when we can move to normal tf?  I believe this can be done the release after 2.9, so 2.10.  after 2.9 lands we can try changing the dependency to `tensorflow` from `tf-nightly` and see if it works.

[2022-04-04 22:45] LukeWood commented on #265
Nevermind, I wasn't using a GPU in my training pipeline.  Silly mistake.  closing

[2022-04-04 22:45] #265 closed

[2022-04-04 23:09] qlzh727 commented on #258
Humm, we might consider making the backend.RandomGenerator to be an internal API, but it might have some updates soon (I am fixing some stateless RNG bug), so the API interface might change. For now, we might want to put a TODO for using stateless RNG.

[2022-04-05 01:53] bhack commented on #222
After fixing bbox format conversion we could achieve this partially- Please check https://github.com/keras-team/keras-cv/pull/246#discussion_r842005074

[2022-04-05 02:20] LukeWood commented on #222
it goes down to 0.04~ approximately. One of the cases has a very high error margin, the rest around around 0.02.  Quite strange.

[2022-04-05 03:15] bhack commented on #222
What I mean is that we have two delta entries.

For a single test file it is solved as we could go 10x lower

[2022-04-05 05:33] #242 closed

[2022-04-05 11:22] kartik4949 commented on #264
[code]

@bhack @LukeWood
idk if it will works...

[2022-04-05 17:18] bhack commented on #222
@LukeWood Are bbox sorted before max_detections filtering?
https://github.com/keras-team/keras-cv/blob/0131d55c1a77460ecde1ebc2602f915acf62f450/keras_cv/metrics/coco/recall.py#L143-L167

[2022-04-05 18:11] LukeWood commented on #264
Ideally the TensorFlow side will mute it because some of these should not really be warnings, but yes we might have to do a hack like above.  This isn't blocking for v1 though so we can take time to figure it out.

[2022-04-05 18:34] LukeWood commented on #222
Wait a minute - it looks like no sorting is going on there anymore at all in recall!  with max_detections we SHOULD be sorting on.  Seems like a mistake on my end!

[2022-04-05 18:38] LukeWood commented on #210
added a test case to cover this.

[2022-04-05 18:38] #210 closed

[2022-04-05 18:50] #248 closed

[2022-04-05 18:50] LukeWood commented on #247
Done.

[2022-04-05 18:50] #247 closed

[2022-04-05 21:29] LukeWood opened #270 "Update `Solarize` to support factors for use in `add` and `threshold`"

[2022-04-06 00:32] LukeWood opened #272 "Ensure all layer constructors support **kwargs"

[2022-04-06 12:50] bhack commented on #241
/cc @mdanatg
I suppose that the situation isn't evolved since Oct 2020 https://github.com/tensorflow/tensorflow/issues/43710#issuecomment-702430322. What do you think?

[2022-04-06 13:45] bhack commented on #259
@innat Have you tried with `index_shuffle`?.
Other then the GPU issue we are going in fallback just for this op also on CPU:

[code]

[2022-04-06 14:01] mdanatg commented on #241
I think we now have better mechanisms to protect against excessive retracing. Is the error coming from a standard Keras layer, or is it a custom one?

[2022-04-06 15:40] innat commented on #259
@bhack not yet.
Anyway, just wondering, both functions not only derive from `tf.random.*` but also serve samething in nature`, will there be any differences?

[2022-04-06 15:47] bhack commented on #259
What I see from the doc is that this one has an explicit claim:

[2022-04-06 17:52] bhack commented on #241
As we don't have an object with `tf.vectorized_map` it is hard to not retrace the function.

So I still believe that is better to automatically call `map_fn` in eager mode and `tf.vectorized_map` in graph mode.

[2022-04-06 19:16] #202 closed

[2022-04-06 19:37] bhack commented on #264
I hope at least we don't mute this when we are in "development mode" as it is important  to know when we rely on fallback also with new KPL.

[2022-04-06 19:45] bhack commented on #241
Cause when the graph creation it is done implicitly by API design like in `tf.data` it is documented explicitely:

https://www.tensorflow.org/api_docs/python/tf/data/Dataset?hl=en#map

Note that irrespective of the context in which map_func is defined (eager vs. graph), tf.data traces the function and executes it as a graph. To use Python code inside of the function you have a few options:

[2022-04-06 20:32] #257 closed

[2022-04-06 20:33] LukeWood commented on #258
This is probably easier to just do when we move FactorSampler to core.  @fchollet and I discussed moving it to core keras, but after v1 so we can test out the API a bit more before moving to core Keras.  So this can remain a TODO.

[2022-04-06 20:58] #270 closed

[2022-04-06 21:10] LukeWood commented on #264
Good point - yeah, I think the true issue is we don't want users thinking the code is bugged if the warning is a no-op.

[2022-04-06 21:22] qlzh727 commented on #258
I think we can leave this one out for the v0.1 release.

[2022-04-06 23:11] #256 closed

[2022-04-07 06:26] innat commented on #259
With `tf.random.shuffle`, if we use `tf.stop_gradient` it works in most cases ( with some frightening warning message. )

[2022-04-07 09:02] bhack commented on #259
I suppose we still have a fallback:

`WARNING:tensorflow: Using a while_loop for converting RandomShuffle cause has no variant outputs and has no vectorized variant inputs`

[2022-04-07 13:08] innat opened #278 "SHAP - viz tools"
**SHAP** (SHapley Additive exPlanations) is a game-theoretic approach to explaining the output of any machine learning model. It connects optimal credit allocation with local explanations using the classic Shapley values from game theory and their related extensions

Code: https://github.com/slundberg/shap

demo o/p

<img width="536" alt="gradient_imagenet_plot" src="https://user-images.githubuser

[2022-04-07 14:13] bhack commented on #258
We need to check also other random operations that we have introduced in the library like `random_shuffle`.
See more at https://github.com/keras-team/keras-cv/issues/259#issuecomment-1090425529

[2022-04-07 17:52] LukeWood commented on #134
It should still be compatible with CutMix if we just set num_cutouts in fill_rectanges=1, right?  We will have to make a change to both in the PR though.  Thanks!

[2022-04-07 18:12] LukeWood commented on #278
This is a great idea!  I really like the feature request!  Thanks @innat .  Perhaps one of our GSOC-ers will be able to tackle this.

[2022-04-07 18:26] LukeWood commented on #172
I think @qlzh727 and I have decided to move forward with `corners` format as the default.  This is XYWH with true pixel values.

If there is a strong reason to deviate, please let us know and we can reconsider.

[2022-04-07 18:34] quantumalaviya commented on #261
I would love to work on this.

[2022-04-07 18:42] LukeWood commented on #261
Thanks!  @quantumalaviya I have made you the assignee.  Please include references regarding the "how" as to how this works as we discussed via LinkedIn messenger. Cheers!

[2022-04-07 18:47] parikshit14 commented on #134
yes @LukeWood , already did the num_cutouts=1 for **cut_mix** in PR #217

[2022-04-07 21:44] LukeWood opened #279 "Change all __call__ arguments using tf.float32 as a default to the string "float32""

[2022-04-08 02:04] leondgarse commented on #172
Ya, it's good for me. Will close this issue then.

[2022-04-08 02:04] #172 closed

[2022-04-08 06:22] LukeWood commented on #179
Sorry, just saw this message.  I think the project is too ambiguous and the timeline too long to hold off on v1.  Hopefully we can get it implemented soon.

[2022-04-08 13:14] arviinnd-5989 commented on #278
Hi Luke
Good morning!

I saw two ideas from @innat with respect to explainable AI (CV and NLP). Can I take up this work as part of the GSOC proposal?
I am a Masters graduate and I am working as an AI/ML R&D Engineer in the CV / NLP area.

Thanks
Arvind

[2022-04-08 14:41] quantumalaviya commented on #261
Will do.
Also, the MixUp demo doesn't seem to be working since the migration to BaseImageAugmentationLayer. Should I also fix that in this PR? @LukeWood

[2022-04-08 18:37] quantumalaviya commented on #261
Went ahead and did it anyway

[2022-04-08 18:39] bhack commented on #74
/cc @seanpmorgan @yarri-oss

[2022-04-08 18:49] LukeWood opened #283 "GridMask default arguments are too aggressive"
the default settings can cover the entire image.

[2022-04-08 18:51] LukeWood opened #284 "GridMask ratio should support the `Factor` API."

[2022-04-08 18:52] LukeWood opened #285 "GridMask ratio argument should be inverted"
high ratios should indicate a large gridmask, small a small gridmask.

[2022-04-08 19:11] LukeWood opened #286 "Equalization is the slowest layer."
Noticeably so when running pytest .

We should look into this.  not blocking of v1, but it is noteworthy.

[2022-04-08 19:50] bhack commented on #286
I suppose problem is always the same. A critical op like  [`tensorflow::ops::HistogramFixedWidth`](https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/histogram-fixed-width)  is not supported for autovectorization in `PFOR`/`tf.vectorized_map`

When the fallback is disable we have
`ValueError: No pfor vectorization defined for HistogramFixedWidth`

Also eventually XLA/jit compilation will

[2022-04-08 20:55] LukeWood opened #288 "Unit test weird numbers of channels in all augmentation layers"
this is required for medical imaging software

[2022-04-08 21:01] LukeWood opened #289 "TripletLoss"

[2022-04-08 21:21] bhack commented on #289
https://github.com/tensorflow/addons/blob/master/tensorflow_addons/losses/triplet.py

/cc @seanpmorgan @yarri-oss

[2022-04-09 01:31] bhack commented on #286
For XLA:
"Only non-nested TensorList is supported for TensorListReserve."

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/tf2xla/kernels/tensor_list_ops.cc#L139-L144

[2022-04-09 01:47] LukeWood commented on #74
Is there any reason to leave this open @bhack ?  I’d like to begin triaging issues and closing more thoroughly.  Feel free to reopen inquiries about specific components.

[2022-04-09 02:09] bhack commented on #74
If you close this one that it is general enough then I need to post to every specific ticket or PR that is going to create any sort of potential duplication with Addons like https://github.com/keras-team/keras-cv/issues/289.

I honestly avoided doing this on every single ticket in these months cause I was thinking that we could sit down and calmly assess the situation as we have already "duplicate

[2022-04-09 02:48] LukeWood commented on #74
Okay, we can reopen this then and discuss.

[2022-04-09 03:27] #29 closed

[2022-04-09 03:29] LukeWood commented on #109
Obselete by new issue

[2022-04-09 03:29] #109 closed

[2022-04-09 03:29] LukeWood commented on #54
not possibly for now

[2022-04-09 03:29] #54 closed

[2022-04-09 03:30] #53 closed

[2022-04-09 03:30] #223 closed

[2022-04-09 03:32] LukeWood commented on #214
RandAugment now does this

[2022-04-09 03:32] #214 closed

[2022-04-09 14:34] innat commented on #259
@bhack I tried `index_shuffle`, and it works. But same as `tf.random.shuffle`, it also gives

( Unlike `tf.random.shuffle`, I didn't need to stop gradient flow. )

[2022-04-09 14:42] innat commented on #259
[Code.](https://colab.research.google.com/drive/1VMWgBF49_G_5QIbcMmTo7KOmDGsbpXdo?usp=sharing)

[2022-04-09 14:42] bhack commented on #259
Thanks for testing.

This is the new message that I've added in Tensorflow master on why an specific op has fallback in a while loop.
It is not so useful for an external developer for the action item/workaround and we are trying to collect feedback at https://github.com/tensorflow/tensorflow/issues/55425

This is a marginal problem also with `tf.random.shuffle` if/when https://github.com/tensorflo

[2022-04-09 16:39] bhack commented on #259
@innat What I have seen is that many ops are failing cause they don't have their stateless property `is_stateful: true` defined in the protobuf.

I don't know for `tf.random.shuffle` but for `index_shuffle` it was explicitly declared stateless in the docstring (but not in protobuf) so it is quite strange:

Protobufs are in:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/core/ops/c

[2022-04-09 23:21] bhack commented on #259
@innat So a small update to confirm the hypothesis.

`RandomShuffle` is stateful:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/compat/ops_history_v2/RandomShuffle.pbtxt#L29

`tf.random.experimental.index_shuffle` instead is stateless.

Like other ops that we have used in ChannelShuffle (and more in general in other KPLs) is going to fallback cause [we don't have  implem

[2022-04-10 00:26] bhack commented on #264
We have already a bool param in TF but it is not exposed in the public API:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/parallel_for/pfor.py#L1080

[2022-04-10 00:31] bhack commented on #264
You could try to comment and ask to expose that arg in https://github.com/tensorflow/tensorflow/pull/55562

[2022-04-10 09:20] pranavjadhav001 opened #290 "Support for Augmentation for Object Detection pipeline"
### Discussed in https://github.com/keras-team/keras-cv/discussions/277

<div type='discussions-op-text'>

<sup>Originally posted by **pranavjadhav001** April  7, 2022</sup>
Going through the repo, I saw mostly image preprocessing and augmentation layers which allows only image transformations. Is there any scope for augmentation transformation of image and bbox for object detection like albumenta

[2022-04-10 09:20] pranavjadhav001 commented on #290
Would love to Contribute to this.

[2022-04-10 12:55] innat commented on #290
@pranavjadhav001
As mentioned, including object detection, instance or semantic segmentation are on the to-do list.  You can start from [THIS](https://github.com/keras-team/keras/blob/dd0f1f480613ceffd994658e5632d54c660d1e73/keras/layers/preprocessing/image_preprocessing.py#L213) class. Here you will find [augment_bounding_box](https://github.com/keras-team/keras/blob/dd0f1f480613ceffd994658e5632d

[2022-04-10 13:13] bhack opened #291 "vectorize KPLS: `tf.vectorized_map` fallback cause"
This is the current list of fallback we have on master with the related cause for our KPLs ~(it needs tensorflow/tensorflow#55562 or tf-nightly when merged)~:

`pytest -rP keras_cv/layers/preprocessing/ | grep while_loop | sort | uniq`

[code]

You can find exactly which test is involed running:
`pytest -rP keras_cv/layers/preprocessing/`

Some of these could be fixed with a refactor in our code,

[2022-04-10 13:58] bhack commented on #291
/cc @wangpengmit @rohan100jain

[2022-04-10 18:44] kartik4949 commented on #288
@LukeWood I would second this,  nifti and dicom, I'm have worked on these medical image format, and they can have
(h, w, n_slice, time_frame)
format :)

[2022-04-11 14:23] bhack commented on #258
Just a reminder:
Currently all the currenty `tf.vectorized_map` convereters for `random.stateless_*` are going to fallback:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/parallel_for/pfor.py#L3372-L3389

[2022-04-11 14:25] bhack commented on #291
Just for reference I copy-paste the current Pfor heuristic:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/parallel_for/pfor.py#L3372-L3389

[code]

[2022-04-11 15:43] bhack commented on #291
I want to add an example picking the first fallback in the list that has already a registered converter:

[code]

This is the converter:

[code]

So we cannot supersed the limit of the original design of `tf.image.adjust_hue` where it is already vectorized on the batch dimension but not on the `delta` arg as it is just float value:

[code]

IMHO this is going to point again [to the original topic]

[2022-04-11 17:45] #261 closed

[2022-04-11 17:48] LukeWood commented on #290
Thanks for your interest in a contribution!  @pranavjadhav001 feel free to open PRs to add an augment_bounding_box to the image augmentation layers.  Please do so one at a time!  @innat posted some great links.

Thanks for opening this, I will open more specific issues.

Cheers!

[2022-04-11 17:48] #290 closed

[2022-04-11 18:24] LukeWood commented on #35
This is now available for MixUp, need CutMix still

[2022-04-11 18:25] LukeWood commented on #41
this should probably use RandomAugmentationPipeline.

[2022-04-11 18:25] LukeWood commented on #48
Done~!

[2022-04-11 18:25] #48 closed

[2022-04-11 18:25] #60 closed

[2022-04-11 18:25] #62 closed

[2022-04-11 18:25] #64 closed

[2022-04-11 18:25] #71 closed

[2022-04-11 18:26] LukeWood commented on #78
Sorry all - this is not open for contributions as there is some nuance as to how this will be done.  Hope everyone understands!

[2022-04-11 18:28] LukeWood commented on #174
We now have specific issues for these.  Thanks @innat !

[2022-04-11 18:28] #174 closed

[2022-04-11 18:29] bhack commented on #222
@LukeWood Do you have another ticket?

[2022-04-11 18:29] LukeWood commented on #170
I think this is currently out of scope, but if some models don't work for tf lite we can look into making them work.  For now trying to avoid over specific issues to keep the repo clean.  Thanks!

[2022-04-11 18:29] #170 closed

[2022-04-11 18:36] bhack commented on #165
We need to care about massively closing bug a we lost interesting threads. This is now at https://github.com/keras-team/keras/issues/16403

[2022-04-11 18:36] bhack commented on #71
Why we are closing this?

[2022-04-11 18:45] bhack commented on #222
I suggest you to reopen this or create a new ticket to not waste the time we spent in debugging this. Thanks

[2022-04-11 19:04] LukeWood commented on #165
This is a distinct issue.  I do not think benchmarks do not need this as the benchmarks existed to guide our direction.

you are right, BaseImageAugmentationLayer should support jit_compile, but the benchmarks do not need this so I closed this issue.

Closing bug is part of maintaining a clean project state.

[2022-04-11 19:05] LukeWood commented on #71
Project direction has continued to evolve, and while this is still something we will do, this bug is not actionable at this time.

[2022-04-11 19:05] LukeWood commented on #222
we determined that the original implementation may not be correct in the first place, and that this

[2022-04-11 19:07] bhack commented on #165
Yes but if there are still interesting parts emerged in the thread you need to spinoff that part on a new ticket or it will be lost forever.

[2022-04-11 19:11] bhack commented on #222
Yes, but this seems like a bug to me, not a different interpretation (as it was a bug the wrong bbox format interpretation).
Other then these If we care about the reproducibility of a training process with respect to papers, we must keep the error low enough even supporting a possible wrong "reference version" that is used to write results tables in the papers.

[2022-04-11 19:14] bhack commented on #71
Ok please put a short sentence when you are closing a ticket if it is not super trivial to understand why we are closing it without participating to the internal meetings.  So that we could keep the "external" community on the same page. Thanks

[2022-04-11 19:43] LukeWood opened #292 "RandAugment correctness check"
"In RandAugment we don't touch random flip, pad and crop, and cutout"

These are applied before RandAugment so they are always selected (or selected indifferently from RandAugment).  Order can matter.

In the experiment, they perform RandAugment, THEN flip, then CutOut.

[2022-04-11 19:44] LukeWood commented on #292
Can check the correct list of layers in the paper itself.

[2022-04-11 19:49] LukeWood commented on #292
Apply flip and pad and crop.  For CIFAR10 you add 4 pixels.  For the general case, (imagenet) you do resize then crop.

[2022-04-11 19:51] LukeWood commented on #292
Imagenet resizing can make a difference.  Cloud TPU has a correct implementation of ImageNet preprocessing & RandAugment.

[2022-04-11 20:44] #117 closed

[2022-04-11 21:00] LukeWood commented on #288
This can be based on `with_labels_test.py`

[2022-04-11 21:18] LukeWood opened #293 "Robustness evaluation [API]"

[2022-04-11 21:18] bhack commented on #293
What is this?

[2022-04-12 00:01] LukeWood commented on #293
Sorry this should not have had the contribution welcome label.  I will post a more thorough explanation when it is ready.  I try to use GitHub for all things KerasCV - this includes notekeeping.

[2022-04-12 00:07] LukeWood commented on #261
Oh thank you.  Sorry for not seeing this.

[2022-04-12 00:10] LukeWood commented on #278
@arviinnd-5989 thank you for your interest in the program and a brief explanation of your history.  This year the program is really competitive and we have a lot of wonderful applications.  I say this not to discourage you, but to explain why I cannot give any definitive answer.  Please still submit your application, and if you have time please contribute some PRs to the repository in the meantime

[2022-04-12 00:18] LukeWood commented on #28
Sure thing

[2022-04-12 03:56] arviinnd-5989 commented on #278
Noted with thanks @LukeWood. I will do the needful!

[2022-04-12 05:04] innat opened #295 "How to enable bounding box argument for `keras.layers.Random*`"
This includes:

[code]

[2022-04-12 06:03] LukeWood commented on #295
These will be nontrivial:

- RandomFlip: flip the bounding box over the axis it is flipped
- RandomCrop: shift the bounding box offsets to match the cropped result
- RandomTranslation: translate bounding box the same amount as image
- RandomRotation: convert bounding box to segmentation map, rotate segmentation map same amount as image, convert back to bounding box?  Maybe we can come up with a be

[2022-04-12 15:58] quantumalaviya commented on #254
I can work on this @LukeWood

[2022-04-12 16:31] innat opened #296 "DICE loss"
It is one of the most used loss functions in semantic segmentation tasks. Unfortunately still not available in `keras.loss.*`.  It has been asked many times, [#3611](https://github.com/keras-team/keras/issues/3611), [#13085](https://github.com/keras-team/keras/issues/13085), [#9395](https://github.com/keras-team/keras/issues/9395), [#10890](https://github.com/keras-team/keras/issues/10890).

(Not

[2022-04-12 16:33] bhack commented on #296
https://github.com/tensorflow/addons/pull/2558#issuecomment-941220370

[2022-04-12 16:34] innat opened #341 "Jaccard loss"
Another useful loss function for semantic segmentation tasks. It was available in [keras-contrib](https://github.com/keras-team/keras-contrib), [losses/jaccard.py](https://github.com/keras-team/keras-contrib/tree/master/keras_contrib/losses)

[2022-04-12 16:38] innat commented on #296
Okayyy, someone pushed. I think this function should be available here. It's widely used.
cc. @gamenerd457

[2022-04-12 17:49] LukeWood commented on #293
Basically @bhack the goal of this is to go from model  and dataset -> a table telling you how robust your model is to various perturbations including blurs/gradient attacks/etc

[2022-04-12 17:53] bhack commented on #293
Are these a sort of ablation studies?
Do you want to use KLPs on the test set as a sort of adversarial?

[2022-04-12 17:58] bhack commented on #293
Or something more complete like:

https://github.com/Trusted-AI/adversarial-robustness-toolbox

[2022-04-12 18:36] #284 closed

[2022-04-12 18:38] LukeWood opened #298 "Write guide on using COCO metrics"
I've already done this, but need to make it external friendly/ready.

[2022-04-12 18:39] LukeWood opened #299 "Write guide on using KerasCV KPLs"
https://github.com/keras-team/keras-io/pull/851

[2022-04-12 19:20] LukeWood opened #300 "Implement visualize bounding box method"
https://github.com/keras-team/keras-cv/pull/220

[2022-04-12 19:24] LukeWood opened #301 "RandomFlip bounding box support"

[2022-04-12 19:24] LukeWood opened #302 "RandomCrop bounding box support"

[2022-04-12 19:24] LukeWood opened #303 "RandomTranslation bounding box support"

[2022-04-12 19:25] LukeWood opened #304 "RandomRotation bounding box support"

[2022-04-12 19:25] LukeWood opened #305 "RandomZoom bounding box support"

[2022-04-12 19:26] LukeWood opened #306 "RandomWidth bounding box support"

[2022-04-12 19:27] LukeWood opened #307 "RandomHeight bounding box support"

[2022-04-12 19:27] LukeWood opened #308 "RandomShear bounding box support"

[2022-04-12 19:27] LukeWood opened #309 "Write keras-io guide on augmenting bounding box datasets with KerasCV"

[2022-04-12 19:40] LukeWood commented on #279
Easy starter issue if anyone wants to familiarize themself with the KerasCV contribution process.

@winstoncooke maybe

[2022-04-12 19:41] kartik4949 commented on #300
@LukeWood
wrapper around https://www.tensorflow.org/api_docs/python/tf/image/draw_bounding_boxes ?

[2022-04-12 20:00] LukeWood commented on #300
Oh very nice, maybe we can just rely on this function instead.  FYI @divyashreepathihalli

[2022-04-12 20:05] LukeWood commented on #254
Awesome, feel free to begin a PR and send for review when needed.

[2022-04-13 00:41] LukeWood opened #310 "Apply @tf.function to the __call__ method of RandAugment"

[2022-04-13 09:40] gamenerd457 commented on #296
Interested

[2022-04-13 11:52] innat commented on #40
cc. @AakashKumarNain
[Ref.](https://github.com/AakashKumarNain/AugMix_TF2)

[2022-04-13 12:16] bhack commented on #310
Probably it is better to have some interface to control `@tf.function` in the base class: https://github.com/keras-team/keras-cv/blob/master/keras_cv/layers/preprocessing/random_augmentation_pipeline.py

So that we could conditionally control also the pipeline compilation similar to https://github.com/keras-team/keras/issues/16403

[2022-04-13 12:53] Tony363 commented on #308
Would this feature hope to augment videos as a data point as well? I see no description provided?

[2022-04-13 15:54] bhack commented on #291
As `tf.image.*` is also currently [MIA/orphan](https://github.com/keras-team/keras-cv/issues/74#issuecomment-1035597742) I don't think that we could extend the API and kernel non scalar support of `delta`, `scale` etc.. params

[2022-04-13 15:57] bhack commented on #296
@LukeWood If you want this please assign it to @gamenerd457 to port his PR here.

[2022-04-13 16:28] Tony363 opened #311 "Video Data augmentation & Preprocessing Pipelines - Augmentations"
**A. Robust, portable, and simple Video Augmentation wrapper**
1. Collect, document, and find known Video augmentation libraries
2. Design Keras Video Augmentation Wrapper API
3. Construct bare-bones objects and methods with ease of use in mind
4. Refactor code for flexible user input “augmentors” to wrapper
5. Testing, Documenting, confirming the robustness of wrapper
[Proposal link:](https://doc

[2022-04-13 16:31] Tony363 opened #312 "Video Data augmentation & Preprocessing Pipelines - Feature Engineering"
**B. Video Data Preprocessing Pipelines**

1. Identify key components of pipelines concerning Video as a data point
2. Properly structure a Video loading object that can utilize GPU memory
3. Enable basic Exploratory Data analysis methods for videos embeddings or tensors
4. Video data point visualization
    - How to appropriately visualize videos or the embeddings?
    - Model Error Analysis aids

[2022-04-13 16:33] Tony363 opened #313 "KerasCV Video Data augmentation & Preprocessing Pipelines"
**Serialize and compress wrapper and pipeline APIs for GPU optimizations**

1. Consider the free Google Colabotory environment, its specs and resources
    - Google Colab will be baseline for Video CV development
    - What are the resource considerations and criterias that need to met?
    - Design user-friendly GPU pipeline integrations during preprocessing

2. Implement pipeline optimizations w

[2022-04-13 16:55] Tony363 commented on #309
Shall I be the one writing the description and proposal this? I have no prior information?

[2022-04-13 17:03] Tony363 commented on #305
@LukeWood Shall i email you directly instead?

[2022-04-13 17:39] Tony363 commented on #68
@LukeWood Is this issue open for contributions as well?! Next to SWIN transformers, ConvNext boasts even higher performance and stats utilizing similar robustness of training datasets!

[2022-04-13 18:10] divyashreepathihalli commented on #300
@LukeWood  thanks!

[2022-04-13 20:47] LukeWood commented on #310
Removed from v0.1 because MOST users will use this in a tf.data pipeline or keras model that automatically does this.

[2022-04-13 20:47] LukeWood commented on #310
I do agree a higher level abstraction would be nice though @bhack

[2022-04-13 21:19] LukeWood commented on #68
It is not open for contributions as of now.  I believe Sayak will be contributing these to Keras core.  Is that correct @sayakpaul?  As of now KerasCV won't be accepting models until some details are ironed out on our end.

[2022-04-13 23:17] chjort commented on #289
Triplet loss is also implemented in TF Similarity.
https://github.com/tensorflow/similarity/blob/master/tensorflow_similarity/losses/triplet_loss.py

[2022-04-14 00:47] LukeWood commented on #289
Great points… triplet in particular this is really tricky!!! This will need some thought.

SimCLR at least the loss still just has two inputs so it’s not as bad

[2022-04-14 00:57] sayakpaul commented on #68
I am working on it, yes.

[2022-04-14 01:06] sayakpaul commented on #311
Definitely following this one. I think before writing the necessary augmentation packages we need a good data pipeline that allows users to efficiently load videos and feed them to models.

I wrote two examples covering videos but I am not super happy about the data pipeline:

* https://keras.io/examples/vision/video_classification/
* https://keras.io/examples/vision/video_transformers/

[2022-04-14 01:10] Tony363 commented on #311
My thoughts exactly as well! However, it may be easier for me to start my Google summer of code writer the video augmented wrapper. But yes, a well designed project will start engineering from the pipeline itself! I was about to fill in the details of my GSOC proposal on the Video data pipeline today or tomorrow !

[2022-04-14 01:15] bhack commented on #311
Without the opencv dependency we could use also https://github.com/tensorflow/io/blob/master/tensorflow_io/python/experimental/video_dataset_ops.py

[2022-04-14 02:15] Tony363 commented on #311
I'll read up on this and add it to my proposal. However, from my work experience, most vision APIs draw from opencv underneath 1 way or another which is drawn from its cpp source code. Just curious, are there specific detriments to using opencv? I myself faced alot opencv contribs, extras with cuda/cudnn cross platform compilation issues in the past but vanilla opencv from pip should be fine? Mayb

[2022-04-14 03:48] sayakpaul opened #317 "Add a layer for general interpolation"
Currently, `keras.layers.UpSampling2D` supports interpolation (to higher resolutions) but lacks interpolation methods such as bicubic. It probably also lacks support for aligning corners:

Generic interpolation is a sought-after usecase in vision. For example, when adapting the pre-trained positional embeddings in Vision Transformers to higher resolutions, they are interpolated using bicubic inter

[2022-04-14 06:24] sebastian-sz opened #319 "Focal Loss"
Focal loss was used to train [RetinaNet](https://arxiv.org/pdf/1708.02002v2.pdf).

From [Papers with code](https://paperswithcode.com/method/focal-loss):

Reference Keras Implementation:
https://keras.io/examples/vision/retinanet/#implementing-smooth-l1-loss-and-focal-loss-as-keras-custom-losses

What do you think about this component? I think that maybe it could also benefit other models.

[2022-04-14 07:52] innat commented on #319
sigmoid focal loss : https://www.tensorflow.org/addons/api_docs/python/tfa/losses/SigmoidFocalCrossEntropy

[2022-04-14 08:18] innat commented on #250
If anyone is interested, you can follow up on the conversation here.
https://github.com/AlexeyAB/darknet/issues/7088#issuecomment-757527542

[2022-04-14 13:03] innat opened #320 "Rename RandomChannelShift!"
@LukeWood I noticed that you've changed the `RGBShift` layer name to `RandomChannelShift` which I found reasonable to choose 👍 . But later I found that there is already a mutual function in `keras` with the exact name.

- https://www.tensorflow.org/api_docs/python/tf/keras/preprocessing/image/random_channel_shift
[code]
Reference [code](https://github.com/keras-team/keras-preprocessing/blob/1.1.2/

[2022-04-14 13:25] bhack commented on #319
https://discuss.tensorflow.org/t/focal-loss-function-for-multilabel-classification/8933

[2022-04-14 13:27] Tony363 commented on #311
Love those examples you wrote by the way! I currently in the process of optimizing my own video data pipeline for my research in collaboration a Google Pixel project! Your examples have direct applications for me and Ill definitely peruse through them and add them to my Google summer of code proposal!

[2022-04-14 13:37] bhack commented on #311
I suppose that we don't want to overlap/duplicate too much on what it is already working the TF-IO SIG /cc @yongtang and to the Video dataset adapters that we have at https://www.tensorflow.org/datasets/api_docs/python/tfds/features/Video

[2022-04-14 13:47] Tony363 commented on #311
This is a [pipeline](https://github.com/hc07180011/testing-cv/blob/main/flicker_detection/flicker_detection/train.py) that I wrote that does train test split based on file names then populates the padded batched chunks into a tuple of chunks. These are all done in a single loop. Before it was using lists, which required unnecessary RAM memory and dimensions to each single Batched chunk. Through ou

[2022-04-14 13:51] bhack commented on #311
/cc @Conchylicultor

[2022-04-14 14:04] sayakpaul commented on #311
Hmm. I think one also needs to be careful about using GPU memory for data processing when training models in conjunction. There can be a lot of things happening there -- model states, optimizer states, temporary buffers, unusable memory due fragmentation, etc. So, naturally, processing video data with GPU memory could be more challening than it might sound.

But I am curious.

@bhack would be nice

[2022-04-14 14:10] Tony363 commented on #311
I think It may also be beneficial to appropriately cache resources into static memory at key pipeline intervals and to properly seed these preprocessing checkpoints. Maybe when working with video data sets, it is preferential to preprocess and train models separately?

[2022-04-14 14:10] bhack commented on #311
What I meant:

Tutorials may or may not use ecosystem synergies. I think the important thing is not to reinvent the wheel in the ecosystem, users are not very interested in duplications, on the contrary they are often confused when there are several ways to do the same thing within the ecosystem.

[2022-04-14 14:13] sayakpaul commented on #311
I am asking for official tutorials using the components you mentioned.

[2022-04-14 14:13] sayakpaul commented on #311
Presumably. That is why I tried following a combined approach in my guides.

[2022-04-14 14:17] Tony363 commented on #311
@sayakpaul Whatever the case, Im putting all this into my proposal XD

[2022-04-14 14:21] Tony363 commented on #311
On the subject of fragmentation, @sayakpaul do you think its feasible to integrate a garbage collector specifically for Video data preprocessing. One thing I always do to make sure my preprocessing runs and is able to feed to my training function is to constantly collect unused memory or delete objects that are either no longer used or have been written to file. Otherwise, a simple mishap and my g

[2022-04-14 14:35] sayakpaul commented on #311
My analysis of the consumption of GPU memory stems from ZeRO from Microsoft. I am not too sure if garbage collection would cut it but worth exploring.

[2022-04-14 14:52] Tony363 commented on #311
After briefly reading the abstract of ZeRO, I think I understand your perspective. I will peruse through the document of ZeRO as well and think about how best to tackle preprocessing with the most resourceful approach!

[2022-04-14 17:21] LukeWood commented on #320
@mattdangerw will we be undocumenting tf.keras.preprocessing.image.random_channel_shift

[2022-04-14 17:34] mattdangerw commented on #320
Just for context for anyone finding this issue... `tf.keras.preprocessing.image.random_channel_shift` operates strictly on numpy arrays and not tensors, so it will not work easily or efficiently inside a model or `tf.data` pipeline. We are trying to steer people away from those utilities to preprocessing layers like the ones in KerasCV.

For @LukeWood's question, it is already undocumented on kera

[2022-04-14 18:10] sebastian-sz commented on #319
@bhack I understand that we would like to avoid duplication across repositories. I did not know there is an implementation already in Keras core (although it lacks the `alpha` parameter).

Should I close this issue?

[2022-04-14 18:13] bhack commented on #319
Personally I am ok to migrate things here.

[2022-04-14 18:20] sebastian-sz commented on #319
@bhack Ok thanks.