[2022-08-16 22:23] LukeWood opened #696 "RetinaNet needs images of at least 512x512 to run properly"
this should either error out, or automatically pad

[2022-08-17 13:08] sebastian-sz commented on #629
@LukeWood yes, submitted the PR here https://github.com/keras-team/keras-cv/pull/697

[2022-08-17 20:27] LukeWood opened #700 "Create basic integration testing in KerasCV"
Based on the integration test in:
https://github.com/keras-team/keras-cv/pull/686/files

[2022-08-17 22:20] LukeWood commented on #676
@AdityaKane2001 is this clear now?

[2022-08-17 22:21] LukeWood commented on #250
@quantumalaviya @AdityaKane2001 any interest in working on this?

[2022-08-17 23:28] LukeWood opened #701 "[documentation] Tune a KerasCV RetinaNet"
I’ll write this guide covering how to tune each component for your use case.

[2022-08-18 03:41] #540 closed

[2022-08-18 03:41] #522 closed

[2022-08-18 08:38] fcossio commented on #606
Hi, is there any interest for this possible contribution?

[2022-08-18 12:06] innat commented on #606
@fcossio It's a great paper. To have this in keras cv, I think we need to first add basic UNet. No semantic segmentation model is added until now. You can first create issue on that to proceed to PR.

cc. @LukeWood

[2022-08-18 17:19] #629 closed

[2022-08-18 18:05] AdityaKane2001 commented on #676
@LukeWood Yup, got it. I'll create a PR for this over the weekend.

[2022-08-18 18:40] LukeWood commented on #662
- map from raw x and y (and validation data) to tf.data.DataSets
- call .map() to call LabelEncoder
- call super().fit() with the constructed datasets

[2022-08-18 18:49] LukeWood commented on #662
- numpy array for x and y (and EagerTensors)
- tf.data.DataSet
- sample weights
- DataFrames from pandas (tf.data may already have a method for this)
- input list of scalars (not super relevant to RetinaNet)

I will create a standalone utility function, construct a dataset, and then do the same for validation

[2022-08-18 18:50] LukeWood commented on #662
we can also make sure to export:

https://source.corp.google.com/piper///depot/google3/third_party/py/keras/engine/data_adapter.py;l=1642;rcl=467572989

[2022-08-18 19:40] LukeWood opened #702 "Make `keras_cv.layers.Resizing` support bounding_boxes"

[2022-08-18 20:10] #514 closed

[2022-08-20 18:31] LukeWood opened #706 "Unit test GPU utilization of popular configurations using NVIDIA-smi"

[2022-08-20 18:34] LukeWood commented on #706
I’ll kick this effort off with a RetinaNet training loop test.

[2022-08-20 19:41] bhack commented on #706
If you need we could also retrieve the achieved occupancy (and other metrics):

https://docs.nvidia.com/gameworks/content/developertools/desktop/analysis/report/cudaexperiments/kernellevel/achievedoccupancy.htm

With a light python ctype wrapper over Nvidia cupti:
https://github.com/sree314/pycupti/tree/trunk/pycupti

[2022-08-20 21:30] LukeWood commented on #706
Cool 😎 thanks for the references!  This will be really useful for making some performance guarantees to our users.

[2022-08-21 15:55] innat opened #707 "Add Seam Carving preprocessing layer"
**Short Description**

Seam Carving: A Content-Aware Image Resizer
![image](https://user-images.githubusercontent.com/17668390/185799551-a2db2723-a048-4a57-9798-461f44cfa889.png)

**Papers**

[Paper-link.](https://www.researchgate.net/publication/215721610_Seam_Carving_for_Content-Aware_Image_Resizing)
Citation:  2242

**Existing Implementations**

- https://github.com/yu4u/seam-carving

**Other**

[2022-08-22 17:41] LukeWood opened #710 "Split model tests into multiple sub-files"

[2022-08-22 18:08] LukeWood opened #712 "Refactor `model_tests` to be on a per-model basis"
right now we test all of our models in a single file.  This is an anti-pattern, in that some models require specific configuration.  Additionally, it causes issues with pytest regarding parallelization and memory management.

[2022-08-22 18:24] LukeWood opened #713 "IoU Object Detection Metric"
The IoU metric for object detection is an essential.  We need to offer this under `keras_cv.metrics`.

[2022-08-22 18:24] LukeWood commented on #713
Great first issue!

[2022-08-22 22:22] #471 closed

[2022-08-22 22:23] divyashreepathihalli commented on #471
added here. - https://github.com/keras-team/keras-cv/pull/562

[2022-08-22 22:23] #307 closed

[2022-08-22 22:23] divyashreepathihalli commented on #307
outdated

[2022-08-22 22:23] divyashreepathihalli commented on #306
outdated

[2022-08-22 22:23] #306 closed

[2022-08-22 22:24] divyashreepathihalli commented on #305
outdated

[2022-08-22 22:24] #305 closed

[2022-08-22 22:24] divyashreepathihalli commented on #302
outdated

[2022-08-22 22:24] #302 closed

[2022-08-22 22:24] divyashreepathihalli commented on #303
outdated

[2022-08-22 22:24] #303 closed

[2022-08-23 07:29] AdityaKane2001 commented on #676
@martin-gorner @LukeWood @sayakpaul

To avoid this case, I'll just clip the `crop_size` values to the image dimensions. It seems to have the same effect as `layers.Resizing(crop_to_aspect_ratio=True)`. Moreover it will intuitively handle the case where both dimensions of `crop_size` are larger than the image dimensions. WDYT?

[2022-08-23 09:05] martin-gorner commented on #676
you cannot clip crop_resize without introducing image distorsions. Remember
that the final image size is fixed for all images which also means a fixed
aspect ratio. If you clip crop_resize at any point, you change the aspect
ratio. The only way to get it back is to distort the image. When the user
specifies "no distorsinos", there should be no distorsions.

On Tue, 23 Aug 2022 at 09:29, Aditya Kan

[2022-08-23 10:04] AdityaKane2001 commented on #676
@martin-gorner

Understood.

@LukeWood @sayakpaul

I guess I will rewrite the implementation and drop `tf.image.crop_and_resize` as it does not have this functionality.

[2022-08-24 10:04] atuleu opened #720 "bounding_box.convert_format should keep the dtype by default"
**Short Description**

Currently, `bounding_box.convert_format` always cast the passed object to a tf.float32. This cast should remain optional.
When you develop a complex layer depending on this function, as soon as you change from `float32` precision to `mixed_float16`, you literally need to change every call to this function to add a `dtype=boxes.dtype` argument.

I think it would be a much bet

[2022-08-24 17:14] martin-gorner commented on #676
I think tf.image.crop_and_resize should work fine. You just have to pass it the correct crop boxes.

[2022-08-24 21:44] #472 closed

[2022-08-24 21:44] divyashreepathihalli commented on #675
https://github.com/keras-team/keras-cv/pull/677

[2022-08-24 21:44] #675 closed

[2022-08-24 21:45] divyashreepathihalli commented on #665
https://github.com/keras-team/keras-cv/pull/677

[2022-08-24 21:45] #665 closed

[2022-08-24 21:55] divyashreepathihalli opened #724 "Add augment_bounding_boxes support to AugMix layer"
The augment_bounding_boxes should be implemented for AugMix Layer in keras_cv. The PR should contain implementation, test scripts and a demo script to verify implementation.

Example code for implementing augment_bounding_boxes() can be found here
-  https://github.com/keras-team/keras-cv/blob/master/keras_cv/layers/preprocessing/random_flip.py#:~:text=def%20augment_bounding_boxes(,)%3A
- https://

[2022-08-24 21:58] divyashreepathihalli opened #725 "Add augment_bounding_boxes support to CutMix layer"
The augment_bounding_boxes should be implemented for CutMix Layer in keras_cv. The PR should contain implementation, test scripts and a demo script to verify implementation.

Example code for implementing augment_bounding_boxes() can be found here
- https://github.com/keras-team/keras-cv/blob/master/keras_cv/layers/preprocessing/random_flip.py#:~:text=def%20augment_bounding_boxes(,)%3A
- https://g

[2022-08-24 21:58] divyashreepathihalli opened #726 "Add augment_bounding_boxes support to FourierMix layer"
The augment_bounding_boxes should be implemented for FourierMix Layer in keras_cv. The PR should contain implementation, test scripts and a demo script to verify implementation.

Example code for implementing augment_bounding_boxes() can be found here
- https://github.com/keras-team/keras-cv/blob/master/keras_cv/layers/preprocessing/random_flip.py#:~:text=def%20augment_bounding_boxes(,)%3A
- https

[2022-08-24 21:59] divyashreepathihalli opened #727 "Add augment_bounding_boxes support to MixUp layer"
The augment_bounding_boxes should be implemented for Mixup Layer in keras_cv. The PR should contain implementation, test scripts and a demo script to verify implementation.

Example code for implementing augment_bounding_boxes() can be found here
- https://github.com/keras-team/keras-cv/blob/master/keras_cv/layers/preprocessing/random_flip.py#:~:text=def%20augment_bounding_boxes(,)%3A
- https://gi

[2022-08-24 22:00] divyashreepathihalli opened #728 "Add augment_bounding_boxes support to RandAugment layer"
The augment_bounding_boxes should be implemented for RandAugment Layer in keras_cv. The PR should contain implementation, test scripts and a demo script to verify implementation.

Example code for implementing augment_bounding_boxes() can be found here
- https://github.com/keras-team/keras-cv/blob/master/keras_cv/layers/preprocessing/random_flip.py#:~:text=def%20augment_bounding_boxes(,)%3A
- http

[2022-08-24 22:01] divyashreepathihalli opened #729 "Add augment_bounding_boxes support to RandomChoice layer"
The augment_bounding_boxes should be implemented for RandomChoice Layer in keras_cv. The PR should contain implementation, test scripts and a demo script to verify implementation.

Example code for implementing augment_bounding_boxes() can be found here
- https://github.com/keras-team/keras-cv/blob/master/keras_cv/layers/preprocessing/random_flip.py#:~:text=def%20augment_bounding_boxes(,)%3A
- htt

[2022-08-24 22:02] divyashreepathihalli opened #730 "Add augment_bounding_boxes support to RandomCutOut layer"
The augment_bounding_boxes should be implemented for RandomCutOut Layer in keras_cv. The PR should contain implementation, test scripts and a demo script to verify implementation.

Example code for implementing augment_bounding_boxes() can be found here

- https://github.com/keras-team/keras-cv/blob/master/keras_cv/layers/preprocessing/random_flip.py#:~:text=def%20augment_bounding_boxes(,)%3A
- ht

[2022-08-24 22:04] divyashreepathihalli opened #731 "Add augment_bounding_boxes support to CenterCrop layer"
The augment_bounding_boxes should be implemented for CenterCrop Layer in keras_cv. The PR should contain implementation, test scripts and a demo script to verify implementation.

Example code for implementing augment_bounding_boxes() can be found here

- https://github.com/keras-team/keras-cv/blob/master/keras_cv/layers/preprocessing/random_flip.py#:~:text=def%20augment_bounding_boxes(,)%3A
- http

[2022-08-24 22:05] divyashreepathihalli opened #732 "Add augment_bounding_boxes support to RandomTranslation layer"
The augment_bounding_boxes should be implemented for RandomTranslation Layer in keras_cv. The PR should contain implementation, test scripts and a demo script to verify implementation.

Example code for implementing augment_bounding_boxes() can be found here

- https://github.com/keras-team/keras-cv/blob/master/keras_cv/layers/preprocessing/random_flip.py#:~:text=def%20augment_bounding_boxes(,)%3A

[2022-08-24 22:07] divyashreepathihalli opened #733 "Add augment_bounding_boxes support to RandomResizedCrop layer"
The augment_bounding_boxes should be implemented for RandomResizedCrop Layer in keras_cv. The PR should contain implementation, test scripts and a demo script to verify implementation.

Example code for implementing augment_bounding_boxes() can be found here

- https://github.com/keras-team/keras-cv/blob/master/keras_cv/layers/preprocessing/random_flip.py#:~:text=def%20augment_bounding_boxes(,)%3A

[2022-08-24 23:25] sfleisch opened #734 "Is mixed precision, mixed_float16, not supported for certain augmentations"
I found that certain augmentations fail when the mixed precision policy is set to mixed_float16 but work with float32.  So far I've found this to be true for RandomColorDegeneration and Solarization - both run individually and within the RandAugment layer.

Is there a work around? I did try specifying the dtype for the RandAugment layer but that didn't change the outcome.

[2022-08-25 00:24] sfleisch commented on #734
I think I have the workaround:

1. set the floating point global policy to float32
3. create the dataset with the randaugment (or any keras_cv augmentation layer(s)) mapping
4. set the global policy to mixed_float16
5. create the model and proceed.
    The dtype policy for the model layers are float16 where keras so deems fit.
    At this point looping through the layers of the randaugment layer s

[2022-08-25 17:31] #523 closed

[2022-08-25 23:38] LukeWood commented on #734
Internally we don't have the bandwidth to audit all of the layers right now, but I'm happy to review PRs to fix this.

Absolutely a great bug report.  If you can provide a list of layers that do not support this I bet it would streamline the contribution process.

[2022-08-25 23:39] LukeWood commented on #734
at the moment I'd guess not.  We are probably casting to the wrong data type in one of our layers.  I'm also happy to add a test case to catch this if you (or any contributor!) can come up with one.

Let me know how you'd want to proceed @sfleisch

[2022-08-29 16:45] MarkDaoust commented on #581
https://www.tensorflow.org/api_docs/python/tf/image/adjust_contrast

adjust_contrast can take a stack of images, but only a scalar contrast factor, not a list. That's too bad, especially for such a simple function.

[2022-08-29 17:48] bhack commented on #581
Isn't this namespace orphan https://github.com/keras-team/keras-cv/issues/74#issuecomment-1035597742?

Also,, I never heard that we want to contribute/coordinate the tf.image.* API. @MarkDaoust see the full thread in the early weeks of the Keras-cv repo at https://github.com/keras-team/keras-cv/pull/122#discussion_r803936244

[2022-08-29 18:08] LukeWood opened #744 "RandomShear can push bounding boxes full outside of the frame"
We need to filter these.

This can be done via a check at the end of augment_bounding_boxes using a `tf.where()` condition.  In this condition, check if the coordinates are inside of the image, if they are not set class_id to -1 so they are filtered out.

[2022-08-29 18:09] LukeWood opened #745 "Re-enable b"

[2022-08-29 18:09] #745 closed

[2022-08-29 18:17] Mirandatz commented on #291
Does this problem still exist?

[2022-08-29 18:40] Mirandatz commented on #291
@bhack Thank you for the quick reply!
Saved me a lot of container-rebuilding time.

Also: :(

[2022-08-29 18:52] bhack opened #746 "Sync Dockerfile with setup.py"
@LukeWood are we able to maintain in sync the `Dockerfile` with `setup.py` dependecies changes? Or do we want to find another solution?

https://github.com/keras-team/keras-cv/commit/50512ef0238633dc8cae68bf7819c1220c0d0cc9#diff-60f61ab7a8d1910d86d9fda2261620314edcae5894d5aaa236b821c7256badd7R34

https://github.com/keras-team/keras-cv/blob/f1f1b8207c791c33106aad84dbe7602b7b4904d3/.devcontainer/Doc

[2022-08-29 19:03] bhack commented on #291
@wangpengmit Can I ask you why you have mentioned @ishark 1 month ago? Is there a new API ownership plan?

[2022-08-30 15:59] sayakpaul commented on #488
@LukeWood I guess it's okay to close the loop on this since there's work already started to obtain good ImageNet-1k checkpoints.

[2022-08-30 16:11] sayakpaul opened #749 "Improving ImageNet-1k support"
W.r.t the current support for [ImageNet-1k](https://github.com/keras-team/keras-cv/blob/master/keras_cv/datasets/imagenet), we can improve things:

* First, let's start leveraging TFDS. It significantly reduces the work expected to be done by a user. Let's walk through an example.

 First, the user needs to keep the `ILSVRC2012_img_train.tar` and `ILSVRC2012_img_val.tar` archives to this path: `gs

[2022-08-30 18:26] #488 closed

[2022-08-30 18:47] bhack commented on #749
I agree, honestly I didn't understand the raply/rationale to my question at https://github.com/keras-team/keras-cv/pull/735#issuecomment-1227496181

[2022-08-30 18:47] bhack commented on #488
We could remove this from the pinning.

[2022-08-30 20:01] LukeWood commented on #746
we can fix it with a PR if anyone is interested!

[2022-08-30 20:10] bhack commented on #746
Yes sure but what I meant is:

Do you think that the team will go to care also this file when it add dependency?

As it is already the 2nd time:
https://github.com/keras-team/keras-cv/pull/436

[2022-08-30 20:27] bhack commented on #746
/cc @haifeng-jin if he is interested to introduce that action also in the Keras repo.

[2022-08-30 21:56] TylerADavis commented on #291
Hi all,

Thank you for your work on this issue. I was wondering if there is a recommended workaround (besides using TF 2.8), or if there is an estimate for when this may be fixed for the most commonly used augmentation layers. While my augmentation pipeline doesn't directly rely on any of the items listed in https://github.com/keras-team/keras-cv/issues/291#issuecomment-1230707124, some of the `tf

[2022-08-30 22:17] bhack commented on #291
My list is just covering the "failing" TF ops that was used in the Keras-cv preprocessing layers implementation so it is not a list of the involved layers.

[2022-08-30 22:21] bhack commented on #291
As we have a list of open points on this topic to clarify since the early days of this repo it is not so easy to identify a clear action/item contribution path.

Please check my list at:
https://github.com/keras-team/keras-cv/issues/581#issuecomment-1184758866

[2022-08-30 23:23] wangpengmit commented on #291
Yeah, we still lack a primary owner of `tf.vectorized_map`, but @ishark is the secondary owner of it now.

[2022-08-31 00:08] LukeWood commented on #291
Can you post which layers youre using?

[2022-08-31 00:15] TylerADavis commented on #291
Hi Luke,

Here is my augmentation code. I am using augment_inputs() as a layer within my model, and model.fit() is being fed with a tf.data.DataSet. Please let me know if there is anything else I can provide.

[code]

[2022-08-31 00:20] LukeWood commented on #291
I think I see the problem, you’re creating a new layer every function call.

[2022-08-31 00:23] ishark commented on #291
Hello, my apologies, I missed github notifications. Will go through the issue history and get back to you. Thanks.

[2022-08-31 00:56] TylerADavis commented on #291
@LukeWood Thank you for the recommendation. I rewrote my augmentation following your recommendation, as shown below, but I am still seeing the 9 minute epochs, versus the 21 second epochs I expect.

[code]

[2022-08-31 06:16] sebastian-sz commented on #749
Agreed with TFDS approach for simplicity.

I think it's also possible to use [local path](https://gist.github.com/vishal-keshav/0eac98fd44e2239ff5721196a9011829 ) instead of GCS bucket.

[2022-08-31 06:19] sayakpaul commented on #749
Yes, it's possible. However, keeping things inside a GCS Bucket is necessary to leverage TPU-based training runs. So, it kind of solves different purposes.

[2022-08-31 06:41] sebastian-sz opened #752 "Cast outputs to Float32 for mixed precision training."
**Short Description**
Mixed precision for Keras-CV is discussed [here](https://github.com/keras-team/keras-cv/discussions/737).

According to [the docs](https://www.tensorflow.org/guide/mixed_precision#summary) when training with mixed precision, model output should be Float32.

This is not enabled by default as we should add no-op linear activation to the outputs which will cast the output to fp3

[2022-08-31 19:00] #746 closed

[2022-09-01 09:16] silvererudite commented on #713
Hi..I would like to work on this pls.

[2022-09-02 17:17] ianstenbit opened #759 "ConvNeXt models missing gradients when compiling with `jit_compile=True`"
Example error:

[code]

[2022-09-02 17:23] ianstenbit commented on #759
This is occurring when trying to train on TPU.

With `jit_compile=False`, training still fails, but with a different error:

[code]

[2022-09-02 17:40] bhack commented on #759
Is it the same with `drop_path_rate=False`?

[2022-09-02 17:45] ianstenbit commented on #759
@bhack yes, same error.

According to the error message above, it looks like the op with the shape error is `convnext_xlarge/convnext_xlarge_stage_0_block_0_pointwise_conv_1/Tensordot`, which is before the ConvNeXtBlocks where `drop_path_rate` is used.

[2022-09-02 17:50] LukeWood commented on #759
@sayakpaul

[2022-09-02 17:52] bhack commented on #759
Are you using

[2022-09-02 18:00] sayakpaul commented on #759
Happens for all the variants or only XLarge?

[2022-09-02 18:01] sayakpaul commented on #759
Need some reproducible code to debug it.

[2022-09-02 18:01] ianstenbit commented on #759
@sayakpaul this is happening for all 3 that I've tested (Base, Large, XLarge)

[2022-09-02 18:09] ianstenbit commented on #759
I am running this using our ImageNet classification training script (with this [TPU training flag](https://github.com/keras-team/keras-cv/pull/757/files#diff-23eddb2c44a43ec109de63596e62d01ed6e8fd92eeb85c98a29fd7763ba76d07))

Invocation:
[code]

[2022-09-02 18:11] sayakpaul commented on #759
A Colab Notebook is the only way for me to reproduce this. Could you provide one?

[2022-09-02 19:31] LukeWood opened #762 "IoU Loss should only reduce over 1 axis by default."
Keras losses reduce over one axis by default - currently IoU is reducing over two.  This will make it impossible for us to mask out background boxes.  To get around this, we should only reduce over one axis instead of two in IoU loss.

This means that after the IoU is computed you should have [batch_size, num_boxes] returned from the loss

[2022-09-02 19:31] LukeWood commented on #762
@quantumalaviya

[2022-09-02 21:26] ianstenbit commented on #759
I'm unable to get a Colab notebook set up running KerasCV at this time, as KerasCV requires TF 2.9, and Colab is currently running TF 2.8.

I will share a Colab notebook with this example once Colab is updated to a sufficient version of TF

[2022-09-02 22:09] bhack commented on #759
@ianstenbit Ok, in the meantime, as you have the setup ready, can you test it with `drop_remainder=True`?

[2022-09-02 23:46] ianstenbit commented on #759
Sorry I forgot to reply to this earlier -- I gave that a shot and it did not fix the problem.

[2022-09-03 00:13] bhack commented on #759
Thanks.

[2022-09-03 02:36] sayakpaul commented on #759
Appreciate it, thanks.

[2022-09-05 18:23] LukeWood opened #765 "Make RetinaNet compile() arguments optional"

[2022-09-05 18:34] LukeWood opened #766 "Write unit test comparing prediction decoder configuration after loading weights"

[2022-09-05 18:34] LukeWood opened #767 "Write unit test for weight loading for RetinaNet"

[2022-09-06 05:17] LukeWood opened #769 "Opt prediction-decoder out from weight loading in RetinaNet"
This will allow us to write a tutorial on tuning your prediction decoder.  I already have this tutorial mostly written.

[2022-09-06 18:22] LukeWood opened #770 "RandomFlip does not work with Ragged Inputs."
https://github.com/keras-team/keras-cv/blob/master/keras_cv/layers/preprocessing/random_flip_test.py

[2022-09-09 18:16] bhack commented on #749
https://github.com/keras-team/keras-cv/pull/774

[2022-09-10 20:40] #551 closed

[2022-09-13 21:00] tanzhenyu opened #793 "simclr_loss test failing in GPU"
You: Running pytest keras_cv/losses/simclr_loss_test.py locally failed:
"def test_output_value(self):
AssertionError:
  Max relative difference:
    x: array(3.566533)
    y: array(3.566689)
"

This test passes in CPU.

[2022-09-13 21:30] ianstenbit commented on #793
@tanzhenyu thanks for filing this issue.

Can you please add more specifics about the GPU platform / environment you're using?
These tests are passing on our GCB GPU tests, so I'll need to know more specifics to debug this.

Thanks!

[2022-09-14 16:34] #770 closed

[2022-09-14 18:14] ianstenbit commented on #793
I've now run this test manually on the following devices:
- Apple M1 chip
- NVIDIA Tesla T4
- NVIDIA Tesla V100

and in each case I am getting a consistent loss of `3.566689`

I don't think I'll be able to debug further without access to your machine.

I do see that in the [Keras core losses tests](https://github.com/keras-team/keras/blob/master/keras/losses_test.py), many loss assertions have a t

[2022-09-14 18:31] akucia opened #795 "RetinaNet example losses error"
I got the following error, when I run the object detection example:
```ValueError: RetinaNet expects the output shape of `classification_loss` to be `(batch_size, num_anchor_boxes)`.  Expected classification_loss(predictions)=(None, None), got classification_loss(predictions)=(). Try passing `reduction='none'` to your classification_loss's constructor.```
Similar one is raised for box loss.

[2022-09-14 19:08] quantumalaviya opened #797 "Factor samplers don't support tensors as shape"
The line `shape = shape or ()` makes factor samplers incompatible with tensor shapes. An easy fix for this is to completely remove this line and have `shape=()` as the default value instead of `shape=None`.

[2022-09-14 19:50] LukeWood commented on #797
thank you @quantumalaviya !

[2022-09-14 20:04] #797 closed

[2022-09-14 23:56] #795 closed

[2022-09-15 02:55] LukeWood opened #801 "`bounding_box.clip_to_image()` should set class_id to -1 for boxes entirely out of the image"
Basically, Shear/Mosaic can clip bounding boxes entirely outside of the bounds of an image.  clip_to_image() should set the class id of the bounding boxes to -1, instead of having an empty box.  Right now, these are clipped to be at the edges of the image with a width/height of 0 - but this is nonsense and causes NaNs in the RetinaNet.

https://github.com/keras-team/keras-cv/pull/799/files#diff-91

[2022-09-15 10:13] bhack commented on #801
Do you have any reference that using "a garbage class" is a good solution and it will not create performance issues to the model?

[2022-09-15 10:20] bhack commented on #801
I cannot find this "practice garbage class" practice in https://github.com/tensorflow/models/blob/master/official/vision/ops/preprocess_ops.py

https://github.com/tensorflow/models/blob/master/official/vision/ops/preprocess_ops.py
https://github.com/tensorflow/models/blob/master/official/vision/modeling/retinanet_model.py
https://github.com/tensorflow/models/blob/master/official/vision/tasks/retin

[2022-09-16 14:37] zaccharieramzi opened #806 "Specify to install tensorflow in the contributing guidelines"
Right now the contributing guidelines do not specify that tensorflow needs to be installed in [the environment setup](https://github.com/keras-team/keras-cv/blob/master/.github/CONTRIBUTING.md#setup-environment) (as is done in [the github actions](https://github.com/keras-team/keras-cv/blob/master/.github/workflows/actions.yml#L35)).

It could be nice to have it so that the developers do not even

[2022-09-16 18:32] LukeWood opened #807 "Add shortlist of strings for support in RetinaNet compile() method."
basically, `box_loss="l1"` `classification_loss="focal"` etc.

[2022-09-17 16:54] pranavjadhav001 commented on #744
@LukeWood I can take this up,since i've made this feature. Can you tell me how were you able to reproduce this case?

[2022-09-17 20:52] LukeWood commented on #801
Im not sure what you mean here.  -1 indicates no box when the number of boxes between images does not match in a batched bounding box tensor.  This is true across almost all OD pipelines.  Otherwise you have to use ragged tensors everywhere - which don’t work on TPU

[2022-09-17 21:43] bhack commented on #801
What I meant is this "garbage" class going in the loss?

[2022-09-17 22:01] LukeWood commented on #801
Already filtered out with a tf.where()

this is how background classes are already encoded

[2022-09-19 18:13] #727 closed

[2022-09-19 20:56] akucia commented on #732
Hi! I'm currently working on implementation of this layer. I should be able to submit a PR this week.

[2022-09-19 21:03] #744 closed

[2022-09-19 21:03] #801 closed

[2022-09-20 10:57] bhack commented on #806
Is this a duplicate of https://github.com/keras-team/keras-cv/issues/489 ?

[2022-09-20 11:24] zaccharieramzi commented on #806
No, it's really about making sure that the contributing guidelines are complete when it comes to setting up the dev environment.

[2022-09-20 11:46] bhack commented on #806
I think it is the same as we don't need any extra info on the guidelines if we correctly depend on Keras:

https://github.com/keras-team/keras/blob/master/requirements.txt#L6

[2022-09-20 12:22] zaccharieramzi commented on #806
Yes sorry, hadn't read that carefully, closing

[2022-09-20 12:22] #806 closed

[2022-09-20 14:07] AdityaKane2001 opened #809 "Add bounding box support for RRC"
Current implementation of RandomResizedCrop (#738) does not have bounding box support.

Need to add bounding box support while taking special care of fill_mode="reflect".

/cc @LukeWood

[2022-09-20 16:29] LukeWood commented on #724
Infeasible

[2022-09-20 16:29] #724 closed

[2022-09-20 16:29] LukeWood commented on #726
Infeasible

[2022-09-20 16:29] #726 closed

[2022-09-20 17:23] LukeWood commented on #696
I think this should error out, I’ll add unit tests for this

[2022-09-22 01:45] LukeWood commented on #767
This is done

[2022-09-22 01:45] #767 closed

[2022-09-22 14:43] tanzhenyu commented on #793
Yeah I realized that as well. It seems there is some numerical issues across different platforms. For now, I'm not sure whether this is due to the device type, or the driver version. Can you try the installing the same version for V100 and see if that makes a difference?

[2022-09-22 21:09] LukeWood commented on #769
This actually already works.

[2022-09-22 21:09] #769 closed

[2022-09-22 21:09] LukeWood commented on #712
@ianstenbit solved this

[2022-09-22 21:09] #712 closed

[2022-09-22 21:09] LukeWood commented on #667
@AdityaKane2001 will tackle this

[2022-09-22 21:10] LukeWood commented on #643
I fixed this

[2022-09-22 21:10] #643 closed

[2022-09-22 21:11] LukeWood commented on #521
These have been included 🎉

[2022-09-22 21:11] #521 closed

[2022-09-22 21:11] AdityaKane2001 commented on #667
Yup, on it.

[2022-09-22 21:11] #520 closed

[2022-09-22 21:15] LukeWood commented on #309
This is done in the overview RetinaNet guide!

[2022-09-22 21:15] #309 closed

[2022-09-22 21:16] LukeWood commented on #68
Sayak fixed this!

[2022-09-22 21:16] #68 closed

[2022-09-22 21:16] LukeWood commented on #58
Fixed!

[2022-09-22 21:16] #58 closed

[2022-09-22 21:17] LukeWood commented on #112
I added this with the RetinaNet

[2022-09-22 21:17] #112 closed

[2022-09-22 21:17] LukeWood commented on #113
@quantumalaviya added this

[2022-09-22 21:17] #113 closed

[2022-09-22 21:18] LukeWood commented on #621
This is done now

[2022-09-22 21:18] #621 closed

[2022-09-22 21:19] LukeWood commented on #611
For now let’s hold off on this and not expand our API too much.  We have tf.data.  We can do some loading like keras.datasets does but let’s keep it minimal!

[2022-09-22 21:19] #611 closed

[2022-09-22 21:20] LukeWood commented on #454
As of now we don’t have any notebooks.  Maybe at some point we move this way, but I find using tutobooks much nice.  Let’s do that if we ever move this direction.  Tutobooks are also consistent with keras-io

[2022-09-22 21:20] #454 closed

[2022-09-22 21:20] AdityaKane2001 commented on #611
Makes sense 👍

[2022-09-22 21:20] #442 closed

[2022-09-22 21:21] LukeWood commented on #325
Done for now - maybe we revisit someday but for now let’s keep our offerings narrow, and only offer loaders for datasets that are useful for tutorials

[2022-09-22 21:21] #325 closed

[2022-09-22 21:22] LukeWood commented on #57
This is implemented now

[2022-09-22 21:22] #57 closed

[2022-09-22 21:23] LukeWood commented on #222
We did extensive numerical benchmarking and published the results to arxiv at: https://arxiv.org/abs/2207.12120

[2022-09-22 21:23] LukeWood commented on #222
For now this is fine

[2022-09-22 21:23] #222 closed

[2022-09-22 21:24] AdityaKane2001 commented on #667
@LukeWood do we assume the bounding boxes to be of a specific type? Like `xyxy` or `rel_xyxy`?

[2022-09-22 21:32] LukeWood commented on #667
You’ll need to accept a bounding_box_format argument and convert internally.  After conversion you can perform the transformation, then convert back to the user’s specified format.  Check out how shear does this.

[2022-09-22 21:36] LukeWood commented on #664
Looks like we went with MaybeApply.

MaybeApply is a nice high order abstraction - thanks everyone!

[2022-09-22 21:36] #664 closed

[2022-09-22 21:41] #710 closed

[2022-09-22 22:12] DavidLandup0 commented on #57
@LukeWood are you planning on adding ResNet variants like ResNet-D or ResNet-C? I'd gladly work on those if the basic ones are done :)

[2022-09-22 22:16] DavidLandup0 commented on #713
Can you assign this to me? :)

[2022-09-22 22:18] DavidLandup0 commented on #49
Can you assign this to me as well? :)

[2022-09-22 23:18] LukeWood opened #821 "Disable regularization loss for RetinaNet when it is zero"
per feedback on https://github.com/keras-team/keras-io/pull/1065#discussion_r978022228

[2022-09-22 23:22] LukeWood opened #822 "Create nice, aesthetic visualization tools for object detection"
The visualizations in the guides are really unclear right now.

[2022-09-22 23:24] LukeWood opened #823 "Migrate keras_cv.layers.RandomCropAndResize to use `height` and `width` instead of `target_size`"
This is more in line with the rest of the Keras API.  Currently RandomCrop takes a `height` and `width` instead of a `target_size`, we should align on this.

[2022-09-22 23:30] LukeWood commented on #823
@AdityaKane2001 let me know if you can handle this!

[2022-09-22 23:34] #676 closed

[2022-09-23 00:04] LukeWood opened #824 "RetinaNet with tf.set_soft_device_placement(False) fails"
Setting this then running the RetinaNet guide should work

[2022-09-23 01:06] LukeWood opened #825 "Update RetinaNet guide to use RandomCropAndResize"

[2022-09-23 01:35] LukeWood opened #826 "Finalize APIs for RandomCropAndResize and RandomlyZoomedCrop"

[2022-09-23 03:22] sayakpaul commented on #549
@LukeWood is the guide live?

[2022-09-23 03:44] tanzhenyu opened #827 "standardize how box are transformed between center and log format when anchors are present"
i.e., from:
x, y, w, h
to:
(x-x_a) / w_a
(y-y_a) / h_a
log(w / w_a)
log(h / h_a)

potentially allow box variance as well

[2022-09-23 05:53] LukeWood commented on #549
we can reopen if we’re still interested in it.  Are you guys interested?

[2022-09-23 12:06] martin-gorner commented on #826
Can we have consistent names ? Please choose between Random* and Randomly* for naming random layers.
By the way, it looks like the choice has already been made:
[RandomCrop](https://keras.io/api/layers/preprocessing_layers/image_augmentation/random_crop)
[RandomFlip](https://keras.io/api/layers/preprocessing_layers/image_augmentation/random_flip)
[RandomTranslation](https://keras.io/api/layers/pre

[2022-09-23 12:11] martin-gorner commented on #826
For RandomResizedCrop, if the only goal is to offer the same functionality as the existing (and really bad) RandomResizedCrop from TorchVision, then has to keep the same name RandomResizedCrop.
In Albumentations, they also have it and they kept the name:
https://albumentations.ai/docs/api_reference/augmentations/crops/transforms/#albumentations.augmentations.crops.transforms.RandomResizedCrop
_"To

[2022-09-23 17:10] LukeWood commented on #826
Thanks Martin good point - what do you recommend we name the zoom variant?  RandomCropAndZoom?  RandomZoomAndCrop?

[2022-09-24 00:15] LukeWood commented on #57
I have no plans.  Are these ResNets useful compared to modern models?  Typically we want a good reason to add a model; whether it’s performance, widespread use in benchmarks, etc

[2022-09-24 22:53] LukeWood opened #830 "Implement `bounding_box.smart_resize`"
This can be used in `keras_cv.layers.RandomCropAndResize` to implement the inference behavior.

[2022-09-25 05:57] LukeWood opened #833 "StableDiffusion does not work with `mixed_precision.set_global_policy('mixed_float16')` policy"
mixed_precision.set_global_policy('mixed_float16')
stable_diffusion_mixed_precision = keras_cv.models.StableDiffusion()

[code]

[2022-09-25 06:05] LukeWood commented on #833
I'll be adding a unit test to reproduce this, and I'll go ahead and fix the bug.

Just an FYI @fchollet - I think at some point you had mixed precision working  - perhaps you know what broke it.  this seems like a simple weight initialization bug though.

[2022-09-25 09:03] LukeWood opened #835 "Split API docs for `preprocessing/` into `preprocessing/` and `augmentation/`"
https://keras.io/api/keras_cv/layers/preprocessing/

[2022-09-25 10:53] innat commented on #833
If mixed precision is on, in some cases, it's needed to cast the output layer's dtype to float32. I wonder if it's consider for the [segmentation head](https://github.com/keras-team/keras-cv/blob/e0c405350d5e70ae30ed1cab6b9219d911712c19/keras_cv/models/segmentation/__internal__/segmentation_head.py#L75) layer.

[2022-09-25 15:56] #833 closed

[2022-09-25 20:44] LukeWood opened #839 "Implement bounding_box.transform()"
This can be used in Shear & RandomCropAndResize for bounding box support

[2022-09-26 02:09] LukeWood opened #840 "StableDiffusion().text_to_image() should expose `verbose`"
This can just pass forward to all of its internal `model.predict()` calls

[2022-09-26 10:10] DavidLandup0 commented on #49
Thanks!

[2022-09-26 10:22] DavidLandup0 commented on #57
I have seen some say that they use ResNet-D or C instead of plain ResNets for benchmarks since they address a glaring design issue (ignoring 3/4rds of the input while downsizing). Though, I don't know if this is really enough to make it warranted to implement it.

On another note - some variants are 1-4 line changes, such as DenseNet, DenseNet-C, DenseNet-B and DenseNet-BC (as proposed in the orig

[2022-09-26 12:00] sayakpaul commented on #549
@AdityaKane2001 WDYT? I think after all the hard work that was put into creating the RRC API, it deserves a guide.

Cc: @martin-gorner

[2022-09-26 12:59] martin-gorner opened #841 "bounding box conversions fail with images of different sizes"
internally b/242193874

repro code:
[code]

output is :
[code]
but the bbox conversion fails with error:
[code]
Looking at the code, a single width and a single height are extracted from the parameter "images" which is wrong. Multiple images can have multiple sizes:
[code]

[2022-09-26 14:54] martin-gorner commented on #826
RandomZoomCrop ?

On Fri, 23 Sept 2022 at 19:10, Luke Wood ***@***.***> wrote:

--

Martin Görner | Product Manager, TensorFlow & Keras | ***@***.*** | +1
425 273 0605

[2022-09-26 22:55] BFauber opened #844 "StableDiffusion() model fails to reproduce same image from same prompt and seed"
The `StableDiffusion()` model fails to reproduce the same image when provided with the same `seed` value and `prompt`.

This issue is likely linked to inconsistency with the `tf.random.normal()` function. This function appears in line 187 of `stable_diffusion.py` https://github.com/keras-team/keras-cv/blob/master/keras_cv/models/generative/stable_diffusion/stable_diffusion.py.

I recommend either

[2022-09-26 22:56] LukeWood opened #845 "RetinaNet label encoder causes NaNs when all -1 batch of boxes is passed"

[2022-09-26 23:42] #250 closed

[2022-09-26 23:58] bhack commented on #841
@martin-gorner check https://github.com/keras-team/keras-cv/pull/848?

[2022-09-27 04:21] LukeWood opened #849 "Create a better workflow for dynamic image batch sizes in the RetinaNet guide"

[2022-09-27 13:10] ISipi opened #850 "Get the frames for each step of the Stable Diffusion denoising process"
**Short Description**
The `StableDiffusion().text_to_image()` could return the frames from each step of the denoising process in order to make a video of the training process. I've made a fork and have an implementation there.

**Papers**

NA

**Existing Implementations**

My inspiration for implementing was this [video](https://youtu.be/ltLNYA3lWAQ?t=1995).

**Other Information**

[2022-09-27 19:30] DB11051998 commented on #702
Hi! is anyone working on this issue?  if noone, i would like to work on this.

[2022-09-27 19:38] LukeWood commented on #702
No, please feel free to contribute this.  You should port the Keras layer to the repo, update to use the KerasCV style, and add bounding box support.  thank you!

[2022-09-27 20:07] DB11051998 commented on #702
Thanks @LukeWood for assigning me this.

[2022-09-27 20:23] LukeWood opened #855 "Track % of boxes matched in LabelEncoder of RetinaNet in a Keras metric"
This would be a super valuable debugging tool

[2022-09-27 21:44] #845 closed

[2022-09-28 01:12] LukeWood commented on #850
Thanks for the issue report!

If you contribute a notebook subclassing stable diffusion to do this I think evaluating the APIs general usefulness will be much easier!

[2022-09-28 02:44] LukeWood opened #858 "Automatically compute number of output filters based on AnchorGenerator in RetinaNet"
Right now, you manually have to pass a `PredictionHead` to `box_head` and `classification_head` and manually ensure the number of `AnchorBoxes` matches the number of outputs from each head when called on every level of the feature pyramid.

Unfortunately, this is not always possible right now, but we can do some validation to make this more streamlined.

[2022-09-28 11:01] bhack commented on #734
@sfleisch Can you share a minimal but complete gist/colab to reproduce your issue?

[2022-09-28 14:29] BFauber commented on #844
Here is the code I am running (NOTE: this was pulled directly from line 57 of `stable_diffusion.py` at https://github.com/keras-team/keras-cv/blob/master/keras_cv/models/generative/stable_diffusion/stable_diffusion.py):

[code]

Each time I run this code, I receive a different output image, even though the `seed` value is the same and should provide identical output images.

[2022-09-28 15:29] DB11051998 commented on #702
@LukeWood

![image](https://user-images.githubusercontent.com/43936231/192819388-eded1c3b-4c43-4e3f-b9ea-085951b52aea.png)

when u say "port  the keras layer to the repo" do you mean importing the resizing class present in the keras in the __init__.py code of the boundingbox  package(I have attached the screenshot of it). Could you please correct me here. If i am wrong, could you please explain me

[2022-09-28 19:08] martin-gorner opened #860 "RandomCrop bugs"
Repro Colab [here](https://colab.research.google.com/drive/1fi7CRtVzDH9xLTk1g2yae671HONpuppN#scrollTo=_uBFDKhkbriw)

Input image size: 360*512px

Problem #1: cropping to 128*513 crashes with a div by 0
Problem #2: cropping to 128*514 no longer produces random results (there are still many possible random positions along the Y axis)

[2022-09-28 19:20] LukeWood commented on #702
This is what I mean:

This PR is incomplete, but you can use it as a starter
https://github.com/keras-team/keras-cv/pull/861

[2022-09-28 19:41] DB11051998 commented on #702
Thanks @LukeWood !! it's a good starter code.

[2022-09-28 22:05] bhack commented on #860
Yes for 1 it is an edge case of `get_random_transformation` in Keras
https://github.com/keras-team/keras/blob/v2.10.0/keras/layers/preprocessing/image_preprocessing.py#L581-L582
`w_start = rands[1] % (w_diff + 1)`

As your image in the colab cell is
[code]
With
[code]

You are going to have a `w_diff` of `-1` and so you crash with `% 0`

[2022-09-28 22:16] bhack commented on #860
For 2 I I don't understand well the logic of using  `dtype.max`
https://github.com/keras-team/keras/blob/v2.10.0/keras/layers/preprocessing/image_preprocessing.py#L580

[code]

[2022-09-28 23:19] LukeWood commented on #860
Thank you Martin for the bug report!

[2022-09-28 23:24] LukeWood opened #865 "[tracking bug]"
So far, I’ve put together a notebook that achieves good results with the RetinaNet by using a resize with pad operation on an image-wise basis with some jitter.

Here are some updates that could make the process better:
- unbatched crop random sections of the image (so output would be [None, None, 3]
- Scale the image by a random width and height factor

After this we can also look i to figuring o

[2022-09-28 23:26] LukeWood commented on #865
Maybe I can construct a super feature complete pipeline that takes batches of ragged images, takes random sections of them (and accompanying bound boxes) and assembled them into mosaic-style images…

[2022-09-28 23:45] LukeWood commented on #865
Perhaps a more incremental layer:

- train time: randomly crop images, pad entire batch out to a valid RetinaNet input size
- Eval time: just pad to a valid stride

[2022-09-29 07:37] HLearning opened #866 "keras-cv.models & keras.applications"
I see that there are models in both keras.applications and keras-cv.models,  In the future, whether to move all models from keras.applications to keras-cv.models ?

[2022-09-29 15:56] LukeWood opened #868 "Thoroughly document KerasCV offerings"
The index.md page needs to have all of the differences between KerasCV and Keras.applications

we could even explain the motivation

[2022-09-30 10:02] pure-rgb opened #871 "classification directory for classifier"
I see that there are separate folder for each category. But the imagenet models are placed outside arbitrary. They should be placed under `classification` directory.

https://github.com/keras-team/keras-cv/tree/master/keras_cv/models

![image](https://user-images.githubusercontent.com/45315076/193246422-4024c068-fe28-4841-80d5-4397aefcca6b.png)

[2022-09-30 13:37] pure-rgb opened #872 "Separate augmentations & preprocessing layers on keras.io"
![image](https://user-images.githubusercontent.com/45315076/193281664-d90de2a9-8a29-48f7-ae7c-d64ad002666b.png)

Some are called random and some are not. Is it expected?

[2022-09-30 13:54] bhack commented on #872
Semi duplicate @martin-gorner https://github.com/keras-team/keras-cv/issues/826#issuecomment-1256127121

[2022-09-30 18:45] atlanticstarr1 commented on #581
The same is happening for RandAugment. Without RandAugment each epoch takes around 35s on my machine. With RandAugment it takes about 2mins 25 seconds. Any resolution on the roadmap?

[2022-10-01 09:13] DB11051998 commented on #702
![image](https://user-images.githubusercontent.com/43936231/193401964-9076b6cf-8ad4-45e2-8baf-93be4922c1a6.png)

 whenever i am calling the Resizing class, it is calling from the keras package, which is ultimately throwing an error, to it. why it is going to that package??....whereas in the __init__.py, i am importing this Resizing class

![image](https://user-images.githubusercontent.com/43936231

[2022-10-01 17:54] tre3x commented on #702
Hi, can i work on this issue?

[2022-10-01 22:23] LukeWood commented on #702
Yes, feel free to open a PR.  You’ll need to port the layer as I have done in the linked PR, then add bounding box support to it.

[2022-10-02 03:22] innat opened #874 "Query on segmentation modeling (deeplabv3)"
1. In general, shouldn't the `input size` and `target size` match? Why I need to downscale the target samples for training? For example,  input size 128, target size 32.
2. I got the following warning message. Tested on colab.

3. `mixed precision` makes loss value to `nan` (probably need to cast the output of segmentation head to `tf.float32`. You might want to introduce `dtype` param in [here](h

[2022-10-02 03:22] innat commented on #874
cc. @qlzh727

[2022-10-03 19:14] qlzh727 commented on #874
Thanks for the question.

Sure. Currently the model is just return the raw output from detection head. We could add extra layers to scale up the output to let it match the input shape. (for better comparison).

Let me take a closer look. I guess the FPN weights  is not tracked by model correctly. Thanks for the report.

Thanks. Will do.

[2022-10-03 22:13] qlzh727 commented on #874
The PR should address 1 and 3.

For 2, after a closer look, this warning is intended. For the FPN, only the output at level 2 is consumed by the segmentation head, which is why the P3~P5 weights doesn't have any loss. Since the FPN is decoupled from the head, it doesn't know that only part of its output are consumed.

[2022-10-04 16:04] bhack opened #876 "Stable diffusion benchmark"
Do we have a reference benchmark for our stable diffusion inference?

Meta claimed a 2.5x gain with AITemplate over XLA (I suppose Pytorch-XLA):
https://github.com/facebookincubator/AITemplate/tree/main/examples/05_stable_diffusion#results

[2022-10-04 18:41] #874 closed

[2022-10-04 19:34] KyloRen1 opened #877 "FocalLoss"
I am doing a multiclass classification model with FocalLoss

On the output of the model, I have a softmax with 4 classes. But the FocalLoss produces an error
`ValueError: `logits` and `labels` must have the same shape, received ((None, 4) vs (None, 1)).`

[2022-10-04 20:21] innat commented on #874
@qlzh727
Thanks for addressing these issues. I did a quick test and the main issues are gone. I compared the results of first run with similar [codebase](https://www.tensorflow.org/tutorials/images/segmentation), and segmentation resutls are achieved as follows. The results are pixeled but it might need better training care. I will check later.

![download](https://user-images.githubusercontent.co

[2022-10-04 21:08] qlzh727 commented on #874
Thanks for the information. Note that for the accuracy, it might because the backbone we current us doesn't have the pretrained weights, whereas the tutorial does use the keras application model with imagenet weights.

[2022-10-05 04:53] innat commented on #877
The error message above is self-explanatory. You can check this test scripts to realize your target shape and prediction shape. https://github.com/keras-team/keras-cv/blob/master/keras_cv/losses/focal_test.py

[2022-10-05 11:09] martin-gorner commented on #830
Please avoid names like "smart*" in favor of more descriptive names.

Example:
layers.Resizing(smart_resize=True)
was renamed
layers.Resizing(crop_to_aspect_ratio=True)

[2022-10-05 11:11] martin-gorner commented on #807
and also
loss = "default"
OR
box_loss="default" classification_loss="default"
as decided in [sync meeting](https://groups.google.com/a/google.com/g/keras-cv/c/uO8zqo14xVI)

[2022-10-05 11:19] bhack commented on #841
@martin-gorner What do you need here?

[2022-10-05 11:22] martin-gorner commented on #841
Please check with Ragged bounding boxes! The repro code on top of this issue still fails. Also, please add ragged bounding boxes to unit tests.

Note:
The failure is on multiplications:
[code]
I have been able to get it to work with this, but it was trial and error, not actual understanding of what I am doing🤪. Please check!
[code]

[2022-10-05 11:30] bhack commented on #841
Thanks, I will try to take a look at this case

[2022-10-05 12:08] bhack commented on #841
We had already this test from the internal team. I've just use the same for ragged_images:

https://github.com/keras-team/keras-cv/blob/f77d0cb6c0e221c2976555f1387e2aad54cc0257/keras_cv/bounding_box/converters_test.py#L158-L167

And it was passing.

The problem instead is that the testing input it was already not covering the uses cases we want.
As you can see it supposes just 1 bounding box x ima

[2022-10-05 12:42] martin-gorner commented on #841
Yes, I noticed.

[2022-10-05 12:53] martin-gorner opened #880 "pad_batch_to_shape does not work with ragged bounding boxes"
Repro code:

[code]
output:
[code]
Expected output:
[code]

[2022-10-05 12:55] martin-gorner commented on #880
Unit tests for ragged bounding boxes seem to be lacking as well.

[2022-10-05 12:57] martin-gorner commented on #880
adding the "object-detection-landing" flag because this utility functions is needed for the TPU-compatible object detection pipeline

[2022-10-05 14:24] bhack commented on #841
Can you express your input case with a `tf.constant`?

As in the original test design the same input was used for non ragged boxes and for ragged is transformed on the fly by `_raggify`:

https://github.com/keras-team/keras-cv/blob/f77d0cb6c0e221c2976555f1387e2aad54cc0257/keras_cv/bounding_box/converters_test.py#L181-L182

[2022-10-05 14:41] bhack commented on #841
Mhh we cannot do that for your case as it is valid only as a ragged tensor.

Waiting for @LukeWood about how he would refactor this test without breaking too much things related to the original design.

[2022-10-05 14:53] LukeWood commented on #841
I see.

If our test structure cannot reproduce a legitimate failure, then we should definitely refactor the tests.

[2022-10-05 16:48] bhack commented on #841
With the original `_raggify` with the standard test input:

[code]

`_raggify`

[code]

Please note `[]`. Also, why we have a `row_lengths` arg if it is not used in the implementation?

[2022-10-05 19:19] DavidLandup0 commented on #49
Seems to be done, just waiting for the training to finish to validate whether it behaves the same as in the paper. Sending the pull request in a few hours!

[2022-10-05 23:55] DavidLandup0 commented on #866
`keras_cv.models` will, when ready, likely overtake `keras.applications`. Though, the focus of KerasCV isn't to have a model zoo, but to provide building blocks for CV model development. :)

[2022-10-06 07:26] martin-gorner commented on #841
For bounding boxes, the norm is to have a variable number of bounding boxes for each image. The norm is also to process images in batches. So the following is a pretty normal batch of bounding boxes:
[code]

[2022-10-06 07:52] bhack commented on #841
So what was the scope of the original `_raggify` `[2, 0]`?

Was it to simulate an empty result?

[2022-10-06 09:25] jacoverster commented on #835
Hi @LukeWood I'd like to give this a go please.

[2022-10-06 12:28] innat opened #886 "Query on object detection (faster-rcnn)"
TF: 2.9.2

1. How to best describe this warning message? ([Similar](https://github.com/tensorflow/tensorflow/issues/34025))
[code]

2. Can we do better approach to visualize training log for custom training loop?
[code]

Something like in table-view format.

[code]

[2022-10-06 13:36] gvalvano opened #887 "Stable Diffusion Trainer"
Hi, thanks for this excellent work! :)

Do you plan to share a trainer for the stable diffusion model?

[2022-10-06 14:15] tanzhenyu commented on #886
Thanks for the report! The function retracing is mostly due to the data pipeline, you can easily get rid of it by changing this from:
https://github.com/keras-team/keras-cv/blob/master/examples/models/object_detection/faster_rcnn/train.py#L96-L97
to:
`examples["gt_boxes"] = gt_boxes.to_tensor(default_value=-1.0, shape=[global_batch, 32, 4])`
(magic number 32 is that 99% chance the number of ground

[2022-10-06 15:44] LukeWood commented on #887
As an API probably not.

As a fine tuning tutorial - definitely!

[2022-10-06 16:44] bhack commented on #886
I could be wrong but IMHO we are entering again in https://discuss.tensorflow.org/t/deformable-convolution-and-other-custom-ops/1951 as also other "popular frameworks" have a native ops for this.

I hope it could be expressed without loops with pure TF ops but I have some doubt.

[2022-10-06 17:26] gvalvano commented on #887
Cool! I think it would be super-useful to let people understand better how to replicate these experiments.
I'm looking forward to it!

[2022-10-06 18:38] bhack commented on #886
Do you mean a new native TF op?

[2022-10-06 19:01] tanzhenyu commented on #886
Yep

[2022-10-06 19:08] tanzhenyu commented on #886
One more thing is -- if there are lessons learned or how to achieve this from tensorflow-addons, would be really helpful to point us to the POC so we can get this working asap

[2022-10-06 19:14] bhack commented on #886
We had some native CPU and CUDA kernels for:

- Precision ROI Pooling (>660 citations): https://github.com/vacancy/PreciseRoIPooling

- And ROI Pooling: https://github.com/deepsense-ai/roi-pooling/tree/master/roi_pooling

- Probably also ROI Align somewhere

But this approach will not go to cover TPU support and eventually other accelerators other then feeding the old problem of going to prolifera

[2022-10-06 19:41] tanzhenyu commented on #886
The top preference is always express them in XLA to get TPU support, at least the ROIAlign can be achieved. I'd be very happy if anyone can carry ROIPool over the line -- at the end of the day, it's supposed to be simpler than ROIAlign

[2022-10-06 19:49] bhack commented on #886
We have already it.. or not?:
https://github.com/tensorflow/models/blob/master/official/vision/modeling/layers/roi_aligner.py
https://github.com/tensorflow/models/blob/master/official/vision/ops/spatial_transform_ops.py

[2022-10-07 10:23] LukeWood commented on #841
I believe this was in fact to simulate an empty result.

We should rely on tf.ragged.constant in our unit tests to get the widest array of coverage.

In hindsight, I think using these helper methods was likely a design mistake.

[2022-10-07 14:29] bhack commented on #841
Ok, but it still seems to me incorrect if you see the original input with the original result I've posted at https://github.com/keras-team/keras-cv/issues/841?notification_referrer_id=NT_kwDOABoZwLI0NDc3NjE1MjI1OjE3MTA1Mjg#issuecomment-1268682255

Can you confirm what inputs do we want to test?

I make some examples:
[code]

[2022-10-07 18:37] bhack commented on #581
/cc @martin-gorner

[2022-10-10 09:40] HLearning opened #892 "why? a data preprocessing problems in the use of keras.applications and keras-cv."
I found that some of the same weights were used in a and b

# keras.applications
data preprocessing
https://keras.io/api/applications/
[code]
image imported to the network
- range: [0, 255]
- mode: BGR
- sub mean
- div std

# keras-cv models
https://keras.io/keras_cv/
[code]
- include_rescaling=True,  image = image / 255

The two are different. In the process of use, does it have no impact？

[2022-10-10 13:32] DavidLandup0 opened #894 "Adding Dice Coefficient, Tversky Loss, etc."
**Short Description**

With the addition of DeepLab by @qlzh727, it might be a good idea to add relevant metrics and loss functions that are commonly used for segnets. If we do Dice Loss, it might be better to generalize to Tversky Loss as a parent class, and then override for other losses like Dice.

**Other Information**

I'd gladly work on any of these implementations as well!

[2022-10-10 13:59] bhack commented on #894
/cc @innat

[2022-10-10 14:14] innat commented on #894
@DavidLandup0
Few mons ago, I made two PR regarding segmentation loss and they're inactive now. If you've time, you're most welcome to take them from here.

https://github.com/keras-team/keras-cv/pull/371 https://github.com/keras-team/keras-cv/pull/449

cc. @blackhat-coder : https://github.com/keras-team/keras-cv/pull/414

[2022-10-10 14:16] DavidLandup0 commented on #894
Whoops, my bad for not seeing them. Thanks!

[2022-10-10 14:16] #894 closed

[2022-10-10 14:22] LukeWood opened #895 "RetinaNet TPU compatibility"
With evaluate_train_time_metrics=False, .fit() training works, but not validation. Validation will try to XLA-compile the NMS layer which will fail. This is whether COCO metrics are defined as metrics in .compile() or not.

This can be fixed by checking if the metrics list is empty or not, and only tracing NMS when they are in fact empty.

[2022-10-10 14:47] bhack commented on #895
As I've contributed the `tf.bincout` bridge coverage in TF some of these issues could be solved by using python range instead of `tf.range`:
https://github.com/tensorflow/tensorflow/issues/56769

See @cheshire
https://github.com/tensorflow/tensorflow/commit/56b2e5a77fda3fa573c2eec86d38a92379508118

The residual issues is that, also with this change, we still have:

`pytest keras_cv/metrics/coco/me

[2022-10-10 22:56] bhack opened #900 "Evaluate augmentation policies and API"
**Short Description**
I think that we could re-evaluate if we need to introduce separated augmentation policies and eventually define their interaction with the preprocessing layers API:

https://github.com/keras-team/keras-cv/issues/108#issuecomment-1040626481
https://github.com/keras-team/keras-cv/issues/108#issuecomment-1043598240

**Papers**
https://arxiv.org/abs/2206.06544

**Other Informatio

[2022-10-11 12:03] bhack commented on #895
For `UNIMPLEMENTED: Dynamic reshape is not implemented` we can track https://github.com/tensorflow/tensorflow/issues/58051

[2022-10-11 12:30] DavidLandup0 commented on #892
It will have an impact - a major one. Here's what happens when you don't rescale and then rescale the same input on DenseNet from `keras.applications`:

[code]

And:

[code]

The weights were ported from `keras.applications` to `keras_cv.models` to avoid re-training an entire family of networks, which is expensive in time and resources since the network itself is the same. You can just set `includ

[2022-10-11 17:43] DavidLandup0 opened #904 "Xception architecture"
**Short Description**

Do we want to add Xception to KerasCV? Seems like a natural fit, and I've had Xception perform quite similar to EfficientNets (1-3) in most cases. It has nearly 10k citations, isn't hard to implement, and can be ported with the same pre-trained weights from `keras.applications` if need be.

**Other Information**

If so, sign me up to port it!

[2022-10-11 17:50] DavidLandup0 opened #905 "ResNeXt Architecture"
**Short Description**

ResNeXt is a pretty commonly used arch, had ~8k citations, and is oftentimes shown in comparison tables.
`torchvision` has ResNeXt as well. Might be a good fit.

**Other Information**

Signing up to work on it as well.

[2022-10-11 22:45] bhack opened #907 "Express cloudbuild as github action"
Can we express our CloudBuild with the Gooogle  Github Action?

This is an official example from the official google cloud Action repo:
https://github.com/google-github-actions/setup-gcloud/tree/main/example-workflows/cloud-build

https://github.com/google-github-actions/setup-gcloud/blob/main/example-workflows/cloud-build/.github/workflows/cloud-build.yml

[2022-10-12 02:07] HLearning commented on #892
@DavidLandup0   Thank you for your answer. I understand what you said.

I think scaling should be done in preprocessing, not in the backbone network.

I think this interface(setup include_rescaling) should be dropout.

[2022-10-12 04:40] innat commented on #905
It's been asked.
https://github.com/keras-team/keras/issues/15270

@LukeWood could you please move above ticket here in kcv? And also these https://github.com/keras-team/keras/issues/15267 https://github.com/keras-team/keras/issues/15268 https://github.com/keras-team/keras/issues/15816

[2022-10-12 05:08] innat opened #909 "Migrate `IoU` segmentaiton metrics from `keras.metrics` to `keras_cv.metrics`"
Intersection-Over-Union is a common evaluation metric for semantic image segmentation.

- [tf.keras.metrics.MeanIoU](https://www.tensorflow.org/api_docs/python/tf/keras/metrics/MeanIoU)
- [tf.keras.metrics.IoU](https://www.tensorflow.org/api_docs/python/tf/keras/metrics/IoU)
- [tf.keras.metrics.BinaryIoU](https://www.tensorflow.org/api_docs/python/tf/keras/metrics/BinaryIoU)
- [tf.keras.metrics.On

[2022-10-12 11:03] DavidLandup0 commented on #909
Small note - MeanIoU has a known bug that most people fix by overriding it with the fix. We might want to do that while porting it over

[2022-10-12 11:08] DavidLandup0 commented on #909
It's reported here: https://github.com/tensorflow/tensorflow/issues/32875
Sparse categorical crossentropy doesn't play well with it, apparently.

Most fixes boil down to subclassing it modifying one line that throws the exception:

[code]

[2022-10-12 11:55] bhack opened #911 "MOAT networks"
**Short Description**
Are we interested in Google Research MOAT networks or are they too fresh for our standards?

**Papers**
https://arxiv.org/abs/2210.01820

**Existing Implementations**
https://github.com/google-research/deeplab2/blob/main/model/pixel_encoder/moat.py

https://github.com/google-research/deeplab2/blob/main/g3doc/projects/moat_imagenet_pretrained_checkpoints.md

**Other Informatio

[2022-10-12 14:24] innat opened #912 "Add MaxViT model"
**Short Description**

![FeuQq4CUoAkGkMe](https://user-images.githubusercontent.com/17668390/195369211-8c2979d7-fb44-4f92-bf16-15b8f1a2d09a.jpg)

**Multi-Axis Vision Transformer**: [MaxViT](https://arxiv.org/abs/2204.01697) is a family of **hybrid** (CNN + ViT) image classification models, that achieves better performances across the board for both parameter and FLOPs efficiency than both SoTA Con

[2022-10-12 14:58] bhack commented on #912
Quite related to https://github.com/keras-team/keras-cv/issues/911

[2022-10-12 15:24] ayulockin commented on #912
Hey all I can work on this. :)

[2022-10-12 15:50] LukeWood commented on #909
An easy solution might be to upstream the fixes then just import these metrics from keras in keras_cv.metrics.

[2022-10-12 15:52] LukeWood commented on #877
@innat is correct that the error message is correct.  I think you need to one hot encode your labels.

happy to help if this doesn’t work.

[2022-10-12 15:52] #877 closed

[2022-10-12 16:12] DavidLandup0 commented on #912
I'd gladly also port this from the official repo to here. :)
If someone could assign me to it, I'd get to it as soon as the Dice and Jaccard coefficients are done.

[2022-10-13 00:10] tanzhenyu commented on #912
@ayulockin @innat Ideally we would like to have SwinTransformer first:
https://github.com/keras-team/keras-cv/issues/671

[2022-10-13 00:19] bhack commented on #671
We have @sayakpaul https://github.com/sayakpaul/swin-transformers-tf for this

Then we need to build the training phase.

[2022-10-13 00:21] bhack commented on #636
Can we close this for https://github.com/keras-team/keras-cv/issues/671?

[2022-10-13 00:26] DavidLandup0 commented on #671
Any progress on this @ayulockin @ariG23498?
If you'd like to drop it, I can port Sayak's implementation and move onto MaxViT

[2022-10-13 00:32] DavidLandup0 commented on #671
To do transformer-based models we'll need new layers (reusable) and blocks (might be reusable). KerasCV is currently missing blocks to rapidly build transformer-based models. Might be worth taking a detour to work on those components first

[2022-10-13 01:55] HLearning commented on #892
I agree with you, but the confusion of apis has always been criticized by users. Now, in Keras, similar functions have different apis, which will make users very confused.

[2022-10-13 02:10] #866 closed

[2022-10-13 03:34] innat commented on #912
@tanzhenyu
I think vanila [ViT](https://pytorch.org/vision/main/_modules/torchvision/models/vision_transformer.html) should be first, it's like VGG for transformer 😄

In the mean time, I think it's also ok to start working on the basic component like window partition, grid attention, trail-dense etc. cc @ayulockin @DavidLandup0

[2022-10-13 04:47] tanzhenyu commented on #912
https://github.com/keras-team/keras-cv/issues/668

[2022-10-13 11:16] DavidLandup0 commented on #912
Creating a pull request later today with layers for patching, mlp heads, linear projections, etc. We can use those to build a ViT and then extend it to Swin and other transformers for vision. A rough draft for ViT will be coming in with the basic layers. Would you prefer a PR for components, and then a PR for ViT on a different branch instead? @tanzhenyu @innat

[2022-10-13 13:01] bhack commented on #912
Not that we need to do the same but at the same time I will take a look to also at the modularization organized in the quite popular Huggingface Transformers API
https://github.com/huggingface/transformers/blob/main/src/transformers/models/vit/modeling_tf_vit.py

[2022-10-13 13:38] tanzhenyu commented on #912
Given we don't anticipate the need to expose components such as linear projections as public APIs, either creating a single PR or multiple PRs sounds good to me.
In this case, it really depends if you want it to be re-used at Swin and others. Modularity is the key. If that's what you want, would you mind coming up with a basic design to show how those components can fit into other models?

[2022-10-13 13:48] ayulockin commented on #912
I think adding basic components as you mentioned should be the way to go. KerasCV's aim is to provide components for industrial adaption of research. I think instead of focusing on models (ViT, Swin, etc) we should scope the transformers for vision such that we can build fundamentals blocks.

[2022-10-13 13:56] sayakpaul commented on #668
Sorry for the delay. But I still have it planned to contribute to this.

[2022-10-13 14:13] bhack commented on #912
It is why I've suggest to explore Huggingface transformer modules.

Probably it is not the best modularization that we could achieve but at least they have already accumulate a quite relevant list of transformer archs on the library.

I don't know if its is production level or not but at least it is partially validated by the number of models.

[2022-10-13 14:50] tanzhenyu commented on #912
This seems to be concise. My only question here is whether the `TransformerEncoder` is implemented in a different way than "normal" transformer encoders, or the same way? We might want to consider bring this to core Keras instead of KerasCV if it's the same way.

And yes I agree with @bhack and @ayulockin that we should take a look at HF's implementation and make sure we're providing enough modula

[2022-10-13 14:53] bhack commented on #912
Yes this is another very important point already discussed to minimize (future?) duplications with Keras-nlp

[2022-10-13 15:31] tanzhenyu opened #915 "Inconsistent behavior between pycoco and keras_cv.metrics.COCOMeanAveragePrecision"
During the development of FasterRCNN, I have noticed reasonable loss and reasonable prediction outcome, but always get low mAP metrics (~0.18). The evaluation loop takes ~13 minutes.
So I instead hack a COCO wrapper (thanks to Model Garden) and directly call pycoco, this time it gets me 0.44 mAP which is more reasonable. The evaluation loop takes ~8 minutes.
I wonder how we can investigate those i

[2022-10-13 16:45] tanzhenyu commented on #909
Depending on what we want. So if this metrics is particularly for segmentation, we should have it at keras_cv. The Keras version MeanIOU is intended for a wider usage which doesn't really think about the segmentation map tensor shape. So I'd say in this case, we should do the migration.

[2022-10-13 16:53] tanzhenyu commented on #905
Transferred.

[2022-10-13 16:54] tanzhenyu commented on #904
This is Francois's domain, I will let him comment.
I think we should :-)

[2022-10-13 16:57] tanzhenyu commented on #887
I think we should provide some training script, in general all KerasCV models should have reproducible result and we aim to achieve paper-claimed SOTA metrics, though external contribution welcome as we don't have immediate plans for it.

[2022-10-13 16:59] tanzhenyu commented on #886
I'm closing it since the latest version achieve a pretty good performance and result. Running on a single GPU takes ~3.5 hours and gives you ~44 mAP. The next thing on my plate is to enable model.fit.
Feel free to re-open it if you have some other requests.

[2022-10-13 16:59] #886 closed

[2022-10-13 17:00] tanzhenyu commented on #876
There are some reports here:
https://news.ycombinator.com/item?id=33005585
But I don't think an "official" 3p benchmark is available.

[2022-10-13 17:03] LukeWood commented on #915
Thanks for the error report!  I'll take this on and try to figure out whats going on here.

[2022-10-13 17:10] LukeWood commented on #355
If we strong references regarding the usefulness of these lets re-open, but for now I'd like to wait for a user feature request

[2022-10-13 17:10] #355 closed

[2022-10-13 17:10] LukeWood commented on #356
If we strong references regarding the usefulness of these lets re-open, but for now I'd like to wait for a user feature request

[2022-10-13 17:10] #356 closed

[2022-10-13 17:11] LukeWood commented on #357
If we strong references regarding the usefulness of these lets re-open, but for now I'd like to wait for a user feature request

[2022-10-13 18:58] tanzhenyu opened #918 "RetinaNet train script failed"
Running `python examples/models/object_detection/retina_net/basic/pascal_voc/train.py`
fails at:
[code]

Commenting out `visualize_dataset`, the script still cannot run but will raise another different error message

[2022-10-13 19:16] bhack commented on #918
Do we have ragged tensor?

[2022-10-13 19:34] LukeWood commented on #909
Yeah gotcha, that makes sense to me.  We also could use a bounding box variant of IOU too.

[2022-10-13 20:27] bhack commented on #907
1. We have all the orchestration on a common well know DSL (Githu Action)
2. I don't know specific limit, it is maintained by Google.

[2022-10-13 20:29] bhack commented on #915
@tanzhenyu Other then precision that could be fixed/covered by the right test we still have some perf. inefficiency as we cannot XLA compile these things. See https://github.com/keras-team/keras-cv/issues/895#issuecomment-1273430678

[2022-10-13 21:00] tanzhenyu commented on #915
Those metrics that require lots of dynamic processing are usually something we cannot make it happen in XLA anyway, so right now this only works on CPU, we don't have plans to support it in GPU/TPU

[2022-10-13 21:00] tanzhenyu commented on #915
Those metrics that require lots of dynamic processing are usually something we cannot make it happen in XLA anyway, so right now this only works on CPU, we don't have plans to support it in GPU/TPU

[2022-10-13 21:09] bhack commented on #915
IMHO It is not clear as initially we had a "simple" issue related to the missing coverage of `tf.bincount` in the bridge so I have contributed the kernel in Tensorflow.

Currently we are investigating on https://github.com/tensorflow/tensorflow/issues/58051

[2022-10-13 22:22] tanzhenyu opened #920 "smooth l1 loss does not match formula"
Here's our implementation:
https://github.com/keras-team/keras-cv/blame/master/keras_cv/losses/smooth_l1.py#L39-L42

Here's a definition used by PyTorch:
https://pytorch.org/docs/stable/generated/torch.nn.SmoothL1Loss.html

A beta denominator is missing. It still works fine if the cutoff is 1, but anything else would be different.
We should also add more unit test to it while fixing it

[2022-10-13 22:33] bhack commented on #920
Are we talking about the same thing?

https://mohitjainweb.files.wordpress.com/2018/03/smoothl1loss.pdf

Or the self-adjusting version?
https://paperswithcode.com/method/self-adjusting-smooth-l1-loss

[2022-10-13 23:03] tanzhenyu commented on #920
It seems the self adjusting one is more widely used

[2022-10-13 23:26] bhack commented on #920
Ok as I supposed it was introduced later with Retinamask:

https://paperswithcode.com/method/retinamask

[2022-10-14 10:16] sebastian-sz commented on #752
Closing, as the comment explained it.
https://github.com/keras-team/keras-cv/pull/908#discussion_r993308093

[2022-10-14 10:16] #752 closed

[2022-10-14 10:19] LukeWood commented on #915
Some notes:

- re: https://github.com/keras-team/keras-cv/blob/map/examples/models/object_detection/faster_rcnn/eval.py#L448 this is just part of the definition of MaP.  Check the technical report I wrote on the metrics, I think it is a good explanation in the metric definition section: https://arxiv.org/abs/2207.12120. the metric is NOT a substitute for precision despite the name

- re the perfor

[2022-10-14 14:03] tanzhenyu commented on #915
So pycoco is known to be able to deal with padded 0 values, so passing
`cls_classes tf.Tensor([[ 8. 15. 15.  8.  0.  0.  0.  0.  0.  0.]], shape=(1, 10), dtype=float32)`
to it seems give me exactly result compared to passing
`cls_classes tf.Tensor([[ 8. 15. 15.  8.]], shape=(1, 4), dtype=float32)`

I wasn't so sure if keras_cv.COCO can support it (the documentation says it should though), so I onl

[2022-10-14 14:23] LukeWood commented on #915
Thanks for the explanation.  It handles -1 padded, but not zero.  Zero would in fact mess the result up.

 I’ll keep digging on the discrepancy…

[2022-10-14 14:23] bhack commented on #915
https://github.com/keras-team/keras-cv/blob/e9390abbf12f2a906e79fb773f69fc0e76821340/keras_cv/metrics/coco/mean_average_precision.py#L68-L73

[2022-10-14 14:27] LukeWood opened #922 "Implement StableWorld Keras.Io tutorial using KerasCV"
Example Colab:

https://colab.research.google.com/drive/1RXRrkKUnpNiPCxTJg0Imq7sIM8ltYFz2?usp=sharing

[2022-10-14 14:36] tanzhenyu commented on #915
Oh, maybe we should add a note or warning here saying accepting ragged tensor will trigger retracing, and prefer users to pad with -1?

[2022-10-14 14:50] bhack commented on #918
@tanzhenyu Confirmed you are using ragged tensors so you need to cheery-pick that PR.

But then we have another bug in visualization with ragged tensors:

[code]

[2022-10-14 15:02] bhack commented on #915
P:s. ragged tensors are also not supported by the standard TF XLA bridge

[2022-10-14 16:33] bhack commented on #918
Other then `tf.image.draw_bounding_boxes` that doesn't support ragged images we don't support ragged tensor in other `tf.image.*` API called in:

https://github.com/keras-team/keras-cv/blob/e9390abbf12f2a906e79fb773f69fc0e76821340/examples/models/object_detection/retina_net/basic/pascal_voc/train.py#L133-L136

More in general I think we need to start to add the testabilty of the `example` folder.

[2022-10-14 16:58] LukeWood commented on #918
Yeah this guide is quite out of date.  I’ll update it, feel free to assign to me.

[2022-10-14 18:05] innat opened #924 "Add MAXIM model"
**Short Description**

**MAXIM: Multi-Axis MLP for Image Processing**: I think it's a follow-up work of MaxViT from google. It shows a great performance on the following low-vision task, i.e. for OCR.

![image3](https://user-images.githubusercontent.com/17668390/195910903-e6bfe5e0-35da-4323-ac84-8720acda2d30.png)

It looks useful for real world problem (blurry, haze, rain-drop). Such problems are

[2022-10-15 00:36] tanzhenyu opened #926 "Preprocessing layers should take native box format"
Today, in order to augment_bbox, users are required to pass `[y_min, x_min, y_max, x_max, class_id]` to the layer input, i.e., concat `gt_boxes` and `gt_classes`.
This is a little anti user experience for the purpose of feeding our COCO metrics API. It also makes it hard to scale for other formats such as segmentation maps, if we need our COCO metrics API to support masking IOU computation later.

[2022-10-16 05:14] FahimF opened #930 "Feature - Cross Attention Control for Stable Diffusion"
**Short Description**
Any possibility of getting Cross Attention Control support added for Stable Diffusion as seen implemented as per the repo linked below on the PyTorch side?
https://github.com/bloc97/CrossAttentionControl

I'd be happy with just the ability to use a prompt edit and to be able to modify the output from the original prompt. It makes a huge difference in the types of images you c

[2022-10-16 08:29] LukeWood commented on #915
Good point.  I don’t * think * that retracing is always the case with raggeds.  Perhaps we need to put relax_shapes=True in the tf.function decorator on the COCO metrics’ update state methods.  I’ll give that a try.

[2022-10-16 10:29] FahimF commented on #930
I might have managed to figure out some of the logic for the Keras side, but I don't think my implementation is totally correct. Here's where my code is at, at the moment. If anybody has any pointers on what I might be doing wrong, would appreciate it 😄

All the changes are in the StableDiffusion class - I added a new `prompt_edit` parameter and added the logic for incorporating the `prompt_edit`

[2022-10-17 12:28] LukeWood commented on #258
This is primarily handled by `BaseImageAugmentationLayer`, so we can close for now.

[2022-10-17 12:28] #258 closed

[2022-10-17 12:35] LukeWood commented on #822
Updated the visualizations in the guide, for now we're keeping our offerings narrow to focus on delivering a few good work flows

[2022-10-17 14:47] bhack commented on #907
Also it is quite annoying that the Cloudbuild is always in failing by default for every new PR (when it is still not manually triggered).

It makes the PRs status and overview/lists very confusing.

[2022-10-17 16:11] LukeWood opened #931 "Add the full configuration of standard COCO metrics to the RetinaNet guide"
(Alternatively we can do this in the COCO tutorial)

[2022-10-17 17:35] jacoverster commented on #835
Hi @LukeWood, any comment on this maybe?

[2022-10-18 05:01] LukeWood opened #936 "Implement Resize with pad to aspect ratio"
the logic is here:

[code]

Basically, this needs to be done in order for the bounding boxes to properly be resized & scaled across the image.

[2022-10-18 13:20] tanzhenyu opened #937 "Call for YOLOv3 support"
**Short Description**
YOLOv3 is considered to be widely used, excellent tradeoff between performance and speed, even compared with YOLO5 / YOLO-X / YOLO-E.

**Papers**
https://arxiv.org/pdf/1804.02767.pdf

**Existing Implementations**
Publicly there are some really popular repos, such as [this](https://github.com/qqwweee/keras-yolo3), and [this](https://github.com/tensorflow/models/tree/master/off

[2022-10-18 13:23] tanzhenyu commented on #937
@qqwweee

[2022-10-18 13:27] bhack commented on #937
/cc @vishnubanna  @anivegesana

[2022-10-18 13:27] tanzhenyu commented on #937
I'm not sure if this one is maintained anymore (also missing spp version)

[2022-10-18 13:34] bhack commented on #937
Probably it was not  pre-trained in that flavour but I see the layers and test:
https://github.com/tensorflow/models/blob/master/official/projects/yolo/modeling/layers/nn_blocks.py#L1128
https://github.com/tensorflow/models/blob/master/official/projects/yolo/modeling/layers/nn_blocks_test.py#L206

[2022-10-18 13:36] bhack commented on #937
Also all the yolo folder passed from beta to official namespace just 1 month ago with this @arashwan's PR:
https://github.com/tensorflow/models/commit/9b7c561a997eed0c312a4dcaccd8e42168936fae

[2022-10-18 13:41] tanzhenyu commented on #937
The point is to ask for contribution for modeling and training script that can be consistent with our existing APIs

[2022-10-18 13:52] bhack commented on #937
We have discussed this extensively at the launch  of this repo, so it  is not about if you want to implement this or not, it more about**bold** claims that doesn't correctly represent the status of the ecosystem.

So we have this model already in TF ecosystem "official" but we want to re-implement it in the Keras-cv style.
Then we could be inspired by refactoring some sub-components from model gar

[2022-10-18 13:56] LukeWood opened #939 "Text guided image generation with stable diffusion"
https://twitter.com/_akhaliq/status/1582175757153230849?s=21&t=rCRiXt4-XW41JIyx-jwc-Q

[2022-10-18 14:28] tanzhenyu commented on #937
Correcting the request and cleaning up this so the contributors will not be confused.

[2022-10-18 14:41] bhack commented on #937
Is totally removing comments our new community policy?

If we have resolved the topic re-editing the original description of the ticket we have other tools in GitHub to hide comments:

https://github.blog/2018-04-18-new-tools-for-open-source-maintainers/

So you just could hide comments as resolved,  instead in this way it seems that my discussion was banned.

[2022-10-18 14:45] tanzhenyu commented on #937
This sounds like a much better tool. Done.

[2022-10-18 15:28] bhack commented on #918
Are we testing these example folder in the integration?

[2022-10-18 15:29] LukeWood commented on #915
Ok, there is definitely a but in the KerasCV COCO metrics.  Its interesting, but in the start of their runs the numbers are very close to the `pycocotools` numbers (i.e. when you've only evaluated 10-20 batches), but over time the numbers tend to decrease instead of remain consistent!

So `model.evaluate(eval_ds.take(10))` consistently aligns with the pycocotools result (with some small errors), b

[2022-10-18 15:40] innat commented on #937
@tanzhenyu It was requested https://github.com/keras-team/keras-cv/issues/622

[2022-10-18 15:41] LukeWood commented on #939
just opening to triage - added a label for tracking.

[2022-10-18 15:43] LukeWood commented on #361
Closing this for now, we do some benchmarking internally, but I don't think we want to benchmark these at this time due to resource constraints.

[2022-10-18 15:43] #361 closed

[2022-10-18 15:44] bhack commented on #915
Do you think it is possible that we are accumulating [known small numerical error](https://github.com/keras-team/keras-cv/issues/149#issuecomment-1104532810) over the whole eval ds?

[2022-10-18 15:44] innat commented on #939
I want to utilize keras-cv to build [this](https://twitter.com/matthieurouif/status/1581969062271520768) product. 😵‍💫

[code]

[2022-10-18 15:44] LukeWood commented on #359
The KerasCV team is attempting to narrow the scope of the package to improve the health of our repository.  As such, we are no longer looking to accept anything not currently on the roadmap without explicit support from a team member:

Please see the roadmap for more details: https://github.com/keras-team/keras-cv/blob/master/.github/ROADMAP.md

[2022-10-18 15:44] #359 closed

[2022-10-18 15:46] LukeWood commented on #358
The KerasCV team is attempting to narrow the package scope in order to more efficiently use our limited resources.  As such, we are only accepting contributions directly related to items on the 6 month roadmap for the package.

Feel free to read more on the roadmap:
https://github.com/keras-team/keras-cv/blob/master/.github/ROADMAP.md

[2022-10-18 15:46] #358 closed

[2022-10-18 15:46] LukeWood commented on #351
Fixed

[2022-10-18 15:46] #351 closed

[2022-10-18 15:46] LukeWood commented on #348
Tutorials cover this

[2022-10-18 15:46] #348 closed

[2022-10-18 15:46] #347 closed

[2022-10-18 15:47] LukeWood commented on #337
The KerasCV team is attempting to narrow the package scope in order to more efficiently use our limited resources.  As such, we are only accepting contributions directly related to items on the 6 month roadmap for the package.

Feel free to read more on the roadmap:
https://github.com/keras-team/keras-cv/blob/master/.github/ROADMAP.md

[2022-10-18 15:47] #337 closed

[2022-10-18 15:47] LukeWood commented on #331
The KerasCV team is attempting to narrow the package scope in order to more efficiently use our limited resources.  As such, we are only accepting contributions directly related to items on the 6 month roadmap for the package.

Feel free to read more on the roadmap:
https://github.com/keras-team/keras-cv/blob/master/.github/ROADMAP.md

[2022-10-18 15:47] LukeWood commented on #330
The KerasCV team is attempting to narrow the package scope in order to more efficiently use our limited resources.  As such, we are only accepting contributions directly related to items on the 6 month roadmap for the package.

Feel free to read more on the roadmap:
https://github.com/keras-team/keras-cv/blob/master/.github/ROADMAP.md

[2022-10-18 15:48] LukeWood commented on #324
The KerasCV team is attempting to narrow the package scope in order to more efficiently use our limited resources.  As such, we are only accepting contributions directly related to items on the 6 month roadmap for the package.

Feel free to read more on the roadmap:
https://github.com/keras-team/keras-cv/blob/master/.github/ROADMAP.md

[2022-10-18 15:48] LukeWood commented on #317
The KerasCV team is attempting to narrow the package scope in order to more efficiently use our limited resources.  As such, we are only accepting contributions directly related to items on the 6 month roadmap for the package.

Feel free to read more on the roadmap:
https://github.com/keras-team/keras-cv/blob/master/.github/ROADMAP.md

[2022-10-18 15:50] LukeWood commented on #312
The KerasCV team is attempting to narrow the package scope in order to more efficiently use our limited resources. As such, we are only accepting contributions directly related to items on the 6 month roadmap for the package.

If you feel this feature could be particularly useful, or would like to contribute it - please feel free to re-open this issue and ping LukeWood, ianstenbit or tanzhenyu

Fe

[2022-10-18 15:50] #312 closed

[2022-10-18 15:50] LukeWood commented on #311
The KerasCV team is attempting to narrow the package scope in order to more efficiently use our limited resources. As such, we are only accepting contributions directly related to items on the 6 month roadmap for the package.

If you feel this feature could be particularly useful, or would like to contribute it - please feel free to re-open this issue and ping LukeWood, ianstenbit or tanzhenyu

Fe

[2022-10-18 15:50] #311 closed

[2022-10-18 15:50] LukeWood commented on #341
The KerasCV team is attempting to narrow the package scope in order to more efficiently use our limited resources. As such, we are only accepting contributions directly related to items on the 6 month roadmap for the package.

If you feel this feature could be particularly useful, or would like to contribute it - please feel free to re-open this issue and ping LukeWood, ianstenbit or tanzhenyu

Fe

[2022-10-18 15:50] #341 closed

[2022-10-18 15:51] LukeWood commented on #293
The KerasCV team is attempting to narrow the package scope in order to more efficiently use our limited resources. As such, we are only accepting contributions directly related to items on the 6 month roadmap for the package.

If you feel this feature could be particularly useful, or would like to contribute it - please feel free to re-open this issue and ping LukeWood, ianstenbit or tanzhenyu

Fe

[2022-10-18 15:51] #293 closed

[2022-10-18 15:51] LukeWood commented on #289
The KerasCV team is attempting to narrow the package scope in order to more efficiently use our limited resources. As such, we are only accepting contributions directly related to items on the 6 month roadmap for the package.

If you feel this feature could be particularly useful, or would like to contribute it - please feel free to re-open this issue and ping LukeWood, ianstenbit or tanzhenyu

Fe

[2022-10-18 15:51] #289 closed

[2022-10-18 15:51] #288 closed

[2022-10-18 15:52] LukeWood commented on #286
Closing as this is probably more a TensorFlow issue than a KerasCV issue

[2022-10-18 15:52] #286 closed

[2022-10-18 15:52] LukeWood commented on #278
The KerasCV team is attempting to narrow the package scope in order to more efficiently use our limited resources. As such, we are only accepting contributions directly related to items on the 6 month roadmap for the package.

If you feel this feature could be particularly useful, or would like to contribute it - please feel free to re-open this issue and ping LukeWood, ianstenbit or tanzhenyu

Fe

[2022-10-18 15:53] LukeWood commented on #134
This is done, closing as @parikshit14 handled this.

[2022-10-18 15:53] #135 closed

[2022-10-18 15:53] LukeWood commented on #149
The KerasCV team is attempting to narrow the package scope in order to more efficiently use our limited resources. As such, we are only accepting contributions directly related to items on the 6 month roadmap for the package.

If you feel this feature could be particularly useful, or would like to contribute it - please feel free to re-open this issue and ping LukeWood, ianstenbit or tanzhenyu

Fe

[2022-10-18 15:53] #149 closed

[2022-10-18 15:53] LukeWood commented on #164
The KerasCV team is attempting to narrow the package scope in order to more efficiently use our limited resources. As such, we are only accepting contributions directly related to items on the 6 month roadmap for the package.

If you feel this feature could be particularly useful, or would like to contribute it - please feel free to re-open this issue and ping LukeWood, ianstenbit or tanzhenyu

Fe

[2022-10-18 15:53] #164 closed

[2022-10-18 15:53] bhack commented on #324
Now at https://github.com/tensorflow/models/blob/master/official/vision/modeling/layers/nn_blocks.py

[2022-10-18 15:54] LukeWood commented on #176
The KerasCV team is attempting to narrow the package scope in order to more efficiently use our limited resources. As such, we are only accepting contributions directly related to items on the 6 month roadmap for the package.

If you feel this feature could be particularly useful, or would like to contribute it - please feel free to re-open this issue and ping LukeWood, ianstenbit or tanzhenyu

Fe

[2022-10-18 15:54] LukeWood commented on #182
The KerasCV team is attempting to narrow the package scope in order to more efficiently use our limited resources. As such, we are only accepting contributions directly related to items on the 6 month roadmap for the package.

If you feel this feature could be particularly useful, or would like to contribute it - please feel free to re-open this issue and ping LukeWood, ianstenbit or tanzhenyu

Fe

[2022-10-18 15:54] #182 closed

[2022-10-18 15:54] LukeWood commented on #184
The KerasCV team is attempting to narrow the package scope in order to more efficiently use our limited resources. As such, we are only accepting contributions directly related to items on the 6 month roadmap for the package.

If you feel this feature could be particularly useful, or would like to contribute it - please feel free to re-open this issue and ping LukeWood, ianstenbit or tanzhenyu

Fe

[2022-10-18 15:54] #184 closed

[2022-10-18 15:54] LukeWood commented on #195
This is done.

[2022-10-18 15:54] #195 closed

[2022-10-18 15:54] LukeWood commented on #208
The KerasCV team is attempting to narrow the package scope in order to more efficiently use our limited resources. As such, we are only accepting contributions directly related to items on the 6 month roadmap for the package.

If you feel this feature could be particularly useful, or would like to contribute it - please feel free to re-open this issue and ping LukeWood, ianstenbit or tanzhenyu

Fe

[2022-10-18 15:54] #208 closed

[2022-10-18 15:55] LukeWood commented on #232
done

[2022-10-18 15:55] #232 closed

[2022-10-18 15:55] LukeWood commented on #243
The KerasCV team is attempting to narrow the package scope in order to more efficiently use our limited resources. As such, we are only accepting contributions directly related to items on the 6 month roadmap for the package.

If you feel this feature could be particularly useful, or would like to contribute it - please feel free to re-open this issue and ping LukeWood, ianstenbit or tanzhenyu

Fe

[2022-10-18 15:55] #243 closed

[2022-10-18 15:55] LukeWood commented on #252
The KerasCV team is attempting to narrow the package scope in order to more efficiently use our limited resources. As such, we are only accepting contributions directly related to items on the 6 month roadmap for the package.

If you feel this feature could be particularly useful, or would like to contribute it - please feel free to re-open this issue and ping LukeWood, ianstenbit or tanzhenyu

Fe

[2022-10-18 15:55] #252 closed

[2022-10-18 15:55] LukeWood commented on #259
The KerasCV team is attempting to narrow the package scope in order to more efficiently use our limited resources. As such, we are only accepting contributions directly related to items on the 6 month roadmap for the package.

If you feel this feature could be particularly useful, or would like to contribute it - please feel free to re-open this issue and ping LukeWood, ianstenbit or tanzhenyu

Fe

[2022-10-18 15:55] #259 closed

[2022-10-18 15:56] LukeWood commented on #272
Done

[2022-10-18 15:58] LukeWood commented on #871
@tanzhenyu @ianstenbit @qlzh727 what do you think about this?

On one hand, these are more than classification models.  They're modular backbones.

Perhaps we throw them in a backbones directory?  the line between classification model and backbone model is very rough.

[2022-10-18 15:58] LukeWood commented on #872
This is a documentation bug really - some of these are NOT random, and are jut preprocessing layers.  Some are augmentation layers.

We should update our documentation to have a `preprocessing/` page and an `augmentation/` page

[2022-10-18 16:01] #876 closed

[2022-10-18 16:01] ianstenbit commented on #871
Since this won't affect our exported API (these should be exported as e.g. `keras_cv.models.ResNet50V2`), I don't think it's particularly important how we structure the folder. I think given that they are foundational and re-used in addition to being a user API on their own as classification models, they ought to stay where they are now, but I could be convinced otherwise.

[2022-10-18 16:02] LukeWood commented on #887
@tanzhenyu I think this is probably out of scope for the package in that it would cost 800K to retrain.

Maybe useful in our fine-tuning journey, but in the meantime maybe we just keep this in a keras.io tutorial?  WDYT?

[2022-10-18 16:03] tanzhenyu commented on #871
I'm completely fine with it under `models/backbone` directory.

[2022-10-18 16:04] LukeWood commented on #892
Sorry, this is a decision done for consistency across the board.  We don't really have the means to change it at this point due to API drift concerns.

If you consider this confusing, please pass `include_rescaling=False` in your model constructor.  Its a required argument on purpose - it makes users think about their inputs.  Inputting values in the range (0, 255) will not get good results unless

[2022-10-18 16:05] LukeWood commented on #900
I'm not sure what this bug means - can you further elaborate?

[2022-10-18 16:05] tanzhenyu commented on #887
We can't reproduce the exact results for Stable Diffusion, I agree. Though a training script on a smaller dataset might be reasonable ask, but we might not have the bandwidth to achieve that.

[2022-10-18 16:07] tanzhenyu commented on #915
I had the same observation

[2022-10-18 16:07] LukeWood commented on #907
This is a good point, but I'm not sure we want to invest the resources to fix this at this time.  Unfortunately, we don't have the GPU resources to run the tests for every single PR commit.

[2022-10-18 16:07] bhack commented on #900
Ask to @tanzhenyu as he requested me to open this at https://github.com/keras-team/keras-cv/pull/898#discussion_r991682613

But as we bulky closing all the (users) tickets a some PR you could close also this one if you want.

[2022-10-18 16:08] tanzhenyu commented on #937
Oh great, closing this to reflect that issue.

[2022-10-18 16:08] #937 closed

[2022-10-18 16:09] qlzh727 commented on #871
I think all the current classification models are mostly backbone plus a classification head. If we split the backbone from the head, then it will be a more split of directory, where backbone will be most of the model body, and classification can be light weighted.

[2022-10-18 16:09] LukeWood commented on #915
I never implemented https://github.com/keras-team/keras-cv/issues/149, so that wouldn't be the issue.   https://github.com/keras-team/keras-cv/issues/149 would be a deviation from the original to improve our own numerical accuracy even over the pycocotools API - but I never implemented it.

[2022-10-18 16:10] tanzhenyu commented on #622
follow-up comment here, we should support YOLOv3 as it is a great demonstration for "reusable components", and YOLOv3 is definitely still heavily used, compared to more recent models (2022 is so-called the year of YOLO)

[2022-10-18 16:10] bhack commented on #907
I never asked this but as we manually request it to run it doesn't need to fail by default as it is not mandatory to have a default fail status.

[2022-10-18 16:14] tanzhenyu commented on #871
So my take here is that in the long run, classification head will be history. So our backbones taking "include_top" is just a very thin wrapper to include the head, which is fine and shouldn't confuse users, I guess?

[2022-10-18 16:27] LukeWood commented on #907
Ok, how do we configure that?  I'm happy to accept configuration for that.  That would be really nice to have it default to yellow status.

[2022-10-18 16:28] LukeWood commented on #900
Ok, looking at the PR this looks like a duplicate.

[2022-10-18 16:28] #900 closed

[2022-10-18 16:30] LukeWood commented on #887
Lets just host this in the tutorial itself for now then evaluate promotion to a component afterwards.  I have a draft of the trainer available in: https://github.com/keras-team/keras-io/pull/1088

[2022-10-18 16:30] #887 closed

[2022-10-18 16:33] bhack commented on #907
I am not a manager of this repo so you need to set yourself:
https://cloud.google.com/build/docs/automating-builds/github/build-repos-from-github#different_types_of_github-based_triggers

Then Github Action help community PRs, but it is a distinct topic (it was the other point of this ticket).

[2022-10-18 16:50] bhack commented on #871
As we have now also transformers doing these task is backbone definition mainly valid for pure CNN networks?

[2022-10-18 16:58] tanzhenyu commented on #871
IIUC, some of them are still backbones -- MaxVit, Swin, etc. Some of them are not. Putting those plug-and-play transformer-based backbones into `models/backbone` is fine with me

[2022-10-19 08:52] jacoverster opened #945 "Devcontainer GPU support"
I propose a small update to devcontainer.json to enable GPU support.

This relates to [Issue 893](https://github.com/keras-team/keras-cv/pull/893).

I suggest adding "RunArgs" to devcontainer.json to allow GPU access inside the container otherwise the GPU might not be available inside the container.

[code]

[2022-10-19 10:16] bhack commented on #945
Ok can you send a PR?

[2022-10-19 11:00] jacoverster commented on #945
Hi @bhack, sure thing. Should I wait for your PR for [Issue 893](https://github.com/keras-team/keras-cv/pull/893) to be merged first?

[2022-10-19 11:10] jacoverster commented on #945
Sure thing @bhack .

[2022-10-19 12:48] bhack commented on #907
Just to make a blackbox reverse engineering, what I suppose is that you have configured it to trigger also on PRs but it is not required as you have probably configure also a custom trigger for the `/gcburn` pattern.

[2022-10-19 15:00] ianstenbit opened #947 "3D Bounding Box converters"
We'll likely want to build converters between popular 3D bounding box formats, following the conventions of our 2D converters

[2022-10-19 18:28] #636 closed

[2022-10-20 18:55] innat opened #951 "Add EfficientDet model"
**Short Description**

EfficientDet is a type of **object detection** model, which utilizes several optimization and backbone tweaks, such as the use of a [BiFPN](https://paperswithcode.com/method/bifpn), and a compound scaling method that uniformly scales the resolution,depth and width for all backbones, feature networks and box/class prediction networks at the same time.

**Papers**

- [Efficien

[2022-10-21 16:19] #807 closed

[2022-10-21 17:22] qlzh727 commented on #655
This seems to be a duplication of https://github.com/keras-team/keras-cv/issues/654. Closing this for now.

[2022-10-21 17:22] #655 closed

[2022-10-21 17:51] qlzh727 commented on #583
Since this involves actual training, which might be too heavy for a unit test. Should we reconsider whether this is needed?

[2022-10-21 17:59] #533 closed

[2022-10-21 18:05] bhack commented on #264
We can close this.

[2022-10-21 18:07] bhack commented on #41
Has https://github.com/keras-team/keras-cv/issues/900 was cloud I will unify the references on this ticket.

[2022-10-21 18:38] LukeWood commented on #641
@tanzhenyu solved this

[2022-10-21 18:38] #641 closed

[2022-10-21 20:51] qlzh727 commented on #515
@divyashreepathihalli

[2022-10-21 21:00] qlzh727 commented on #489
I think there are value to have a separate requirements.txt so that people can configure the local env without pip install keras CV (if they want to update keras cv code from github download).

We just need to make sure the information are sync between those different files.

Fow now, can we just https://github.com/keras-team/keras-cv/blob/master/cloudbuild/requirements.txt?

[2022-10-21 21:03] qlzh727 commented on #487
I think this is all fixed now.

[2022-10-21 21:03] #487 closed

[2022-10-22 03:29] DavidLandup0 commented on #905
Great, thanks! I'll work on this one in the upcoming days then while the rest is being reviewed.

[2022-10-25 17:04] ianstenbit commented on #382
This issue is not currently tied to any near-term objectives of KerasCV, so we are closing it for now. If you think this was done in error, or you are interested in adding this feature yourself, please checkout our [README](https://github.com/keras-team/keras-cv/blob/master/README.md) and re-open this issue if it meets the listed criteria.

Thank you! - The KerasCV team

[2022-10-25 17:04] #382 closed

[2022-10-25 17:06] ianstenbit commented on #413
This issue is not currently tied to any near-term objectives of KerasCV, so we are closing it for now. If you think this was done in error, or you are interested in adding this feature yourself, please checkout our [README](https://github.com/keras-team/keras-cv/blob/master/README.md) and re-open this issue if it meets the listed criteria.

Thank you! - The KerasCV team

[2022-10-25 17:06] #413 closed

[2022-10-25 17:08] ianstenbit commented on #406
This issue is not currently tied to any near-term objectives of KerasCV, so we are closing it for now. If you think this was done in error, or you are interested in adding this feature yourself, please checkout our [README](https://github.com/keras-team/keras-cv/blob/master/README.md) and re-open this issue if it meets the listed criteria.

Thank you! - The KerasCV team

[2022-10-25 17:08] #406 closed

[2022-10-25 17:12] ianstenbit commented on #951
@LukeWood @tanzhenyu is this of interest as part of our current OD efforts?

[2022-10-25 17:16] ianstenbit commented on #844
Thanks for calling this out! I think we most likely want to switch to `stateless_normal` in this case. @LukeWood can you confirm please?

@BFauber feel free to send a PR switching to stateless_normal and linking to this issue!

[2022-10-25 17:19] tanzhenyu commented on #951
Sounds good to me. @mingxingtan wdyt?

[2022-10-25 17:43] #945 closed

[2022-10-25 18:27] LukeWood commented on #387
Closing for now as this doesn't relate to our roadmap.  If you want to send a PR feel free.  Just an appendix is fine.

[2022-10-25 18:27] #387 closed

[2022-10-25 18:27] LukeWood commented on #385
closed per the submitted PRs

[2022-10-25 18:27] #385 closed

[2022-10-25 18:28] LukeWood commented on #401
Not necessary

[2022-10-25 18:28] #401 closed

[2022-10-25 18:29] LukeWood commented on #410
Closing now as this is not on our roadmap at the moment.  If someone sends a PR improving code quality and improving test coverage we will merge it - but don't need an explicit issue to track this.  Readability improvements are always welcome.

[2022-10-25 18:29] #410 closed

[2022-10-25 18:32] LukeWood commented on #381
Lets close this for now until we have a stronger verification that this is impactful.

[2022-10-25 18:32] #381 closed

[2022-10-26 07:02] sebastian-sz opened #960 "SSD - Single Shot Detector head component."
**Short Description**
Given that Object Detection is currently on the roadmap I think it would be great to also include an SSD Head component, which we could attach to different backbones for Object Detection task.

**Papers**
[SSD: Single Shot MultiBox Detector](https://arxiv.org/abs/1512.02325)

**Existing Implementations**
[Pytorch implementation](https://github.com/pytorch/vision/blob/8e0e7157

[2022-10-26 23:02] ianstenbit commented on #720
@LukeWood can you please confirm that there isn't a need to perform casting (this can be an optional param so we don't always cast)

[2022-10-27 16:19] tanzhenyu commented on #960
Marking this as contribution welcome. It is aligned with our roadmap.

[2022-10-27 16:24] tanzhenyu commented on #924
Open this up for contribution

[2022-10-27 16:29] tanzhenyu commented on #911
Closing this as it is too fresh for us to evaluate how important it is to support. We should reopen it once we have a better understanding

[2022-10-27 16:29] #911 closed

[2022-10-27 16:30] tanzhenyu commented on #909
As of tf 2.10, this is fixed by accepting `sparse_y_true` and `sparse_y_pred` -- @innat can you verify it before I close this?

[2022-10-27 16:38] tanzhenyu commented on #850
@ianstenbit this might be relevant to your work

[2022-10-27 16:39] tanzhenyu commented on #844
https://github.com/keras-team/keras-cv/pull/962

[2022-10-27 16:42] tanzhenyu commented on #793
This looks like it's only failing on consumer hardware

[2022-10-27 16:50] tanzhenyu commented on #749
tfds still requires you to download the dataset manually. Are you referring to the process of converting from .tar.gz to TFRecords?

[2022-10-27 16:51] tanzhenyu commented on #707
@innat can you help us verify how this augmentation would help some of our main downstream tasks? (detection / segmentation)

[2022-10-27 16:54] tanzhenyu commented on #684
Closing this as duplicate of https://github.com/keras-team/keras-cv/issues/915

[2022-10-27 16:55] #684 closed

[2022-10-27 16:55] tanzhenyu commented on #681
I think we should just let it accept `Reduction` similar to other keras losses? @atuleu

[2022-10-27 16:56] tanzhenyu commented on #672
@atuleu Marking this as contribution welcome. Please help us by sending a PR :-)

[2022-10-27 16:57] tanzhenyu commented on #669
This is currently supported. Will be public API in 0.4 release. Closing it

[2022-10-27 16:57] #669 closed

[2022-10-27 17:00] tanzhenyu commented on #403
Closing as this PR is merged

[2022-10-27 17:00] #403 closed

[2022-10-27 17:02] tanzhenyu commented on #364
@pranavjadhav001 tfds provides image height and width info, I believe?

[2022-10-27 17:19] tanzhenyu commented on #947
The current iou 3d depends on a specific format, i.e., centers. There are different types of 3d boxes, some allow to rotate and some not, and not truly compatible. For now, let's document it so that the 3d models only support a particular format.

[2022-10-27 17:21] tanzhenyu commented on #871
Summary: Let's move to `models/backbone` while not impacting APIs

[2022-10-27 17:25] tanzhenyu commented on #868
Other than KerasCV vs keras applications, we should also let users know (in our main page) the backbone offerings with their training history, author, etc.

[2022-10-28 03:44] innat commented on #707
@tanzhenyu
I raised this ticket as a image processing layer (KPL). Mostly inspired from this application  https://www.kaggle.com/code/ren4yu/mayo-clinic-removing-background-via-seam-carving.

[2022-10-28 03:49] innat commented on #924
cc @sayakpaul

[2022-10-28 03:51] innat commented on #909
@tanzhenyu
I'm on leave. I will check and get back to you soon.

[2022-10-28 18:03] bhack commented on #960
/cc @oarriaga if he is interested to contribute his SSD implementation:
https://github.com/oarriaga/paz/

[2022-10-28 19:55] quantumalaviya opened #969 "Should IoU loss be pairwise?"
The implementation of IoU Loss which was merged as part of #634  works with the current implementation of `compute_iou`, i.e. it calculates pairwise IoUs and means over the IoU matrix.

However, in some implementations (YoloX, for example), i<sup>th</sup> box of `y_true` is compared only to the i<sup>th</sup> box of `y_pred`.  Should the current KerasCV implementation be updated to mimic this?

Th

[2022-11-01 16:09] Crumb3D opened #976 "Cant use GPU??"
CUDA Device Query (Runtime API) version (CUDART static linking)

Detected 1 CUDA Capable device(s)

Device 0: "NVIDIA GeForce GTX 1060 3GB"
CUDA Driver Version / Runtime Version 11.8 / 11.8
CUDA Capability Major/Minor version number: 6.1
Total amount of global memory: 3072 MBytes (3220963328 bytes)
( 9) Multiprocessors, (128) CUDA Cores/MP: 1152 CUDA Cores
GPU Max Clock rate: 1709 MHz (1.71 GHz)
M

[2022-11-01 17:24] #844 closed

[2022-11-01 18:07] #734 closed

[2022-11-01 18:13] BFauber commented on #844
Thanks @ianstenbit, @LukeWood, @tanzhenyu, and @fchollet for addressing this topic via: https://github.com/keras-team/keras-cv/pull/962

[2022-11-02 04:43] innat commented on #909
@tanzhenyu
Could you please elaborate more? Is it not needed to migrate these metrices from keras to keras-cv for now?

[2022-11-02 14:16] tanzhenyu commented on #909
I have been using the MeanIOU and haven't run into any issues yet, see this [PR](https://github.com/keras-team/keras-cv/pull/975). Are there any other functionality required, or this is a pure migration?

[2022-11-02 14:59] innat commented on #909
Yes, this is for migration only.
@DavidLandup0 pointed a [issue](https://github.com/keras-team/keras-cv/issues/909#issuecomment-1275981911) though, but that is not directly related to this ticket.

[2022-11-02 15:08] tanzhenyu commented on #909
I'd like to understand a bit more about the issue, if this is worth fixing in KerasCV then we can do it. @DavidLandup0

[2022-11-02 18:12] LukeWood opened #978 "Thoroughly document `compile()` arguments for RetinaNet"

[2022-11-02 19:52] #630 closed

[2022-11-02 21:28] pmads87 opened #981 "Weights for image_encoder"
Not able to instantiate ImageEncoder. Seems that the link to huggingface as well as the file there does not match the hash nor model.

Debug route:
1) The weight download link in in image_encoder.py points to a html preview page, not point the actual file. It seems the link should be:
https://huggingface.co/fchollet/stable-diffusion/raw/main/vae_encoder.h5
and not
https://huggingface.co/fchollet/s

[2022-11-02 21:33] pmads87 commented on #976
Tensorflow is not compatible with CUDA 11.8. See [this link](https://www.tensorflow.org/install/source#gpu).

[2022-11-02 22:06] pmads87 commented on #981
[bobqywei](https://github.com/bobqywei)'s [patch to add in-painting](https://github.com/keras-team/keras-cv/pull/973/files/803ff8b9ee0149131d0dd0644a4efd6f08cff72c#) seem to resolve the file issue!

The third issue above was in the usage example; the batch dimmension should be added:

Usage:
[code]

[2022-11-02 22:12] #981 closed

[2022-11-03 23:08] LukeWood commented on #976
pdmads87 is correct: CUDA version error; please update your CUDA installation and try again.

[2022-11-03 23:08] #976 closed

[2022-11-03 23:11] LukeWood commented on #969
Summary from @quantumalaviya and I's discussion offline:

- we will support whatever YOLOx needs, if we need to support pairwise mode we will do so behind a kwarg.

[2022-11-03 23:11] #969 closed

[2022-11-03 23:51] #855 closed

[2022-11-04 00:13] DavidLandup0 commented on #905
Getting to this today/tomorrow. Could you formally assign me?

[2022-11-04 10:56] DavidLandup0 commented on #672
This was fixed with https://github.com/keras-team/keras-cv/pull/680
This issue should be closed :)

[2022-11-04 11:44] bhack commented on #672
What do you mean? We have one since August:
 https://github.com/keras-team/keras-cv/pull/680

[2022-11-04 11:50] DavidLandup0 commented on #672
Changes were requested and it's still WIP

[2022-11-04 19:59] bitbeast18 commented on #622
Most of the research projects in my lab use YoloV3 for object detection. I am not sure about why, but I'll post here after I ask my supervisor.

[2022-11-05 14:13] bhack commented on #581
As we are going to potentially introduce this issue also in the new 3d preprocessing API with https://github.com/keras-team/keras-cv/pull/986 I want to clarify this example as it is similar to other KLP cases.

Assuming that we have 100% coverage of the pfor converters (which we obviously don't actually have) let's see what happen in this case.

This is the `AdjustContrastv2` converter in TF that

[2022-11-06 09:26] innat opened #987 "Query on segmentation training script"
- why we need to do [this](https://github.com/keras-team/keras-cv/blob/master/examples/training/semantic_segmentation/pascal_voc/deeplab_v3.py#L88-L90)?
- If the segmentation map is integer encoded mask, will be there any class or (anomaly pixel value) represented by 255 as we [ingored](https://github.com/keras-team/keras-cv/blob/master/examples/training/semantic_segmentation/pascal_voc/deeplab_v3

[2022-11-07 17:22] tanzhenyu commented on #987
255 is being used to ignore boundary classes.
not sure why T4 would give nan, I mostly use V100 multi-gpu training
`jit_compile` / tpu has not been tested yet, I also need to test mixed precision.

[2022-11-07 18:20] innat commented on #987
Thanks for the response. Could you please elaborate on boundary classes issue. I didn't make an eda on SBD dataset. Is the boundary classes (255, white pixel) present in the segmentaiton mask in this dataset? While using the training script, I opted out this operation.

I modified the data loader a bit as follows. And also I didn't set any `ignore_class` in loss and metrics.

[code]
[code]

---

I

[2022-11-07 19:05] LukeWood opened #988 "Support paint-with-words workflow in StableDiffusion"
Reference: https://www.reddit.com/r/MachineLearning/comments/yo23b9/p_stablediffusions_implementation_of/

[2022-11-07 22:04] bhack commented on #988
I suppose that we need to achieve this with retraining/fine-tuning. What is the plan?

[2022-11-07 22:44] LukeWood commented on #988
no plan yet, anyone can feel free to discuss.  Just a tracking issue.

[2022-11-07 23:15] bhack commented on #841
@martin-gorner Are you still interested in this?

There is a connected PR/colab.

[2022-11-08 02:10] DavidLandup0 opened #990 "format.sh doesn't format all linter cases"
The `format.sh` script formats almost all of the cases that makes the linter complain, but not all. In previous pushes, I've noticed two cases:

- Whitespace at the end of a docstring line
- f-string without placeholders

The second one is on the contributor to take care of, but the first one should probably be handled by the formatting script. Are there any other cases anyone's noticed?

[2022-11-08 02:19] achuinard opened #991 "Support SD 1.5"
SD 1.5 has been out for a few weeks, will this repo be updated to use it?

[2022-11-08 07:20] LukeWood commented on #990
Unfortunately we don't really control the format scripts' dependencies.  In my opinion black should remove whitespace at the end of docstring lines, but I am sure they have a good reason to not do it if they haven't done it yet.

I dont think we would want to introduce custom python code to support this unless theres a nice package that is easy to use that already solves this problem.

[2022-11-08 07:20] LukeWood commented on #991
SD 1.5 is a set of upgraded weights for the same architecture, right?

[2022-11-08 08:43] bhack commented on #990
It seems that they want these preserved or not?

https://github.com/psf/black/issues/1462

[2022-11-08 14:41] BFauber opened #992 "Support Video Creation with StableDiffusion(), similar to Imagen Video"
**Short Description**
Requesting support for video creation with `StableDiffusion()` module. Similar to Imagen Video: https://imagen.research.google/video/

**Papers**
https://imagen.research.google/video/paper.pdf
ALSO from Meta:
https://ai.facebook.com/blog/generative-ai-text-to-video/

**Existing PyTorch Implementations of Imagen Video**
https://github.com/lucidrains/imagen-pytorch/tree/main/im

[2022-11-08 20:17] DavidLandup0 commented on #990
I thought it was customizable - my bad for not checking. Thanks for the clarification!

Yeah, it looks like they want the whitespaces to be preserved. Honestly, not sure why?

Closing the issue, thanks!

[2022-11-08 20:17] #990 closed

[2022-11-08 20:21] #936 closed

[2022-11-08 21:05] BFauber commented on #991
@LukeWood , yes, upgraded weights with the same architecture.

"The Stable-Diffusion-v1-5 checkpoint was initialized with the weights of the Stable-Diffusion-v1-2 checkpoint and subsequently fine-tuned on 595k steps at resolution 512x512 on "laion-aesthetics v2 5+" and 10% dropping of the text-conditioning to improve classifier-free guidance sampling." See: https://huggingface.co/runwayml/stable-d

[2022-11-09 01:57] tanzhenyu commented on #581
I'm not sure I really understand the argument here. To me it seems the main issue is `contrast_factor` cannot be a stacked input here? Is this more a TF problem than a KerasCV problem?

[2022-11-09 09:58] bhack commented on #581
It is `contrast` factor in this example but it is just a case of a more general issue. Just in April the list in Keras-CV was already quite long:
https://github.com/tensorflow/tensorflow/issues/55639#issuecomment-1112227581

And this will happen every time you will want to randomize an arg, within the batch, of an Op where that arg is scalar by the TF API design.

Then we could tell that it is a T

[2022-11-09 12:25] BFauber opened #995 "BUG: StableDiffusion() broken after recent update"
Unfortunately, a recent update appears to have broken the `StableDiffusion()` class function found in `keras_cv.models.generative`.  Loading the  `StableDiffusion()` function now throws the following error and requires ~20 min to run, whereas it previously ran in <5 seconds (NVIDIA V100 GPU, CUDA v11.8) with the `keras-cv` version available on GitHub on Friday 11/4:

`WARNING:tensorflow:5 out of t

[2022-11-09 18:53] oconnoob opened #996 "AttributeError: 'StableDiffusion' object has no attribute 'inpaint'"
Hi there! I'm attempting to use Keras' Stable Diffusion for inpainting in Colab, and I'm running into the error I'm hoping someone has a solution to.

At the top of the notebook, I've updated both keras_cv and tensorflow with pip, and I'm working with the following versions:

  Versions:
  - **keras** = 2.10.0
  - **kerav_cv** = 0.3.4
  - **tensorflow** = 2.10.0
  - **pip** = 21.1.3
  - **python**

[2022-11-09 19:00] bhack commented on #995
Yes it was introduced with the `lazy_load` refactoring in https://github.com/keras-team/keras-cv/pull/989

[2022-11-09 19:03] bhack commented on #996
It was just merged 2 days ago so you need to use `master` https://github.com/keras-team/keras-cv/pull/973#issuecomment-1306626887

[2022-11-09 19:15] ianstenbit commented on #995
Thank you @BFauber  for posting the issue, and thank you @bhack for the fix (I'll merge once comments are resolved)
I agree that #989 is the cause of this issue.

[2022-11-09 19:22] ianstenbit commented on #996
You can install the latest version from GitHub to get this functionality:

`pip install git+https://github.com/keras-team/keras-cv.git`

Note that you'll want to wait until #997 is merged (should be merged imminently)

[2022-11-09 19:32] LukeWood commented on #995
Surprised that would be causing that.  Interested to hear the conclusion..

[2022-11-09 19:44] bhack commented on #995
It is that every time we access to the property we execute `.compile` and it is going to trigger the autograph and so on...

[2022-11-09 19:48] LukeWood commented on #995
Ahhhh I see.

[2022-11-09 19:56] #996 closed

[2022-11-09 19:57] oconnoob commented on #996
Thank you @bhack and @ianstenbit !

[2022-11-09 19:58] #995 closed

[2022-11-10 01:36] AmedeoBiolatti commented on #666
Could this be related to this issue (https://github.com/tensorflow/tensorflow/issues/51771)?

It seems to be more open ended than implementing support for one specific preprocessing Layer.

See as an example

[code]

[2022-11-10 03:28] tanzhenyu commented on #992
Yes we're work on this

[2022-11-10 03:29] tanzhenyu commented on #991
We should probably have a more "structured" weights handling logic. Today it's mostly based on task / dataset / model, but it seems the dataset is a mixed of sources

[2022-11-10 03:32] tanzhenyu commented on #987
So basically 255 are coming from labels (segmentation map), they represent something outside of [0, num_foreground_classes] which you don't need to train, so we could mask them out, or cast them to 0 (as background class)

[2022-11-10 05:07] innat commented on #987
( Sorry for these many queries, you may be still working to update the script. I'm currently working on a project where segmentation is involved. And I want to use kcv in the pipeline if possible. )

---

Yes, understandable. It's an unwanted situation in segmentation mask. I think it's not general for all seg dataset but appear sometimes, for example, in [Stanford Background](https://www.kaggle.c

[2022-11-10 13:57] martin-gorner commented on #841
Absolutely still interested. Thank you for your contributions @bhack !
I'll have the team look at your PR asap.

[2022-11-10 18:31] bhack commented on #991
Do we have the scripts contributed to the repo to reproduce h5 conversions in `https://huggingface.co/fchollet/stable-diffusion/`?

[2022-11-10 20:27] LukeWood opened #1003 "Masked AutoEncoders using the StableDiffusion encoder and decoder"
We should evaluate training of masked autoencoders using the StableDiffusion ImageEncoder and ImageDecoder

These are actually very close to masked autoencoder architectures!   Maybe we can easily implement MAE in a Keras.io tutorial!

[2022-11-11 15:31] bitbeast18 commented on #622
I'm working on a related task, if someone hasn't already started the work, I can take this up.

[2022-11-11 15:35] tanzhenyu commented on #622
Please go ahead. We don't assign issue for now so that anyone with bandwidth can take it.
One thing I would like to ask is, please make sure you can re-use components that is currently being used in FasterRCNN, such as box matchers, anchor generators, _targer_gather, etc

[2022-11-11 15:38] bitbeast18 commented on #622
Great, I will post my approach before starting the implementation by tomorrow, just to make sure I'm following all the pointers.

[2022-11-11 17:06] tanzhenyu commented on #393
I think we should add F1 score to Keras, and keep F2 score to KerasCV?

[2022-11-11 20:04] LukeWood opened #1007 "Ragged image support in RandomFlip KPL"

[2022-11-14 19:48] LukeWood opened #1010 "Reorganize [ops] and [custom_ops]"
Currently, we have some tech debt here: ops contains some custom layers as well as some ops.  We should really fix this and put the components that are like layers under layers instead of ops.  Then we can merge custom_ops into the ops directory.

Its confusing to have both.

[2022-11-14 19:54] bhack commented on #1010
Do you have any example?

[2022-11-14 20:32] ianstenbit opened #1011 "FasterRCNN does not support dynamic batch sizes"
Currently, FasterRCNN depends on static tensor sizes for batch size (e.g. [here](https://github.com/keras-team/keras-cv/blob/master/keras_cv/models/object_detection/faster_rcnn.py)), which adds some friction to the API surface.

If we don't plan to add support for dynamic batch sizes soon, we should at least add a good error message when we encounter a `None` batch size.

[2022-11-14 21:22] LukeWood commented on #1010
`custom_ops`: https://github.com/keras-team/keras-cv/tree/master/keras_cv/custom_ops

should live under `ops` because it contains tensorflow ops.

ops on the other hand contains a ton of stuff (BoxMatcher, etc), but also IoU3D which is a custom TF op:

https://github.com/keras-team/keras-cv/tree/master/keras_cv/ops

[2022-11-15 12:22] innat commented on #1010
Why [tensorflow ops](https://github.com/keras-team/keras-cv/tree/master/keras_cv/custom_ops) is here in the first place? Also it looks [bazel](https://github.com/keras-team/keras-cv#installing-custom-ops-from-source) is reuqired to build custom ops. It looks weird to see these in here as well.

[2022-11-15 12:29] innat opened #1015 "move `keras_cv/models` to Functional Subclasses"
Looking at [these](https://github.com/keras-team/keras-cv/tree/master/keras_cv/models), the classification mdoels (backbones) are written in functional api, whereas the object detection and semantic segmentation are written in subclass api.

- Is it discussed to mix APIs in this cases?
- Is it okay to have classification models can also be written in subclass api?
- Doing subclass APIs, we lost co

[2022-11-15 13:59] bhack commented on #1010
What do you mean?

[2022-11-15 15:51] innat commented on #1010
I mean, why do we need to write C code for some custom operations (ie. `PairwiseIou3D`?

[2022-11-15 19:05] #895 closed, assigned to LukeWood

[2022-11-15 19:07] LukeWood opened #1018 "RetinaNet TPU Compatibility [looking for a long term fix instead of #1021]"
We can enable this in `predict()`.

This might be a big performance delta, but is much lower priority than TPU compatibility.

[2022-11-15 20:32] BFauber opened #1019 "BUG: StableDiffusion.inpaint() throws float tensor error"
I am using today's version (15Nov2022) of https://github.com/keras-team/keras-cv/ and I receive the following error when using `StableDiffusion.inpaint()`:

`InvalidArgumentError: cannot compute AddV2 as input #1(zero-based) was expected to be a half tensor but is a float tensor [Op:AddV2]`

Is anyone also receiving this error when running `StableDiffusion.inpaint()`?

Here is my code:

[code]

[2022-11-15 21:31] bhack commented on #1019
/cc @bobqywei

[2022-11-15 22:14] bobqywei commented on #1019
Thanks for finding this and letting me know @BFauber @bhack! I think i'll allow the user to specify the dtype for these internal ops so that they have control over the tradeoffs?

[2022-11-16 15:43] BFauber commented on #1019
Thanks for your suggestion @bobqywei.

I've found the source of my error is the `mixed_float16` keras global policy:

[code]

If I omit this global policy line, the inpainting code runs without an error, but it only outputs a black box.

Thus, the `StableDiffusion.inpaint()` function is not compatible with `keras.mixed_precision.set_global_policy("mixed_float16")` https://keras.io/guides/keras_cv/

[2022-11-16 18:44] LukeWood opened #1025 "Multi-output support for CutMix + MixUp"
multi-output labels are typically dictionaries with Tensor keys.  We can iterate over these and blend them.

[2022-11-16 21:48] LukeWood commented on #1025
@ebursztein will provide more info

[2022-11-17 20:01] innat opened #1027 "`class_ids` or `ignore_class`!"
They're same in nature, aren't they? We should follow one way.

https://www.tensorflow.org/api_docs/python/tf/keras/metrics/MeanIoU
https://www.tensorflow.org/api_docs/python/tf/keras/losses/SparseCategoricalCrossentropy

https://keras.io/api/keras_cv/metrics/coco_mean_average_precision/

[2022-11-20 20:30] bhack commented on #1018
Don't we want to use this ticket to investigate more https://github.com/keras-team/keras-cv/pull/1021#issuecomment-1320964584?

[2022-11-20 20:39] LukeWood commented on #1018
Sure, we can further investigate.

[2022-11-20 20:42] bhack commented on #1018
@ianstenbit if you can share your `gs://` pre-populated it could be useful as re-run the extraction is super-slow.

[2022-11-21 04:14] charbull opened #1033 "StableDiffusion Tensorflow to TF Lite"
Hi @LukeWood,

For fun, I tried converting stable Diffusion model from Tensorflow to TF lite, so that I can run it on coral/edge tpu.

I tried two approaches:
I- Saved model approach:
II- Go through h5

will try to document them as much as possible. (sorry in advance for the long traces)

for both:
[code]
Using `!pip install --upgrade keras-cv` I was not able to save the model for both.

I- Saved

[2022-11-21 04:16] LukeWood commented on #1033
Thanks @charbull for the report!  Will take a look at this.  TFLite conversion would be an awesome addition.

[2022-11-21 04:32] charbull commented on #1033
Leaving another conversion issue here related to the tf lite max size 2G related to protobuf: https://github.com/divamgupta/stable-diffusion-tensorflow/issues/58#issuecomment-1321195831

[2022-11-21 04:57] charbull commented on #1033
Looking forward to have a tf lite and stablediffusion on the coral :)

[2022-11-21 09:43] freedomtan commented on #1033
I was able to convert `text_encoder`, `diffusion_model`, and `encoder` to tflite. There are some issues.

1. you have to specify batch size some where, otherwise, you got error messages you show. Do it either in model initialization or concrete_function you get from your saved_model
2. TensoFlow override `len()`, so you may run have to change the `_create_broadcast_shape` in `stable_diffusion/__in

[2022-11-21 12:16] charbull opened #1034 "Exception encountered when calling layer 'group_normalization_60"
Referencing this issue: https://github.com/keras-team/keras-cv/issues/1033#issuecomment-1321775815 and opening a pull request accordingly as suggested.

[code]

[2022-11-21 12:25] charbull commented on #1033
Thank you @freedomtan I am trying those now,
created this PR: https://github.com/keras-team/keras-cv/pull/1035 based on your suggestion for the length.

[2022-11-21 15:32] charbull commented on #1033
Hi @freedomtan
how do you set the batch size ? the arguments are:
[code]

[2022-11-21 16:28] ianstenbit commented on #1018
@bhack sorry for the delay on this.
I've moved this data to `data_dir="gs://keras-cv/datasets"`, where you should have access. I've also updated my repro colab to reflect the change.

Also -- extraction on GCS hangs (see https://github.com/tensorflow/datasets/issues/4115), so make sure to pass `download=False` to your tfds.load call.

[2022-11-21 16:31] bhack commented on #1018
@ianstenbit Thanks

[2022-11-21 16:43] bhack commented on #1018
I don't think that the public url is `gs://keras-cv/datasets`. What we need to use?

[2022-11-21 16:49] ianstenbit commented on #1018
When I pull the public URL of e.g the dataset info, I am seeing this:

https://storage.googleapis.com/keras-cv/datasets/voc/2007/4.0.0/dataset_info.json

So I suppose you could try `https://storage.googleapis.com/keras-cv/datasets` -- but I would expect the gs version to work, so I'm not sure

[2022-11-21 16:56] bhack commented on #1018
What is the value of:

[2022-11-21 17:01] ianstenbit commented on #1018
Yes, I am able to reach it when I don't have an auth token (e.g. incognito mode)

Are you not able to reach those files in incognito mode?

[2022-11-21 17:02] ianstenbit commented on #1018
One other thing you can do is load+extract the VOC dataset locally and then upload the resulting tfds folder to a bucket that you have control over. (That's how I got these records in GCS in the first place, since extraction fails on TFDS.load for gcs)

[2022-11-21 17:04] bhack commented on #1018
Yes I know but it is faster if I can reuse your one.

https://storage.googleapis.com/keras-cv/datasets/voc/ in incognito mode:

[code]

[2022-11-21 17:22] ianstenbit commented on #1018
Interesting. That works from my work device as well as my personal device.

I'm thinking that tfds.load probably requires object list permission in addition to access to the underlying files. I don't have the power to give that permission on any of these GCS buckets, so I'm not sure if there's anything else I can do.

FWIW you shouldn't need VOC specifically to repro the issue.
You could create a

[2022-11-21 17:30] bhack commented on #1018
Thank you but I cannot find a free TPU anymore now..

[2022-11-21 20:13] bhack commented on #1018
Also on tf-nightly I still see:
[code]

I cannot dump on the local filesystem or GCS:
[code]

@smit-hinsu How we could dump on Colab TPU (I still see https://github.com/tensorflow/tensorflow/issues/49702)?

[2022-11-21 20:13] tanzhenyu commented on #1033
I wonder why the 2GB limitation will be applied here, since weights is not part of the proto?

[2022-11-21 20:59] smit-hinsu commented on #1018
Sorry, I don't have an idea on that.

[2022-11-21 21:02] bhack commented on #1018
@smit-hinsu Do you know someone that could help on this failed legalization?

[2022-11-21 21:23] bhack commented on #1018
We have a problem with:
https://github.com/tensorflow/tensorflow/commit/76079c00ac45b2bd48b3749a490e464149f4b244#diff-20844a653ebc1cb9b4b2adb26672259647f08dc1e78a06458d2e753a1449336bR2070

But in our case we have `tensor<?x?x20xf32>`  in the sigmoid grad where the constrain is `#0 must be statically shaped tensor `

https://github.com/keras-team/keras-cv/blob/d2d56d60650caa6d90fa74f3b91a111d2007d1

[2022-11-21 21:45] bhack commented on #1034
We could close this.

[2022-11-21 22:07] charbull commented on #1034
sgtm ! Thank you !

[2022-11-21 22:07] #1034 closed

[2022-11-22 01:20] freedomtan commented on #1033
Yup, you have to modify the source code, either adding an argument or directly modifying Input layers work :-)

[2022-11-22 01:28] freedomtan commented on #1033
Yup, that's not trivial. In TensorFlow 2.10 and before (I didn't check if it is changed in 2.11 or later), it seems when you try to convert a model to tflite from concrete function, it is converted to frozen graphdef first. Thus, there is protobuf 2 GiB limitation.

[2022-11-22 01:35] bhack commented on #1033
I think in master is https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/mlir/lite/flatbuffer_export.cc#L2152-L2156

[2022-11-22 01:35] tanzhenyu commented on #1033
I see, that makes sense. Though in the future, I'd really hope this is part of logic will get done at tf lite runtime, instead of model saving.

[2022-11-22 01:37] tanzhenyu commented on #1033
you mean the 2GB limit is still true across 2.10 and master, correct?

[2022-11-22 01:43] bhack commented on #1033
Yes that link is pointing to master. Then if we see the conversion workflow... https://www.tensorflow.org/lite/models/convert?hl=en#model_conversion

[2022-11-22 01:45] freedomtan commented on #1033
Nope, there two 2 GiB limitations, one is protobuf, the other is flatbuffer, which is file format of TFLite.
As far as I know, there is no way to get around the flatbuffer 2 GiB limit without breaking compatibility.

[2022-11-22 01:45] tanzhenyu commented on #1033
Right, I think this is suboptimal, freezing can be done at runtime, I will try to figure out how to push this forward with TFLite separately.

[2022-11-22 01:46] bhack commented on #1033
But I think that probably we could still solve using something like https://github.com/tensorflow/hub/blob/master/examples/text_embeddings/export.py#L204-L219. What do you think?

[2022-11-22 01:47] bhack commented on #1033
As I saw another case pointing to that workaround (https://github.com/tensorflow/tensorflow/issues/47326#issuecomment-788298828)

[2022-11-22 01:52] tanzhenyu commented on #1033
Hmm...that's basically rewriting the graph and use placeholder instead....is this even do-able at TF2?

[2022-11-22 02:04] bhack commented on #1033
@abattery What do you think?

[2022-11-22 04:25] charbull commented on #1033
I was able to make some progress based on advice from @costiash here: https://github.com/divamgupta/stable-diffusion-tensorflow/issues/58#issuecomment-1321547438

[code]
It does generates an TFlite with 16float ~ 1.6 GB size file.

However, since I am running tflite on edge tpu, It seems I need to go full quantization with int8.
https://www.tensorflow.org/lite/performance/post_training_quantizatio

[2022-11-22 05:59] freedomtan commented on #1033
@charbull, my 2 cents: DO NOT use `tf.lite.OpsSet.SELECT_TF_OPS`, which is to allow TF ops.

With recently tf master + keras_cv (0.3.4 + group norm patch), converting from keras model works like a charm
[code]

[2022-11-22 06:26] LukeWood commented on #1027
I think the distinction is in the use cases.  In the metric, the goal is to compute MaP for a subset of classes.
in the losses you typically want a way to tell the model to ignore a specific subset of the tensor.

IMO we don't need to standardize on these, feel free to re-open if you disagree

[2022-11-22 06:26] #1027 closed

[2022-11-22 06:36] innat commented on #1027
@LukeWood
Do you generally mean that, for metric (ignore_class) and for loss (class_ids) ?

[2022-11-22 06:44] LukeWood commented on #1027
I think for metrics it is probably case by case - but I'd expect class_ids to be more common.

For losses I do think ignore_class is almost always sufficient; you can update your model to use a `tf.where()` statement to mask out classes you want to ignore if you're using the loss.

[2022-11-22 12:55] charbull commented on #1033
@freedomtan thank you ! we are getting closer.

It turns out I need to run the following for the edge TPU quantization : https://www.tensorflow.org/lite/performance/post_training_quantization#integer_only

[code]

trying to figure out how to get the `representative_data_gen` does it need to be on the training data?
according to the documentation:

[code]

Are there samples I can use from this proj

[2022-11-22 13:15] charbull commented on #1033
@bhack thank you ! will give it a try :)

[2022-11-22 13:44] bhack commented on #1018
Tracking this upstream at https://github.com/tensorflow/tensorflow/issues/58645

[2022-11-22 17:43] #821 closed

[2022-11-23 00:12] charbull commented on #1033
Hi,

I tried the following so far with @ianstenbit

I. I generated images from prompts and put them in a csv file so that I can prepare the representative_dataset
[code]
Then the conversion:
[code]

Getting the following error, not sure what is the issue:
[code]

II. Tried to cut the conversion for the encoder alone:
[code]

which also produced the same error:
[code]

Any ideas what is going wrong

[2022-11-23 00:17] ianstenbit commented on #1033
As discussed, I think what you stored in `./saved_model` is just the latent diffusion model, not the whole model.

In order to convert the full StableDiffusion model, we'll need to either
- Implement `call` on StableDiffusion (I think this is probably not the right approach because it confines us to one use case)
- Convert the individual component models to TFLite and compose them into the StableD

[2022-11-23 00:54] freedomtan commented on #1033
@charbull
What you saved in saved_model is fp32 model. If you check input tensors of the diffusion_model with `saved_model_cli`, you can see that the expected data types of the 3 input tensors is fp32 (`DT_FLOAT`). And as @ianstenbit noted, what you saved is the diffusion/denoise model instead of the whole pipeline. The input data for the diffusion model are supposed to be from the text_encoder an

[2022-11-23 01:06] charbull commented on #1033
@freedomtan @ianstenbit
I see.

What would be the best approach to get to tflite int8 in this case.
I didn't try this before with decomposing and reassembling pieces of the model.

Would the edge tpu "knows" how to handle this? There is also the Tflite interpreter.

Not sure exactly what would be the best way going forward ? :)

If you can highlight the steps and the library/tools, I am happy to g

[2022-11-23 05:37] LukeWood opened #1043 "Should we make `num_steps=50` in StableDiffusion?"
Currently this defaults to 25, which creates some very weak outputs.

[2022-11-23 15:30] VishalBalaji321 opened #1044 "Unable to compile custom ops"
Hi,

I am trying to compile custom ops as mentioned in README.md but I am running into errors.
Initially there was a platform mismatch, so I commented out the windows flag in `keras_cv/custom_ops/BUILD` file. The modified BUILD file looks like this:
[code]
Now I am able to compile the custom ops and build the wheel file, but I am getting errors when I import keras_cv package:
[code]

Tried in pyth

[2022-11-23 17:16] ianstenbit commented on #1044
Hi Vishal,

Are you building head on the master branch?

I'm a bit confused by the stack trace, specifically why `point_cloud.py` is loading a custom ops library at all.

All of our CI testing is based off of tf 2.10, so I'd encourage you to build against 2.10 and see if that behaves better.

[2022-11-23 21:42] LukeWood opened #1048 "Replace `download_weights=False` with `weights=None` in StableDiffusion"
this will make `weights="StableDiffusion-1.5"` a cleaner API

[2022-11-24 00:15] LukeWood commented on #991
I'll be handling this, https://drive.google.com/corp/drive/folders/1Ld0YsScNLGKQYOaGxZPavbiVnAv3gyFR?resourcekey=0-kWzgH_0wlMSJ38yj4Y9Zjw

[2022-11-24 00:49] bhack commented on #991
It is private.

[2022-11-24 00:54] tanzhenyu commented on #991
The discussion is more about "can other users copy our porting script to port the weights by themselves". It'd be a nice thing to have if we can provide it

[2022-11-24 01:40] bhack commented on #991
Yes, I think the same it is why I have asked https://github.com/keras-team/keras-cv/issues/991#issuecomment-1310734615 also cause here we are talking about SD 1.5. but SD 2.0 and the relative checkpoint was just released right now in its github repo.

[2022-11-24 07:25] innat commented on #296
@DavidLandup0

Here are some info that might be helpful.

- about `per_image`, [check 1](https://github.com/keras-team/keras-cv/issues/296#issuecomment-1104167360), [check 2](https://github.com/keras-team/keras-cv/issues/296#issuecomment-1103664354), either investigate or consider [this comment](https://github.com/keras-team/keras-cv/pull/371#discussion_r864179649).
- For [adaptive](https://github

[2022-11-24 09:38] VishalBalaji321 commented on #1044
Hi @ianstenbit ,

When the build command from `README.md` didnt work, I modified `point_cloud.py` from one of the open pull requests #1020 to (desperately) try and make the build work.

But I noticed that I had installed a pre-release version of Bazel (v7). When I changed Bazel to v5.3.2 and TF to 2.10.0, the build worked perfectly fine (also, I reset the changes to the branch before building)

Th

[2022-11-24 09:38] #1044 closed

[2022-11-24 16:49] LukeWood opened #1052 "StableDiffusion v2.0"
We should also request Gus conversion script, and add it to the repo.

[2022-11-25 18:14] mfidabel commented on #1052
Would like to help on this feature also

[2022-11-26 09:36] kamalkraj commented on #1052
Interested

[2022-11-28 02:57] freedomtan commented on #1033
@charbull FYR. I gave a try.

ideally, if we feed input tensors with correct ranges, we should be able to get quantized model.
if that works, we can extend the `representative_data_gen()`.

* input 1: 77x768 encoded text vectors, we can use the text encoder to generate encoded text prompt
* input 2: I borrowed timestep embeddeding from the keras model
* input 3: noise, since this is noise, I guess

[2022-11-28 14:29] martin-gorner commented on #841
I tested. The fix looks good to me. Thanks!

[2022-11-28 18:21] #841 closed

[2022-11-28 18:31] bhack commented on #841
Do I close my PR or are you interested?

[2022-11-30 10:03] freedomtan commented on #1033
it turns an important message escaped my attention
[code]

But the quantized model isn't supposed to be bigger than 2gb :-(

[2022-11-30 12:47] charbull commented on #1033
@freedomtan thank you for updating here,
It seems we need to go on this suggestion by @ianstenbit: https://github.com/keras-team/keras-cv/issues/1033#issuecomment-1324393688

To save each model separately then converting them to tflite/int8.
I am not sure how to reassemble them back in the tflite realm though? any hint/advice?

[2022-11-30 23:05] ianstenbit commented on #1043
I think we decided the answer is "yes" -- @LukeWood do you want to update this default? (Otherwise I can)

[2022-11-30 23:06] ianstenbit commented on #1048
#1056

[2022-11-30 23:11] ianstenbit commented on #1019
It seems like at the minimum, AIs here are to:
- Fix FP type issues in inpainting workflow _or_ document that mixed precision doesn't work with inpainting
- Figure out what's going wrong with this particular usage of `inpaint`

@BFauber can you please share a full repro script of your issue (either a Colab or a gist is good). I will take a look if you @ me on this thread.

[2022-11-30 23:13] ianstenbit commented on #1015
@tanzhenyu IIRC you were considering restructuring the OD models slightly to be a functional subclass?

[2022-11-30 23:15] tanzhenyu commented on #1015
Yes, thanks for reporting this, we should be able to get some of the models to functional subclass before 0.4

[2022-11-30 23:26] bhack commented on #1043
Are we not claiming a 50 default?

https://keras.io/guides/keras_cv/generate_images_with_stable_diffusion/#:~:text=Stable%20Diffusion%20consists%20of%20three,a%20higher%2Dresolution%20512x512%20image.

[2022-11-30 23:28] ianstenbit commented on #1043
Yes, we are, and we should adjust the default in our implementation accordingly